[2022-02-25 15:47] ezyang opened #22 "Use bytecode rewriting to offer a __future__ feature"
Let's suppose we want to make a BC breaking API change to a function, and give sufficient time for users to migrate off the old API and onto the new one. Although this can be done by directly introducing `foo_old` and `foo_new` names of functions, a smoother way to opt into the old or new functionality is to control it at the module import level (`from torch import foo_new as foo`), which permits

[2022-02-25 18:38] gchanan commented on #22
Wouldn't you get completely different behavior if you turned off dynamo using this feature?  Which seems like a bad quality to have from a debuggability perspective for something that's the default.  Are there other cases like this?

[2022-02-25 19:07] jansel commented on #22
@gchanan I think that is a fair point.  This feature would make the most sense in a world where TorchDynamo is on by default and pervasive.  We would need to be at a point where it almost never made sense to turn it off.  We obviously aren't close to this yet.

If a user opted into this `__future__`-like feature their code would then require TorchDynamo to run correctly.

One possibility would be

[2022-02-26 02:14] ezyang commented on #22
Hopefully, there would be a way to raise an error if dynamo wasn't turned on (maybe importing the "future" module results in a failure, and then dynamo optimizes it away so it doesn't fail.)

[2022-02-28 19:01] gchanan commented on #22
those are UX improvements, but in either case you can't easily fix your code (except maybe overwrite the function on the Tensor class or something?)

[2022-02-28 19:29] ezyang commented on #22
If your code needed to run in a Dynamo-less context you'd have to manually rewrite the method calls to call the "new style" yourself, I think.

[2022-03-11 19:24] jansel opened #32 "Test TorchDynamo on a wider variety of models"
Now that TorchDynamo is [working on most TorchBench models](https://dev-discuss.pytorch.org/t/torchdynamo-update-5-improved-capture-bigger-graphs/556), we should start looking for additional models to test on to continue improving coverage and robustness.

All models are welcome here, so if you have specific models in mind from a use case you are familiar with please test them and report your expe

[2022-03-11 19:41] jansel opened #33 "Add support for Python 3.9"
The process for adding support for Python 3.9 is as follows.

First, examine the [10 new bytecodes in 3.9](https://docs.python.org/3.9/library/dis.html):

RERAISE
raising exceptions is currently not supported and breaks the graph.  So this can just call `unimplemented()` for now.  See issue #35 for more on exceptions.

WITH_EXCEPT_START
might affect support for `with no_grad():` and related ops

L

[2022-03-11 19:56] jansel opened #34 "Add support for Python 3.10"
Python 3.9 (#33) should be added before 3.10.

Known issues for Python 3.10 support:

Python 3.10 and later have a new method for mapping the bytecode index to line number, deprecating co_lnotab.  See [PEP 626](https://peps.python.org/pep-0626/).  [lnotab_writer](https://github.com/facebookresearch/torchdynamo/blob/052b8dab6df5f027a34edb00dee73870433883d5/torchdynamo/bytecode_transformation.py#L58

[2022-03-11 20:11] jansel opened #35 "Support capturing code in exception handlers"
Today, everything after an exception won't be captured by TorchDynamo:
[code]

To add support for this there are two main cases:
1) Both the `raise` and the `except` are in the same capture context.  In this case TorchDynamo can remove the `raise` and combine the above example into a single graph.  Logically the raise becomes a jump.
2) The raise/except is in a different capture contexts.  In this

[2022-03-11 20:20] jansel opened #36 "Improve line number tracking and exceptions/error messages"
Currently, TorchDynamo does not preserve line numbers in generated code in most cases, though it does in a few cases and in the case where the error happens at compile time.  It supports [generating line numbers](https://github.com/facebookresearch/torchdynamo/blob/052b8dab6df5f027a34edb00dee73870433883d5/torchdynamo/bytecode_transformation.py#L58) in output code, so fixing this is just a matter o

[2022-03-11 21:21] jansel opened #37 "Improve handling of autograd.Function for training mode"
The current handling of a user-defined `autograd.Function` is:
1) [Inline the forward() in eval() mode](https://github.com/facebookresearch/torchdynamo/blob/052b8dab6df5f027a34edb00dee73870433883d5/torchdynamo/variables/misc.py#L192)
2) [Break the graph in train() mode](https://github.com/facebookresearch/torchdynamo/blob/052b8dab6df5f027a34edb00dee73870433883d5/torchdynamo/variables/misc.py#L187)

[2022-03-12 17:11] jansel opened #38 "Support partially dynamic shapes"
In [update 5](https://dev-discuss.pytorch.org/t/torchdynamo-update-5-improved-capture-bigger-graphs/556) we wrote:

Unfortunately, the problem of dynamic shapes is more complex than one might think. Enabling torchdynamo.config.dynamic_shapes will cause new graph breaks. Many models have code like `assert x.shape == (1,2,3)`, `if x.size(1) == 10`, `math.sqrt(x.shape[-1])`, etc. This Python code ope

[2022-03-12 17:31] jansel commented on #38
cc @Krovatkin

[2022-03-13 03:16] jansel opened #39 "Add guards for aliasing with side effects"
We currently handle aliasing of objects that (could) have side effects [here](https://github.com/facebookresearch/torchdynamo/blob/a9a894b8c514b1a0f239d4441fcb01e26f340870/torchdynamo/variables/builder.py#L85).  But there are no guards checking that the aliasing relationships stay the same in subsequent calls.  This could lead to incorrect behavior in an example like this:
[code]

We should add a

[2022-03-13 18:53] jansel opened #40 "Support STORE_GLOBAL side effects"
The STORE_GLOBAL opcode is not supported.

This could be handled similar to how [attribute mutation side effects](https://github.com/facebookresearch/torchdynamo/blob/a9a894b8c514b1a0f239d4441fcb01e26f340870/torchdynamo/side_effects.py#L93) work.

[2022-03-13 19:08] jansel opened #41 "Support formatted literal strings (f-strings)"
f-strings produce the [FORMAT_VALUE and BUILD_STRING](https://docs.python.org/3.8/library/dis.html#opcode-FORMAT_VALUE) bytecodes that are yet supported.

These bytecodes could be supported by rewriting them to call the related functions (str.format, str, repr, ascii, etc).

Likely the most useful case of this would be constants (or things TorchDynamo specializes on like `cls.__name__`).  Somethin

[2022-03-14 22:18] jansel opened #43 "Support distributed training"
This is a placeholer task to make distributed training work with TorchDynamo + AOT Autograd.  The main work seems to be making sure the relevant ops can be traced with AOT Autograd and are properly added to the FX graph by TorchDynamo.

I expect most of the issues will be at the AOT Autograd level, because TorchDynamo treats most torch.* ops as black box.  We should test and verify this though.

@

[2022-03-15 02:46] jansel opened #44 "Don't over-specialize on list append/clear"
This example:
[code]

Will compile 3 versions of foo:
- One guarding that mylist is len 0
- One guarding that mylist is len 1 (and has one matching tensor)
- One guarding that mylist is len 2 (and has two matching tensor)

Really, only 1 is version is needed.

Similarly.  A different function calling `mylist.clear()` will guard on the contents of the list, despite never looking at the contents.

T

[2022-03-15 03:21] jansel opened #45 "Support iterator mutation"
Iterator mutation is currently not working properly.  There is an example here:
https://github.com/facebookresearch/torchdynamo/blob/00b29660a438e6a0cb6ffd7e17ed11856f63a8b1/tests/test_subgraphs.py#L493

TorchDynamo's internal VariableTracker state is functional, so all mutation/side_effects are tracked in [side_effects.py](https://github.com/facebookresearch/torchdynamo/blob/00b29660a438e6a0cb6ff

[2022-03-15 03:30] jansel opened #46 "Interoperability with PyTorch hooks"
PyTorch has many hooks, for example those on `nn.Module()`, Tensors, and a few stored in global scope.

Currently, TorchDynamo will ignore these hooks and not properly call them.

We should check for hooks, inline them if they exist, and guard on them not changing.

To make the guards cheaper, we could add a "hooks changed" callback to PyTorch, allowing us to invalidate generated code rather than

[2022-03-15 17:57] eellison commented on #38
Just throwing out another idea without too much consideration of difficulty of implementation vs value added - if we have fast separably computable shape functions implemented for operators, it should be eventually possible to do things like compute `math.sqrt(x.shape[-1])` from the sizes of inputs and pass that in as a computed value into the graph so that backends do not need to compute themselv

[2022-03-15 21:13] jansel opened #48 "Improve performance and data structure for code cache and guards"
Currently, multiple compiled versions of a code object are stored in a [linked list](https://github.com/facebookresearch/torchdynamo/blob/055396468d1cea35cfae8955e59d29299290d592/torchdynamo/_eval_frame.c#L120) and guards are checked in a reverse order of creation.  One-by-one.

This, requires O(n) guard checks, though we [cap it to 64](https://github.com/facebookresearch/torchdynamo/blob/05539646

[2022-03-15 21:22] jansel opened #49 "Make invalidating code free memory"
Currently, `GuardedCode.invalidate()` just sets a flag causing guard checks to always fail.
https://github.com/facebookresearch/torchdynamo/blob/055396468d1cea35cfae8955e59d29299290d592/torchdynamo/guards.py#L364

GuardedCode.invalidate() is called by [weakref](https://docs.python.org/3/library/weakref.html#weakref.ref.__callback__) when something we guarded on is destructed.

This means the memor

[2022-03-16 02:58] jansel opened #52 "Verify python 3.7 still works and add it to github actions CI"
It has been a while since I tested Python 3.7, so it is possible/likely something could be broken.

We should:
1) Verify it still works, and fix any issues in tests/torchbench
2) Add a github actions workflow [similar to the python 3.8 one](https://github.com/facebookresearch/torchdynamo/blob/main/.github/workflows/test-py38.yml) to prevent it from getting broken in the future.

[2022-03-16 03:10] jansel opened #53 "Configuration through kwargs rather than `torchdynamo.config`"
Most of TorchDynamo's config is in the global [torchdynamo.config module](https://github.com/facebookresearch/torchdynamo/blob/1d1ef71d111d3df894f535ebf8ff6088c0c2e1e1/torchdynamo/config.py).

We should allow configuration to be changed as kwargs to `torchdynamo.optimize()`, because writing to these global variables is a bit awkward.

Specifically I think it would be useful to expose:
- cache_size

[2022-03-16 03:32] jansel opened #54 "Over-specialization with drq and guard_nn_modules=True"
If you enable `guard_nn_modules=True`:
https://github.com/facebookresearch/torchdynamo/blob/1d1ef71d111d3df894f535ebf8ff6088c0c2e1e1/torchdynamo/config.py#L36

Then run `drq`:
[code]

You can see 0/25 ops captured, but 3 graphs.  Note torchbench.py does 3 warmups.
While if you set it to False you will see:
[code]
You can see 100% capture.

This looks like a case of a guard failing causing recompil

[2022-03-16 03:58] jansel opened #55 "Support writing to closures while inlining"
TorchDynamo support most cases of closures, however this one is not supported
[code]

The error (when in `nopython=True` mode) is:
[code]

This will work if the closure is in the top-level frame.  It will also work if the closure is defined within the captured scope.  But in this case we can't actually emit a `STORE_DEREF` bytecode because "x" is not in our function's freevars.

To support this ca

[2022-03-16 04:22] jansel opened #56 "Add support for dataclasses"
We already support [huggingface's variant of dataclasses](https://github.com/huggingface/transformers/blob/v4.17.0/src/transformers/modeling_outputs.py#L24) via the following class:
https://github.com/facebookresearch/torchdynamo/blob/1d1ef71d111d3df894f535ebf8ff6088c0c2e1e1/torchdynamo/variables/dicts.py#L142

We should expand that to support the standard library version of data classes.  And spl

[2022-03-16 18:04] jansel opened #57 "Add and benchmark oneDNN/OpenVINO backends"
Some missing backends that seem worth trying and benchmarking are [oneDNN](https://onnxruntime.ai/docs/execution-providers/oneDNN-ExecutionProvider.html) and [OpenVINO](https://onnxruntime.ai/docs/execution-providers/OpenVINO-ExecutionProvider.html).

Adding the backend via ONNX should be similar to existing ONNX backends:
https://github.com/facebookresearch/torchdynamo/blob/0b1e34d53f53937b3066e6

[2022-03-16 18:36] jansel opened #58 "Remove broken backends and document a stable set of backend choices"
This is a more general "cleanup the backends" task.

As of writing this, TorchDynamo has 27 backends:
[code]

This is too many.

Many of these backends may not be working.  For example, fx2trt and static_runtime both recently moved out of tree -- which likely broke those backends.  We should either fix or remove them.

Many more of these backends may not be useful, in that they don't provide a per

[2022-03-16 18:54] jansel opened #59 "Write user-facing documentation and tutorial for inference acceleration"
An early milestone of TorchDynamo is to release a product that can be used to speed up inference with PyTorch.  This will have a somewhat different user experience than the training acceleration version, as there are numerous inference-only backend compilers.

A lot of the pieces of that are already there.  One could throw a `@torchdynamo.optimize("ofi")`, `@torchdynamo.optimize("tensorrt")`, or `

[2022-03-16 20:07] jansel opened #60 "CICD setup to build pip/conda packages"
Someone should be able to `pip install torchdynamo` and not need to install from source.

If we do binary releases we may need to pin to specific PyTorch versions, so it might be better to ship only source packages to pypi.

[2022-03-16 20:26] jansel opened #61 "Initial training support with AOT Autograd + nvFuser"
This one is already in flight and close to landing.  So this is a placeholder task to track progress.

[2022-03-16 21:34] jansel opened #62 "Make nn.Module cooperate with TorchDynamo"
One idea that I have discussed with a few people and wanted to document here is having the core of PyTorch cooperate with TorchDynamo to reduce the need for guards.

Many of the guards TorchDynamo generates are checking attributes of a tree of `nn.Module()` objects.

Currently, there are two modes, controlled by the `guard_nn_modules` flag:
https://github.com/facebookresearch/torchdynamo/blob/0b1e

[2022-03-16 21:49] jansel commented on #62
A semi-related thing I will call out here is TorchDynamo currently monkey-patches `torch.nn.Module.__new__`:
https://github.com/facebookresearch/torchdynamo/blob/0b1e34d53f53937b3066e61a14d210365a24b156/torchdynamo/mutation_guard.py#L88

This tags `nn.Module()`'s with their creation timestamp.  This allows TorchDynamo to:
- Treat nn.Modules() created before `torchdynamo.optimize()` started as a [N

[2022-03-16 23:58] jansel opened #64 "Test on Mac and Windows"
We should ensure TorchDynamo works on Mac and Windows and add CI workflows similar to the [linux one](https://github.com/facebookresearch/torchdynamo/blob/0b1e34d53f53937b3066e61a14d210365a24b156/.github/workflows/test-py38.yml).

[2022-03-17 18:39] jansel opened #69 "Skip non-Tensor/Module frames"
People may have non-PyTorch code run under TorchDynamo.  We should make sure TorchDynamo does nothing in this case.

If TorchDynamo reaches the end of the frame without finding PyTorch ops, it will [just run the frame normally](https://github.com/facebookresearch/torchdynamo/blob/44971ffd9a7e6798b7868a592c337acb75bd1d2d/torchdynamo/symbolic_convert.py#L1056).  However, if there are unsupported thi

[2022-03-20 14:34] vkuzo opened #72 "Build issues on Mac OS, build script complains about gcc not supporting c++14"
Followed the instructions on https://github.com/facebookresearch/torchdynamo to build on Mac OS, got the following error: https://gist.github.com/vkuzo/a9b316590d0eb043f347ae2c0e8c209f . Note: pytorch/pytorch builds without issues in my setup.

Relevant line:
[code]

Note: can fix this locally by adding `extra_compile_args=["-std=c++14"]` to the `torchdynamo._guards` portion in `setup.py`.

[2022-03-20 15:17] jansel commented on #72
This should be fixed by #63 -- which I just merged.

[2022-03-20 16:38] #72 closed

[2022-03-21 21:45] jansel commented on #32
@frank-wei to try applying this with fx2trt?

[2022-03-21 22:28] bitfort opened #73 "Pip Installs"
pip install dynamo
pip install trt ? (or other TRT install?)

[2022-03-21 22:28] bitfort opened #74 "Usage Tutorial"
Create a tutorial on how to use it:

GPU: Forward, Backwards
CPU: ??

[2022-03-21 22:29] bitfort opened #75 "TorchTidy Integration"
Have TorchTidy recommend to use specific backends and make the code changes.

[2022-03-21 22:31] bitfort opened #76 "TorchTidy Fixes in TorchBench"
Torch Tidy recommends which backends to use, and those backend calls are added in TorchBench.

[2022-03-21 23:13] jansel commented on #74
Same as #59 ?

[2022-03-21 23:14] jansel commented on #73
Same as #60 ?

[2022-03-21 23:31] bitfort opened #77 "TorchBench + Dynamo TRT"

[2022-03-22 01:53] jansel opened #78 "Investigate issue with python key tracing and LSTM"
Repro:
[code]
Python key tracing produces the following warning:
[code]
which is coming from this line:
https://github.com/facebookresearch/torchdynamo/blob/e84f9fee18ae5ab7bfca5504e200503de174efb5/torchdynamo/optimizations/python_key.py#L97

This makes me worries we are missing some operators.  While python key tracing, everything should be a `functorch._src.python_key.PythonTensor`, yet somehow

[2022-03-22 01:57] jansel opened #79 "Fix python key tracing errors with quantized models"
Repro
[code]
Partial output:
[code]

This effects 2 quantized modules with the same error.

cc @Chillee @anijain2305

[2022-03-22 02:20] Chillee commented on #78
Oh, there’s one exception to the “everything is a tensor” rule - when an operator returns a tuple of tensors. We’ll immediately unpack the tuples with operator.getitem.

[2022-03-22 02:22] jansel opened #80 "Debug python key tracing error with hf_BigBird"
edited by @ezyang

Repro
[code]

----

old stuff (this output is no longer master

Output
[code]

Somehow the code produced by python key tracing triggers an error.

cc @Chillee @anijain2305

[2022-03-22 02:26] jansel opened #81 "Debug python key tracing error with hf_Reformer"
Repro
[code]

Error:
[code]

This is coming from a call to `Tensor.new` it seems.

cc @Chillee @anijain2305

[2022-03-22 02:29] jansel opened #82 "Debug issue with tacotron2"
tacotron2 was recently added to torchbench with get_module() support, and it seems it does not work properly.

@anijain2305 reported an error running
[code]

I haven't had a chance to look into this one yet, but creating an issue so that it does not get lost.  Feel free to add more details @anijain2305.

[2022-03-22 02:33] jansel commented on #78
This `getitem` call is generated by TorchDynamo.  TorchDynamo actually does similar unpacking of tuples.  From the user code, it unpacked the tuple and found an unwrapped tensor.

You think this case is correct @Chillee?

[2022-03-22 20:02] anijain2305 opened #85 "Debug issue with AOTAutograd for speech_transformer/hf_GPT2/hf_T5"
The three models - speech_transformer, hf_GPT2 and hf_T5 fail with similar type of error signature.

TorchDynamo finds static subgraphs and sends them to AOT Autograd. AOT Autograd generates the forward and backward graphs. The output of AOT Autograd is a autograd.Function ([code](https://github.com/pytorch/functorch/blob/main/functorch/_src/aot_autograd.py#L136-L178)). AOT Autograd saves some ten

[2022-03-22 20:43] anijain2305 opened #86 "Initial support - AOTAutograd - Test accuracy for TorchBench models"
List of bugs
Eager
- [x] torch.ops.aten.add_ is slow - https://github.com/pytorch/pytorch/issues/74943

Torchscript bugs
- [x] fastNLP_BERT - https://github.com/facebookresearch/torchdynamo/issues/93
- [x] moco - https://github.com/facebookresearch/torchdynamo/issues/94
- [x] slomo - https://github.com/facebookresearch/torchdynamo/issues/95
- [ ] -inf error - https://github.com/facebookresearch/to

[2022-03-22 20:43] anijain2305 opened #87 "Initial support - AOTAutograd - Test performance for TorchBench models"
Initial support = 80% of models

[2022-03-22 20:43] bitfort commented on #79
1.13 P0 is to fall back quietly.

Long term we want this to actually work / speed up.

[2022-03-22 20:44] anijain2305 opened #88 "AOT Autograd - Functionalization pass with torch.dispatch"
Run functionalization to resolve mutation related errors in AOT Autograd.

[2022-03-22 20:45] bitfort commented on #80
for 1.13: Try to fix the bug, if we can't easily fix, then silence the warning / error and come back to fix for another release.

[2022-03-22 20:46] anijain2305 opened #89 "Fix AOT Autograd bugs discovered by TorchDynamo on Torchbench"
Add a tag in functorch repo to track these.

[2022-03-22 20:46] bitfort commented on #81
for 1.13: Try to fix the bug, if we can't easily fix, then silence the warning / error and come back to fix for another release.

[2022-03-22 20:49] bitfort opened #90 "Torch Bench Integration Training"

[2022-03-22 20:50] bitfort opened #91 "FAMBench Integration for Training"

[2022-03-22 20:53] xuzhao9 commented on #90
Initial support in https://github.com/pytorch/benchmark/pull/816

[2022-03-22 21:13] ciciewang commented on #32
Victor connect to Wei to internal models. Will expand beyond Torch Bench and FAM Bench after may.

[2022-03-22 21:26] ciciewang opened #92 "public repo for FX to TRT"
next step is to discuss with Yinghai.

[2022-03-22 21:57] jansel commented on #38
Dropping a link to @ezyang's notebook here: https://github.com/albanD/subclass_zoo/blob/64cfc6bd670f79b260492f0ecbbda15a50c4fa9c/torchdynamo_dynamic_inference.ipynb

[2022-03-22 22:03] xuzhao9 commented on #32
We are also open to add more open source models to TorchBench, since that will make the test easier and is beneficial to TorchBench as well.

[2022-03-23 03:54] jansel opened #93 "Debug TorchScript error from fastNLP_Bert"
[code]

Later on there is the error (when jit.trace fails, it tries jit.script)
[code]

These sounds like just missing ops?  So perhaps easy to fix?  They prevent all TorchScript-based backends from working on these models.

@eellison do these look familar to you?

[2022-03-23 05:52] anijain2305 opened #94 "Debug TorchScript error from moco"
Repro - `python torchbench.py --training --devices=cuda --accuracy-ts --only=moco`

This ones has a `DistributedDataParallel` module, so it might be something we can table for now.

Error is pretty long, the important section is as follows

[code]

[2022-03-23 18:37] anijain2305 commented on #94
cc [eellison](https://github.com/eellison)

[2022-03-23 18:46] eellison commented on #94
I don't think traced graphs are guaranteed to be consistent generally... Not sure this is a TorchScript error

[2022-03-23 19:55] anijain2305 opened #95 "Debug TorchScript error for Slomo"
cc @eellison Repro for the bug while running TorchDynamo + AOTAutograd with Torchscript

[code]

[2022-03-24 18:59] ezyang commented on #38
@mruberry, @ngimel and @zdevito were discussing this last night, and the model here seems to result in hard-to-fix overspecialization when implementing broadcasting in userland.

Broadcasting typically looks something like this:

[code]

where we go through the sizes and check if they are 1 (if so, that means we broadcast that input), otherwise we require the results to be equal.

The problem is t

[2022-03-24 21:59] jansel commented on #38
@ezyang do we have motivating examples besides broadcasting?  Or is it just broadcasting?

If it is just broadcasting, then "==1"/"!=1" specialization would get us close.  We are already doing forms of that elsewhere, so it might be possible to build a robust "oneness" analysis pass.   That does not handle the `if x==y` case though.

Perhaps we just need to bite the bullet and add symbolic shape f

[2022-03-24 22:15] ezyang commented on #38
There are other dumb cases like reshape returning a view/copy depending on the strides of the input. I think I'm mostly interested in a meta solution where I don't have to reason about every case individually. @zdevito and I talked about this and we think there is a simple way to sidestep the complexity.

We entered this exercise from the perspective of "we want to try to make our input shapes max

[2022-03-24 22:32] zdevito commented on #38
The ordering of the decisions can also be flipped around giving something like:

* A dimension value never affects python execution -> no need to specialize

* A dimensions does affect python execution:

    * It is observed as static -> specialize

    * it is observed as changing -> graph break

However, primitive decomposition will add additional places where we have to make a size-based decisi

[2022-03-24 23:03] jansel commented on #38
I like that idea, and pretty close to what I suggested -- with the addition of adding a backoff-to-graph-breaking heuristic on the N-th recompile (where N=2).

Bailouts wouldn't be that hard at the TorchDynamo level, however compiler backends don't support them.  Bailouts would also help in the case of data-dependent control flow, and remove the need for a graph break in those cases.   Tracing-JIT

[2022-03-25 00:54] jansel opened #96 "Support data-dependent control flow operators"
I've had a number of discussions with folks about the idea of using TorchDynamo to capture data-dependent control flow into some sort of (yet to be created) control flow operator in PyTorch/aten.

Technically, capturing the control flow wouldn't be that hard.  TorchDynamo sees the `POP_JUMP_IF_FALSE <tensor>` bytecode, and decides to break the graph on it.  It could instead decide to inject an `at

[2022-03-28 17:31] xuzhao9 commented on #91
Adding support in https://github.com/pytorch/benchmark/pull/821

[2022-03-28 22:00] jansel commented on #33
Looks like 3.9 also added
_PyInterpreterState_SetEvalFrameFunc https://docs.python.org/dev/c-api/init.html#c._PyInterpreterState_SetEvalFrameFunc
and added a new `PyThreadState *tstate` arg to the the eval_frame function:
https://docs.python.org/dev/c-api/init.html#c._PyFrameEvalFunction

Both of those will require changes to _eval_frame.c

[2022-03-28 22:05] jansel commented on #33
@hsrussell is taking a look at this one

[2022-03-28 23:47] jansel commented on #36
A related thing to this would be putting line numbers on the nodes in the generated FX graph.

That would be double, but require threading them through multiple layers of the stack:
- Copy the value of `InstructionTranslator().lineno` to FX nodes as they are added to the graph.  Perhaps this can be done in TensorVariable.create.
- Make [normalize_ir](https://github.com/facebookresearch/torchdynamo

[2022-03-30 06:15] Chillee commented on #79
Root cause here is fairly bizarre. It appears that for some of the operators in the TorchDynamo resulting graph, `operator(PythonTensor)` is resulting in a regular tensor instead of a PythonTensor.

Ah, might have found it.

https://github.com/pytorch/pytorch/pull/50859

This PR breaks(?) composite compliance, as it forces `aten::flatten` (a composite op) to call `native::reshape`, which prevents

[2022-03-30 06:27] Chillee commented on #80
It appears that we do some ... hacky things when we call `unsqueeze_`.

[code]
errors with
[code]

[2022-03-30 17:42] Krovatkin commented on #38
I was wondering if we could maybe try to break up these requirements for supporting dynamic shapes by layer (OSI-style). I'd appreciate if you could fill in/correct me either inplace (if github allows) or in a separate comment.

Layer 1 : Tracing <--- what we are currently building @ezyang @zou3519
    * we want to trace shapes being used as arguments in ops symbolically and arithmetics on ops

[2022-03-30 21:21] Chillee commented on #81
The error is fixed by this: https://github.com/pytorch/pytorch/pull/74971

I'm not actually quite sure where this error comes from, but experimentally this patch fixes it.

[2022-03-30 21:40] jansel commented on #81
Thanks!  Yeah, seems like a tricky fix to find...

[2022-03-30 22:11] eellison commented on #38
If we specialize based on Symbolic Value Sets and 1s, something like:

[code]
can be optimized out without requiring overspecialization

[2022-03-30 22:56] Chillee commented on #78
I looked into this... LSTMs seem to behave very strangely.

Indeed, there appears to be a parameter that shows up in the graph that, for some reason, isn't covered by pulling out the `named_parameters` and using the functionalization pass.

[2022-03-30 23:35] Chillee commented on #81
haha, @ezyang just saw the error message and suggested this fix :P

Some other folks were also running into this.

[2022-03-31 00:15] frank-wei opened #98 "Issue with demucs model"
The demucs model will throw at:

cuda eval  demucs                             Traceback (most recent call last):
  File "torchbench.py", line 957, in <module>
    main()
  File "torchbench.py", line 824, in main
    run_one_model(
  File "torchbench.py", line 904, in run_one_model
    assert not torchdynamo.utils.is_jit_model(submod)
AssertionError

Here is the command to repro: python torchbench

[2022-03-31 01:24] jansel commented on #82
The error message here is:
[code]

[2022-03-31 01:39] jansel opened #101 "Fix issues in detectron2_maskrcnn"
[code]

[code]

[2022-03-31 03:14] frank-wei commented on #98
It solves this problem. Thanks.

[2022-03-31 04:51] jansel commented on #98
Lets keep this open until the fix lands.  I've been mostly working off of my [fork](github.com/jansel/benchmark) that has a bunch of fixes applied.

[2022-03-31 18:52] jansel opened #103 "Investigate graph breaks reported by `./torchbench.py`"
If you run `./torchbench.py` and look under the `STATS graph_break` section, there are a few graphs breaks that seem fixable:
- `('call_function UserDefinedObjectVariable(method) [ConstantVariable(int), ConstantVariable(int)] {}', 17)` -- I think this is coming from inside `torch.nn.*`
- `('call_function BuiltinVariable(list) [UserDefinedObjectVariable(chain)] {}', 1)` -- this should be easy to ad

[2022-03-31 20:04] jansel opened #104 "Make it possible to use TorchDynamo from within PyTorch core"
We have been discussing using TorchDynamo to implement some parts of PyTorch, for example composite operators.

Today you can't actually use TorchDynamo from within the `torch.*` module because of [skipfiles.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/skipfiles.py) and [allowed_functions.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/allowed

[2022-04-01 17:19] #98 closed

[2022-04-04 21:19] jjsjann123 commented on #38
Have we actually observed performance hit from graph breaking on dynamic-shape-based control flow in a real model? In the update post (https://dev-discuss.pytorch.org/t/torchdynamo-update-5-improved-capture-bigger-graphs/556), sounds like getting basic dynamic shape support (assuming all tensors to be dynamic shape and breaking on dynamic-shape-based control flow) would be good enough to cover cur

[2022-04-04 23:26] Chillee commented on #81
Appears to be fixed on master.

[2022-04-04 23:26] #81 closed

[2022-04-04 23:32] jansel commented on #38
At least for the discussion here, I think the main source of dynamic-size-control-flow would be PrimTorch.  The idea of PrimTorch would be to move broadcasting checks to Python, so even the simple case of `a+b` would have dynamic-size-control-flow from inside the decomposed `torch.add` when it checks for broadcasts.

If PrimTorch does that (not everyone is convinced on this), we will need to get r

[2022-04-05 02:13] ezyang commented on #38
Can we try to write down the tradeoffs for the various choices, static versus dynamic by default? I want to defer to your intuition as a backend writer but I am not seeing the case for dynamic by default. Maybe you are weighing instant quiescence a lot more than I am. Here's what I see.

Pro static by default:
* Automatic promotion from static to dynamic is always sound, but not vice versa: even i

[2022-04-05 09:55] jjsjann123 commented on #38
This sounds about right to me and I can see the appeal of taking static by default, which automatically gives a tighter set of dynamic dimensions.

I was backing dynamic by default because:
1. It doesn't introduce debugging complexity. Dynamic by default means a naive user wouldn't be surprised by unintentional graph change, nor would it be necessary to navigate through nested fallback graph.

2.

[2022-04-05 17:36] jansel opened #106 "Python 3.11 support"
Python 3.11 won't be released until the [end of the year](https://peps.python.org/pep-0664/), but I wanted to put a few notes as we see changes in the development version.

The main one so far is PEP 523 is being moved to the internal Python API and to use it we will need to do:
[code]
There is some discussion about a different `#define` being needed, so that may change before release.
For more de

[2022-04-05 17:52] #74 closed

[2022-04-05 17:52] #73 closed

[2022-04-05 18:03] anijain2305 commented on #61
This is done - https://dev-discuss.pytorch.org/t/torchdynamo-update-6-training-support-with-aotautograd/570

Issues with remaining 20% models are tracked here - https://github.com/facebookresearch/torchdynamo/issues/86

[2022-04-05 18:04] #61 closed

[2022-04-05 18:15] anijain2305 commented on #89
A short list of tasks is covered here - https://github.com/pytorch/functorch/issues/656

[2022-04-05 18:25] jansel commented on #41
@yanboliang will take a look at this

[2022-04-05 18:40] xuzhao9 opened #107 "Get TorchBench result on Dynamo inference TRT"
The CI is ready, working on understanding the results - quite different from what we get from `torchbench.py`

[2022-04-05 19:04] ciciewang commented on #86
need to work on the last 20% of the model.

[2022-04-05 19:04] ciciewang commented on #86
will also polish up the 80%.

[2022-04-05 20:06] erichan1 opened #108 "Add resnet50 JAX to benchmark"
Assign to Eric (I cannot assign)

[2022-04-05 21:56] xuzhao9 opened #109 "torchdynamo+fx2trt hangs torchbench opacus_cifar10"
Command to reproduce: `python run.py opacus_cifar10 -d cuda -t eval --torchdynamo fx2trt`

The process never halts (waited for 1 hour)

[2022-04-05 22:04] frank-wei commented on #109
It is a tracer issue. Need more efforts to dive in.

[2022-04-05 22:49] frank-wei opened #111 "TensorRT virtualMemoryBuffer internal error"
Observed the error msg after run. Maybe related with how torchdynamo release the resources?

python torchbench.py -dcuda --speedup-fx2trt-fp16 --only mobilenet_v2
cuda eval  mobilenet_v2                       [04/05/2022-15:43:11] [TRT] [W] TensorRT was linked against cuBLAS/cuBLAS LT 11.6.3 but loaded cuBLAS/cuBLAS LT 11.5.1
[04/05/2022-15:43:14] [TRT] [W] TensorRT was linked against cuDNN 8.2.1

[2022-04-06 02:50] leslie-fang-intel opened #112 "Which IPEX version is supported as the backend"
I think the latest IPEX has no method of `_optimize_catch_errors` , may I kindly know which IPEX version is supported as the default `ipex` optimization backend? https://github.com/facebookresearch/torchdynamo/blob/476ca6b7c148dd6705bf218684dfe05c6cd9fcfb/torchdynamo/optimizations/backends.py#L281-L285

[2022-04-06 02:53] leslie-fang-intel commented on #112
cc @jiayisunx @jgong5

[2022-04-06 03:18] jansel commented on #112
The latest commit at the time of my testing was:
[code]

I haven't tested this backend since then, so it is possible things have changed upstream since then.

PRs to fix this are welcome!

[2022-04-06 05:30] leslie-fang-intel commented on #112
Thanks for the quick comment @jansel. From the code snip below
https://github.com/facebookresearch/torchdynamo/blob/476ca6b7c148dd6705bf218684dfe05c6cd9fcfb/torchdynamo/optimizations/backends.py#L281-L285
I think `_optimize_catch_errors` should be a method of `ipex`, but I don't think ipex provides this kind of method (even with the commit you provide: 7e679d05c938358d78988407d1458c9d9af8b9ff).
Do

[2022-04-06 18:51] frank-wei opened #115 "[fx2trt][fx] symbolically traced variables cannot be used as inputs to control flow"
Error msg:
symbolically traced variables cannot be used as inputs to control flow
pytorch_stargan, pytorch_CycleGAN_and_pix2pix, tts_angular, demucs

[2022-04-06 18:54] frank-wei opened #117 "[fx2trt][fx] Proxy' object does not support item assignment"
Error msg like
Proxy' object does not support item assignment
Affected models: ~~hf_Longformer~~, pyhpc_isoneutral_mixing, speech_transformer

[2022-04-06 18:58] frank-wei opened #118 "[fx2trt] op support"
hf_T5:
torch.rsqrt, pow, acc_ops.to,torch.isinf, any, float, type_as,

hf_GPT2:
acc_ops.split, torch.where, type

soft_actor_critic:
exp,torch.functional.broadcast_tensors

[2022-04-06 19:44] jansel opened #119 "Run torchdynamo+nvfuser on PyTorch's test suite"
@ezyang suggested running TorchDynamo+nvFuser on the PyTorch test suite to get a better sense of corner cases we might be missing.

This should be doable using the [unittest setUp/tearDown](https://docs.python.org/3/library/unittest.html#unittest.TestCase.setUp) hooks.

[2022-04-06 19:48] frank-wei opened #120 "[fx2trt] model issues that hard to support"
pyhpc_turbulent_kinetic_energy does not support fp16
moco: trace error in torch.distributed.all_gather

[2022-04-06 19:53] frank-wei opened #121 "[fx2trt] TRT issue"
~hf_Reformer: CUDA error: device-side assert triggered~
fastNLP_Bert: [TRT] [E] 3: [layers.h::setAxis::624] Error Code 3: API Usage Error

[2022-04-06 19:56] frank-wei opened #122 "[fx2trt] unclear issues"
vision_maskrcnn: Error
detectron2_maskrcnn: various tracing issues
Super_SloMo: various tracing issues
opacus_cifar10: tracing issues
hf_BigBird: op support, tracing issues,  shape '[1, 12, 62, 192]' is invalid for input of size 11904
pyhpc_equation_of_state: nan output

[2022-04-06 20:03] frank-wei opened #123 "[fx2trt] acc op getitem throw error"
dlrm model

[2022-04-06 20:05] anijain2305 opened #124 "Handle -inf for Torchscript of FX graphs"
Repro

[code]

@eellison

[2022-04-06 23:07] xuzhao9 commented on #107
Update: the result is available in an internal spreadsheet. However, the result is different from what we get from `torchbench.py` because we are compiling contexts everytime using `with torchdynamo.optimize(<backend>)` while `torchbench.py` uses `torchdynamo.run()`, which caches stuff and avoids re-compilation overheads.

[2022-04-07 00:17] leslie-fang-intel commented on #112
Thanks for the confirm @jansel.

[2022-04-07 00:17] #112 closed

[2022-04-07 00:40] anijain2305 commented on #93
@eellison I still see this error after getting your latest PR.

The error signature looks like this. Reopening for now.
[code]

[2022-04-07 02:08] jansel commented on #107
@xuzhao9 are you are `.run()` is the difference?  I would expect `optimize()` and `run()` to do the exact same thing unless there are recompiles (which there shouldn't be in most benchmarks).

[2022-04-07 03:14] xuzhao9 commented on #107
@jansel You're right. Looks like the difference is not caused by `optimize()` and `run()`.
I managed to create a script to reproduce the problem on A100, please help verify:
[code]

Usage: place the script in the `torchbench` directory as `runx.py`, and run two commands:
1. `python runx.py`, output:
```Eager Latency: 0.934742 ms```
3. `python runx.py --torchdynamo`, output:
[code]

[2022-04-07 04:04] jansel commented on #107
Is the GPU frequency scaling due to load?  Perhaps it is more lightly loaded when you only run 1 experiment compared to 2.  That is why I interleave the runs in my test, so if the GPU frequency scales it will affect both sides of the experiment the same.

Running your script on an RTX 3090 I get (with the fan set to max):
[code]

[code]

[2022-04-07 04:17] frank-wei commented on #107
The current results looks reasonable for me. As Xu mentioned, it is not caused by the usage of torchdynamo.run() or torchdynamo.optimize() since we do not have recompile of model.
@xuzhao9  just wondering why the initial result has large variance? What is the reason there?

[2022-04-07 15:50] jansel commented on #111
I believe `virtualMemoryBuffer.cpp` is part of TensorRT based on quick Google search results.  So this sounds like some internal TensorRT error.  Any reason to think this is TorchDynamo related?

[2022-04-07 16:11] eellison commented on #93
@anijain2305 can you post the full error?

[2022-04-07 16:27] xuzhao9 commented on #107
@frank-wei Both @anijain2305 and I can reproduce this result on A100 (showing Eager is faster than Eager+TorchDynamo Eager). One reason of this discrepancy could be, since we don't have sudo access to the A100 instance, we can't pin the GPU frequency, etc to stabilize the latency number

[2022-04-07 16:44] jansel commented on #107
Interesting that I can't reproduce it locally.  A few ideas of things to try:

1) Can you reproduce your results on a CPU backend?  Or is this GPU-only?

2) What if you replace dynamo with something else that uses the GPU.  For example do:
[code]
then interleave runs of `model` and `model2`.  You could also try interleaving it with something that does cpu work (for example `model3 = model2.to("cpu

[2022-04-07 17:03] frank-wei commented on #107
Here is my test results on A100. Difference is around less than 2%.
## for alexnet ##
for X in `seq 10`; do python runx.py --torchdynamo; done
Eager Latency: 1.7416095 ms
TorchDynamo Eager latency: 1.760823 ms
speedup: 0.9890883410768715
Eager Latency: 1.7456610000000001 ms
TorchDynamo Eager latency: 1.7690625 ms
speedup: 0.9867718071012189
Eager Latency: 1.7898844999999999 ms
TorchDynamo Eager la

[2022-04-07 20:35] frank-wei commented on #107
Locked the GPU freq to the highest with *sudo nvidia-smi -ac 1215,1410*. The results are similar.

[2022-04-07 21:59] eellison commented on #93
@anijain2305 filed https://github.com/pytorch/pytorch/issues/75465

[2022-04-08 06:57] leslie-fang-intel opened #129 "[Question] Why we need to run the model several times inside optimizer"
Refer to this code:
[code]
Inside the `torchdynamo.optimize`, if I run 1 time or 2 times, it generates different sub-graph. Why we need to run the model several times inside torchdynamo.optimize?

[2022-04-08 08:06] leslie-fang-intel commented on #129
When I run this example, sometimes it prints 2 graph and sometimes it print 3 graph.

[2022-04-08 15:27] jansel commented on #129
You don't need to run the model several times, that was mean't to demonstrate the 3 graphs.  In most cases running once is enough.

The 3 graphs come from the `if b.sum() < 0:`
1) One graph for everything before the `if` (followed by a graph break)
2) A second graph if you take the `true` branch of the `if`
3) A third graph if you take the `false` branch of the `if`

You are seeing either 2 or 3 g

[2022-04-08 18:36] xuzhao9 commented on #107
I did two follow-up experiments.
1. Test on CPU:
[code]
So the problem doesn't exist on CPU.

2. Use `model2 = copy.deepcopy(model)` for GPU test round 2 (interleave two same GPU eager tests)
[code]

When running with dynamo, the Eager Latency is longer than running without dynamo (1.69 ms vs. 1.30 ms). So the problem is reproducible.

[2022-04-08 18:42] #41 closed

[2022-04-08 19:52] jansel commented on #107
For the second experiment I was suggesting not using TorchDynamo at all (just interleaving unrelated things both in eager mode).  My hypothesis is this is a function of the measurement harness.  Performance within the measured region is correlated to what happens outside the measured region.

[2022-04-08 19:57] xuzhao9 commented on #107
Yes that was what I did in the second experiment (see the updated code for details).

[2022-04-08 20:20] jansel commented on #107
Ah perfect, thanks!  Just wanted to confirm.

I'm drawing a blank on what TorchDynamo could be doing to effect GPU-only (and only A100, not RTX 3090).  TorchDynamo doesn't do any GPU work, it just runs the captred graph early -- which should be literally identical kernels.

Perhaps there is some way to clear GPU caches...

[2022-04-09 17:42] ezyang opened #131 "Side effect to OrderedDict doesn't allow resumption"
[code]

prints

[code]

I expected there to be generated continuation function so torchdynamo could capture x * b.

[2022-04-09 17:58] jansel commented on #131
Should be somewhat easy to add support for this as [regular dict mutation](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/side_effects.py#L273) is already supported (without a graph break) and [all dicts are ordered in Python 3.7+](https://medium.com/junior-dev/python-dictionaries-are-ordered-now-but-how-and-why-5d5a40ee327f).  So just a matter of making OrderedDict go down

[2022-04-09 18:05] ezyang commented on #131
There is also a more general question I have, which is that many opcodes don't have `break_graph_if_unsupported`. In principle, wouldn't it be sound to break graph for all unsupported opcodes, assuming that everything on the stack can be restored?

[2022-04-09 18:19] jansel commented on #131
You could get there to be a continuation by:
1) Adding a [break_graph_if_unsupported](https://github.com/facebookresearch/torchdynamo/blob/f2efb835a5092e817b5ab12b8a62ae8fd3fc7e90/torchdynamo/symbolic_convert.py#L135) decorator to [STORE_SUBSCR](https://github.com/facebookresearch/torchdynamo/blob/f2efb835a5092e817b5ab12b8a62ae8fd3fc7e90/torchdynamo/symbolic_convert.py#L638)
2) Changing the 1 to a

[2022-04-10 01:43] jansel commented on #131
I will add that one limit of the current `resume_at_x` code is it only partially supports exception handlers.  I think that is fixable though.

[2022-04-10 01:47] jansel commented on #131
I'll add that one challenge (that is only partially solved right now) of `resume_at_X` continuations is exception handlers.  This gets mapped to the concept of a "block" in python bytecode.  I think this is solvable, but would require more work.

This example doesn't use try/except though -- so not an issue here.

[2022-04-11 00:22] leslie-fang-intel commented on #129
Thanks for the feedback. So if I write this kind of code, here is some of understanding:
In the `torchdynamo.optimize`, we only run the model once(we keep the formal running in the `torchdynamo.run`). That's meaning only one path of the `if` condition will be hit and optimized for this sub-graph. The remained path of the `if` condition will not be compiled and optimized.
Is there any way to ensure

[2022-04-11 00:32] jansel commented on #129
That is correct.

In general there is no guarantee of 100% coverage.  This is true even if you don't have control flow.  For example, TorchDynamo specializes on dtype/device/etc, so if you call toy_example() with a tensor on a different device/dtype it will recompile.

[2022-04-11 00:36] leslie-fang-intel commented on #129
Thanks for the comment. The recompile will happens in context of `torchdynamo.optimize` but not `torchdynamo.run`, right?
How about I put every model running inside context of `torchdynamo.optimize`? in case there are some recompiled needed.
For this way, will it have some performance impact comparing with `torchdynamo.run`?

[2022-04-11 00:40] jansel commented on #129
Yes, if you hit a novel device/type/control-flow/etc:
1) inside `torchdynamo.optimize` it compiles a new graph
2) inside `torchdynamo.run` it falls back to eager mode

The performance of `optimize` and `run` should be identical in the case of a cache-hit, and only differ in what they do on a cache-miss.

[2022-04-11 07:55] jiayisunx opened #132 "Multiple issues from OpenNMT-py"
This AssertionError always happens when I try to torchdynamo.optimize transformer.

[2022-04-11 15:37] jansel commented on #132
This seems like a bug.  Could you provide an example to reproduce the issue?

[2022-04-11 18:09] jansel commented on #106
Looks like the change listed above got [reverted](https://github.com/python/cpython/pull/32343) ([more info](https://mail.python.org/archives/list/python-dev@python.org/thread/MA4FQ7G6F35NG3TUN6RQPXRGXTYMFMDY/#MA4FQ7G6F35NG3TUN6RQPXRGXTYMFMDY)), so no header changed needed for 3.11.

[2022-04-11 18:13] xuzhao9 commented on #107
@jansel I updated the benchmarking script and is able to reproduce the slowdown within the same process:
1. do not use interleave runs (run PyTorch eager first, then run TorchDynamo eager)
2. only `import torchdynamo` on demand (i.e., in the PyTorch eager run, do not `import torchdynamo`)

Result on V100 (pinned to the highest GPU and GPU memory frequency):
[code]
So the TorchDyamo version is only

[2022-04-11 19:04] jansel commented on #107
@xuzhao9 I ran your script on an RTX 3090, and I can't reproduce your results:
[code]

So somehow it is specific to your machine.  Perhaps we should try on a V100, with the latest version of CUDA, or with newer drivers.

Are you sure it is just the `import torchdynamo` line?  Does it still slow things down if you remove the `torchdynamo.optimize("eager")` and `torchdynamo.run()`?

[2022-04-11 19:23] xuzhao9 commented on #107
Yes it looks like a problem within my dev environment.
For A100, I am using Nvidia 450.119.03, CUDA 11.1, PyTorch 1.12.0.dev20220408+cu113 (I can't update Nvidia or CUDA version because of lacking sudo permission.)
For V100, I am using Nvidia 470.82.01, CUDA 11.3, PyTorch 1.12.0.dev20220331+cu113.

Yes, I confirm if I remove `torchdynamo.optimize("eager")` and `torchdynamo.run()`, the slowdown sti

[2022-04-11 19:40] jansel commented on #107
I am using:
- `CUDA Version: 11.6`
- `Driver Version: 510.54`
- `PyTorch bc512253d5fe718a029324c45f175a81b088facd`

Just `import torchdynamo` shouldn't have side effects.  It doesn't even install the eval_frame handler.  The walk of the `torch.*` module hierarchy in [allowed_functions](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/allowed_functions.py) happens lazily on fir

[2022-04-11 20:08] frank-wei commented on #107
Tried on A100. NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4

[code]

After commented some imports in `__init__.py` as follows:
[code]

and all the imports in fx2trt
[code]
The speedup is still hampered.
[code]

[2022-04-11 21:15] jansel commented on #107
So what is the import line causing the issue?

[2022-04-11 23:03] frank-wei commented on #107
no conclusion yet.

[2022-04-11 23:15] xuzhao9 commented on #107
Thanks to @jansel, I can confirm this line is the root cause. https://github.com/jansel/torchdynamo/blob/bf90b8cdbacf35944fa8c12185b1823dc5cb90bb/torchdynamo/skipfiles.py#L123

Specifically, adding five packages slows down the test: "networkx", "omegaconf", "onnx", "pandas", "sklearn", and "sklearn", of which `sklearn` slows down 10%, and the other four slow 8-9% combined. This explains the total

[2022-04-11 23:22] jansel commented on #107
Interesting, that could explain why I can't reproduce the issue.  I might have different versions of those 6 packages.

It is a bit alarming that importing random dependencies slows down PyTorch.  Many of those packages don't even use the GPU.

[2022-04-12 00:29] jansel commented on #107
A few theories from internal chat thread:
- Network filesystem on our GPU cluster
- Importing packages is changing `os.environ` (or other global stack)
- PTX code cache

[2022-04-12 01:01] jansel opened #133 "Make torchdynamo not import third party package in `skipfiles.py`"
@xuzhao9 in https://github.com/facebookresearch/torchdynamo/issues/107#issuecomment-1095681515 found that the following line makes alexnet 18% slower:

https://github.com/jansel/torchdynamo/blob/bf90b8cdbacf35944fa8c12185b1823dc5cb90bb/torchdynamo/skipfiles.py#L123

It seems importing:  "networkx", "omegaconf", "onnx", "pandas",  and "sklearn" cause performance issues.

TorchDynamo is only importi

[2022-04-12 02:53] jiayisunx commented on #132
Thanks @jansel , I tried to enable torchdynamo for OpenNMT(https://github.com/OpenNMT/OpenNMT-py.git), and as the first step, I set my_compiler does nothing:
_def my_compiler(gm: torch.fx.GraphModule, example_inputs: List[torch.Tensor]):
    print("my_compiler() called with FX graph:")
    return gm.forward  # return a python callable_
and optimized the model:
        _with torch.no_grad():

[2022-04-12 06:09] anijain2305 opened #134 "Handle torch.Size correctly - AssertionError: torch.* op returned non-Tensor"
Repro

[code]

[2022-04-12 06:18] jiayisunx opened #135 "AssertionError while running in class NNModuleVariable"
AssertionError happened when I tried to torchdynamo.optimize MaskRCNN, and the accuracy is low when using torchdynamo.run MaskRCNN.
I tried to enable torchdynamo for MaskRCNN(https://github.com/facebookresearch/maskrcnn-benchmark), and as the first step, I set my_compiler does nothing:
_def my_compiler(gm: torch.fx.GraphModule, example_inputs: List[torch.Tensor]):
    print("my_compiler() called w

[2022-04-12 06:19] anijain2305 opened #136 "Handle torch.seed - AssertionError: torch.* op returned non-Tensor"
Repro

[code]

[2022-04-12 08:05] leslie-fang-intel opened #137 "[Question] How does torchdynamo hook the python bytecode and generate FX Graph?"
From the code inside `torchdynamo/torchdynamo/symbolic_convert.py`：

- Looks like torchdynamo hooks the python bytecode(such as `CALL_FUNCTION`, `LOAD_FAST`) to generate the FX Graph, is my understand right?
- Could we have some details about what's information torchdynamo get from the hook functions and how to generate the FX Graph from these information?

Thanks.

[2022-04-12 08:05] #129 closed

[2022-04-12 13:55] ezyang opened #138 "Off main thread symbolic evaluation"
Standard JIT design has compilation run off-thread, so that normal user code can continue running while compilation is still occurring. Unfortunately, torchdynamo's implementation in Python makes this difficult to do, as in standard Python there is a GIL which prevents useful parallelization of Python work. This means that we need to think about our off main thread strategy earlier rather than lat

[2022-04-12 15:38] ezyang commented on #138
One argument for NOT running symbolic evaluation off thread is that most of our optimization backends introduce numerical differences (they are not bit-for-bit compatible); thus, to get predictable behavior, we must either ALWAYS apply the optimized version or NEVER apply it (and not some nondeterministic mix between the two.)

[2022-04-12 17:03] xuzhao9 commented on #133
Can we skip tracing all non-pytorch source code, instead of enumerating all common third party libraries?

[2022-04-12 17:48] jansel commented on #133
We could have some sort of heuristic to decide if we should analyze a given frame.  E.g. if neither args nor globals contain `torch.*` objects, just skip the frame.

[2022-04-12 19:06] jansel commented on #134
To handle this we should not add the torch.Size to the graph and instead treat it like a SizeVariable:
https://github.com/facebookresearch/torchdynamo/blob/f2efb835a5092e817b5ab12b8a62ae8fd3fc7e90/torchdynamo/variables/lists.py#L232

[2022-04-12 19:12] jansel commented on #136
We might be able to map the result of `seed()` to a DynamicShapeVariable:
https://github.com/facebookresearch/torchdynamo/blob/f2efb835a5092e817b5ab12b8a62ae8fd3fc7e90/torchdynamo/variables/tensor.py#L271

Or possibly introduce a new (very similar) TensorVariable subclass for it.

[2022-04-12 19:30] ngimel commented on #107
Can you check if you'd still see the slowdown if you leave the `gc.collect()` line in place, but add a couple untimed dry runs after this, before starting to collect actual timings?

[2022-04-12 21:25] anijain2305 commented on #85
Repro for the bug

[code]

[2022-04-13 00:20] #134 closed

[2022-04-13 01:12] leslie-fang-intel commented on #137
Thanks for the comment.

- The hook functions in my understanding are these methods of `InstructionTranslatorBase`: [LOAD_FAST](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/symbolic_convert.py#L304), [CALL_FUNCTION](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/symbolic_convert.py#L540) .etc.

- I think that's where we get the information to generat

[2022-04-13 02:26] jansel commented on #137
`InstructionTranslator` converts bytecode to an FX Graph (plus modified bytecode).

Those methods (like LOAD_FAST), are called from this line:
https://github.com/facebookresearch/torchdynamo/blob/a460bde3e6bc14d4872230982ae8755e6ff54400/torchdynamo/symbolic_convert.py#L252

Given a `LOAD_FAST` bytecode instruction with an `inst.opname == "LOAD_FAST"`, that line will call the [LOAD_FAST method](htt

[2022-04-13 02:30] leslie-fang-intel commented on #137
Thanks @jansel. That's same as my understanding.
Can you explain more about how `InstructionTranslator` converts bytecode to an FX Graph (plus modified bytecode)?

[2022-04-13 02:31] ezyang commented on #137
@leslie-fang-intel I'm planning to do a deep dive streaming session. Maybe you can attend or watch the recording when I'm done :)

[2022-04-13 02:32] leslie-fang-intel commented on #137
Thanks @ezyang. That's great. Looking forward for the sharings.

[2022-04-13 03:05] ezyang commented on #137
3PM EST tomorrow, save the date

[2022-04-13 16:45] yanboliang commented on #52
I set up Python 3.7 env, run all unit tests and found the following 11 failed:
[code]
These failures are caused by [this](https://docs.python.org/3/whatsnew/3.8.html#cpython-bytecode-changes) CPython bytecode change between 3.7 & 3.8. We have to:
* Replace ```BEGIN_FINALLY``` with any Python 3.7 instruction.
* As ```WITH_CLEANUP_START``` and ```END_FINALLY``` changed behavior between 3.7 & 3.8, we

[2022-04-13 16:52] jansel commented on #52
Thanks for looking into that @yanboliang.

The BEGIN_FINALLY/WITH_CLEANUP_START/END_FINALLY stuff is just trying to support:
[code]

Feel free to reach out to me if you get stuck.

[2022-04-13 17:41] anijain2305 commented on #136
Trying to understand. Why can't seed be a ConstantVariable, instead of a TensorVariable? Is it because the value is supposed to change for each iteration?

The expression here is

[code]

This requires us to support `mod` on a TensorVariable and then `int` on a TensorVariable.

[2022-04-13 18:36] anijain2305 commented on #136
Ah, I see. It cannot be a ConstantVariable, because then we will lose the connection between the def and use of `attention_seed` in the above example. We need to track the dependencies.

[2022-04-13 18:46] sanchitintel commented on #107
Hi @malfet & @xuzhao9,

The public PyTorch release for linux is not built with Intel OpenMP.

[2022-04-13 20:17] malfet commented on #107
Hmm, that's a good point, it's only linked with iomp5 on Mac, but not on Linux:
[code]

[2022-04-13 20:21] malfet commented on #107
If one to increase batch size, then discrepancy between eager mode with and without sklearn import becomes negligible, using following script derived from one @xuzhao9 posted:
[code]

[code]

[2022-04-13 20:57] malfet commented on #107
Hmm, another strange fact: why `cudaStreamIsCapturing` dominates CUDA API time (even though we don't do any graph tracing):
[code]

[2022-04-13 21:09] malfet commented on #107
Interestingly enough, this benchmark is much faster using CUDA-10.2 (and discrepancy is much smaller, because cudaStreamIsCapturing is CUDA-11.x+ only API call):
[code]

[2022-04-13 21:31] ngimel commented on #107
cudaStreamIsCapturing is probably called during memory allocations that don't hit in cache. We shouldn't be benchmarking runs that have a lot of uncached mallocs - that's probably why removing `gc.collect()` helps. In the steady state, we expect memory requests to be mostly served from the cached memory, and not call cudaMalloc.

[2022-04-13 22:19] malfet commented on #107
It would have been true, if number of cudaMalloc() calls would much number of `cudaStreamIsCapturing`, but it is 10x different: `cudaMalloc` is called 20 times, while `cudaStreamIsCapturing` 200+ times (i.e. at least once for every `model(*inputs)` function call)

[2022-04-13 22:48] #124 closed

[2022-04-13 23:02] jansel commented on #133
For more on skipping see https://github.com/facebookresearch/torchdynamo/issues/69

[2022-04-13 23:06] jansel commented on #69
On further discussion with folks such as @ezyang.  I think we should run this logic at the start of each frame, before we start doing any work to try to reduce overheads of symbolic analysis.

[2022-04-14 02:07] ezyang commented on #137
stream at https://www.youtube.com/watch?v=egZB5Uxki0I&t=1s

[2022-04-14 02:09] #137 closed

[2022-04-14 02:46] #131 closed

[2022-04-14 02:49] ezyang commented on #69
A very minor problem with the heuristics we know how to do is that this won't work:

[code]

where `do_something` contains Torch API calls; we won't start analysis on foo. But this seems acceptable (there is no way to determine that we should trace this locally), and maybe if the user adds some type annotations we can pick up on this case too.

[2022-04-14 03:44] jansel commented on #69
We should make the decorator syntax:
[code]
force `foo.__code__` to pass the checks.

That way users have a way around a false-fast-exit.

[2022-04-14 21:29] Chillee commented on #133
Another annoying thing about this is that it makes import times significantly longer.

For example, we have a `skip_dynamo` decorator in AOTAutograd. These imports mean that whenever we import AOTAutograd, we now also need to import {tensorflow, onnx, etc.}

[2022-04-15 05:14] jiayisunx commented on #132
After modifying some model code, seems to solve the "KeyError: 'with_align'" , but after that, I ran into a core dumped error， and this error seems to be related to guards, could you please help me understand this error?
Traceback (most recent call last):
  File "<string>", line 3, in <lambda>
KeyError: 'layer_0'
ERROR RUNNING GUARDS _recursive_map /home/jiayisun/opennmt-py/onmt/decoders/transform

[2022-04-15 16:05] jansel commented on #52
Fixed by #143

[2022-04-15 16:05] #52 closed

[2022-04-15 19:28] anijain2305 commented on #88
WIP PR in functorch - https://github.com/pytorch/functorch/pull/703

cc @bdhirsh

Issues seen in functionalization by running it on Torchbenhc
- [ ] zero_
- [ ] index
- [ ] _fused_moving_avg_obs_fq_helper

[2022-04-15 21:41] anijain2305 commented on #89
Only functionalization is remaining from AOT Autograd side and it is tracked here - https://github.com/facebookresearch/torchdynamo/issues/88

[2022-04-15 21:41] #89 closed

[2022-04-15 21:43] anijain2305 commented on #85
@Chillee has been looking at this and isolated the problem with even smaller repro than the above. Assigning this to him.

[2022-04-16 00:05] anijain2305 opened #145 "Fix issues in fambench_xlmr"
[code]

First error comes while `deepcopy`ing the model. And its a known issue - https://githubhot.com/repo/pytorch/fairseq/issues/4185

After removing the `deepcopy`, the model fails with the following issue

[code]

[2022-04-16 08:49] leslie-fang-intel commented on #132
Hi @jansel, this error happens when we try to add `torchdynamo` support to [OpenNMT-py](https://github.com/OpenNMT/OpenNMT-py).
We haven't added any GraphModule optimization pass yet. The only thing added is the context of `with torchdynamo.optimize(my_compiler)`.
Do we have any plan to support OpenNMT?

[2022-04-16 17:51] jansel commented on #132
@jiayisunx the key error from the trace you included is:
[code]

Not sure what version of onmt you are using, but seems to be in this function:
https://github.com/OpenNMT/OpenNMT-py/blob/fc3409ce08785915728dac9e9c9fb49f73027917/onmt/utils/misc.py#L46

Based on what that function is doing and the error, my guess is the following patch will fix it:
[code]

This tells TorchDynamo that it is safe to m

[2022-04-17 02:13] leslie-fang-intel commented on #132
Thanks @jansel. After applying your patch, the error we reported previously fixed. However, we meet another error in `beam_search`. Looks like some index has been hardcoded in the cached code which causes the `core dump` instead of `re-compile`?
[code]

[2022-04-17 02:34] leslie-fang-intel commented on #132
Thanks @jansel. After applying your patch, it fixes the first error we met. But after that, we meet another `core-dump` issue.
It looks like a `guard error`. But why it triggers `core-dump` instead of `re-compile`?
[code]

[2022-04-17 16:33] jansel commented on #132
@leslie-fang-intel

That looks like there is a missing [DICT_KEYS](https://github.com/facebookresearch/torchdynamo/blob/d6070992acb9677353eb8258843b9a05858dd244/torchdynamo/guards.py#L250) guard on the `struct` variable.  The guard is reading `struct['layer_0']` without first checking it exists.

Could you try to make a more minimal repro so we can fix the bug?  Perhaps take `_recursive_map` (tran

[2022-04-18 00:39] anijain2305 commented on #103
I am assigning this to myself. Let me know if anyone is already looking into it.

[2022-04-18 00:45] anijain2305 commented on #69
Happy to look into this. Assigning to myself. Let me know if someone is already looking into this.

[2022-04-18 04:53] jiayisunx opened #148 "[Question]How dose TorchDynamo provide larger average speedups than the other backends shown"
The data you provide in [TorchDynamo Update 3: GPU Inference Edition](https://dev-discuss.pytorch.org/t/torchdynamo-update-3-gpu-inference-edition/460) shows that TorchDynamo provides a 1.71x geometric mean speedup on CPU. May I ask How does this speedup work?  Does TorchDynamo generate multiple subgraphs to get more opportunities to improve performance, or does the backend itself used by TorchDyn

[2022-04-18 05:39] leslie-fang-intel commented on #132
Hi @jansel, we have build a case to reproduce similar error.
[code]

[2022-04-18 07:15] anijain2305 opened #149 "Handle Slicing of NNModuleList"
Repro
[code]

The tracing log is as follows

[code]

I am suspicious of the last line, where it creates an `UnspecializedNNModuleVariable`. The ModuleLists are getting tagged as dynamic probably here - https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/mutation_guard.py#L88

The error right now is

[code]

[2022-04-18 16:07] jansel commented on #148
It uses the same approach as [described in the updated before that](https://dev-discuss.pytorch.org/t/torchdynamo-update-1-48x-geomean-speedup-on-torchbench-cpu-inference/397).  It has an autotuner to select the best backend for each graph.  The graph boundaries are whatever TorchDynamo happened to find at the time, there is no graph splitting.

[2022-04-18 16:14] jansel commented on #149
Yeah, seems like there are two bugs here.
1) it should be a NNModuleVariable not an UnspecializedNNModuleVariable
2) the guard logic shouldn't pass `0` as an arg

[2022-04-18 16:44] jansel commented on #132
@leslie-fang-intel thanks for the repro!

Can you check if this PR fixes it? https://github.com/facebookresearch/torchdynamo/pull/150

[2022-04-19 00:48] leslie-fang-intel commented on #132
Hi @jansel Thanks for the fix. After applying your patch, we meet another issue now.
[code]

Here is some debug information at `/home/lesliefang/pytorch_1_7_1/TorchDynamo/torchdynamo/torchdynamo/variables/tensor.py", line 100, in create
    assert (
AssertionError: namedtuple?`
[code]
Not sure what's the right way to fix it :)?

[2022-04-19 03:31] jansel commented on #132
Could you try to extract a more minimal repro from that?  What is the type triggering the namedtuple assert?

[2022-04-19 03:41] leslie-fang-intel commented on #132
Here is the object and type triggering the namedtuple assert in `torchdynamo/variables/tensor.py", line 100, in create assert`.
[code]

I am trying to create a test case. Since it's somehow doing the creation of tensor, I am not sure if we can create the small test case for it.

[2022-04-19 03:53] jansel commented on #132
Interesting.  It is curious that some op is returning an `immutable_list`.  What op is it?  (You can print out `proxy.node.target` to check.)

Try adding `torch.fx.immutable_collections.immutable_list` here:
https://github.com/facebookresearch/torchdynamo/blob/222696b0470f8454c52783bd6491517a6c705729/torchdynamo/variables/tensor.py#L107
(alongside `(tuple, list, torch.fx.immutable_collections.immu

[2022-04-19 04:01] leslie-fang-intel commented on #132
Thanks.

- By print out `proxy.node.target`, the operation is `proxy.node.target is: <built-in function getitem>`

- yes, I have tried add `torch.fx.immutable_collections.immutable_list` into `(tuple, list)`. Then another error comes out. Looks like `torch.fx.immutable_collections.immutable_list` lack of the `append` method.
[code]

[2022-04-19 04:07] jansel commented on #132
This will allow `.append()` on the return value:

[code]

[2022-04-19 16:18] jansel opened #156 "Run TorchDynamo on nn.Modules crawled from github"
Back in 2020 I did this project:
https://github.com/jansel/pytorch-jit-paritybench

Which contains 8k `nn.Modules` crawled from 1k github projects.

At the time I used it to find that TorchScript worked on ~30% of projects crawled from github.

We should run TorchDynamo on those testcases to
1) get more datapoints on model coverage levels
2) find and fix more bugs in TorchDynamo

[2022-04-19 16:50] xuzhao9 commented on #107
The previous bug has been fixed by https://github.com/facebookresearch/torchdynamo/pull/153. Yet another problem shows up, the reproducing script:
[code]

[2022-04-19 18:27] ezyang commented on #69
@anijain2305 this will be super useful for broadening torchdynamo's testing efforts; right now running torchdynamo on something like PyTorch's test suite ends with torchdynamo rabbitholing into a bunch of random crap which could have been skipped with the functionality here.

If you want a torture test, run this test in Python:

[code]

with dynamo enabled with this patch:

[code]

[2022-04-19 18:39] ezyang commented on #119
Before you even get here, should first just run TorchDynamo+Eager.

TorchDynamo will print a bunch of scary "failure" messages but as long as fallback to eager works OK this is not a problem (just check if the test suite passes). These failures should get deduplicated and triaged and used to inform bugfixing work that may need to be done. (We will need to turn off this errors printing by default w

[2022-04-19 18:41] ezyang commented on #69
(you should also revert my bandaid PR https://github.com/facebookresearch/torchdynamo/pull/157 )

[2022-04-19 19:03] Chillee commented on #85
Resolved in https://github.com/pytorch/pytorch/pull/75933

[2022-04-19 19:03] #85 closed

[2022-04-19 19:34] anijain2305 commented on #69
Thanks @ezyang Thats a good starting point. Will look into this.

[2022-04-19 21:16] jansel opened #159 "Fix slowdown from generation_tagging_new"
@xuzhao9 reports minor slowdowns from this function:
https://github.com/facebookresearch/torchdynamo/blob/1e131a6e81cf2253b3672caa1f7a72629a472989/torchdynamo/mutation_guard.py#L88

We should find an alternate way to handle this corner case that doesn't introduce overheads.  This easiest fix might be a small changes to `nn.Module` in pytorch, so the monkey patch isn't needed.

[2022-04-19 21:17] jansel commented on #159
More details here: https://github.com/facebookresearch/torchdynamo/issues/107#issuecomment-1102872948

[2022-04-19 21:25] anijain2305 commented on #82
Repro here

[code]

The generated FX graph is this

[code]

For some reason, the generated FX graph has `torch.autograd.variable.Variable`, when it should have been ``torch.autograd.Variable`.

[2022-04-19 21:30] jansel commented on #119
The warnings @ezyang shared via chat are:

1)
[code]
Fix:
should add the op returning a RNG generator to `_disallowed_function_ids()`:
https://github.com/jansel/torchdynamo/blob/033d2b0183b2c09bf0860095d5e932bcf972d029/torchdynamo/allowed_functions.py#L18

2)
[code]

Fix:
Our product() should default to 1 on an empty list of sizes.  Test case would be something like `tensor(1).numel()`

3)
[code]

[2022-04-19 21:36] jansel commented on #82
This sounds like an upstream bug in pytorch.

The issue is:
[code]

I bet the following monkey patch will fix it:
[code]

[2022-04-19 21:37] anijain2305 commented on #82
Ah, its because of the overloading of the variable function

https://github.com/pytorch/pytorch/blob/master/torch/autograd/__init__.py#L298-L300

[2022-04-19 21:46] anijain2305 commented on #82
It is a bug in upstream PyTorch. But, given that `Variable` is deprecated for external use - https://pytorch.org/docs/stable/autograd.html#variable-deprecated

I suggest to change the tacotron  model to use Tensors instead of Variables - https://github.com/pytorch/benchmark/blob/main/torchbenchmark/models/tacotron2/model.py#L270-L285. What do you think? @jansel

[2022-04-19 22:36] jansel commented on #82
I'd just add the following to `./torch/autograd/__init__.py`:
[code]

[2022-04-19 22:37] jansel commented on #82
We could the patch on our codebase.

[2022-04-20 01:32] ezyang commented on #119
There are TONS of warnings, there isn't any particular reason to prioritize these, I think some triage will be necessary first

[2022-04-20 01:40] xuzhao9 commented on #133
Reopening this issue since we are reverting #153

[2022-04-20 17:14] yanboliang commented on #33
Fixed by https://github.com/facebookresearch/torchdynamo/pull/154

[2022-04-20 17:14] #33 closed

[2022-04-20 17:54] #82 closed

[2022-04-20 17:55] anijain2305 commented on #136
Fixed by https://github.com/facebookresearch/torchdynamo/pull/141

[2022-04-20 17:55] #136 closed

[2022-04-20 17:55] anijain2305 commented on #149
Fixed by https://github.com/facebookresearch/torchdynamo/pull/152

[2022-04-21 07:10] leslie-fang-intel commented on #132
@jiayisunx I think with all the fixes above, we can generate FX Graph for OpenNMT-PY. Could you help to confirm and close this issue if true?

[2022-04-21 22:38] xuzhao9 opened #165 "CUDA+inference correctness issue with torchdynamo eager mode on TorchBench"
I did a TorchBench sweep run workflow on V100 and the result is available [here](https://github.com/pytorch/benchmark/actions/runs/2201634569). Or view the spreadsheet result [Meta internal only](https://docs.google.com/spreadsheets/d/1eQw4Y5x4ynOZx0Fgpm47ooWAortaTwM4SPxc1y1A-ew/edit#gid=966748872).
In this workflow, I have found the following correctness issues with TorchDynamo eager mode on CUDA

[2022-04-21 23:59] jansel commented on #165
@xuzhao9 these results contradict [the correctness checking in torchbench.py](https://github.com/facebookresearch/torchdynamo/blob/26cb2b01f389172c8bbce900a44009e698b818b5/torchbench.py#L1074).

When I run these models with `torchbench.py` they pass:
[code]

Note torchbench.py doesn't check `pyhpc_turbulent_kinetic_energy` because it is non-determinstic.  It fails `torch.allclose()` checks even if

[2022-04-25 03:18] anijain2305 opened #169 "Debug Torchscript error for SloMo"
Slomo model is failing because of some dtype promotion issues. Here is the repro of the failure

[code]

@Chillee

[2022-04-25 03:56] anijain2305 opened #170 "Debug error for vision maskrcnn"
Torchscript error, repro is below

[code]

[2022-04-25 03:56] anijain2305 commented on #170
cc @eellison Can you please take a look?

[2022-04-25 06:12] jiayisunx commented on #148
Thanks for your answer, from the table, we can see that most models have a large speedup by using TorchDynamo, but timm_efficientnet only has 0.66x performance, do you know why?

[2022-04-25 06:17] jiayisunx commented on #132
Yes, these fixes worked, @jansel and @leslie-fang-intel , thank you very much!

[2022-04-25 06:17] #132 closed

[2022-04-25 17:14] eellison commented on #170
@anijain2305 this didn't repro for me as of `3326fa60ccfb7c717ecfacbb2a216544561f08d2` on master. In general, do you mind posting a dump of the error when you file an issue ?

[2022-04-25 17:53] anijain2305 commented on #170
I see. I will build pytorch and retry.

Yeah, I will start adding the error log as well from next time.

[2022-04-25 20:51] anijain2305 commented on #69
@jansel

A large number of errors are because of torch.* ops that do not return Tensor objects. In the past, I added them one by one for TorchBench models. But with `test_torch.py`, there are just too many (pasted below). One quick way is to just use `unimplemented` instead of assert and skip rest of the frame, but it can leave performance on the table. Do you have any suggestion?

[code]

[2022-04-25 21:05] jansel commented on #69
@anijain2305 the root issue here is in [allowed_functions.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/allowed_functions.py).

TorchDynamo expects everything marked by allowed_functions to be a PyTorch operator that can be placed in an FX graph.  It generates allowed_functions by walking `torch.*`.  Most of these things should just be removed from allowed_functions, an

[2022-04-25 21:24] jansel commented on #69
Specifically, I'd expect these things to be pretty easy to handle (most just returning constants we guard on):
[code]

[2022-04-25 22:00] anijain2305 commented on #170
Issue is resolved at PyTorch master. Closing.

[2022-04-25 22:00] #170 closed

[2022-04-25 22:00] #149 closed

[2022-04-25 23:18] ezyang commented on #69
ops are derived mechanically from `native_functions.yaml` so if you need us to generate some metadata to populate some tables we can totally do this (or you could use hot off the presses torchgen to work it out at runtime).

[2022-04-25 23:32] jansel commented on #69
Wouldn't that be just for aten ops, or does it have Python API ops too?

[2022-04-25 23:57] ezyang commented on #69
oh you know what, I dun' goofed, I read it as "torch.ops" and assumed we were talking about torch.ops.aten. My bad.

[2022-04-26 01:30] jiayisunx commented on #148
@jansel , thanks a lot.

[2022-04-26 01:30] #148 closed

[2022-04-26 02:01] bertmaher opened #175 "KeyError: 'example_value' while trying to trace TransformerEncoderLayer"
See this gist for a repro: https://gist.github.com/bertmaher/f581734cf80b967592ccdff6d513774b

The model here is more or less a copypaste of nn.TransformerEncoderLayer, but applying `torchdynamo.optimize` yields the following stack trace:
[code]

It seems to have something to do with the MultiheadAttention module attr, but I got only far enough into debugging to realize that it was better to ask y

[2022-04-26 02:58] anijain2305 commented on #175
I can take a look at this tomorrow. I am dealing with these type of issues at many places.

[2022-04-26 03:19] jansel commented on #175
@anijain2305 I didn't see your comment, sorry!  I fixed it in #176.

The issue was `nn.MultiheadAttention()` returned `(torch.Tensor(), None)` and that `None` confused `TensorVariable.create()` because when it is given `example_value=None` as a kwarg it assumed it needed to compute it.

[2022-04-26 03:41] anijain2305 commented on #175
Oh no worries at all :)
Thanks for the quick fix.

[2022-04-26 03:50] jansel opened #178 "Add documentation for adding training backends to README.md"
Currently, [README.md documents adding inference backends](https://github.com/jansel/torchdynamo#adding-backends), but not training backends with AOT Autograd.

We should add some details on this, and also perhaps make it a bit easier.

One thing that could help streamline the process would be to extend AOTAutogradStrategy:
https://github.com/jansel/torchdynamo/blob/8db8efc7681e4ae5851c3a298250993

[2022-04-26 03:57] jansel opened #179 "Add a backend verification mode"
We should have a mode where we perform more thorough testing of backend correctness on a graph-by-graph level as a debugging tool.

Some [specific backends include correctness checking](https://github.com/jansel/torchdynamo/blob/8db8efc7681e4ae5851c3a298250993660d16e55/torchdynamo/optimizations/inference.py#L156), though currently it is up to the backends to check this themselves.

I'd suggest add

[2022-04-26 04:11] jansel opened #180 "Fix thread safety of _eval_frame.c"
We have a thread safety issue if someone tries to use TorchDynamo from multiple threads in a single python process.

The issue is `tstate->interp->eval_frame` is global, so threads might clobber each other when the change the eval_frame function.

There is some [unfinished code to make the callback thread local](https://github.com/facebookresearch/torchdynamo/blob/8db8efc7681e4ae5851c3a29825099366

[2022-04-26 04:15] #175 closed

[2022-04-26 04:17] jansel commented on #178
cc @anijain2305 @Chillee

[2022-04-26 16:37] xuzhao9 commented on #91
Added fambench_dlrm and fambench_xlmr. FAMBench RNNT is broken (https://github.com/facebookresearch/FAMBench/issues/85)

[2022-04-27 02:05] xuzhao9 commented on #165
@jansel I can reproduce your result with the default same algorithm, which uses `torch.allclose`. However, after changing the parameter `cos_similarity=True`, I get the following result:

[code]

I can confirm fastNLP_Bert passes the correctness test

[2022-04-27 02:23] jansel commented on #165
@xuzhao9 I think something is buggy in your setup.

It is printing out `INCORRECT - Variation in Eager runs itself`, which is triggered [here](https://github.com/facebookresearch/torchdynamo/blob/6595fd900480ec01976a4abd8f3746c055515c05/torchbench.py#L1091).

You aren't even running TorchDynamo.  This printout is *before* TorchDynamo is run later down on [line 1098](https://github.com/facebookrese

[2022-04-27 21:06] yanboliang commented on #34
Fixed by https://github.com/facebookresearch/torchdynamo/pull/172, now TorchDynamo supports Python 3.10!

[2022-04-27 21:06] #34 closed

[2022-04-28 05:33] frank-wei opened #185 "Questions for normalize_ir()"
It looks like the normalize_ir() has different behavior than I thought.
For ex, I was hoping Functionalization will replace the in-place op to standard op like relu_ to relu.
I run a simple test program with gm.graph as follows:
[code]
After adding the normalizer in my_compiler. The result gm.graph does not change.
[code]
After more debugging,  I found that n.meta["is_input_mutation"] is True for

[2022-04-28 06:12] anijain2305 commented on #185
Hi Wei, in this case, you are mutating the input itself. Suppose, there is a `user` of the input `x` outside the Fx graph, then this `user` must see the updated/mutated value of `x`.

If the input was not mutated (opposed to your example), the def-and-use of the mutated variable would be contained within the scope of the Fx graph. And, therefore, we could do graph rewrite to get rid of mutation. T

[2022-04-28 06:46] frank-wei commented on #185
@anijain2305  thanks for your explanation and it helps me a lot to my concerns. Mutating the input is an extreme case which we rarely see it. I tried with case not mutating the input and saw the expected behavior.
For Functionalization pass, I'd like to see the in-place to be changed to standard ones. Actually, just curious if "dispatcher-level" as you mentioned will happen somewhere inside AOT?
O

[2022-04-28 07:00] anijain2305 commented on #185
1) The dispatcher-level functionalization traces the original model, and checks mutation at op-by-op level at the dispatcher. If it sees mutation, it removes it and keeps scorecard for handling the future uses. There is an excellent presentation from Brian Hirsh (author of Functionalization) on this matter.

So, this is not AOT Autograd per se. In fact, in the case of AOT Autograd, we plan to firs

[2022-04-28 17:03] xuzhao9 commented on #165
@jansel Thanks! I talked to Wei and can confirm this is a bug in the torchbench repo. I have submitted https://github.com/pytorch/benchmark/pull/886, after landing it I will rerun the workflow

[2022-04-28 17:28] anijain2305 opened #186 "Better handling for exec"
https://github.com/facebookresearch/torchdynamo/pull/184 introduces a band-aid fix to skip Dynamo on the `exec` frame. This issue is so that we don't forget to find a better solution.

For some reason, running the exec frame through Dynamo changes the `f_globals` dictionary. We can use the tests in the above PR to repro the failure.

[2022-04-28 17:29] xuzhao9 commented on #165
With the fix, I can confirm that dlrm and timm_efficientnet are correct; moco and pyhpc_turbulent_kinetic_energy are unstable. However, for fastNLP_Bert, I get the following result with the `torchbench.py` tool:
[code]

@frank-wei can reproduce this as well, does this mean it fails the correctness test?

[2022-04-28 17:33] frank-wei commented on #185
@anijain2305  it looks great for me of this PR https://github.com/pytorch/functorch/pull/703/files. I am expecting it will remove some mutations on dynamo created fx graph which will help us remove some blockers in some models.

[2022-04-28 17:33] #185 closed

[2022-04-28 18:22] anijain2305 commented on #69
## Current status of test_torch

There are 2 categories

1. Test failures
2. Test passes but TorchDynamo raises InternalTorchDynamo error and prints the stack trace.

Currently, I am focusing on the first category.

We started the week with 167 failures. And today we are at 53 failures. The fixes are #174, #182 and #184

------

## Notes on the remaining failures
In the remaining 53 failures, ther

[2022-04-28 18:45] jansel commented on #165
`p=0.02` is unrelated to correctness.  When correctness fails it will print out `INCORRECT` and not show any speedup.  So everything is running as expected in your log.

`p=` is a reference to a [p-value](https://en.wikipedia.org/wiki/P-value).  Torchbench.py it is doing a [t-test](https://en.wikipedia.org/wiki/Student%27s_t-test).  The purpose is to filter out noise from real speedups.

[2022-04-28 22:05] yanboliang commented on #156
Woohoo, it seems we have a good coverage:
[code]
I'll dig into the errors and check the missing features.

[2022-04-28 22:39] anijain2305 commented on #156
Pretty awesome numbers for the first run :)

[2022-04-28 22:49] jansel commented on #156
Wow, awesome!  For context of those reading, TorchScript was ~30% projects and ~60% tests. So more than 3x the number of projects passing.

I assume that is allowing Python fallbacks (`nopython=False`, the default)?

Seems like 100% might be in reach!

[2022-04-28 23:46] yanboliang commented on #156
That's right!

[2022-04-28 23:51] Chillee commented on #156
I'm curious about other stats, like "how big are the graphs", "how many graphs does it get split into", etc.

[2022-04-29 02:27] ezyang commented on #69
This is great work. I will be very interested to see what the root cause of CUDA memory leak and tensor references are. I wonder if dynamo is holding on to more references than it should; if so, it's very good that we will have caught this early :>

[2022-04-29 02:49] soumith commented on #156
this is pretty cool, and yea 100% with nopython=False seems like a no-brainer to aim for.

[2022-04-29 03:02] jansel opened #187 "Run TorchDynamo on HuggingFace spaces"
@soumith suggested running TorchDynamo on [HuggingFace Spaces](https://huggingface.co/spaces) which contains a large number of models to try to find cases where it fails and we can improve things.

They are basically UI apps -- some javascript tagged to a flask-ish server.
And some example inputs.
The "end to end" might involve us provisioning a docker image or conda env, and sending the inputs as

[2022-04-29 16:19] xuzhao9 commented on #165
@jansel Using this script, I can still reproduce the correctness problem of fastNLP_Bert:
[code]

Place this script in the torchbench root directory, name it `runx.py`, and run command: `python runx.py`, the output is:

[code]

This script tests 4 different batches of inputs for both eager and torchdynamo+eager, the first batch returns the correct result, and the 2, 3, 4-th batches return incorrec

[2022-04-29 17:59] jansel commented on #165
Thanks for finding that, looks like a real issue to me.

[2022-05-02 21:14] xuzhao9 commented on #156
interesting! Curious what are the errors and we should include some delegates in torchbench to further improve coverage

[2022-05-03 00:38] yanboliang opened #191 "tensor.new doesn't work well if not enable dynamic shapes mode"
*This is the 1/N issue found from https://github.com/facebookresearch/torchdynamo/issues/156.*

Problem:
* Failed test example: [```test_DingKe_pytorch_workplace.py:BinaryTanh```](https://github.com/yanboliang/pytorch-jit-paritybench/blob/master/generated/test_DingKe_pytorch_workplace.py)
* Error: ``` IndexError: too many indices for tensor of dimension 1```

Minimal code to reproduce:
[code]
* Th

[2022-05-03 01:43] xwang233 opened #192 "Torchdynamo with aot_autograd_speedup_strategy has increased memory usage and long overhead on ResNet50 model"
python script (please correct me if I'm using the torchdynamo API wrong)
<details>
<summary> dynamo-test.py </summary>
<p>

[code]
</p>
</details>

bash script
[code]

Tested with V100 16GB on
pytorch/pytorch@f6bbecf8b503eb6562d52b66124a49b45a57f14a ,
pytorch/vision@104073ccd5a5f06b1998e5e1a82fe813dced4cce,
torchdynamo @ 0d59ce9bfae18337a88de32743777e3a75c4ad5c,
pytorch/functorch@ac0fdf179748072cb

[2022-05-03 03:47] jansel commented on #191
This reads like just a bug.

In static shape mode `x.size()` should return the constant `(3,2)`. So I'd expect this to do the same thing as `x.new((3,2))`, if it doesn't, we should figure out why that is the case.

[2022-05-03 03:59] jansel commented on #192
cc @anijain2305 who was looking into a similar issue.

[2022-05-03 05:14] yanboliang commented on #191
Update: more evidence shows it may be a bug in ```fx.Tracer```. I wrote down the bellow code to simulate the result after torchdynamo calling ```fx.Tracer.create_proxy``` at [here]():
[code]
The output is:
[code]
So ```fx.Tracer``` recognizes ```torch.Size``` type as ```tuple```, passes ```tuple (3, 2)``` as argument and finally generates a new ```tensor([3., 2.])``` rather than a tensor with size

[2022-05-03 16:21] jansel commented on #191
I think the root of the problem is:
[code]

`torch.Tensor.new` acts differently with a `Size` input versus a `tuple` input.

Size/Tuple are usually interchangeable.

As a workaround, I'd suggest detecting calls to `x.new(s)` with a `torch.Size` arg, and just rewriting them to:
[code]

`Tensor.new` is deprecated anyway.

[2022-05-03 16:59] anijain2305 commented on #192
Looking into this.

I have seen that AOT Autograd can increase the memory footprint while tracing (maybe we are duplicating the memory somewhere, I have to check). But failing for batch size of 256 sounds bad. Thanks for pointing it out.

The performance drop for working batch sizes is unexpected. I will update within a couple of days.

[2022-05-03 21:09] Chillee commented on #192
Currently, `torchdynamo.optimize(aot_autograd_speedup_strategy)` doesn't actually turn on NVFuser (we should fix this - cc: @anijain2305 ). We need to add a `with torch.jit.fuser("fuser2")` alongside it.

Turning that on results in significant speedups over eager (on my machine, A100 40 GB)

<img width="1347" alt="image" src="https://user-images.githubusercontent.com/6355099/166566343-f0210f8e-254

[2022-05-03 22:48] xwang233 commented on #192
Thanks for the update @Chillee ! Just want to make sure, `torchdynamo.optimize(aot_autograd_speedup_strategy)` is supposed to use together with `nvfuser` but not standalone on an eager mode model. Is that correct?

If so, do users need to add a nvfuser context `with torch.jit.fuser("fuser2")` in their script or is it going to be turned on automatically with `torchdynamo.optimize(aot_autograd_speed

[2022-05-03 23:28] Chillee commented on #192
Yes, it uses a rematerialization algorithm that needs to know what things are fusible (and thus, is currently tuned against nvfuser).

I think it totally makes sense to turn it on automatically, @anijain2305 is looking into that.

[2022-05-04 18:10] frank-wei commented on #118
T5 update, all ops are supported. But the speedup and accuracy are issues. Similarity score=0.396970. The graph is seperated into many pieces by torchdynamo. The reason may be appearance of control flow in this model.

[2022-05-04 18:19] frank-wei commented on #121
Update:
hf_Reformer:
1. expand op error
2. nn.functional.linear triggers cublas error
3. torch.cat  CUDA error: device-side assert triggered
4. Some unsupported ops with int64. The workaround is cast to int32
torch.logsumexp: ((torch.float16,), {})
torch.functional.einsum: ((None, torch.float16, torch.float16), {})
torch.argmax: ((torch.float16,), {})
acc_ops.add: ((), {'input': torch.int64, 'othe

[2022-05-04 21:19] anijain2305 commented on #169
This is related to https://github.com/pytorch/pytorch/issues/74400

[2022-05-04 23:30] jansel opened #203 "[python key tracing] Parameters showing up as FX constants for demucs"
I think this might be an issue with python key tracing.  I am getting this error:
[code]

Which is triggering this line:
https://github.com/jansel/torchdynamo/blob/1b2d10ce2e1243f2b97aa2c63f3d2496abbaed62/torchinductor/graph.py#L119

I believe this behavior is wrong.  Python key tracing should be lifting all weights into inputs into the graph, though it appears at least one is slipping through.

T

[2022-05-04 23:33] Chillee commented on #203
This might be the same issue as LSTMs: https://github.com/pytorch/functorch/issues/586

Will look into it.

[2022-05-04 23:55] csarofeen commented on #192
FYI: It still uses significantly more memory on networks with nvFuser. We're seeing a situation where 3/4 of eager mode's batch size still doesn't fit, but 1/2 does.

[2022-05-05 00:18] Chillee commented on #192
@csarofeen Yep, the memory problems (nor investigating where the first compilation overhead come from!) have not been solved yet. There are some cases where we're careless with the memory and keeping references longer than they should be.

Working on those now - stay tuned.

[2022-05-05 02:12] Chillee commented on #192
Some investigations. So, the experiments here are all run with a batch size of 256, and I'll primarily be reporting on peak memory usage (as measured by `torch.cuda.max_memory_allocated()` after the benchmarking has finished).

As a baseline, eager-mode (no torchdynamo, etc.) reaches 22 GB of peak memory usage. On the other hand, torchdynamo + AOTAutograd + nvfuser run in 39 GB of peak memory usag

[2022-05-05 02:55] jansel commented on #192
One obvious source of memory overhead from TorchDynamo is [config.dynamic_propagation=True](https://github.com/pytorch/torchdynamo/blob/18a0364f6fdacd90e89cfca32da76a4c94c82dfc/torchdynamo/config.py#L39).  With this mode, TorchDynamo will [create an `example_value` copy of every tensor and nn.Module](https://github.com/pytorch/torchdynamo/blob/18a0364f6fdacd90e89cfca32da76a4c94c82dfc/torchdynamo/v

[2022-05-05 02:56] jansel opened #204 "Reimplement dynamic_propagation with meta tensors"
One obvious source of memory overhead from TorchDynamo is [config.dynamic_propagation=True](https://github.com/pytorch/torchdynamo/blob/18a0364f6fdacd90e89cfca32da76a4c94c82dfc/torchdynamo/config.py#L39).  With this mode, TorchDynamo will [create an `example_value` copy of every tensor and nn.Module](https://github.com/pytorch/torchdynamo/blob/18a0364f6fdacd90e89cfca32da76a4c94c82dfc/torchdynamo/v

[2022-05-05 02:59] jansel commented on #204
The tricky part of using meta tensors will be:
1) working around the ops where meta tensors don't exist.  Perhaps we could just materialize random tensors in these cases and free them after running the example value.
2) we won't have device information when using meta tensors (since meta tensors are a device).  I think it should be easy to emulate this by just assuming devices stay the same and bu

[2022-05-05 03:17] jansel commented on #204
@eellison any interest in this one?

[2022-05-05 03:24] Chillee commented on #204
There's some work on various parts of this (might be a FB-only link): https://docs.google.com/document/d/1W1eWV5F4UEEkeVOIRUNwt68Pb_1kg_mwodBMB4Pzjac/edit?usp=sharing

This is pretty annoying haha - Can resolved this with something called "fake tensors".

Perhaps we could make a tensor subclass for this - I used to have a meta tensor tracing mode for `__torch_dispatch__` tracing, and I did both of

[2022-05-05 03:46] ezyang commented on #204
We are going to do fake tensors.

[2022-05-05 03:50] ezyang commented on #204
For generating random inputs, this will interact poorly for indexing ops and data dependent ops (like nonzero). So we just need full coverage there. The PoR is also to make it possible to add meta coverage in Python so it's easy to drop in a prop function as necessary.

[2022-05-05 04:31] #191 closed

[2022-05-05 04:47] jansel commented on #204
Awesome, fake tensors sounds perfect!

[2022-05-05 05:39] anijain2305 commented on #192
@jansel After my quick investigation, I saw two sources of memory increase

1) `dynamic_propagation` as you mentioned
2) `normalize_ir` - Basically, `functionalization` in Dynamo. I did not dive deep enough to find the source of memory increase here.

You already covered the first one in detail. I was thinking about using CPU device for storing the cloned tensors to free up GPU memory. But, fake/m

[2022-05-05 05:49] anijain2305 opened #206 "Potential memory leak"
In the following test, TorchDynamo is not calling the `__del__` function of the class. At the moment, it is not clear if this is because of bad bytecode analysis, or some alive references which shouldn't be alive.

[code]

[2022-05-05 06:35] anijain2305 opened #207 "Bug - Missing with context on the graph break instruction"
Repro

[code]

This fails with the following error

[code]

Following is the bytecode

[code]

In the modified bytecode, call to the reversible function is not happening inside the `with` context. Therefore, `reversible` function is called with `grad` flag disabled and it triggers the above error.

Note that the `__compiled_fn_0` and the resume function, both correctly keep track of the `with` con

[2022-05-05 17:24] jansel opened #211 "Support `enum.Enum` comparisons without graph breaks"
From @vkuzo

[code]

This seems like something reasonable to support.  I think mapping it to a new variable type (perhaps a subclass of an existing one) would be the easiest approach.

[2022-05-05 19:59] jlucier commented on #111
@frank-wei @jansel any updates on this? I think I am experiencing this issue on 8.0.1, but the error output does not include as much information. I see this exact message on 8.2.4. Notably, my code has not changed and everything worked fine with 7.2.3.

This only occurs when I use a TensorRT engine in the same process as a GUI application when the process is terminating. I've detailed this more he

[2022-05-05 20:13] jansel commented on #111
I'll let @frank-wei answer as I think it is related to TRT.

[2022-05-05 21:21] frank-wei commented on #111
@jlucier , I am not sure the root cause yet since the log is not informative. For torchdynamo+fx2trt, it generates this error msg in torchbench.py but not in other places like some local test I made. My plan is to simplify the code and carefully remove some unnecessary and resource collection code and check if the problem persists.
I would suggest you the same idea and you may find the root cause

[2022-05-05 21:32] jlucier commented on #111
@frank-wei Sounds good! Thanks!

You don't have to tell me haha! I'm very well aware that NV's software is bit brutal. I've been using their Jetson platform, CUDA, and TensorRT since 2018 and I've lost countless hours to stuff like this :laughing:

[2022-05-05 21:48] eellison commented on #204
Happy to take this on, but theres actually kind of an annoying amount of operators that might not trivially preserve the inputs device.  E.g. any conversions, plus all of the annoying behavior wrt/0-dim tensors. @ezyang do we have have any timeline on fake tensors in core? depending on the timeline it might make more sense to wait for their availability

[2022-05-05 22:04] jlucier commented on #111
@frank-wei I actually think I figured my issue out...

I use the TensorRT C++ API directly and expose an interface for performing inference to Python (using pybind11). What I noticed is for some reason the destructor (in C++) for my object which holds the TRT engine and CUDA stream was not getting called when the program exited. As a result, the TRT engine and other objects were not explicitly bei

[2022-05-06 16:40] #207 closed

[2022-05-06 19:42] frank-wei commented on #117
Solved the setitem blocker. There are some ops unsupported:
as_strided: ((torch.float16,), {})
torch.functional.einsum: ((None, torch.float16, torch.float16), {})
new_empty: ((torch.float16,), {})
new_ones: ((torch.float16,), {})
torch.masked_fill: ((torch.float32, torch.bool), {})
pad does not support value != 0

[2022-05-08 02:40] ezyang commented on #204
eellison signed up to make fake tensors in core happen

[2022-05-09 20:34] jansel opened #219 "Support for torch.autograd.profiler.record_function"
The [PyTorch profiler](https://pytorch.org/tutorials/beginner/profiler.html) allows users to add `profiler.record_function` to their code like this:
[code]

Currently, TorchDynamo does not support this will break on the graph on this and fallback.

One simple thing we could do is just have TorchDynamo ignore `record_function`.

Meta Internal Link: https://fb.quip.com/fdd0AW8dYtPW

[2022-05-09 21:09] anijain2305 opened #220 "Run TorchDynamo with AOT Autograd on Huggingface models"
This is to start a discussion with Huggingface team.

WIP here - https://github.com/Chillee/transformers/blob/hf-dynao-aot/hf_dynamo_aot.py

@Chillee

[2022-05-09 21:10] ciciewang commented on #86
resolved one failed issue, one more to go.

[2022-05-09 21:11] ciciewang commented on #88
@bdhirsh is working on it right now.

[2022-05-09 21:23] ciciewang commented on #91
added two models for FAMBench.

[2022-05-09 22:15] wconstab opened #221 "NotImplementedError: UserDefinedObjectVariable(ABCMeta) is not a constant"
## Summary
With abstract module classes, _setattr_ doesn't work under dynamo.
* seems specific to ABC classes, error disappears for plain classes
* also seems specific to _setattr_ method- a simple 'foo' method works fine

## Repro

[code]

## Logs
[code]

[2022-05-09 23:31] jansel commented on #221
Thanks for the repro!  I think ABC might be confusing the inlining logic.

[2022-05-10 05:41] Chillee opened #224 "Enable `tensorfloat32` in torchbench script?"
^

[2022-05-10 19:05] jansel opened #225 "Don't populate f_locals to check guards"
Currently, TorchDynamo calls [PyFrame_FastToLocalsWithError](https://github.com/pytorch/torchdynamo/blob/7aeb1d4516a1b792cfb04807f6ea9faa14461147/torchdynamo/_eval_frame.c#L323) ([docs](https://bugs.python.org/file32537/c_api_frame.patch)).

Internally in cpython, this converts between the "frame fast variables" (a flat C array of PyObject*) and `frame->f_locals` (a python dictionary).

`frame->f_

[2022-05-12 17:43] vkuzo commented on #211
I tried this: https://gist.github.com/vkuzo/a5f5f5c7f96c31dbccd378a27bc87e80

and getting this error when running the test case: https://gist.github.com/vkuzo/3c39d8f9ecb3523232edf6bf7fc87f34

[code]

the stack trace is not super informative, any tips on what could be wrong here?

[2022-05-12 19:28] jansel commented on #211
I believe python key tracing is broken on PyTorch master.  @Chillee @ezyang might have more info on a coming fix.

I have been running on an older pytorch @ 7311390d355eb0cdbfa127cbcb3b08f8cd06738b as a workaround.

[2022-05-13 01:40] Chillee commented on #211
@vkuzo I had this issue previously, but the issue went away after I repulled/rebuilt PyTorch/Functorch/TorchDynamo/domain libraries.

@ezyang couldn't repro on a fresh build of dynamo/domain libraries, I believe.

I'm currently split on whether this is a real bug or build issue. The fact that I previously had this issue, but at some point while rebuilding things it started working again makes me s

[2022-05-13 01:45] ezyang commented on #211
PyTorch TensorImpl had a subtle ABI change recently so make sure you rebuilt everything

[2022-05-13 19:46] jansel commented on #159
Another solution might be to patch `__init__` and `__setstate__` and write the generation onto the `nn.Module` instead of using a weakref/dict.

[2022-05-13 20:13] jansel commented on #159
@mlazos will look at this

[2022-05-13 20:19] jansel commented on #159
Context:

TorchDynamo specializes on `id(nn.Module())` (by default), there is also an UnspecializedNNModuleVariable().

[code]

We want *new*ly created nn.Modules to map to UnspecializedNNModuleVariable, and old ones to map to (specialized) NNModuleVariable.

`generation_tagging_new` handles this.

[2022-05-13 20:31] jansel commented on #159
1) Reproduce slowdown (using script in linked comment)
2) Figure out why it is slow.  (Weakrefs? Dictionary? Alternate `__new__`?)
3) Explore alternate implementations

From maml model: `copy.deepcopy(mod)`

[2022-05-14 00:25] anijain2305 commented on #69
A quick update. For `test_torch.py`, we have resolved all memory leaks, yayy! And the current failure count stands at 15 (last time it was 53 failures).

There are some tests related to reference cycles that are not applicable to Dynamo. For example, in case of continuations, Dynamo has a chain of stack frames that might keep an object alive until all the stack frames have finished execution. Some

[2022-05-14 00:35] jansel commented on #69
Wohoo!  Making some progress, thanks for grinding down those errors @anijain2305!

cc @soumith @ezyang for visibility

[2022-05-14 00:37] jansel commented on #119
Note, status updates this effort are over in #69

https://github.com/pytorch/torchdynamo/issues/69#issuecomment-1126591497

[2022-05-14 01:00] ezyang commented on #69
Can you share some of these? Quite curious about it. Typically, the assumption that `del`  frees a tensor is usually for a tensor that has no refcount except in the current stack frame, and we're del'ing it to get rid of that sole reference. If Dynamo is keeping a chain of stack frames, I'd still expect it to free.

[2022-05-14 01:21] anijain2305 commented on #69
For example, this one https://github.com/pytorch/pytorch/blob/master/test/test_torch.py#L8253-L8265

[code]

`weakref.ref(x)`, `y.grad = x` and `x = w_x()` result in graph break. TorchDynamo creates many frames with continuations here. So, now where we get to the frame that calls `self.assertRaises(RuntimeError, lambda: x.sigmoid())`, the `x` is alive in the outer frames. Thats my current understa

[2022-05-14 01:25] ezyang commented on #69
OK, this makes sense, but I'd argue it's still a torchdynamo bug: instead of replicating x in the new frames, the accesses to x should be modeled as nonlocal accesses to a single occurrence of x in the parent frame. I don't know if Python bytecode lets you actually do this.

[2022-05-14 01:26] ezyang commented on #69
FWIW, I think it's worth fixing this, because people DO expect prompt deallocation when they del, and if a graph break can cause this to no longer hold it will be very surprising.

[2022-05-14 01:44] jansel commented on #69
It would be possible to change the way we codegen continuations to create a closure and replace all LOAD_FAST with LOAD_DEREF.  This would centralize all variable handling like you described, at the cost of an extra pointer deref on every access.

Another option would be to return from the original frame (releasing the reference counts), then have some code in C to call the continuation.

Both of

[2022-05-14 08:23] kaiyaointel opened #241 "TorchDynamo is incompatible with einops.repeat"
Hi,

We are doing some functionality validation and performance benchmark for TorchDynamo, and we found that TorchDynamo is incompatible with "einops" (pip package)'s "repeat" function (or maybe also some other functions in einops). For all models that call einops.repeat in nn.Module model definition (e.g. vision transformers models from https://github.com/lucidrains/vit-pytorch), the models can r

[2022-05-14 16:36] jansel commented on #241
Thanks for reporting this and providing a repro.  I'd expect just a graph break here (which falls back to eager), so clearly something is going wrong.

@yanboliang do you want to take a look at this one?

[2022-05-14 16:57] voznesenskym commented on #241
A smaller repro, that might make things easier :)

[code]

[2022-05-15 17:38] jansel commented on #241
@voznesenskym if you want to take a crack at it feel free to assign to yourself.  Just coordinate with @yanboliang, so there is no duplicated work.

[2022-05-15 18:39] voznesenskym commented on #241
Thanks @jansel. Will take a look and see what I can do :)

[2022-05-16 12:48] vkuzo commented on #211
thanks!  vanilla rebuilding pytorch, torchvision, torchdynamo did not fix it, but adding a `std::cout`in `torchdynamo/_guards.cpp::TensorGuards_init` and rebuilding after that did fix it.  Perhaps `python setup.py clean` was not cleaning that artifact properly.

[2022-05-16 12:57] ezyang commented on #211
It sounds like recompilation avoidance in torchdynamo is not being done correctly.

[2022-05-16 16:31] vkuzo commented on #211
https://github.com/pytorch/torchdynamo/pull/245 fixes the original issue

[2022-05-16 16:31] #211 closed

[2022-05-16 19:49] #241 closed

[2022-05-16 19:51] voznesenskym commented on #241
@kaiyaointel - we landed a fix, can you give it a try and see if it works for you now?

[2022-05-16 21:08] ciciewang commented on #79
on hold for now.

[2022-05-16 21:09] ciciewang commented on #117
still have two ops not supported, will get these done this week.

[2022-05-16 21:12] ciciewang commented on #118
some overlap with #117

[2022-05-16 21:26] frank-wei opened #250 "[fx2trt] merge github to pytorch/TensorRT"
This is the step we need to complete before open source fx2trt. Expect it to be done by 5/20.

[2022-05-17 01:23] jansel commented on #221
@wconstab is this fixed by #227?  Or still an issue?

[2022-05-17 05:53] kaiyaointel commented on #241
@voznesenskym I have verified on the related models, and they're runnable now at the latest commit of TorchDynamo.

[2022-05-17 16:22] #221 closed

[2022-05-17 17:38] #94 closed

[2022-05-17 20:32] jansel opened #255 "Add GPU testing to CI"
Currently we only test the CPU backends.

[2022-05-18 05:22] #255 closed

[2022-05-18 06:19] frank-wei commented on #117
Added the op support for setitem. But the performance is not good. TRT is slow on slicing operations.
hf_longformer also has many as_strided and einsum operations which are slow to implement on TRT. Overall, hf_longformer is not good candidate for TRT in perf perspective.

[2022-05-18 07:18] frank-wei commented on #117
speech_transformer: need to handle where input=0 or constant
%setitem : [#users=0] = call_function[target=operator.setitem](args = (%new_ones, (0, slice(getitem, None, None)), 0), kwargs = {})

[2022-05-18 23:33] anijain2305 opened #260 "Guards - Support inf"
Test repro from running TorchDynamo on Pytorch tests

[code]

The test fails with the following error

[code]

This is failing while executing the guard, so this is the problem with generating the guard.

The solution is to emit `float("inf")` when we see an `inf` during guard building. And similarly `-inf`

[2022-05-19 00:35] jansel commented on #260
Another possible fix here would be to install a variable named "inf" in the scope we create for the guards.

[2022-05-19 17:31] frank-wei commented on #111
The issue is gone after updated to the newest dynamo.

[2022-05-19 17:31] #111 closed

[2022-05-20 19:15] Chillee opened #271 "Unify "python-key" tracing in TorchDynamo with AOTAutograd"
These are ... more or less the same underlying tracing mechanism. There's a couple of differences. Note that in all of these cases I'm referring to the specific python-key tracing used in TorchDynamo.

1. Python-key tracing doesn't support autograd, while AOTAutograd does.
2. Python-key tracing probably has less overhead since it doesn't construct an autograd.Function.
3. Python-key tracing traces

[2022-05-20 19:49] zou3519 commented on #271
What's the goal here? Is it that errors being thrown should reference a line number in the source code?

[2022-05-20 22:19] Chillee commented on #271
@zou3519 yeah - we'd like to be able to preserve line numbers through our entire tracing/compilation process.

[2022-05-20 22:36] jansel commented on #271
Hopefully it will be easy to merge these.  They are mostly the same code.  The python-key tracing is a pretty thin wrapper above functorch that uses a `torch.fx.Interpreter`.

[2022-05-23 20:16] yanboliang opened #276 "Attribute and method priority inconsistent between Python and TorchDynamo NNModuleVariable"
*This is the 6/N issue found from https://github.com/pytorch/torchdynamo/issues/156.*

Minimal code to reproduce:
[code]
w/o torchdynamo, the output is:
[code]
w torchdynamo, the output is:
[code]
The problem is: the attribute ```head``` and the method ```head``` are the same name, Python favors the method, however, torchdynamo prioritizes the attribute. I checked the code in [```NNModuleVariable.

[2022-05-23 20:54] ramiro050 opened #277 "Unable to torch.jit.script subgraph passed to backend"
I'm working on adding a custom backend to pytorch using torchdynamo that requires that I run `torch.jit.script` on the subgraph passed by torchdynamo before I compile it further. However, for certain models in torchbench, this results in the error:

[code]

Is this expected behavior, or are the subgraphs passed to the backends meant to be always scriptable using Torchscript?

To recreate:

1. Add

[2022-05-23 21:03] zou3519 commented on #271
If we have something like
[code]
do we want the line number information for "grad_output = x.cos()` to point to y.backward(), or torch.sin, or does it not matter because autograd is supposed to not throw any errors in the backward pass as long as the forward pass is valid?

[2022-05-23 22:04] jansel commented on #277
This is what TorchDynamo converts `with torch.no_grad(): ...` to.

As a workaround you could use `torch.jit.trace()` instead of `torch.jit.script()`

@eellison do you know if this is something easy to get working with `jit.script`, perhaps by changing the function TorchDynamo calls, or is this something TorchScript can't support?

[2022-05-23 22:06] jansel commented on #276
This is a bug.  We should change TorchDynamo to ignore `self.__class__.head` if `self.__dict__["head"]` is defined.

[2022-05-24 00:08] yanboliang commented on #276
I think you mean ignore ```self.__dict__["head"]``` if ```self.__class__.head``` is defined, right?

[2022-05-24 01:32] Chillee commented on #277
I guess another option is to trace through it first with AOTAutograd/"python-key tracing" before passing it to `jit.script`.

[2022-05-24 01:38] jansel commented on #277
Links to:
- [AOT Autograd](https://github.com/pytorch/torchdynamo/blob/4cdfae7e7943eb128b0b867d6170685dc34cafd9/torchdynamo/optimizations/backends.py#L517) (training)
- [python key tracing](https://github.com/pytorch/torchdynamo/blob/4cdfae7e7943eb128b0b867d6170685dc34cafd9/torchdynamo/optimizations/python_key.py#L137) (inference)

Since they aren't well document yet.  Both of these will lower fro

[2022-05-24 01:45] jansel commented on #276
We should match whatever normal python does.

I thought object members took precedence:
[code]

Though perhaps I was wrong there.  You should base it on correct python behavior.

[2022-05-24 02:27] jansel commented on #276
Trying a bit more with `nn.Modules`:
[code]

As far as I can tell the object one wins, *unless* it is a `torch.nn.Module()` on the class.

I am guessing the same will be true for `torch.Tensor` and `torch.Parameter`.

To replicate the logic we may want to be checking `self.value.__dict__.keys()`:
[code]

Note hook1 is missing from the keys.

[2022-05-24 16:00] eellison commented on #277
It would be supportable but it general functions like these I think it would be easier to always run them in pure python since I don't think any backend will be optimizing them.

[2022-05-24 20:37] #40 closed

[2022-05-24 21:53] desertfire opened #280 "Low precision types support (float16, bfloat16)"
To handle this correctly when we load something in triton with tl.load() we should check the type (need some plumbing to do this) and if the type is [b]float16 we should cast it to float32.  This will make the math inside the kernel run in fp32, then storage conversions will happen implicitly.   After doing this test and benchmark with bfloat16.

[2022-05-24 22:40] ramiro050 commented on #277
Thanks for the prompt response! I tried switching to `torch.jit.trace()` or `python_key`, but I now get a different error:

[code]

Not sure what is causing it. I also noticed that running the model with the `eager` backend also results in the same error: `python run.py hf_T5 -d cpu -t eval -m eager --torchdynamo eager`

[2022-05-25 00:09] yanboliang commented on #276
I did some research and found:
* TLDR: object attribute takes precedence unless it's a ```nn.Module```.

Reason:
* Pytorch [```nn.Module.__setattr__```](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L1210) doesn't put ```Module``` and ```Parameter``` in ```object.__dict___```. However, the duplicated class attribute(if there is) is in ```object.__dict___``` and takes pr

[2022-05-25 01:42] Chillee commented on #277
@ramiro050 Looks like a mismatch with PyTorch version - see https://github.com/pytorch/torchdynamo/issues/211#issuecomment-1127631604

[2022-05-25 02:29] jansel commented on #276
I agree.  This might be a good candidate for an upstream change in PyTorch, as this behavior is confusing.  Curious what @albanD thinks.

For now let's make TorchDynamo match the current behavior.

[2022-05-25 04:03] #276 closed

[2022-05-25 18:38] xuzhao9 opened #284 "torchdynamo.optimize("eager") slows down hf_Bart model"
Script to reproduce:

[code]

Run on A100:
[code]

Note that only `torchdynamo.optimize("eager")` causes this performance regression, `torchdynamo.run()` doesn't.

[2022-05-25 19:37] anijain2305 commented on #88
New issues

- [ ] index

The repro is as follows
[code]

- [ ] Quantized models
failure log - https://www.internalfb.com/phabricator/paste/view/P503611308

- [ ] Constants not on GPU device - *Not* a Functionalize problem - https://github.com/pytorch/functorch/issues/815

[2022-05-26 02:28] anijain2305 opened #288 "AOTAutograd + TorchDynamo can lead to graphs where leaf variable requires grad and has inplace operation"
Repro

[code]

Error signature
[code]

The eager `outer_fn` passes because the in-place operation is not at the leaf variable. However, AOTAutograd is specifically called on `fn` because of the graph break, and it errors out with the above error.

cc @Chillee

[2022-05-26 03:11] jansel commented on #284
Thanks for the report.  I suspect this is due to recompiling, but we should confirm.

[2022-05-26 21:46] ngimel commented on #224
Yes, we definitely should enable tf32 in torchbench.

[2022-05-26 21:46] yzhliu opened #291 "Torchdynamo for Deepspeed and FSDP"
In AWS we are working with customers to enable gigantic transformer model training on EC2. Furthermore, we attempt to leverage compiler techniques to optimize Pytorch workloads due to its widely adoption. For example, we recently open-sourced [RAF](https://github.com/awslabs/raf), a deep learning compiler for training, that shows promising training acceleration for a set of models and verified it

[2022-05-26 21:56] anijain2305 commented on #224
@xuzhao9 Do you think this can be done in torchbench? We recently saw perf regression and it took us a couple of days to find out that `tensorfloat32` was the culprit.

Slightly off-topic to this issue, we might also benefit from a regression testing, where we also emit the absolute perf numbers. I am not sure if Torchbench has one already and if we can extend that. It will be super super helpful

[2022-05-26 23:54] yanboliang opened #292 "dtype info lost during tensor -> numpy -> tensor conversion"
*This is the 7/N issue found from https://github.com/pytorch/torchdynamo/issues/156.*

Minimal code to reproduce:
[code]
The output is ```torch.float32```, however, it's ```torch.float64``` on pytorch.

I'm working this issue and found ```x_np[0]``` is python ```float``` rather than ```numpy.float64```, so sth wrong happens before that. Want to check if anyone has encountered similar issue or have

[2022-05-27 00:04] voznesenskym commented on #219
This should be working now. @jansel to close upon confirmation.

[2022-05-27 00:13] #219 closed

[2022-05-27 00:19] jansel commented on #292
I tink this issue is coming from here:
https://github.com/pytorch/torchdynamo/blob/77b561823b4a0330cc7db2f68292c16735b6d694/torchdynamo/variables/builder.py#L286

Where we convert it to an int and specialize on it.

A related issue is: https://github.com/pytorch/torchdynamo/issues/70
Which this example will also suffer from by over-specializing on the value of `x_np[0]`.

[2022-05-27 01:17] desertfire commented on #224
@anijain2305 , do you have a tracking issue for your `tensorfloat32` investigation? I am trying to add low-precision support in torchinductor. Assuming you are talking about perf regression in torchdynamo here, sharing some details about your investigation would be helpful for me to understand the current status. Thanks.

[2022-05-27 04:15] ngimel commented on #224
This issue is unrelated to low precision support in torch inductor. tf32 default was changed in pytorch, and because of this torchbench models became slower, and thus improvements from fusion became less noticeable. It didn't affect any generated kernels.

[2022-05-27 07:17] jiayisunx opened #293 "Slow on some small models"
TorchDynamo IPEX backend is slower (11%) than IPEX Graph-mode on mnasnet0_5(torchvision model) with fp32 data type and the whole process doesn’t meet guard fail. and we found that if we only run with TorchDynamo IPEX backend at first step, the performance recover to be consistent with IPEX in TorchDynamo run mode.

[2022-05-27 07:40] voznesenskym commented on #293
Hey! I hate to nag, but this task has been open for 20 mins with no detail - would you be able to drop some detail (benchmarks, scripts, etc)?

[2022-05-27 07:45] voznesenskym commented on #165
Starting to look at this finally, apologies for delay. I repro'd runx.py, thank you for providing it.

[2022-05-27 07:57] jiayisunx commented on #293
@voznesenskym, sorry for the late, so do you have any insights about this issue? Based on our understanding, torchdynamo.run() will also check the guard and lookup the cache, right?

[2022-05-27 08:07] voznesenskym commented on #293
Sorry no, I was merely pointing out that at the time that I responded, the top level comment was empty.

[2022-05-27 20:57] voznesenskym commented on #165
Forgot to update this last night. I made a quick build with eval cache disabled. It passes the test (all True). Obviously much slower. My hypothesis of it caching the "forward" on the model causing issues is correct. I'll look at seeing if we can potentially capture inputs or other data on the frame (or caller frame even) to help make the lookup function correctly differentiate between different i

[2022-05-28 03:12] voznesenskym commented on #165
Another update I forgot to add -

This has nothing to do w/ eager, or at least, I can repro the same issue w/o eager.

Changing eager to a dummy fn:

[code]

Causes the same problem.

I think we may need some new guard functions that properly capture args / inputs, or introduce some useful distinction other than the ones I see here:

___guarded_code, ___check_tensors, ___check_type_id, ___check_ob

[2022-05-28 03:33] jansel commented on #293
Have you done any profiling?  Is this an overhead issue (you could try running with "eager" backend to check TorchDynamo overheads)?  A guard failing issue (try setting `torchdynamo.config.cache_size_limit=1`)?

[2022-05-28 06:20] voznesenskym commented on #165
Probably a controversial PR, but this does make the test pass: https://github.com/pytorch/torchdynamo/pull/297

[2022-05-28 08:03] anijain2305 opened #298 "Bug - ModuleDict ordering issue"
Original test - `test/test_nn.py::TestNN::test_ModuleDict` from Pytorch

Repro

[code]

@yanboliang if I recall correctly, you touched some code related to `OrderedDict`. FYI, in case you are interested

[2022-05-28 08:54] anijain2305 opened #299 "LazyModule support"
@jansel Should we support LazyModules? They are experimental.

[code]

When a lazy module is called, the class type changes.

These are the failures from PyTorch tests.

[code]

[2022-05-28 14:37] jansel commented on #299
Yes, I think this is something we should detect and support

[2022-05-28 17:42] #260 closed

[2022-05-29 01:30] voznesenskym commented on #165
A little more detail on the progress of the investigation.

The culprit causing the issue, w/ dynamo, is:

fastNLP/embeddings/bert_embedding.py:432

As this is the `forward`, that's a big culprit, so I had to read it a little to try to understand.

I narrowed the issue down to where we inspect the pool_method (in this case, 'first') to determine how to change the `outputs`.

The interesting line,

[2022-05-30 02:05] voznesenskym commented on #165
So, the root cause is that the values behind `named_parameters` differ. This *should* make the nn module ineligible for caching, but it does not with today's guards, because we only check:

1) type_id match
2) for every key in `named_parameters`, ensure match

However, if the forward pass of a model changes the weights/biases/values of the tensors within the layers... we do not detect that because

[2022-05-30 04:41] anijain2305 commented on #165
@voznesenskym Do you know whats causing the state to change? I browsed through the code quickly, and also disabled the inlining of the following call, but it still fails. So, just wondering where is the state changing.

[code]

[2022-05-30 06:42] voznesenskym commented on #165
@anijain2305 are you asking why does the forward pass of the model cause it to change?

If so, I am not sure. I hypothesized, at a distance, that it could be related to the dropouts. However, I turned the dropouts off (first by config, then by totally commenting them out), and it didn't fix it.

Interestingly, calling `eval()` on either the nested BERT (aka self.encoder) or the outer model didn't

[2022-05-30 06:49] anijain2305 commented on #165
Yes, you answered my question.

Yes, it seems weird that the model state is changing in forward pass. From very quick look, nothing seemed suspicious.

[2022-05-30 06:56] voznesenskym commented on #165
Thanks for taking a quick look, yea, its a weird one. My pr *does* fix it, but its not elegant, and checking modules for value comparison feels gross. Super open to ideas / suggestions.

[2022-05-30 10:46] soltkreig commented on #115
I got the same problem when I tried to quantized transformer model

[2022-05-30 16:12] jansel commented on #165
If you enable [guard_nn_modules](https://github.com/pytorch/torchdynamo/blob/063bc13ee2e9f41e25e4b4ac96a62adcb944697b/torchdynamo/config.py#L39) does this fix the issue?

What is the actual value that is changing?  Based on the PR it seems like a tensor in the parameter list is the culprit.  Which parameter is it?

[2022-05-30 17:48] voznesenskym commented on #165
No, it did not.

That's what I am going to look into today and tomorrow. The parameter list is large, so I need to make a couple of utils that can dump changed parameters between invocations. I plan on using the non dynamo runs to understand what the delta is on inference pass +1, +2, etc, and then go from there.

[2022-05-31 00:04] voznesenskym commented on #165
Okay, I have the test passing with a much simpler approach.

I made a config driven option of `eval_model_named_parameter_checks_enabled` and `eval_model_named_parameter_checks`, which then drives `___check_obj_id` for the specified tensor.

Setting these to `eval_model_named_parameter_checks_enabled = True` (alongside `guard_nn_modules = True` ), and `eval_model_named_parameter_checks = ["weight"

[2022-05-31 17:24] ramiro050 commented on #277
That was it! I had to force a clean build by deleting the `build` folder. Running `python setup.py clean` does not work. I'll go ahead and close this since the solutions mentioned are working for me. Thanks!

[2022-05-31 18:44] anijain2305 commented on #277
@ramiro050 I typically do `make clean` instead of `python setup.py clean` whenever I want a fresh build. `make clean` removes build and some other stuff as well.

[2022-05-31 21:40] albanD commented on #276
In this case, shouldn't Dynamo replicate the `__getattribute__` vs `__getattr__` behavior?
In this case, since the attribute is not in `__dict__`, the `__getattr__` should be called right?

[2022-05-31 21:45] jansel commented on #276
Yeah, that is what we are doing.  I was asking if we should change the behavior of `nn.Module` to match python (or throw a warning/error).  The upstream `nn.Module` behavior we are replicating seems wrong.

[2022-05-31 21:55] albanD commented on #276
I'm not sure how `nn.Module` doesn't match python?
You mean doesn't match `object`? If so that is to make sure our custom getattr and setattr are always called.

[2022-05-31 22:00] jansel commented on #276
[code]

The behavior of hook1 seems confusing/wrong to me.

[2022-05-31 23:20] yanboliang commented on #298
This is a bug because we don't use the original order to reconstruct dict. https://github.com/pytorch/torchdynamo/pull/308 will fix it.

[2022-05-31 23:50] #159 closed

[2022-06-01 00:32] anijain2305 commented on #165
Ok, I looked into this and seems to have stumbled upon something

https://github.com/fastnlp/fastNLP/blob/fb645d370f4cc1b00c7dbb16c1ff4542327c46e5/fastNLP/embeddings/bert_embedding.py#L479

![image](https://user-images.githubusercontent.com/13822661/171304516-8124f446-9820-40e7-bc8b-87c3ef4175d7.png)

Symptom - We ran the model twice with different inputs. But, TorchDynamo output did not change fo

[2022-06-01 01:31] voznesenskym commented on #165
@anijain2305  try my PR here: https://github.com/pytorch/torchdynamo/pull/297/files - it fixes it without caching on value. It adds an id check on module parameters.

[2022-06-01 13:40] albanD commented on #276
Ho it does lookup on the class object before calling the user-provided `__getattr__`.
We should be able to detect this and raise an error in that case, opened an issue to track that: https://github.com/pytorch/pytorch/issues/78618

[2022-06-01 16:01] frank-wei commented on #115
That is the limitation from FX. User could check the code if they are remove that control flow as a workaround. Otherwise, fx2trt will skip that subgraph and fall back to non-TRT.

[2022-06-01 16:47] #298 closed

[2022-06-01 18:00] anijain2305 commented on #69
cc @mlazos This is the parent thread. The instructions to run PyTorch tests are below

* Add this patch to pytorch

[code]

* And run this test

[code]

Currently, there are 34 failures

[code]

[2022-06-01 19:14] anijain2305 commented on #69
@mlaos will be looking at the errors from three files in the start
* test_ops.py
* test_nn.py
* test_autograd.py

I am going to triage other files and open more issues.

cc @voznesenskym if you are interested as well.

[2022-06-01 21:15] voznesenskym commented on #165
I was wrong here - only the value changes, the type id and object does not.

[2022-06-01 23:29] voznesenskym commented on #165
Spoke to @anijain2305 about this, the leading theory was that there is an issue around caching of long_tensor, but actually, I think our trace makes that unclear by only showing the first few bits of the long tensor:

<img width="327" alt="image" src="https://user-images.githubusercontent.com/4755252/171517870-3b773cc5-0437-495c-a17c-e948f5369ef7.png">

Which makes it look like its the same

But a

[2022-06-02 00:34] voznesenskym commented on #165
Further update - it does not appear as though this is a named parameter issue - I ran a quick check, and in both the dynamo and non dynamo inference passes, the values of the named parameters of both models are the same.

[2022-06-02 05:00] anijain2305 commented on #165
tl;dr - The failure was due to a TorchDynamo bug - we were not adding constant guards for list of `numpy` integers.

TorchDynamo specializes on the list/tuple of integers, i.e., while creating Fx graphs, it bakes in the values inside list as constants into the graph. Simultaneously, it adds guards on those constant values of the list to recompile in case the list changes.

The bug revolves around

[2022-06-02 05:38] voznesenskym commented on #165
Very nice! Great find. Confirmed it fixes this.

[2022-06-02 16:13] jansel commented on #165
https://github.com/pytorch/torchdynamo/issues/70 is somewhat related.  Baking in int/float/numpy constants seems wrong.  We should turn them into graph inputs.

[2022-06-02 16:55] voznesenskym commented on #69
With:
`CUDA_VISIBLE_DEVICES=-1 pytest -v -s -n 96 test/distributions/test_distributions.py`

We get:

[code]

[2022-06-02 17:16] anijain2305 commented on #165
@xuzhao9 ping if there are more issues that you see.

[2022-06-02 23:27] Chillee opened #318 "Correctness issue with exception handling"
[code]
Normal code prints
[code]

Running under TorchDynamo results in an error
[code]

[2022-06-03 00:51] voznesenskym opened #319 "Dynamic module inside dynamo context is not evaluated correctly?"
Minimum repro:

[code]

Produces:

[code]

From:
[code]

I believe this is due to incorrect determination as to what is, and is not a dynamic module.

Hardcoding `def is_dynamic_nn_module(obj):` to return `True` gets me past the bug. This is not a real fix, but is indicative of us not tracking this module as dynamic correctly.

[2022-06-03 01:26] voznesenskym commented on #319
cc: @mlazos (who reprod, huge ty) @anijain2305 @jansel

[2022-06-03 05:48] anijain2305 commented on #319
Ok, I can repro. I think this might be related to recent PR - https://github.com/pytorch/torchdynamo/pull/305. Removing the `tagging_init` passes the test.

All `torch.nn.Module` instances have a `training` member. I think monkey patching `__init__` might be upsetting it.

[2022-06-03 05:57] voznesenskym commented on #319
It's actually not monkey patching init. It's more subtle/ annoying, but also easier to hack fix :P

So, the order of critical events is:

1) install_generation_tagging_init
2) VariableBuilder's __call__
3) _convert_frame_assert
4) NN_MODULE guard creation (which calls assert istype(val.training, bool))

Now... what's missing? We have not yet actually called init on the object! We cannot read prope

[2022-06-03 06:06] voznesenskym commented on #319
Looking at #305 (Thanks @anijain2305), I think new is more correct. We could roll back #305 but before we do so, let me see if we can maybe do something more elegant...

[2022-06-03 18:21] yanboliang commented on #319
I hit this issue as well...

[2022-06-03 18:25] anijain2305 commented on #319
Yes, I am hitting at other places as well.

Should we revert #305 for now? As this may take some time to fix.

@mlazos

[2022-06-03 19:40] wconstab commented on #291
cc @alanwaketan @aazzolini We're looking into this and will post an update when we can.

[2022-06-04 00:43] anijain2305 commented on #318
I am going to take a look at this next week. Assigning to myself.

[2022-06-06 02:59] jansel opened #327 "TorchInductor missing ops tracker"
The following ops are using `ir.FallbackKernel`, but we should rewrite them to us decomps:
- [ ] aten._embedding_bag
- [ ] aten.nll_loss_forward
- [ ] torchvision.roi_align
- [ ] aten.grid_sampler_2d (could use the version [from here](https://github.com/pytorch/pytorch/issues/34704)
- [ ] aten.upsample_bilinear2d
- [ ] aten._cudnn_rnn (might need to hold of on this if perf doesn't match)

The foll

[2022-06-06 03:16] Chillee commented on #327
Unfortunately, there's no good way of decomposing this today. The gradient (wrt the weights iirc?) cannot be expressed with a forwards convolution.

This one is WIP: https://github.com/pytorch/pytorch/pull/78491

[2022-06-06 03:18] ezyang commented on #327
Well, to be more precise, if we have a suitably generalized convolution that has output shape and transposition that would be sufficient for all convolutions forwards/backwards.

[2022-06-06 06:00] frank-wei commented on #118
This task is done. All hf models are supported in TRT with some trade-offs.

[2022-06-06 06:00] #118 closed

[2022-06-06 06:13] frank-wei commented on #117
speech_transformer is able to run now but the performance is 0.627x since there are 72 subgraphs. It is not a good candidate for TRT.

[2022-06-06 06:13] #117 closed

[2022-06-06 06:27] frank-wei commented on #77
Some updates in hugging face models. Overall, 3 models could not achieve better performances on TRT but other 6 models are boosted by TRT.
<img width="462" alt="image" src="https://user-images.githubusercontent.com/6955737/172107052-4e36f991-c078-4a5e-b04d-7b596553f2da.png">

[2022-06-06 11:35] soumith commented on #327
It can. Where you have to pad the output image appropriately, and the convolve it with a transposed kernel weight matrix.

See the last diagram in http://soumith.ch/ex/pages/2014/08/07/why-rotate-weights-convolution-gradient/

[2022-06-06 17:48] jansel opened #328 "Use TorchDynamo to capture optimizers"
We should explore using TorchDynamo to capture/optimize optimizer code.

I don't anticipate any major issues here, but we should make sure it plays nice with AOT Autograd.

[2022-06-06 22:43] yanboliang opened #329 "codegen doesn't works well on list variable with side effect"
*This is the 8/N issue found from https://github.com/pytorch/torchdynamo/issues/156.*

Failed test cases: [```test_wutianyiRosun_CGNet.py```](https://github.com/jansel/pytorch-jit-paritybench/blob/570400b612332ecaec0cf850cdc70a6d4ddc374b/generated/test_wutianyiRosun_CGNet.py#L1364)

Minimal code to reproduce:
[code]
It throws the following error:
[code]
It was caused by the generated code trying t

[2022-06-07 00:01] #292 closed

[2022-06-07 02:19] jansel opened #330 "tacotron2 hit recompilation cache limit"
[code]

This warning looks a bit suspect.  Perhaps we are generating an incorrect guard in this case?

[2022-06-07 02:22] jansel commented on #329
Yes this seems like a bug.  I think your hypothesis that tempvars is getting the aliasing wrong is correct.

[2022-06-07 03:21] #319 closed

[2022-06-07 03:24] jansel commented on #80
This still fails, but the new error is: `RuntimeError: expected scalar type Half but found Float`

[2022-06-07 03:28] jansel opened #331 "ProxyTensor TorchBench issue tracker"
Creating a meta-issue to track issues with [python key tracing](https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/optimizations/python_key.py), many of these will likely affect AOT autograd as well.

# Investigated:
- [ ] hf_BigBird: (https://github.com/pytorch/torchdynamo/issues/80#issuecomment-1082675169)
- [ ] moco: https://github.com/pytorch/pytorch/issues/81526
- [ ] speech_transfo

[2022-06-07 03:35] jansel opened #332 "TorchInductor failing TorchBench models tracker"
This is meta issues to track multiple issues with TorchInductor inference models in TorchBench.

Failing with `RuntimeError: CUDA: Error- invalid value`:
- [ ] dlrm
- [ ] vision_maskrcnn

Failing with `LLVM ERROR: Broken function found, compilation aborted!` and missing `torch.randn`:
- [ ] hf_Reformer

Crash with no error message:
- [ ] Super_SloMo
- [ ] fastNLP_Bert

To reproduce:
1) Use [my bra

[2022-06-07 03:46] jansel commented on #330
A similar issue is in vision_maskrcnn:
[code]

[2022-06-07 05:37] Chillee commented on #327
btw, this is currently a prim in Primtorch. So there won't be a further decomposition for it.

[2022-06-07 08:35] jansel commented on #327
I am seeing it in AOT Autograd graphs for training.  I see it in multiple models for example BERT_pytorch.

[2022-06-07 14:28] soumith commented on #327
A convolution that has strides, dilation and zero padding can express all needs in a closed form.
Convolution forward, backward-input, backward-weight, etc. can be expressed in terms of this convolution.

[2022-06-07 18:44] voznesenskym commented on #330
Small aside **orthogonal** but will help debug this kinda stuff in the future.

So I noticed something weird:

`['len(alignments) == 0']` was being printed 64 times, when the guards were being setup as `['len(alignments) == 0']` `['len(alignments) == 1']` `['len(alignments) == 2'] ... etc etc.

This is because of the logic here:

[code]

invoked from:

[code]
So we actually want to call this on th

[2022-06-07 18:52] anijain2305 commented on #330
So, these cache limit breaches have been there for a while. Just that they are exposed by @wconstab recent PR which flags excessive recompiles.

* Tacotron2 recompiles is because of a while loop and graph break

<img width="955" alt="image" src="https://user-images.githubusercontent.com/13822661/172457385-9c9b69e4-d7c1-4e32-b406-07d3dbfa0a75.png">

In the above loop, inlining `self.decode` causes

[2022-06-07 18:55] anijain2305 commented on #330
@voznesenskym Agree that the error message can do with improvements like you mentioned. It was little odd to me as well.

[2022-06-07 19:03] jansel commented on #330
Hrm, maybe this is a case we could detect earlier and not compile.  We should avoid generating guards we know will fail right away.

[2022-06-07 19:05] wconstab commented on #330
I am probably misunderstanding things, but my intention was to capture the guard failure reasons that triggered recompiles and then print those reasons all at the same time when we hit the cache limit.

So, (1) i was thinking that the `if last -> return` logic would mean that in a case where there are already 2 compiled versions of this function and we fail the guards for the first but maybe pass

[2022-06-07 19:14] wconstab commented on #330
what are our options for this case?  If we read from the array it's hard to avoid guarding, but if we only append to it can we safely omit the guard?  I think it would also be just as good if we graph break before the append and still only compile the 2 ops above it.  But either way we'd have to detect that it's this special 'append only' case i think

[2022-06-07 19:31] voznesenskym commented on #330
It's okay, I think for the majority of recompilations your logic is spot on - logging the entire set of failures should be something we can config. However, for some cases, it's useful to see the entire chain we walked. Let me open a PR rq to address that and see what you think :)

[2022-06-07 19:36] voznesenskym commented on #330
Why is appending only safe? I can see cases where appending should invalidate the graph as it will change (hypothetical logic of `if len (accumlated_thing) > x do blah()`.

And in the case of the VisonMaskRCNN  model, thats not an array at all! That's just a value (w) that's read from a tensor. It seems like to @jansel point we may need to do something more clever around introspecting the context

[2022-06-07 20:15] anijain2305 opened #336 "Triaging PyTorch Tests - WIP"
Master issue to triage the Pytorch tests. Will be updating this one over the next few weeks.

## test/ao/sparsity

Failure categories - 1
####  test/ao/sparsity/test_pruner.py::TestBasePruner::test_step_conv2d
* Sparsification-related changes to the module are not tracked in Dynamo.

## test/autograd

Failure categories - 1
#### test/autograd/test_functional.py::TestAutogradFunctional::test_hessia

[2022-06-07 20:20] ezyang commented on #69
I have https://github.com/pytorch/pytorch/pull/79051 so we can start testing this in CI when this lands

[2022-06-07 21:58] ezyang opened #340 "nopython=True should error if everything is skipped"

[2022-06-07 22:06] ezyang opened #341 "Dynamo segfault"
Steps to repro:

Patch skipfiles.py with

[code]

apply

[code]

run `python test/test_decomp.py -k test_quick_frac_cpu_bfloat16 -v`

This segfaults with this trace

[code]

Removing `torch._prims.__file__` from the allow list makes it stop segfaulting.

[2022-06-07 22:09] ezyang opened #342 "inspect.signature.bind is not supported"
This is being used in elementwise_type_promotion_wrapper in PrimTorch which means I cannot nopython through PrimTorch refs.

cc @mruberry  maybe we just shouldn't use this API in PrimTorch

[2022-06-07 22:11] mruberry commented on #342
But bind is so cool, though... do we have a recommended alternative?

[2022-06-07 23:12] ezyang commented on #342
Yeah we can teach dynamo how to handle it lol

[2022-06-08 00:39] anijain2305 commented on #342
Oh, we can teach TorchDynamo here to handle it. I can do that.

Is there a repro/setup @ezyang that I can look into? I can write one myself if its too much trouble otherwise.

[2022-06-08 00:50] ezyang commented on #342
if you wait a little I'll have an xfail for you; the setup is not too complex though it's basically https://github.com/pytorch/torchdynamo/issues/341 but with some more whitelisted files

[2022-06-08 01:25] anijain2305 opened #343 "TorchDynamo bug - Class creation not handled/propagated correctly"
Many Pytorch Fx tests fail because of the issues in the following repro

EDIT - The repro has been edited to be shorter
[code]

cc @voznesenskym @mlazos @jansel

[2022-06-08 01:46] jansel commented on #343
Is this just an FX issue or is there some FX+Dynamo interaction?  Do we break the graph on the call to symbolic_trace?

[2022-06-08 03:52] ezyang commented on #341
A fuller PR to repro with is at https://github.com/pytorch/pytorch/pull/79107

[2022-06-08 03:58] voznesenskym commented on #343
Setting FX aside, I think we just don't treat default args properly?

[code]

[2022-06-08 06:56] voznesenskym commented on #343
Fwiw - pulling the class def out of the func fixes it.

[code]

Works just fine.

I think what's actually happening here is not so much around typing / type annotations as it is about dynamo handling definitions within an optimize well. Let me look into this further.

[2022-06-08 07:42] voznesenskym commented on #343
Small update, I think we are mangling some naming somewhere.

With dynamo, if we log self's class in pytorch, we get:

 `<class '__main__.M'>`

 But without dynamo its:

`<class '__main__.fn.<locals>.M'>`

Which made me realize that we are probably doing something funky w/ locals. Tracing up, I saw we had no locals, and looking a step further, no guards.

This PR fixes both my repro, and yours: ht

[2022-06-08 15:53] jansel commented on #343
I feel like the correct behavior for that is either a graph containing:
[code]
(With the class creation optimized away.)

Or calling `unimplemented()` on the class definition.

No guards seems spurious.

[2022-06-08 15:59] voznesenskym commented on #343
That makes sense. I think my PR is far too heavy handed - it uses no guards
as a poor proxy for this.

On Wed, Jun 8, 2022 at 8:53 AM Jason Ansel ***@***.***> wrote:

[2022-06-08 19:00] anijain2305 commented on #343
I updated the repro to be shorter

[code]

Error

[code]

Note the `fn` is annotated with `skip` decorator.

The only frame going through TorchDynamo is `class` creation frame

[code]

Even though the code looks exactly same here, somehow Python is not updating the namespace of the class objects properly here. If I force graph break or anything that results in `WONT CONVERT`, the test passes.

I r

[2022-06-08 20:14] ezyang opened #348 ""to diagnose recompilation issues, try using torchdynamo.utils.CompileProfiler" should have a URL"
Just telling users about a class name isn't going to be enough. Send them to the relevant docs page

[2022-06-08 21:55] ezyang opened #349 "Reasonable graph breaks turn into torchdynamo.exc.InternalTorchDynamoError with nopython=True"
Repro:

[code]

results in

[code]

`_convert_frame_assert` probably needs to transform these errors into something else in nopython situation

[2022-06-08 21:56] ezyang commented on #349
oh maybe we just need

[code]

[2022-06-08 21:58] ezyang commented on #349
Or maybe we should just not be raising NotImplementedError lol

[2022-06-08 21:59] ezyang opened #350 "torchdynamo doesn't consistently use logging"
In some cases it writes directly to sys.stderr, this is unwelcome

[2022-06-08 22:29] anijain2305 commented on #343
https://github.com/pytorch/torchdynamo/pull/351 passes this test. However, as mentioned earlier, this root cause is still unclear. My PR raises the `unimplemented` all the way to `convert_frame` s.t. Dynamo gives up on the frame. Since class creation always start with `LOAD_NAME`, it causes Dynamo to give up on the frame in this test.

[2022-06-09 00:34] pyjhzwh opened #353 "torchinductor ir.py ExternKernel codegen_size_asserts failed for channel-last layout"
Steps to repro:
[code]

The generated code is
[code]

The error is
[code]

For channel-last inputs, output should also be channel-last layout. The stride should be (32768, 1, 1024, 32), the same as y_baseline.stride() rather than (32768, 1024, 32, 1).

[2022-06-09 00:51] ezyang opened #354 "isinstance test on dtype causes graph break"
[code]

you get

[code]

[2022-06-09 00:59] anijain2305 commented on #354
cc @mlazos
I think this is a good starter task.

[2022-06-09 01:25] jansel commented on #349
Yeah, could just call unimplemented("") in this case.

[2022-06-09 01:25] jansel commented on #348
cc @wconstab

[2022-06-09 01:33] #329 closed

[2022-06-09 02:17] jansel commented on #353
To fix this we need to update this line:
https://github.com/pytorch/torchdynamo/blob/839a193b827f0a4ef87f06379b060c6684ae4d37/torchinductor/ir.py#L2032

[2022-06-09 02:48] ezyang commented on #343
This is a problem with locals right? It's an underlying FX problem where locals don't get compiled correctly. FX will guess that the module and the name together give a valid identifier to reference the function, but if it's a local it won't work.

Relevant logic is

[code]

in torch.fx.node

dynamo is making things worse by actually putting these locals in the graph; it really shouldn't but it ge

[2022-06-09 03:18] wconstab commented on #348
Yea, i will make a doc somewhere.  My intent was that i would update the 'guards failed'/cache limit warning to point to this doc.

I guess my proposal would just be add a section under the main README.md for now.  or should i start a new .md focused around debugging/troubleshooting and link that from README?

I noticed after I made 'CompileProfiler' that there is another profiler.py with a differ

[2022-06-09 04:05] pyjhzwh commented on #353
PR #358

[2022-06-09 13:59] ezyang commented on #348
New MD seems better

[2022-06-09 17:53] ezyang opened #362 "torch.ops.aten invocations inconsistently cause graph break"
repro

[code]

I know how to fix this so I'm going to handle it

[2022-06-09 19:03] desertfire opened #363 "pyhpc_equation_of_state failed after https://github.com/pytorch/torchdynamo/pull/337"
Command to run, `./torchbench.py --inductor -dcuda -k pyhpc_equation_of_state`

Triaged down to this RP, https://github.com/pytorch/torchdynamo/pull/337

The problem seems related to half-precision because the test runs ok if adding `--float32`.

[code]

[2022-06-09 21:09] #341 closed

[2022-06-09 21:12] ezyang commented on #336
Hey @anijain2305 now that dynamo is being installed in PT CI we can start running dynamo on the tests where they are passing. Do you need help turning this on?

[2022-06-09 22:01] anijain2305 commented on #336
@ezyang Yes, I would need some help here. And maybe for first few iterations, we could just run all of PyTorch tests with TorchDynamo. It would be really helpful if we could track the success rate (hopefully improving :-) ) over time.

[2022-06-10 04:01] jansel commented on #363
Thanks, I'll take a look.  I'm not seeing this in my branch, so I may need to cherry pick a fix to main.

[2022-06-10 08:02] shingjan opened #366 "pyyaml missing from requirements.txt"
The below two tests will fail if `pyyaml` is not installed.
[code]

[2022-06-10 14:57] ezyang opened #368 "Dynamo should maintain and reconstruct stack trace of bytecode it is symbolically interpreting"
This will make it possible to directly say what the user python code that caused an error was without requiring trace to be turned on

[2022-06-10 16:11] jansel commented on #368
If you hit `unsupported()` it already does this, it builds the stack here:
https://github.com/pytorch/torchdynamo/blob/85561d0f4f656af71e0f3fa9f56af61466ac8f7c/torchdynamo/symbolic_convert.py#L288

Then it prints out the stack trace using `traceback` here:
https://github.com/pytorch/torchdynamo/blob/85561d0f4f656af71e0f3fa9f56af61466ac8f7c/torchdynamo/exc.py#L36

We should extend this to other typ

[2022-06-10 18:01] ezyang opened #372 "allowed_functions_module_string_ignorelist doesn't work very well"
I noticed that adding torch.utils._pytree to the ignore list wasn't enough to induce dynamo into inlining it; I had to add it to the explicitly excluded functions list.

My hypothesis for why this is happening is that sometimes PyTorch modules accidentally reexport identifiers from other modules. These then get picked up and shoved into the allowlist.

To be honest, it's not clear to me why we ign

[2022-06-10 18:02] #362 closed

[2022-06-10 19:30] voznesenskym opened #373 "Add torchbench correctness testing to CI"
This should cover:

- A few large common models:
  - dcuda and no cuda
  - inductor and no inductor
  - AOTAutograd

[2022-06-10 20:36] voznesenskym opened #375 "./torchbench.py -dcuda --inductor -k BERT_pytorch failing"
Asked for repro, got logs from Bin: https://gist.github.com/voznesenskym/ee1c4339f54683da71f49faaa875502b (cc: @desertfire)

[2022-06-10 22:31] anijain2305 opened #376 "Error with JitTestCase"
Repro

[code]

Fails with

[code]

**NOTE** that it fails only when `pytest` is called  - `pytest test_setstate.py`
If you run with `python test_setstate.py`, it passes.
I have seen around 25 failures with this error message.

cc @mlazos @jansel @voznesenskym

[2022-06-10 22:47] voznesenskym opened #377 "Replace `make setup_nightly` with a requirements.txt workflow to take advantage of GH actions cache"
Doc: https://github.com/actions/setup-python#caching-packages-dependencies

[2022-06-10 23:39] mlazos commented on #376
Discussed a bit offline - what I'm thinking here is that the object is getting serialized in a context where we have patched `__init__` and `__set_state__` and thus has a generation tag and so the serialized data has this tag. Then when it is deserialized, it is deserialized in a context where the patch hasn't been applied, so this assertion is triggered when there is a field in the serialized dat

[2022-06-11 00:18] jansel commented on #363
Root cause of this is https://github.com/openai/triton/issues/543

I'll submit a workaround.

[2022-06-11 01:48] #363 closed

[2022-06-11 01:48] #375 closed

[2022-06-11 02:51] pyjhzwh commented on #353
#364 Fixed

[2022-06-11 02:51] #353 closed

[2022-06-13 04:09] anijain2305 commented on #373
Not sure if this is the right place. But, we will also benefit from a performance benchmark.

[2022-06-13 16:57] jansel opened #389 "Guards for a linked list will be `O(n^2)`"
Suppose the user creates a linked list like data structure.  The guards might be something like:
[code]

Since each line in the guards starts from `f_locals`, accessing the nth item will be `O(n)` and the total guards will be `O(n^2)`.  Something similar might also happen for deep `nn.Module` hierarchies.

We should rewrite how do codegen for guards to include [common subexpression elimination](ht

[2022-06-13 18:29] yushangdi opened #390 "RuntimeError: Found an argument of type numpy.int64 at index 0."
I got the following error when using `aot_module` on model fastNLP_Bert.

RuntimeError: Found an argument of type numpy.int64 at index 0. Non-tensor arguments must be marked static. Please set the static_argnums correctly to mark the argument at index 0 static.

The aot_module is used like below:

[code]

@anijain2305

[2022-06-13 23:01] jansel commented on #366
Fixed by #367

[2022-06-13 23:01] #366 closed

[2022-06-14 17:09] #299 closed

[2022-06-15 22:07] ngimel commented on #332
dlrm, vision_maskrcnn - save constants as cpu tensors and send them to triton kernel.
fastNLP_Bert:
codegen error:
[code]
 tmp0 is not defined

[2022-06-15 22:44] pyjhzwh opened #399 "[Torchinductor] TritonScheduling codegen pop_group() may miss opportunity for adding pointwise with compatible dimensions to reduction"
https://github.com/pytorch/torchdynamo/blob/c30f2364c6ac2767d92da8ef1408ec3b6d7c7630/torchinductor/codegen/triton.py#L617-L620
Should it be
[code]
? Because for pointwise operator, for example pointwise add for 2d tensor, the group is (s0, s0, 1) rather than (s0 * s0, 1). So the other reduction operator may miss the opportunity to fuse them.

[2022-06-15 22:53] jansel commented on #399
https://github.com/pytorch/torchdynamo/blob/c30f2364c6ac2767d92da8ef1408ec3b6d7c7630/torchinductor/codegen/triton.py#L576

For the Triton backend, we group by `product()`.  So the group for a 2D pointwise will be `(s0 * s0, 1)`.  4D iteration will become: `(s0*s1*s2*s4, 1)`.

The only way to get `len(groups)>2` is if tiling kicks in, which will typically be for transpose kernels.
https://github.co

[2022-06-15 22:55] pyjhzwh commented on #399
`pytest tests/test_torchinductor.py -vsk test_sum3_cuda`
The generated code is
[code]
So kernel0 and kernel 1 did not fuse together

[2022-06-15 22:58] jansel commented on #399
https://github.com/pytorch/torchdynamo/pull/314 disables tiling, so if you pull you should see something different.

You are correct that it would be valid to merge a `(s0, s1, 1)` pointwise into a `(s0, s1)` reduction.  If you want, you could try making a PR to enable that.

[2022-06-15 23:00] pyjhzwh commented on #399
My bad. I did not pull the lasted upstream

[2022-06-15 23:06] pyjhzwh commented on #399
In this case, is this redundant? since len(group)==2
https://github.com/pytorch/torchdynamo/blob/c30f2364c6ac2767d92da8ef1408ec3b6d7c7630/torchinductor/codegen/triton.py#L640

[2022-06-15 23:19] pyjhzwh commented on #399
And in test_sum3_cuda of test_torchinductor.py
[code]
Do we expect these 3 operators fused or not together? Currently the pointwise add (a+b) run first, making the following sum reduction (r1.sum(-1)) failed to fused with a+b. Should we give reduction larger priority to pointwise operators?

[2022-06-16 00:37] jansel commented on #399
@pyjhzwh can you try in [my branch](https://github.com/jansel/torchdynamo/tree/inductor) and see it is fixed?

I suspect this will be fixed if you merge #401, #402, and possibly #404.

[2022-06-16 00:45] pyjhzwh commented on #399
test_sum3_cuda is fixed, code-gen only one kernel now. But for test_sum4_cuda, it generates 5 kernels, seems to miss the fusing opportunities of point-wise add and sum reduction. I have not looked into this example, though.

[2022-06-16 00:50] jansel commented on #332
#405 works around the wrong device issue, though both of those models still fail for other reasons.

[2022-06-16 22:54] mlazos opened #412 "Guards evaluated in the wrong order if inner function generates shape guard"
Below code:

`inner_fn` causes a shape guard to be generated which is propagated to `fn`.

On the first run, `fn` has a tensor match guard and a shape guard, but currently tensor match guards are evaluated last. On the next call, calling `.shape` on an int causes guard evaluation to crash.

Code:
[code]

[2022-06-16 23:10] mlazos opened #413 "isinstance returns false for torch.tensors and tuple with torch.tensor entries"
isinstance returns false, even though `t` is a `torch.Tensor`.
Code:
[code]

Traceback (most recent call last):
  File "/scratch/mlazos/torchdynamo/../test/script.py", line 76, in <module>
    test_tensor_isinstance_tuple()
  File "/scratch/mlazos/torchdynamo/../test/script.py", line 72, in test_tensor_isinstance_tuple
    fn()
  File "/scratch/mlazos/torchdynamo/torchdynamo/eval_frame.py", line 8

[2022-06-16 23:22] voznesenskym commented on #412
Just to clarify - Are you saying `___check_type_id(tensor, 94614246866912)` should be before the other checks?

[2022-06-16 23:35] mlazos commented on #412
Yes exactly, but you can't put a blanket "check types before others" ordering because the specific test I was looking at the instance to be checked was part of a list, so you also need to check the length of the list before running the check. My solution was to just add a type guard whenever accessing the shape, and (I think) that was enough to guarantee that it is run before the other shape guard

[2022-06-16 23:44] voznesenskym commented on #412
Not 100% sure, but I think, well, that tensor `___check_type_id` check comes from: `TENSOR_MATCH`.

So, I *wonder* if the .shape comes through as a `ShapeVariable`, would this potentially arise for any property/ any specialization of tensor (`def specialize(value: torch.Tensor):` on TensorVariable`)?

If so, maybe we should ensure that before we write a guard for a tensor property, we always write

[2022-06-17 01:01] anijain2305 commented on #412
I think @voznesenskym is right. It might be because of that `ShapeVariable` which I recently introduced here - https://github.com/pytorch/torchdynamo/pull/387.

Can you try reverting that PR and see if it passes? I might have overlooked the guards here.

[2022-06-17 01:20] mlazos commented on #412
Yes I agree, I haven't been able to get it to happen with other attributes, but only tried for a little a while, but the fix is easy enough in my PR, I can move the type guard so that it adds it for any attribute.

[2022-06-17 01:52] shingjan opened #416 "tacotron2 and pytorch_struct not giving any output"
My repro:
[code]

All dependencies are installed as tacotron2 requires librosa and soundfile additionally. There is no standard out/error for the above two models with both `eager` and `--speedup-ts`. Is this expected?

[2022-06-17 05:06] jansel commented on #416
`tacotron2` is GPU-only you may need to add `-d cuda`.  You are likely hitting this line in torchbench:
https://github.com/pytorch/benchmark/blob/92c20c6aeea7a5c9301c9ec1c3d22178f6533cf7/torchbenchmark/models/tacotron2/__init__.py#L27

What exact command are you running for pytorch_struct?  It seems to work for me.
[code]

No output usually means you are hitting this line:
https://github.com/pytor

[2022-06-17 07:24] shingjan commented on #416
Thanks for the prompt reply @jansel! I tried raising the error and got the following:
[code]

This actually seems to align with what I saw on the torchbenchmark side while testing. Do you have a fix for this on your torchbench branch?

[2022-06-17 15:02] jansel commented on #416
Perhaps it is fixed in [my branch](https://github.com/jansel/benchmark/) by the changes to `torchbenchmark/util/model.py`.

[2022-06-17 19:08] #412 closed

[2022-06-17 19:08] #413 closed

[2022-06-17 20:48] mlazos opened #419 "Tests fail in CI but pass locally"
Steps:
Checkout `mlazos/disallow-dtype`
Run tests locally (they pass)
Yet the checks fail (https://github.com/pytorch/torchdynamo/pull/394) with hundreds of failures

[2022-06-17 23:49] mlazos opened #420 "Length guards are not generated when a list/tuple is a value in a dict"
When a dict containing list/tuple values is passed to a function, guards are not generated for the list/tuple

Code

[code]

Compile output missing the proper guards:

[code]

[2022-06-17 23:50] mlazos commented on #419
This is due to a difference in pytorch versions which did not contain some of the `dtype`s in question.
Thanks @anijain2305 and @voznesenskym for help on this.

[2022-06-17 23:50] #419 closed

[2022-06-18 01:01] #354 closed

[2022-06-18 19:59] #420 closed

[2022-06-21 17:01] voznesenskym opened #435 "Graph break on const dict iter"
[code]

Raises:

[code]

[2022-06-21 17:45] voznesenskym commented on #435
Yea I gave it a skim - I think we just need to implement
unpack_var_sequence. I plan to give it a go later tonight or tomorrow

On Tue, Jun 21, 2022 at 10:43 AM Jason Ansel ***@***.***>
wrote:

[2022-06-21 20:06] xuzhao9 commented on #416
`pytorch_struct` doesn't have eval test because it is a self-supervised learning model.

[2022-06-21 21:07] shingjan commented on #416
@xuzhao9 Thanks for the pointer! @jansel Is that the case that [pplbench_beanmachine](https://github.com/pytorch/benchmark/issues/898) is expected to be skipped in benchmark as well? Just wonder if there is any update on that thread.

[2022-06-21 21:49] shingjan opened #439 "Model opacus_cifar10 failed at jit.trace"
My repro:
[code]
Stacktrace:
[code]
But running this model in `eager` mode is fine. Is that the case that this model shouldn't be jit-traced?

[2022-06-21 21:50] xuzhao9 commented on #416
@shingjan pplbench_beanmachine has been removed from torchbench because of low quality (https://github.com/pytorch/benchmark/pull/968)

[2022-06-21 22:06] #435 closed

[2022-06-21 22:10] voznesenskym opened #440 "Graph differences from imports"
Running tests with different pytest commands results in different graphs, different bytecode, etc.

I suspect monkeypatching.

Details: https://www.internalfb.com/intern/bigdiff/?original=P511019172&modified=P511019243&language=python

My apologies to the non Meta folks reading this, I know of no good free online paste-diff tool.

[2022-06-21 22:22] voznesenskym commented on #440
The "skipping cross_entropy /data/home/voz/.local/lib/python3.8/site-packages/functorch/_src/monkey_patching.py" is suspicious, its certainly causing cross_entropy to not be in the graph

[2022-06-21 22:29] jansel commented on #440
Ah interesting.  cc @Chillee @zou3519

[2022-06-21 22:55] #416 closed

[2022-06-21 23:08] voznesenskym commented on #440
That might fix it, but that's just a symptom of a bigger underlying issue, which is that imports and inclusions change the graph that is produced in unexpected ways.

[2022-06-22 01:01] voznesenskym commented on #440
I believe https://github.com/pytorch/torchdynamo/pull/444/files alleviates current test weirdness, but it's by no means a good long term solution.

[2022-06-22 01:16] jansel commented on #440
IMO functorch should not do monkeypatching on import.  People don't expect `import X` to have side effects.  Doing it on first call seems cleaner.

[2022-06-22 07:27] jansel commented on #439
You might be able to get it to pass by alternating jit.script/jit.trace (or remove the hooks and then trace it).  In general not all graphs captured by TorchDynamo will be TorchScriptable.

[2022-06-22 15:11] zou3519 commented on #440
I agree. functorch (and other libraries in general) shouldn't be doing monkeypatching at all. The monkeypatching is tech debt left over from our early prototype days

[2022-06-22 16:44] desertfire opened #447 "[torchinductor] Add a counter to record the number of generated kernel"
This should help to check our fusion unit tests do fuse kernels as we expected.

[2022-06-22 17:37] zou3519 commented on #440
We've deleted the cross_entropy monkeypatch from functorch (https://github.com/pytorch/functorch/pull/901). There are two more (`_tensor_str` and Tensor.backward) that are a bit tricker to delete (we need to upstream some logic into pytorch/pytorch). We can plan to fix them for 1.13, but if those are also blocking you we can prioritize them.

[2022-06-22 22:56] shingjan commented on #439
@jansel @xuzhao9 Thanks for the reply! It makes sense that if jit is not implemented for a specific model, then that model may not be transformed into TS. But there are a bunch of models in torchbench with jit not implemented, like `hf-bart`, but I only hit this error with `opacus_cifar10` so I wonder if this error has something specific to do with compiling?

My second question is that if torchdy

[2022-06-23 02:21] jansel commented on #439
I believe currently if the backend throws an exception, TorchDynamo will fall back to eager for the subgraph.
https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/output_graph.py#L330

You should not count on this behavior.  We may change this to errors in the future.  I would suggest a pattern like:

[code]
Which gives you more control over errors.

[2022-06-23 03:03] jansel commented on #439
https://github.com/pytorch/torchdynamo/pull/451 will turn backend exceptions into torchdynamo exceptions.

[2022-06-23 19:40] voznesenskym opened #452 "Add support for `torch.cuda.is_available()` and `torch.cuda.current_device()`"

[2022-06-23 19:44] voznesenskym opened #453 "Catch value errors if cell in match_nested_cell is empty"
[code]

[2022-06-24 17:42] yanboliang commented on #156
We hit our 100% goal! To whom might be interested in details of the errors, graph and graph break characteristics, model complexity, etc, please check our post [TorchDynamo Update 8: TorchDynamo passed correctness check on 7k+ github models](https://dev-discuss.pytorch.org/t/torchdynamo-update-8-torchdynamo-passed-correctness-check-on-7k-github-models/663).

[2022-06-24 18:46] voznesenskym opened #458 "Add support for `named_modules` (iterating, etc)"
Sample failing code from MinGPT:

[code]

[2022-06-24 18:47] voznesenskym commented on #156
Fantastic! There's also a lot of good low hanging fruit in nopython=True, fwiw, do we have plans to run that and group the most common errors?

[2022-06-24 23:16] jerryzh168 opened #460 "Support capturing fully qualified name of a submodule"
I'm trying to see how we can implement quantization on subgraphs captured by torchdynamo. In quantization, we have configurations specified for submodules:
for example:
[code]
Full prepare_fx API can be found in https://pytorch.org/docs/master/generated/torch.quantization.quantize_fx.prepare_fx.html#torch.quantization.quantize_fx.prepare_fx

So we need to know the fully qualified name of a submodu

[2022-06-25 21:25] pyjhzwh commented on #399
Solved by recent PRs

[2022-06-25 21:25] #399 closed

[2022-06-26 00:07] jansel commented on #460
I think it would be possible to capture this.  Though TorchDynamo can also capture code not organized with `nn.Modules`, so there might be some ambiguity here.  We might need some sort of heuristic to assign names if there isn't a single root module.

One workaround would be something like:

[code]

Then you can lookup the name of a module when you see it.

[2022-06-27 06:54] voznesenskym opened #462 "Add support for torch.nn.quantized.modules.FloatFunctional"

[2022-06-27 19:59] kevinstephano opened #466 "Assertions Found in HuggingFace's T5 Model"
I am seeing a stack trace error in TorchDynamo that looks like it might be from this code in the T5 model.  I will note that I specifically edited the model to remove the Cuda Extension for RMSNorm that also produced an error in an attempt to better isolate the issue.  The Cuda Extension added an error as well that is not shown here.

File "/opt/conda/lib/python3.8/site-packages/transformers/model

[2022-06-27 20:02] jansel opened #467 "Fake tensor error from `aten._cudnn_rnn`"
cc @eellison

[code]

[code]

[2022-06-27 20:05] jansel commented on #467
Ah, thanks -- I'll pull and try again.

[2022-06-27 22:44] kevinstephano opened #468 "HuggingFace Bert Phase2 Training is not able to use the same batch size between Eager Mode and TorchDynamo Usage"
Since this might be commit dependent as things improve, I checkout out commit `5fb502660e52a2e1f93ab0f148fd8776e1b56297`

As of this commit I am still seeing TorchDynamo exceed eager mode memory requirements.  Eager mode is consuming around `35,584 GB` on an A100 40GB card for HugggingFace Bert-Large Phase2 Pretraining.  This model uses a batch size 16 and a sequence length of 512.  You can view i

[2022-06-27 23:09] anijain2305 commented on #468
cc @eellison

[2022-06-27 23:10] jansel commented on #467
@eellison I am still getting this after pulling.

[code]

[2022-06-27 23:14] jansel commented on #466
Looks like we don't handle `torch.finfo()`, should be an easy fix I'll submit a patch.

[2022-06-27 23:33] jansel commented on #466
@kevinstephano I believe #470 should fix this one.

[2022-06-27 23:43] jansel commented on #468
What version of PyTorch are you using?  I believe the FakeTensor stuff requires both the latest PyTorch and TorchDynamo.  @eellison will know the details though.

[2022-06-28 00:21] eellison commented on #468
Yea, @kevinstephano what pytorch version are you on ? I

[2022-06-28 00:35] #466 closed

[2022-06-28 01:56] kevinstephano commented on #468
This was TOT as of evening of 6/26:

[code]

[2022-06-28 02:22] kevinstephano opened #473 "Guard Failures in T5 Model"
In addition to the `torch.finfo` issue, that I verified was fixed, there remains several guard failures.  Are these unique instances or the hierarchy of the failure?

The last guard failure provided the most specific point in the code dealing with the shape of the input linear matmuls of the multihead attention block:

[code]

[code]

How to reproduce (the script automatically installs HuggingFace

[2022-06-28 04:52] yanboliang commented on #156
Yes, that's exactly what I mentioned at "Future Work" section!

[2022-06-28 16:58] jansel commented on #473
@yanboliang will take a look at this.

cc @wconstab perhaps we should de-duplicate these guard failure error messages.

[2022-06-28 20:48] Chillee commented on #468
It's possible we also need to enable FakeTensor tracing in AOTAutograd + add the list-clearing stuff to it as well.

[2022-06-28 21:08] Chillee commented on #468
I guess FakeTensor in AOTAutograd is only needed if you want to *improve* the memory usage.

[2022-06-28 22:09] desertfire commented on #280
Already solved in https://github.com/pytorch/torchdynamo/pull/304

[2022-06-28 22:09] #280 closed

[2022-06-28 22:17] Chillee commented on #468
Actually, the list-clearing PR doesn't seem to solve the problem when using Torchscript - it seems like Torchscript is still holding onto the operations being run.

[2022-06-29 00:40] wconstab commented on #473
i have 2 questions about what the best ux would be for the cache limit
 - should we print 64 separate causes when limit = 64, or should we just print the cause of the most recent failure and assume the previous failures would have been similar or else you could use another tool to find them
 - assuming we print the 64 separate cases, why are they all the same? i assume we're currently storing only

[2022-06-29 00:59] yanboliang commented on #473
I think the current guard failure reason printed is not accurate, it tells us ```___check_obj_id``` succeed actually, but if I enable ```TORCHDYNAMO_PRINT_GUARDS```, then the real reason unveiled:
[code]

The ```module id``` is different every time, which caused the guard failed.

[2022-06-29 01:30] voznesenskym commented on #473
https://github.com/pytorch/torchdynamo/pull/335 might help debug issues like this in the future. That PR is approved but I'm not sure I'm fully happy with it yet, and it's no high priority.

[2022-06-29 01:44] kevinstephano commented on #473
I might not be the intended audience for the error messages, but I was curious to know what the guard errors and cache limit error are intended to tell you?

[2022-06-29 02:12] ezyang opened #477 "create skip leaks CacheEntry"
[code]

set extra doesn't deallocate the previous extra entry of f code. If it was a cache entry, that means it will be leaked.

[2022-06-29 03:47] wconstab commented on #473
The point of the errors is to let you know why you are hitting the cache limit and empower you to either change the limit or change your model, if either is an option.  (Scenario 1: cache limit is 1, but your model uses 12 buckets.  you could justifiably set the cache limit to 12.  Scenario 2: your model is recompiling bc of some object id mismatch, but that isn't intentional.  You might be able t

[2022-06-29 18:00] ezyang opened #481 "TypeError: <lambda>() takes 0 positional arguments but 1 was given"
Steps to reproduce:
1. checkout https://github.com/ezyang/torchdynamo/tree/weirdlambda
2. run `python tests/test_recompile_ux.py -k test_drop_cache_on_skip`

I get this weird error:

[code]

It would be good to figure out why the TypeError makes no sense

[2022-06-29 18:14] voznesenskym commented on #481
I can take a look at this.

[2022-06-29 18:24] ezyang commented on #481
This is a problem in my code! Sorry about false alarm

[2022-06-29 18:24] #481 closed, assigned to voznesenskym

[2022-06-29 18:31] ezyang opened #482 "use lintrunner for linting"
cc @suo

Right now the makefile format command doesn't match what ci runs

[2022-06-29 18:36] jansel commented on #482
It should be consistent with TorchDynano CI.  You may need `make lint-deps` to get the right version of black, as the torchbench installers clobber package versions.

There is a seperate issue it doesn't match PyTorch core CI, which we should fix,

[2022-06-29 19:12] yanboliang commented on #473
Update on guard failure root cause:

T5 model uses apex ```FusedRMSNorm``` to replace ```T5LayerNorm``` at [here](https://github.com/huggingface/transformers/blob/776855c75275484a971d450a1a0dd4c5c8b5727b/src/transformers/models/t5/modeling_t5.py#L265). The ```FusedRMSNorm``` implementation regenerates a new [```FusedRMSNormAffineFunction```](https://github.com/NVIDIA/apex/blob/3ff1a10f72ec07067c4e

[2022-06-29 19:38] #477 closed

[2022-06-29 21:01] shingjan opened #485 "Running Model demucs got killed with no exception thrown at Backend"
Repro:

[code]

Seems like this model from torchbench is unstable meaning sometimes the run succeeds but sometime the run will get Killed with no exception thrown at the backend. Is this expected or do we have a workaround here?

[2022-06-29 22:42] #447 closed

[2022-06-29 22:59] desertfire opened #490 "[inductor] Debug the perf problem for pyhpc_turbulent_kinetic_energy"
On Jason's recent note, pyhpc_turbulent_kinetic_energy is 0.68x with TorchInductor vs. 3.90x with NVFuser

[2022-06-30 00:11] eellison opened #491 "analysis.has_mutation version tracker does not capture all mutation"
[code]

Since `ShapeAliasingAndMutationProp` exclusively uses `_version` to capture mutation it does not capture all mutation. I'm still not yet sure when `_version` gets updated.

[2022-06-30 00:33] eellison commented on #491
According to @ezyang `Metadata change won’t increase count` so we also want to extend checking to check for `inplace_view` ops as well as `resize_`.

[2022-06-30 16:47] #468 closed

[2022-06-30 18:44] wconstab commented on #473
@jansel I realized these are not actually 'duplicates' in a strict sense.
(1) there is one failure per cache miss
(2) the failures are not identical, since 'self' is different each time
(3) the print for 'check_obj_id' doesn't print the actual id for 'self', hence it looks like a duplicate

I think we can improve (3), but I also think it is generally not helpful to see the whole set of failures so

[2022-06-30 20:52] pyjhzwh opened #495 "test_torchinductor failed for RuntimeError: "slow_conv2d_cpu" not implemented for 'Half'"
`pytest tests/test_torchinductor.py::GpuTests::test_alexnet_prefix_cuda`
It will throw `RuntimeError: "slow_conv2d_cpu" not implemented for 'Half'`

If I set torchdynamo.config.fake_tensor_propagation as False. The error is gone.

python 3.9.12
pytorch 1.13.0
cuda 11.6

[2022-06-30 21:29] yanboliang commented on #473
Update 2 on guard failure root cause:

I have identified the root cause, actually this is not a bug. ```__getitem__``` function was called multiple times on different objects, so it should not hit cache. The architecture of transformer T5 model is sth like:
[code]
This is a ```t5-large``` model, ```num_layers``` is 24. So it will generate 48 unique ```T5Block``` and ```__getitem__``` will be calle

[2022-06-30 21:46] kevinstephano commented on #473
Is there any reason not to just raise the `cache_size_limit`?  This is a pretty standard sized Transformer Model.  The typical Bert-Large model is also a 24-Layer model and not really considered large any more.

[2022-06-30 21:56] yanboliang commented on #473
You means raise the default value? I think we should. Torchdynamo should works well on these very typical models. But I'm new to this project, I don't know if there is historic reason that you set the default value as 64. @jansel

[2022-06-30 21:58] wconstab commented on #473
I think in this case that just papers over the underlying issue.  Raising the cache limit means recompiling more often.  It would be parasitic to your overall performance, especially in the limit if you recompile once per iteration for some reason.

Instead, we should be identifying reasons for spurious recompilation and try to avoid them by better tuning what we guard on for instance.

(But for n

[2022-06-30 22:00] eellison commented on #495
Should be fixed with https://github.com/pytorch/pytorch/pull/80193. Upgrade to more recent pytorch.

[2022-06-30 22:00] #495 closed

[2022-06-30 22:10] jansel commented on #485
Is it running out of memory and getting killed by OOM?

For a baseline, you could also try:
[code]
This will run TorchDynamo frontend with TorchScript backend, which might be a more fair comparison to TVM as it will get the same graphs as input.

`--speedup-ts` runs the older `torch.jit.script` frontend which we are not actively investing in improving.

[2022-06-30 22:23] shingjan commented on #485
It is not really reg fault. The only output I got is `Killed` so my guess it is a OOM issue likely. Will try with `--backend ts`. It's good to know that `--speedup-ts` is going to be deprecated.

[2022-06-30 23:00] mlazos opened #497 "FakeTensor creation doesn't copy grad attribute"
When wrapping a tensor, the grad attribute isn't copied. This can result in some CONSTANT_MATCH guards getting created for tensor variables because the type of the `grad` attribute will be `NoneType` for the FakeTensor, but during guard compilation the type of the `grad` attribute will be `Tensor`. The assertion here: https://github.com/pytorch/torchdynamo/blob/b3c3b9e4d99fad06ef8ec1a90b5321f502c9

[2022-06-30 23:11] ngimel commented on #491
huh, `resize_` doesn't increase version even when data changes
[code]
You cannot backward though `resize_` so it may be nbd though

[2022-07-01 00:54] jansel commented on #467
Thanks Elias!

[2022-07-01 01:30] malfet commented on #467
Reverted https://github.com/pytorch/pytorch/pull/80545 a min ago as breaking ROCm...

[2022-07-02 17:54] jansel commented on #490
Will this change affect the performance here: https://github.com/pytorch/benchmark/pull/997

I believe it removes the input mutation.

[2022-07-03 18:17] voznesenskym opened #503 "torchbench not running, bug with -dcuda --inductor"
[code]
This should be `.update("foo", "pyhpc_equation_of_state").

I would fix it myself, but I am not sure what the key should be.

[2022-07-03 19:24] jansel commented on #503
I believe this was fixed in https://github.com/pytorch/torchdynamo/pull/475/files#diff-e276483f1762edf99982ff35ffe366276f6f00cc6147a1627e544a68e87e22bfR103

[2022-07-04 04:51] jansel opened #511 "TorchInductor failing training models tracker"
Currently, 31 models are passing `torchbench.py -d cuda --indcutor --training --float16` mode, this issue tracks the ones that don't work.  For reproducing you should use my `inductor` branch or merge all my pending PRs into your working tree.  Note that due to `dropout()` RNG differences we don't expect accuracy checks to work for many models.

We are still using a lot of fallbacks, and some work

[2022-07-04 16:38] ezyang commented on #491
The data didn't "change" though; if we saved a tensor alias referencing x, the `resize_` would not have actually changed the data

[2022-07-05 22:06] shingjan commented on #439
@jansel seems like `pytorch_stargan` is not working with any backends on your branch [here](https://github.com/jansel/benchmark/blob/be4fe4856a0bf2481d18826e2e761fd4f0f34845/torchbenchmark/models/pytorch_stargan/__init__.py#L34) with cpu/llvm as compilation target. is this intentional or this model skipped?

[2022-07-05 22:49] jansel commented on #439
It looks like `pytorch_stargan` is configured as cuda-only and seems to work fine on GPU:
[code]

Perhaps there was an upstream change to disable `pytorch_stargan` on CPU?  @xuzhao9 might know.

[2022-07-06 15:25] #490 closed, assigned to desertfire

[2022-07-06 15:31] desertfire opened #515 "[inductor] Debug the perf problem for pytorch_stargan"
The inference perf is 0.64x vs. 1.58x from NVFuser

[2022-07-06 18:02] desertfire commented on #515
After running `nsys prof`, the following line stood out in the profiling report,

[code]

[2022-07-06 20:17] desertfire commented on #515
Hmm, I use the same command line. What's your CUDA version? I use 11.6

[2022-07-06 21:15] ezyang opened #516 "torchdynamo.optimize context manager is misleading"
As we only interpose when a new frame is begun, the directly inlined code inside the context manager will never get dynamo compiled. This can be quite confusing for users. We should encourage use of the decorator or a higher order function that takes a function as argument to be called.

[2022-07-06 21:29] voznesenskym commented on #516
For reference: `export`, a new experimental feature, takes the function as an argument to be called.

[2022-07-06 22:35] wconstab opened #517 "dynamo reconfigures logging underneath user"
It appears that after running torchdynamo, the behavior of logging is altered.  I wouldn't expect this from a client perspective.

In the repro below, only the following prints: `INFO:__main__:Hello`, but never "Goodbye"

Torchdynamo does configure the logger extensively:
https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/utils.py#L39

So i'm not sure what the best fix is, to balance use

[2022-07-06 22:49] voznesenskym commented on #517
I can take a look, I'm relatively
blocked on other stuff today.

[2022-07-06 22:57] desertfire commented on #515
https://github.com/pytorch/torchdynamo/pull/518 doesn't provide much perf gain. I think `FillFunctor` is still the main problem. @ngimel , I would appreciate your insights on which ops could introduce those.

[2022-07-06 23:05] ngimel commented on #515
P514136351 - the profile for the inductor-optimized workload doesn't show any fill kernel, but for some reason even with cuda graphs there's a lot of white space on the GPU timeline, I don't really understand why

[2022-07-07 01:05] voznesenskym commented on #517
One more example, ... and @wconstab there's actually a more malicious pattern here, check this out:

[code]

This also does not print goodbye! Making for a rather poor UX.

Now, I have a fix which makes the example in this comment work, however, I have not figured out a fix to make your example print `Goodbye` correctly. Would we be interested in landing a partial fix?

[2022-07-07 01:43] Chillee opened #519 "Errors for AOTAutograd"
Test command: `./benchmarks/torchbench.py -dcuda --accuracy-aot-nop --inductor-settings --float16  --only model`

- [x] https://github.com/pytorch/functorch/issues/586
"tts_angular",
"demucs",
"tacotron2", # also has an issue with normalize_ir()

- [x] https://github.com/pytorch/torchdynamo/issues/80
"hf_BigBird",

- [x] https://github.com/pytorch/pytorch/issues/81529
"speech_transformer",

- [x]

[2022-07-07 01:53] jansel commented on #517
This is coming from here: https://github.com/pytorch/torchdynamo/blob/9630624b5a870566786a991dc653edb7d9e5a6d0/torchdynamo/utils.py#L70

[2022-07-07 02:52] voznesenskym commented on #517
Yes. Calling shutdown and importlib reloading logging partially fixes it, but I've noticed found a way to restore the prior logging config.

[2022-07-07 02:52] ngimel commented on #515
Yep, cuda graphs are not used due to mutated inputs, so, even though inductor compiles reasonable kernels whereas it looks like ` --backend aot_autograd` doesn't pick up any fusions at all, the resulting time for inductor is larger due to poor gpu utilization + python overhead (aot autograd goes to torchscript and thus is faster purely due to python overhead removal).
@desertfire do you see any ke

[2022-07-07 03:40] Chillee commented on #511
These errors are probably because these models were not set up to support changing the dtype to `fp16`.

[2022-07-07 03:42] jansel commented on #516
Yeah I agree, switching to the decorator syntax might be better.

[2022-07-07 03:53] jansel commented on #517
I think we just need to set `"disable_existing_loggers": False` in the config dictionary.

[2022-07-07 04:32] jansel commented on #515
A hrm, will need to bisect this one.  My first guess is I set the config for max_tiles to 2 in my branch, which may not play nice with some indexing dependency changes.

[2022-07-07 14:37] desertfire commented on #515
I was looking at inference only, since this is the last torchbench test that we show a slowdown instead of improvement. This is the command line that I got from Jason,`./benchmarks/torchbench.py --cosine -dcuda --float16 --isolate -n50 --backend=cudagraphs_ts --nvfuser -k pytorch_stargan`.

[2022-07-07 17:23] Chillee commented on #519
hf_Bart fixed by https://github.com/pytorch/pytorch/pull/81024

[2022-07-07 21:38] desertfire commented on #515
Discussed with @ngimel offline, the gaps we are seeing between kernels are likely because of Triton kernel launch overhead. If I comment out https://github.com/pytorch/torchdynamo/blob/5f2f374d9bbc6374fe725a17182e7d4c270c6833/torchinductor/compile_fx.py#L143, the perf will become 1.4x.

Given torchinductor is working in the framework of torchdynamo, is there any way we can relax this input mutatio

[2022-07-07 23:14] ngimel commented on #515
@jansel where's the code that avoids copying parameters to cuda graphs static inputs? As you've suggested we should cross-reference mutated inputs against not-copied list to make cuda graphs more permissive

[2022-07-07 23:25] Chillee opened #525 "TorchDynamo sometime takes very long to symbolically interpret stackframes."
Looking at Bram's example

Example accessible internally: https://www.internalfb.com/phabricator/paste/view/P514325083

From @voznesenskym

[2022-07-08 04:11] jansel commented on #515
For training the non-copied params are computed in these two places:
https://github.com/pytorch/torchdynamo/blob/39302c40a24ab574679a52655dc3d56dab59bc8c/torchinductor/compile_fx.py#L248
https://github.com/pytorch/torchdynamo/blob/39302c40a24ab574679a52655dc3d56dab59bc8c/torchinductor/compile_fx.py#L244

In each of those cases, the first N params are fixed and not copied.

For inference, the non-c

[2022-07-08 06:40] tiandi111 opened #529 "Is there a plan for adding support to track third party libraries calls?"
Hi TorchDynamo Community,

I'm wondering if there is a plan for adding support to track and compile third party library calls? Currently, we can only track torch-related functions, however, there're other libraries such as numpy and opencv, that is frequently used in training and inference pipelines and calls to these libraries often take significant amount of time to complete. It could open up mo

[2022-07-08 12:42] desertfire opened #530 "[inductor] pytorch_struct training failure"
Can be reproduced with `./benchmarks/torchbench.py -d cuda --inductor --training --float16 -k pytorch_struct` on the torchdynamo tip.

[code]

[2022-07-08 19:31] desertfire commented on #530
https://github.com/pytorch/torchdynamo/pull/532 solves the assertion.

The new error is,
[code]

We need to add the support for `scatter_add`.

[2022-07-08 21:51] pyjhzwh opened #535 "import benchmark may use other packages other than torchdynamo/benchmarks"
Inside subdirectory of torchdynamo, when I run `import benchmarks`, it seems that python could not always import the correct benchmarks package(torchdynamo/benchmarks). Sometimes it will import from `python3.9/site-packages/benchmarks`. Should we rename benchamarks to be unique (like torchdynamo_benchmarks) to avoid the confusion?
[code]

[2022-07-09 06:08] hassan11196 commented on #64
Is there any support for windows? I am trying to run torchdynamo on windows.
I had to remove the unlikely attribute in _eval_frame.c to build the python package.
Now its just printing this and then it crashes.

`DEBUG CHECK FAILED: torchdynamo/_eval_frame.c:531`

P.S Apologies if this is not the appropriate place to ask.
Thank you.

[2022-07-09 07:45] voznesenskym commented on #64
I think this thread is probably it, but @jansel would know more.

`unlikely` is just `__builtin_expect` which is for cpu pipelining and branch prediction optimization. There is no windows equivalent, iirc. You can no-op it, but removing it would regress platforms that support it.

L531 is https://docs.python.org/3/c-api/init.html#c.PyThread_tss_create, and the function it is in follows the `PyInit

[2022-07-09 16:46] jansel commented on #529
Hi @tiandi111,

We do not currently plan to capture third party libraries like numpy, though it would be relatively easy to extend TorchDynamo to capture them.

For getting additional functions to be captured, you can call `torchdynamo.allow_in_graph(my_custom_function)`.  If your function returns a `torch.Tensor`, this should be all you have to do to add your custom ops to TorchDynamo captured gr

[2022-07-09 17:22] jansel commented on #64
AFAIK nobody has tested on Windows, though because TorchDynamo is mostly Python I'd expect it to be an easy thing to port.

For `unlikely`, you submit a PR to add an `ifdef` for windows that just does `#define unlikely(x) (x)`

The `PyThread_tss_create` error is interesting in that it is just doing boilerplate Python module initialization and hasn't even started doing anything TorchDynamo related.

[2022-07-10 04:06] jansel commented on #530
I suspect `scatter_add` will look similar to `index_put_(..., accumulate=True)`, which we already support.  Perhaps we can decompose it to that?

[2022-07-10 04:20] jansel commented on #535
The other option here would be to add benchmarks to `setup.py`

[2022-07-10 04:36] yanboliang opened #538 "2 Torchbench models failed when unspec int/float is default"
I run torchbench with the [unspec int/float features](https://github.com/pytorch/torchdynamo/pull/520) and found some bugs. I'm fixing several easy bugs at https://github.com/pytorch/torchdynamo/pull/539, but there are still two models doesn't work well.

* Super_SloMo
[code]

* vision_maskrcnn

Failed the correctness check

[2022-07-10 19:00] jansel commented on #538
@yanboliang we should disable #520 until these bugs are fixed.  TorchBench not working will prevent us from running experiments.

[2022-07-10 19:52] jansel opened #544 "detectron2 models in torchbench fail in TorchDynamo"
https://github.com/pytorch/benchmark/pull/955 added a bunch of new benchmarks to torchbench.

It seems that these new models are failing if you run
[code]

The failures are:
- detectron2_fasterrcnn_r_*, detectron2_maskrcnn_r_*: `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu! (when checking argument for argument max in method wrapper_cla

[2022-07-10 20:00] jansel opened #545 "`UnboundLocalError: ___random_values_0' from hf_Bart"
Repro:
[code]

Output:
[code]

[2022-07-10 20:02] jansel commented on #545
@yanboliang this may be caused by #392

[2022-07-11 05:06] yanboliang commented on #545
Thanks for catching this, I'll assign this to me and dig into this.

[2022-07-11 14:12] ezyang opened #550 "torchdynamo needs to graph break for resize_ calls to AOTAutograd based backends"
Repro:

[code]

Fails with

[code]

Even if the partitioner handled this correctly, it's not possible to mutate the metadata of input arguments to an AOTAutograd invocation (since AOTAutograd creates copies of the tensors for the inputs).

We could force `resize_` to unconditionally graph break but this seems bad in cases where AOTAutograd is not involved

[2022-07-11 14:12] ezyang commented on #550
cc @Chillee

[2022-07-11 19:44] desertfire commented on #530
I was working on that direction, but after a few local tries, I think the semantics difference between the two makes it awkward to write `scatter_add` as a simple decomposition. I will try to add its support in lowering, by borrowing some logic from `index_put_`.

[2022-07-12 06:55] shingjan opened #556 "accuracy issue with resnet50_quantized_qat"
Hi, I am trying to do some benchmark on one of the models from `torchbench` and it seems that both `onnxrt` and `tvm` will throw the `INCORRECT` flag on model `resnet50_quantized_qat`. My repro is as follows:
[code]

For onnxrt, the cosine similarity is 0.9999999403953552. For TVM it is 0.9992556571960449. I wonder if it is expected and if we should use cosine similarity for quantized models like

[2022-07-12 14:18] desertfire commented on #530
Another problem after fixing `scatter_add`,

[code]

[2022-07-12 15:50] desertfire opened #557 "[inductor] hf_Bart training failure"
Failing with KeyError: torch.float16. This is an issue of CPU tensors appearing in the graph and then failing to codegen float16 CPU backend code. Not sure where the CPU tensors are coming from.

[2022-07-12 18:34] desertfire opened #559 "[inductor] Background_Matting training failure"
Failing with RuntimeError: CUDA: Error- invalid value

[2022-07-12 18:36] desertfire commented on #559
The problem can be reproduced with the following simplified Triton code,

[code]

[2022-07-12 19:19] jansel commented on #559
Is this just a Triton bug?

If so we should remove the `pointwise_heuristics` wrapper and submit a bug to openai/triton.

[2022-07-12 19:23] jansel commented on #559
This kernel just looks like a tiled memcpy.  I am surprised it fails.

[2022-07-12 19:41] desertfire commented on #559
It has something to do with autotuning config at this line, https://github.com/pytorch/torchdynamo/blob/62e7e1db7ffe6a142dd924e6776772dbe021297f/torchinductor/triton_ops/autotune.py#L134

I suspect it's because YBLOCK is too large, i.e. (262144/4) = 65536 is reaching some limit in Triton. I don't know if we should call it a Triton bug or because we are using an invalid config for auto-tuning.

[2022-07-12 19:45] jansel commented on #559
In that case it will be `YBLOCK=4`

[2022-07-12 19:59] desertfire commented on #559
I am imagining `YBLOCK` is used by Triton to calculate how many "threads" to launch, and then when `ynumel` is 262144, `ynumel/YBLOCK` somehow becomes "too large"?

[2022-07-12 20:03] jansel commented on #559
`ynumel/YBLOCK` will become the grid size, not the thread size.

[2022-07-12 21:21] ezyang commented on #482
I guess I'll submit a patch for the flake8 problem

[2022-07-12 21:46] desertfire commented on #559
Filed https://github.com/openai/triton/issues/580

[2022-07-12 21:52] #545 closed

[2022-07-12 22:49] desertfire commented on #530
This one is a bit hard to debug. Running the generated Triton code individually does not trigger the error. The stackdump seems to suggest this `kernel9` is problematic, but I don't see anything obviously wrong.

[code]

Also I found the error does not exist if we use --float32.

[2022-07-12 23:37] jansel commented on #530
Are you using the latest triton?

[2022-07-12 23:38] desertfire commented on #559
https://github.com/pytorch/torchdynamo/pull/562

[2022-07-13 04:28] ezyang opened #565 "SystemError: error return without exception set"
I wanted to make it easier to unconditionally turn on torchdynamo when testing random scripts, so I added this to my `torch/__init__.py`

[code]

When I run `test/test_torch.py` with this, I get some odd errors at initialization:

[code]

The script seems to continue to run, so this doesn't seem too damaging, but it would be nice to work out what is causing this problem.