[2022-08-25 03:12] ezyang commented on #1001
@Chillee IMO we should also disable untracked tensors when make_fx is being run in a dynamo context, untracked tensors are ALWAYS a bug in this situation

[2022-08-25 04:09] suo opened #1009 "Dynamo WONT CONVERT for torch.onnx.is_in_onnx_export"
Found in detectron, small repro:
[code]
prints
[code]

[2022-08-25 04:14] suo opened #1010 "Dynamo WONT CONVERT for is_fx_tracing()"
Probably the same as #1009. Repro:
[code]
returns
[code]

[2022-08-25 04:25] suo opened #1011 "Large number of WONT CONVERTs on detectron 2 model"
Repro: n2409433.

Dynamo is really choking on this model—there's many WONT CONVERTS and as a result we only get 17 ops out of the whole thing. I pulled out #1010 and #1009 into self-contained repros, but the rest of them probably need someone to look at the model directly.

[2022-08-25 05:24] jansel commented on #1010
Woops sorry @voznesenskym didn't see you claimed it

[2022-08-25 05:27] jansel commented on #1011
For WONT CONVERTs just the list of method names in the `torch.*` namespace should be enough to do a fix.  The error log should have those.  #1012 fixes those two.

[2022-08-25 05:28] suo commented on #1011
The other WONT CONVERTs aren't from `torch.*` methods—there's are a bunch of exceptions/asserts in dynamo internals (and interestingly, one infinite recursion)

[2022-08-25 05:38] voznesenskym commented on #1010
Only cause we spoke about it earlier! All yours if you want it :)

[2022-08-25 06:06] Chillee commented on #965
@desertfire  can you repro it with a smaller batch size?

[2022-08-25 07:09] Chillee commented on #749
I don't see this error anymore when running. Closing.

[2022-08-25 07:09] #749 closed

[2022-08-25 07:14] Chillee commented on #796
I don't see this error anymore either when I run the command in the OP (although I do see warnings about correctness).

Will close for now single original issue no longer seems relevant.

[2022-08-25 07:14] #796 closed

[2022-08-25 07:41] Chillee opened #1016 "[BERT_pytorch] RuntimeError: CUDA error: misaligned address"
Command: `./benchmarks/torchbench.py -dcuda --float32 --inductor --training  --only BERT_pytorch --use-eval-mode`

There are a bunch of models that started failing with inductor yesterday. I've verified that BERT_pytorch is failing with this error, I haven't checked the other models.

<img width="643" alt="image" src="https://user-images.githubusercontent.com/6355099/186605050-d3dd52e6-8674-49da-b

[2022-08-25 08:38] Chillee commented on #965
I'm actually getting segfaults/`std::bad_alloc` errors with `nasnetalarge`.

Minimal repro

[code]

[2022-08-25 09:35] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-25 09:42] Lezcano commented on #327
I'll have a stab at `aten._adaptive_avg_pool2d` and its backward.

[2022-08-25 10:28] jjsjann123 opened #1020 "aot_autograd backends tracing under AMP context produces GraphModule that can't be deepcopied"
Running into this when we are looking at torchbench failures with AMP.

[code]

Looking at the GraphModule given by `AotAutogradStrategy`, the produced graph is not using the runtime input `primals_1` and `primals_2`, but instead stores the weight that has been amp-casted to fp16 as `_tensor_constant0` and `_tensor_constant1`. These stored tensors are not leaf tensors and hence can't be deep copie

[2022-08-25 11:11] #910 closed

[2022-08-25 13:30] desertfire commented on #1016
This may be related to my PR https://github.com/pytorch/torchdynamo/pull/981, and also the same as what you reported at https://github.com/pytorch/torchdynamo/issues/965#issuecomment-1226957794. So how CI didn't catch it. Let me work on a fix.

[2022-08-25 13:44] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-25 15:26] jansel commented on #327
Lowerings are more powerful, there are some things they can represent which decomps currently can't support.

Decomps are more portable, they work outside of TorchInductor and could be used to generate things like double-backwards.

If something can be done (with the same performance) both ways, a decomp is preferred, but we may need to use lowerings to support more complex stuff or in order to ma

[2022-08-25 15:29] #1009 closed

[2022-08-25 15:29] #1010 closed

[2022-08-25 15:35] Lezcano commented on #327
"peeking twice into the data" = getting an integer from a Tensor into Python-land, i.e., 2 syncs.

Also, the way I implemented it, basically implements the general `nd` version for free, but I don't know whether this is of interest. I'll post today the draft and I'll tag you guys and let you decide, that may be best.

When it comes to performance, without a fuser, eager is always going ot be faste

[2022-08-25 15:40] jansel commented on #327
We can measure performance with a fuser.  Perhaps using https://github.com/pytorch/torchdynamo/pull/785

[2022-08-25 15:46] jansel commented on #327
I updated the OP for a few items.  Looks like we still don't have a decomp/lowering for grid_sampler_2d_backward:
https://github.com/pytorch/torchdynamo/blob/cb9add9e63ea6a45716aeca89d3669fc82ab94d5/torchinductor/lowering.py#L894

You can check that file to confirm something is still missing.  Anything implemented with a fallback is in need of decomp/lowering.

[2022-08-25 15:53] desertfire commented on #965
Ok, `--batch_size=1` worked, although it took over a hour for minifer to run.

Minified version:
[code]

[2022-08-25 16:00] Chillee commented on #327
@Lezcano By "measuring performance", I think @jansel means "measuring performance with inductor".

For example, we benchmarked inductor performance here with the lowering: https://github.com/pytorch/torchdynamo/pull/934

[2022-08-25 16:24] voznesenskym commented on #1020
cc: @Chillee - I think this might be same const issue you saw earlier?

[2022-08-25 17:20] anijain2305 commented on #681
# Compilation Profile #
The tables show the worst 50 models for different metrics
## Compilation Latency ##
<details>
<summary>see more</summary>

dtype=float32, unit=seconds
[code]

</details>

## Peak Memory ##
<details>
<summary>see more</summary>

dtype=float32, unit=GB
[code]

</details>

## Number of graphs ##
<details>
<summary>see more</summary>

dtype=float32, unit=graphs
[code]

</detail

[2022-08-25 17:30] desertfire commented on #959
minified:
[code]
Corresponding triton code:
[code]

[2022-08-25 17:33] jjsjann123 commented on #1020
Thanks for pointing me to the fix. I'll try the latest pytorch master and close the issue once it's verified

[2022-08-25 17:43] desertfire commented on #959
@ngimel , any suggestion on how to debug a cuda graph problem like this one?
[code]

[2022-08-25 17:49] ngimel commented on #959
Seems related to https://github.com/pytorch/torchdynamo/issues/601#issuecomment-1189443580, it also had strided inputs, but I haven't looked into it, this is very weird.

[2022-08-25 18:04] anijain2305 commented on #1001
Test passes now. Closing.

[2022-08-25 18:04] #1001 closed

[2022-08-25 18:24] desertfire commented on #798
https://github.com/pytorch/torchdynamo/pull/963 adds Huggingface inference and training.

[2022-08-25 19:03] desertfire commented on #815
`Super_SloMo` passes now.

[2022-08-25 19:03] #815 closed

[2022-08-25 19:05] desertfire opened #1023 "`TypeError: expected Tensor as element 0 in argument 1, but got NoneType`: "dlrm","

[2022-08-25 19:05] desertfire opened #1024 "`TypeError: expected Tensor as element 0 in argument 1, but got NoneType`: "dlrm","

[2022-08-25 19:05] desertfire commented on #1024
duplicated

[2022-08-25 19:05] #1024 closed

[2022-08-25 19:09] desertfire commented on #1023
@Chillee , is this an AOTAutograd issue?

[2022-08-25 19:43] Chillee commented on #1023
@desertfire Looks like AOTAutograd or decomposition issue.

[2022-08-25 20:01] voznesenskym commented on #872
This repro runs without failing now

@Chillee I think we can close

[2022-08-25 20:15] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-25 20:17] ngimel commented on #959
This is due to inputs for cuda graphs copied to memory dense locations, and that causes triton recompilation during graph capture. We need to make sure that contiguity of tensors during warmup/compile and actual graph capture is the same.

[2022-08-25 20:25] jjsjann123 commented on #1020
Yay, the problem does seem to go away with that PR. I'm closing this.

[2022-08-25 20:25] #1020 closed

[2022-08-25 20:39] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-25 21:10] voznesenskym commented on #974
ref #1029

[2022-08-25 21:42] suo opened #1030 "WONT CONVERT with fake tensors enabled on `shape_as_tensor(x)`"
Extracted from a fairseq model: if `torchdynamo.config.fake_tensor_propagation = True`, then the following script
[code]
leads to the following:
[code]

This is not a problem if fake tensors are off.

[2022-08-25 23:12] shingjan commented on #813
@ezyang Thanks for the note! What other non-TS backend would you recommend in this case? The reason I was using TS is bcoz TorchScript seems to be the de facto backend for torchdynamo if we want to utilize the model partitioning. I am assuming `eager mode` is not the answer.

[2022-08-25 23:28] shingjan opened #1033 "float16-typed tensor introduced by CUDA target for backends"
Hi, there is a couple models whose CUDA subgraph will contain tensor with different data types compared to CPU. One example I have is `hf_Reformer`. The following is my repro:
[code]
In one subgraph of the aforementioned model, there is a operator called `einsum`. On LLVM/CPU, the arguments of this ops looks like the following:
[code]
But when switched to CUDA, argument `a`'s dtype is changed to `

[2022-08-25 23:45] desertfire opened #1034 "TIMM inference accuracy error: cait_m36_384, ghostnet_100"
Repro:
[code]

[2022-08-25 23:52] ngimel commented on #959
Verified fixed (but still numeric results are INCORRECT)
[code]

[2022-08-26 00:05] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-26 00:23] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-26 00:43] desertfire opened #1036 "HF inference accuracy error: DebertaV2ForQuestionAnswering"
Repro:
[code]

[2022-08-26 01:26] #959 closed

[2022-08-26 03:14] ezyang commented on #813
err, what exactly do you mean by "model partitioning?" Do you mean AOTAutograd's partitioner for saving memory across forward/backwards? AOT eager would actually be sufficient for that, though you'd lose the overhead reduction benefit of ts

[2022-08-26 04:30] jansel commented on #1033
That is strange.  I would not expect TorchDynamo to modify any dtypes.  One possibility is this change is in the model's code.  float16 is only well supports on GPU, so many models will only use it if the device is cuda.

I don't think this is related to TorchScript, because `--backend=eager` also works in addition to  `--backend=ts`.

You could try running with `--float32`, which will cast all th

[2022-08-26 06:55] Chillee commented on #776
Fixed by https://github.com/pytorch/torchdynamo/pull/906

[2022-08-26 06:55] #776 closed

[2022-08-26 06:57] Chillee commented on #872
I can also verify the original repro passes now as well.

[2022-08-26 06:57] #872 closed

[2022-08-26 08:45] Chillee commented on #1016
@desertfire I think CI didn't catch it since the nightlies run with `--use-eval-mode` and our CI doesn't?

[2022-08-26 13:05] desertfire commented on #1016
https://app.circleci.com/pipelines/github/pytorch/torchdynamo/1521/workflows/109ea192-b897-456c-af84-9f226dea2b69/jobs/2330, CI run does use `--use-eval-mode`. I suspect the specific failure has something to do with the environment, like CUDA version.

Let me close this one now as it is fixed with a guarding unit test.

[2022-08-26 13:05] #1016 closed

[2022-08-26 15:04] desertfire opened #1039 "Super_SloMo"

[2022-08-26 16:20] jansel opened #1043 "Run PyTorch CI tests in PRs"
We have seen some cases where we can't update the pin of torchdynamo in the PyTorch repo due to test failures.

We should run the torchdynamo tests the run in the pytorch repo on PRs to this repo.

[2022-08-26 16:29] #601 closed

[2022-08-26 16:29] #642 closed

[2022-08-26 16:29] #930 closed

[2022-08-26 16:29] #957 closed

[2022-08-26 16:43] desertfire opened #1046 "Many modelss fail with --batch_size=1"
Example Repo:
[code]
They all have similar assertion error:
[code]

Minified:
[code]

[2022-08-26 16:48] ezyang commented on #1046
I guess we can use batch size 2 lol

[2022-08-26 16:51] desertfire commented on #1046
Sure for now, but the bug is also real, lol

[2022-08-26 18:38] pyjhzwh opened #1054 "Triton kernel CUDA error"
repro
Set `torchinductor.config.convolution = "triton"`, and run
`benchmarks/torchbench.py --inductor-settings -dcuda --float16 -n50 --inductor -k Background_Matting`
will output
`RuntimeError: CUDA error: an illegal memory access was encountered for kernel45`
[code]
where no error if we comment the last store `tl.store(out_ptr4 + y1 + (256*x0) + tl.zeros([XBLOCK, YBLOCK], tl.int32), tmp47, xmask

[2022-08-26 18:47] #759 closed

[2022-08-26 19:36] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-26 20:17] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-26 20:53] anijain2305 commented on #972
Closing this. Dynamo pin moved - https://github.com/pytorch/pytorch/pull/83829

[2022-08-26 20:53] #972 closed

[2022-08-26 22:04] anijain2305 opened #1058 "[nvfuser] view size is not compatible with input tensor's size and stride"
Instructions
* Uncompress Repro file - [repro.tar.gz](https://github.com/pytorch/torchdynamo/files/9436625/repro.tar.gz)
* Run `python repro/repro.py`

The repro is minified using https://github.com/pytorch/torchdynamo/pull/1056
This only fail with `aot_nvfuser` backend.

[2022-08-26 23:04] jansel opened #1062 "Shape errors from fake_tensor_propagation in detectron2 rcnn"
Note this is a newer torchbench model, so you need to update torchbench if you have been using my branch.  We get this same error with many of the detectron2 models.

Repro:
[code]

Output:
[code]

If you apply this patch:
[code]

The output becomes:
[code]

cc @eellison

[2022-08-26 23:43] jansel commented on #1062
@ezyang could this be a case of a meta tensor shape function being wrong somewhere?

[2022-08-26 23:50] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-27 00:56] Chillee commented on #1062
@jansel Yeah, it's possible now, since we use python re-implementations now.

[2022-08-27 00:59] jansel opened #1065 "Fake tensor `profiler::_record_function_enter()` errors from moco"
Repro
[code]

`torchdynamo.config.fake_tensor_propagation = False`
[code]

`torchdynamo.config.fake_tensor_propagation = True`
[code]

cc @eellison @ezyang

[2022-08-27 01:04] eellison commented on #1062
I can some config or mode to double check our tensor properties as we run them with fake tensor (similar to @ezyang's CrossRef mode).

[2022-08-27 02:59] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-27 02:59] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-27 02:59] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-27 04:23] jansel opened #1066 "aot_autograd error: `argument 'pad' must be tuple of ints, but found element of type Tensor`"
I see this same error in many detectron2 benchmarks.

Works with `--backend=eager`
[code]

Error with `--backend=aot_nop`
[code]

[2022-08-27 05:29] jansel commented on #838
[code]
(running in inference mode)

[2022-08-27 15:34] jansel commented on #883
I don't think it is currently possible to write this one in Triton, so this is blocked on Triton language features.

[2022-08-27 15:36] jansel opened #1069 "aten.as_strided_scatter (higher priority)"

[2022-08-27 22:01] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-27 22:01] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-27 22:18] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-27 22:18] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-27 23:02] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-27 23:02] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-28 04:23] #979 closed

[2022-08-28 18:27] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-28 19:16] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-28 19:40] bdhirsh commented on #1069
Oh `as_strided_scatter` is showing up now that functionalization is turned on. We can probably expect the other *scatter ops to show up too:
[code]

When functionalization sees this:
[code]
It will remove the mutation by introducing a *scatter op, converting the program into this:
[code]

The [re-inplacing pass](https://github.com/pytorch/pytorch/blob/3aae6ff1e13128412e44a69ca3da5582f17fac02/torch

[2022-08-28 19:45] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-28 20:52] jansel commented on #1069
We can't use `reinplace()`, because we lower directly to Triton/C++ code.  On net, I'd expect the functional graph to result in better code, though for examples like the one above the mutation version might be better.

The TorchInductor decomps might be fighting a bit with functionalization and creating thrash that results in extra copies.  For many ops, we decompose functional scatters back into

[2022-08-29 00:39] yanboliang opened #1076 "SGD.step() failure: RuntimeError: a leaf Variable that requires grad is being used in an in-place operation."
Repro:
[code]
Error:
[code]
It was caused by [this line](https://github.com/pytorch/pytorch/blob/master/torch/optim/sgd.py#L245) where we do in-place add on leaf tensor. But I'm still not clear why it doesn't fail in PyTorch.

[2022-08-29 01:19] jansel commented on #1076
Does this work if you disable fake_tensors?

[2022-08-29 01:23] yanboliang commented on #1076
I tried to disable fake tensor, it still doesn't work. But I remember it works last Thursday if I turn off fake tensor, so I suspect it's a regression issue. Will dig into and update later!

[2022-08-29 02:13] ezyang commented on #1076
It might be due to https://github.com/pytorch/torchdynamo/commit/2eef7fc79bacffc2dc533402249e15cbfce8cd71

[2022-08-29 02:16] yanboliang commented on #1076
This is regression issue caused by https://github.com/pytorch/torchdynamo/pull/1007
* Before that commit, disable fake_tensors works well, enable fake_tensor doesn't work well.
* After that commit, neither of disable/enable fake_tensors works well.

[2022-08-29 02:22] yanboliang commented on #1076
I think this brings good reason to add an end-to-end model training test/benchmark to avoid regression.

[2022-08-29 04:39] jansel opened #1078 "Inductor misaligned address error in PegasusForCausalLM"
Note this adds a CI skip for PegasusForCausalLM.  I don't think the following error is related to this PR:
[code]
Likely just uncovered by different fusions happening.

_Originally posted by @jansel in https://github.com/pytorch/torchdynamo/issues/1077#issuecomment-1229762518_

[2022-08-29 05:17] heytanay commented on #1066
Hi! I would like to work on this but not sure where to start since this is my first contribution to PyTorch. Any guidance would be highly appreciated!

[2022-08-29 07:06] voznesenskym opened #1080 "Sparse jagged tensor support for inductor"

[2022-08-29 16:15] suo commented on #1030
@eellison are you the right person to look at this? https://github.com/pytorch/torchdynamo/issues/1062 seems similar?

[2022-08-29 16:16] suo commented on #1003
cc @eellison

[2022-08-29 16:44] eellison commented on #1003
Normally if there is an error within fake tensor propagation, we graph break. Meta/Fake Tensors don't support quantized tensors, so instead of suppressing these errors and silently not supporting the entire model you saw the exception. However, neither inductor nor nvfuser supports generating code for quantized tensors, and they're very infrequently used in training. I'm not sure how much of a pri

[2022-08-29 17:45] bdhirsh opened #1081 "Inductor decomps can decompose into mutations"
@jansel pointed out some of the existing scattering ops decompose into mutable variants, like in [this example](https://github.com/pytorch/torchdynamo/blob/b20f7184207e1a4dd5a0ab736d3d2854a44081a1/torchinductor/decomposition.py#L254), where `index_put` decomposes to `index_put_`.

@Chillee I don't have a concrete example of a failure, but does that make running the decompositions underneath functi

[2022-08-29 18:00] suo commented on #1003
I didn't see an exception; the code crashed (segfaulted?). That's still a bug even if we don't want to support quantized tensors at the moment, right?

[2022-08-29 18:30] eellison commented on #1003
I'll take a look..  Asegfault or crash is of course a bug. The local version doesn't reproduce this.
[code]

due to:
...
torchdynamo.exc.FakeTensorError: Unsupported: quantized nyi in meta tensors with fake tensor propagation. Run with config.fake_tensor_propagation=False

[2022-08-29 18:49] voznesenskym commented on #1003
If you mean the code linked here,

Are we sure this is a faithful repro of the bug? Can you try it in a copy of n2410189? Torchdynamo should be synced to fbcode as of yesterday, so it should repro/not-repro reliably with whatever you have atm.

[2022-08-29 19:19] eellison commented on #1030
Ugh, I think there are a few issues involved here.

- `_shape_as_tensor` is an ImplicitAutogradOp, so there is no current way to define a meta/fake impl for it.
- We should have a better error for `The tensor has a non-zero number of elements, but its data is not allocated yet`, which means you're accessing `data_ptr` of FakeTensors.
- I would consider this an internal op, so we can add support fo

[2022-08-29 19:25] jansel opened #1082 "Improve UX for Triton templates and epilogue fusion"
We should make the template authoring experience a bit nicer before asking folks to write more templates.

[2022-08-29 19:32] bdhirsh commented on #1030
I think `_shape_as_tensor` is not composite compliant, and we should make it a primitive (by making it `CompositeExplicitAutograd`).

It doesn't look like it's composite compliant, because it calls the `at:tensor()` [constructor](https://github.com/pytorch/pytorch/blob/d144594512e10ab2a9625347816c2dee1fb55667/aten/src/ATen/native/TensorShape.cpp#L183). `at::tensor()` constructs an empty tensor and

[2022-08-29 20:33] yanboliang opened #1083 "Remove .item() calls from optimizer.step()"
There are a lot of ```.item()``` calls inside of ```optimizer.step()```, e.g:
https://github.com/pytorch/pytorch/blob/master/torch/optim/asgd.py#L182-L212

These ```.item()``` calls inside of the for loop cause graph break when enabling dynamo and finally hitting cache limit. I took a closer look at these usages and found actually we can remove these call because the results were feed into other d

[2022-08-29 20:49] yanboliang opened #1085 "Inductor fails on optimizer.step"
Repro:
[code]

Error:
[code]
This failure occurs on both CPU and cuda.

[2022-08-29 20:58] bdhirsh commented on #953
FWIW - now that functionalization is turned on I tried running the above repro again.

First I hit an issue with fake tensor - it looks like we trace the original user's code in dynamo with fake tensors, but "lose" the fake tensor mode later:
[code]

I skipped that error for now by setting `fake_tensors_available = False` in `torchdynamo/torchdynamo/utils.py`, and the example now passes.

[2022-08-29 21:34] yanboliang commented on #953
@bdhirsh Yes, I verified with disabling fake tensor, it works well too.

[2022-08-29 21:37] yanboliang commented on #953
I'll close this one and open another one to track the fake tensor bug. Thanks all!

[2022-08-29 21:40] yanboliang opened #1086 "optimizer.step fails on fake tensor mode"
Repro:
[code]

Error:
[code]

[2022-08-29 21:42] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-29 21:43] #953 closed

[2022-08-29 21:45] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-29 21:49] bdhirsh commented on #1086
fwiw, inserting this patch in `torchdynamo/torchdynamo/utils.py` seems to help (before we were "losing" fake-tensor-ness when cloning graph inputs), but I end up with a different error afterwards.
[code]

New error:
[code]

[2022-08-29 21:53] yanboliang commented on #1086
Hmm, it seems this is also relevant to https://github.com/pytorch/torchdynamo/issues/1076. cc @mlazos

[2022-08-29 22:02] jansel commented on #1066
@anijain2305 @Chillee any pointers on how to get started on this one?

[2022-08-29 22:10] shingjan commented on #1033
@jansel Thanks a lot for the `--float32` tip! It unblocks my repro on `hf_Reformer`. Would there be any side effect as now we are virtually rewriting the inputs and params of those models with float32 enforced? I am only asking that bcoz those models are expected to use float16 on gpu.

[2022-08-29 22:29] jansel commented on #1033
It depends on the model.  There is the side effect that you are now running a "different" model with changed dtypes.  Most models work with multiple float dtypes, but it could introduce issues.  Usually the issues come from lowering precision though (e.g. overflows) not raising precision.

[2022-08-29 22:49] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-29 22:57] anijain2305 commented on #1066
Give me a few hours. I am going to see if minifier can give a starting point.

[2022-08-30 01:09] mlazos commented on #1083
Yeah I looked into this earlier, this should be okay. `Adam` even provides the `capturable` kwarg to its constructor to facilitate this.

[2022-08-30 01:34] voznesenskym commented on #1083
+1 - we have a flag `capture_scalar_outputs` that should help with .item()

[2022-08-30 01:49] ezyang commented on #1030
Agreed with @bdhirsh's diagnosis. Derivative formula should not be necessary; the returned tensor is a LongTensor anyway.

[2022-08-30 02:20] anijain2305 commented on #1066
Here is a repro
[repro.tar.gz](https://github.com/pytorch/torchdynamo/files/9449032/repro.tar.gz)

However, it fails with a different error

[code]

cc @Chillee

[2022-08-30 06:35] yanboliang commented on #837
@eellison I think this still blocks by the fake tensor issue, #1059 seems doesn't fix it yet. I run my PR #806 on the latest main(including #1059), it still failed(search ```fastNLP_Bert ``` in [circle CI log](https://app.circleci.com/pipelines/github/pytorch/torchdynamo/1926/workflows/c54c7010-5983-4618-9e9d-16d3c9165296/jobs/5522/parallel-runs/0/steps/0-111)). But it passed if I turn off fake te

[2022-08-30 07:04] yanboliang commented on #1083
It's handled by ```FakeItemVariable``` if users turn on ```capture_scalar_outputs``` explicitly. Actually it's one of the way to remove ```.item()``` calls. The reason I raised this discuss is to figure out the best way to handle this. There are mainly two directions:
* Directly removing ```.item()``` inside of PyTorch ```optimizer.step```, or providing the ```capturable``` kwarg like what ```Adam

[2022-08-30 07:26] voznesenskym commented on #1083
Taking a step back, what problem are we solving? If we already have 2 working, is it even a problem? Or just an optimization?

[2022-08-30 07:39] voznesenskym commented on #837
For (2) can we just call .item() to turn numpy types into Python types?

[2022-08-30 10:46] fdrocha commented on #327
I will have a go at `grid_sampler_2d_backward`

[2022-08-30 11:04] Lezcano commented on #327
FWIW, `aten.mse_loss_backward` is  present in PyTorch (https://github.com/pytorch/pytorch/blob/b8e1c54f53404393e5fe421c26f7bfc951251e43/torch/_decomp/decompositions.py#L340). Should we mark that one as resolved?

[2022-08-30 13:43] ezyang commented on #1083
Do we have any real modules that are using ASGD?

[2022-08-30 13:45] ezyang commented on #1083
The item calls are because the foreach optimizers don't support tensor inputs. They were added in https://github.com/pytorch/pytorch/pull/7023 cc @mikaylagawarecki

These variables are "constant-like". The other way to solve the problem is to avoid specializing on their values and then have the internal passes constant prop to the item calls.

[2022-08-30 15:53] yanboliang commented on #1083
I just take it as an example, many other optimizers have similar issues.

[2022-08-30 15:54] jansel commented on #327
Awesome!  I think we just need to add it to this list:
https://github.com/pytorch/torchdynamo/blob/a44c28b3ccc2a3643666cf6167990730bf585aa6/torchinductor/decomposition.py#L18

[2022-08-30 16:00] yanboliang commented on #837
That exactly what https://github.com/pytorch/torchdynamo/pull/806 does. That problem has been resolved(pending PR), here we are talking about another fake tensor issue revealed by that fix.

[2022-08-30 16:04] voznesenskym commented on #1083
That is what `capture_scalar_outputs` does - it turns the .item() call into a `call_method` in the graph, instead of specializing on the value as a constant. Is this what you mean?

[2022-08-30 16:17] Lezcano commented on #327
I'll take `upsample_bilinear2d_backward`

[2022-08-30 16:22] ngimel commented on #327
cc @SherlockNoMad, for things like grid_sampler_2dbackward and upsample_bilinear2d_backward we thought that a better solution would be to create infra to generate backward from the forward decomposition trace, but stop-gap direct decomposition solution is also fine I guess (we'd still need implicit grads for higher order gradients)

[2022-08-30 16:26] voznesenskym opened #1090 "Add option to .export() an ATen graph via AOTAutograd"
We can do this by calling down into AOTAutograd. Today's .export() only emits a torch op level graph.

[2022-08-30 16:55] anijain2305 commented on #970
Completed.

[2022-08-30 16:55] #970 closed

[2022-08-30 17:04] anijain2305 commented on #795
@wconstab already has this working. The missing items are

1) Figure out a suitable aggregate to track the health of compilation time.
2) Add that to nightly benchmarks

[2022-08-30 17:15] anijain2305 commented on #847
We have fixed the scipy import handling.

For hooks, we can keep this as low priority. We don't have good way of handling hooks in TorchDynamo, and we have been skipping similar tests in PyTorch CI.

[2022-08-30 17:30] anijain2305 commented on #973
Added the `aot_cudagraphs` and `eager` in the nightly. THe infra is also hosted at https://github.com/anijain2305/torchdynamo_dashboard

[2022-08-30 17:35] anijain2305 opened #1091 "Tracker for `aot_eager` to reach 100% passrate on OSS models"
TorchDynamo Dashboard shows that Aot eager is not 100% for all the models. This is a tracker for the missing work.

### float32
- [x] hf_BigBird - https://github.com/pytorch/torchdynamo/issues/1291
- [ ] speech_transfomer - https://github.com/pytorch/torchdynamo/issues/1287
- [ ] vision_maskrcnn - Error signature same as #1287. Somehow minifier is not able to repro this.
- [x] BigBird - https://gi

[2022-08-30 17:39] anijain2305 commented on #835
Most of the work is done here. Closing in favor of #1091 that tracks this work for all the dtypes.

[2022-08-30 17:39] #835 closed

[2022-08-30 17:47] anijain2305 opened #1092 "UX requirements/interface for Debugging"
- [ ] Design doc on how user can interact with existing tooling, and work with Rage command.
- [ ] Implementation to consolidate our works on different minifiers.

[2022-08-30 17:48] anijain2305 commented on #525
cc @wconstab Lets use your timers to diagnose this.

[2022-08-30 18:43] wconstab commented on #795
other wish-list items from me
* aggregating specific function names (aot_autograd.locals.blah.blah) into categories we care about (dynamo, aot, inductor, triton) -  may not be a big problem
* dealing with overlapping timings (one function actually includes another but it isn't clear in the flat list)
* making sure we aren't missing any hot areas (if an expensive function isn't annotated, we simply

[2022-08-30 18:58] anijain2305 opened #1093 "Fake tensor - Track ops falling back"

[2022-08-30 19:22] eellison commented on #727
Un-assigning for now because I'm getting backed up on fake tensor work.

[2022-08-30 20:13] ezyang commented on #1093
https://docs.google.com/spreadsheets/d/1-ghURoD6tzTushbCb22tFd5B5uNg7HSxVG4dQBwoaFA/edit#gid=662024936

[2022-08-30 20:53] SherlockNoMad commented on #327
I added a decomp for aten.im2col.
Also I noticed that nn.functional.unfold would eventually call aten.im2col, so I am wondering where are we seeing aten.unfold?

[code]

[2022-08-30 20:58] SherlockNoMad commented on #327
aten._fused_moving_avg_obs_fq_helper is showing up in mobilenet_v2_quantized_qat and resnet50_quantized_qat models.

These are quantization model, and the op is originated from FusedMovingAvgObsFakeQuantize module. Does inductor, or PT2, want to cover quantization model? I thought no...

[code]

[2022-08-30 22:10] Chillee commented on #327
@SherlockNoMad I think `torch.Tensor.unfold` calls `aten::unfold` (https://pytorch.org/docs/stable/generated/torch.Tensor.unfold.html), while the functional version calls `im2col`: https://pytorch.org/docs/stable/generated/torch.nn.Unfold.html

Any idea why this is the case? maybe @ngimel?

[2022-08-30 22:12] ngimel commented on #327
Sorry, I don't know, are they semantically different?

[2022-08-30 22:14] voznesenskym opened #1097 "Generate buck targets for inductor, inductor generated kernels are not runnable in fbcode atm"
This needs to:

1) Redirect the compile cache somewhere TARGETS works
2) Produce a valid TARGETS file so we can buck run the generated py file
3) Probably get an e2e test in fbcode

[2022-08-30 23:09] Chillee commented on #727
Might be a good task if you're interested? @lezcano

[2022-08-30 23:54] voznesenskym commented on #1090
#1095

[2022-08-30 23:54] #1090 closed

[2022-08-31 00:10] wconstab commented on #525
I've taken a look and found that this model is spending a lot of time in dynamo instruction translation.  I added some timing code to the translator and produced this chart of the time spent so far (it's streaming out data but not sure how far along it is, hasn't finished an iteration yet)

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/4984825/187564982-15c00a0b-fb09

[2022-08-31 00:47] wconstab commented on #525
The overall structure of this model's forward() is to iterate over 21 layers, and inside each layer iterate over N sub-layers where N is related to the layer index.  So it's roughly an N^2 problem but its only about 400 inner loops, so that should hopefully be handleable.

Backward seems to be quite fast, which aligns with the issues coming from translation rather than compilation.

Optimizer is a

[2022-08-31 00:53] voznesenskym commented on #525
can you enable capture for .item()? `config.capture_scalar_outputs = True` and see? Might help a bit...

[2022-08-31 01:07] wconstab commented on #525
Moving the optimizer.step() call "left" (e.g. outdenting it from the `with optimize()` scope and avoiding dynamo'ing it)  results in this performance profile, which is a big improvement.  It is still a very slow compile for the first iteration, but then it starts to zip along
[code]
I will post the timing with `config.capture_scalar_outputs = True` but it is going to take a while

[2022-08-31 04:51] Jack47 commented on #694
@TraceCS so may we close this issue?

[2022-08-31 05:19] wconstab commented on #525
no luck with that option:
[code]

[2022-08-31 06:00] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-08-31 06:03] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-31 08:46] #694 closed

[2022-08-31 09:08] Lezcano commented on #727
I think this one may be better suited for someone that understands TorchInductor a bit better, as they would be able to sort the failures as they happen.

[2022-08-31 13:43] IvanYashchuk commented on #1091
Here are a couple of failing models that fail with "RuntimeError: expected scalar type Float but found Half":

- [ ] `python benchmarks/torchbench.py --training -d cuda --fast --accuracy-aot-nop --skip-accuracy-check  --generate-aot-autograd-stats -k mobilenet_v2_quantized_qat --float16`

- [ ] `python benchmarks/torchbench.py --training -d cuda --fast --accuracy-aot-nop --skip-accuracy-check  --g

[2022-08-31 13:45] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-08-31 16:03] anijain2305 commented on #1091
@IvanYashchuk All these models fail in the native Pytorch itself. Basically, they can't survive the float16/amp conversion. We never get to the stage where we could run TorchDynamo on them. So, we are skipping these tests in TorchDynamo nightly.

Let me know if that sounds good.

[2022-08-31 18:34] mlazos commented on #525
I have plans to change the assertion to only require all tensors be on the same device (vs on cuda) in Adam so that we can set `capturable=True`. This avoids the calls to `item()` entirely.

[2022-08-31 19:09] suo opened #1100 "explain() has confusing explanation of graph breaks"
For full repro, see: n2409035.

The output of explain:
[code]
Two immediate issues:
- 11 graph breaks are quoted, but the list only has seven elements.
- Breaks 1 and 2 point to generic_jump but do not actually reference a control flow statement. They appear to be the callstack for break 3? If I fix break 3, breaks 1 and 2 go away.

Some more thoughts, but require more fleshing out to be actionabl

[2022-08-31 19:23] voznesenskym commented on #1100
Good callouts.

Looks like a silly bug, I bet we are missing a place here.

Correct - that's probably the 2 jump destinations for True/False?

Yes - that is a TODO atm, probably a p1 after some inductor fixes and internal model fixes around CUDA memory issues.

Yes - for a util called .explain() it sure doesn't explain very much yet :) I agree that we can have much clearer graph break reasons. For

[2022-08-31 19:25] suo commented on #1100
No, I don't think so; they are the callers of the function that actually has the if-statement. So I think something funky is going on with the break_graph_if_unsupported callfunction wrappers.

[2022-08-31 19:28] voznesenskym opened #1101 "`with autocast("cuda")` causes cuda memory bugs on inductor"
This is `from torch import autocast`. Tested on a single model so far. Works with aot_nvfuser.

[2022-08-31 19:30] voznesenskym commented on #1100
Oh interesting - that smells like a bug. How can I repro that?

[2022-08-31 19:52] suo commented on #1100
Left a notebook up top, should repro with a prebuilt kernel

[2022-08-31 19:59] voznesenskym commented on #1100
Missed that - thank you.

[2022-08-31 20:27] shingjan commented on #1033
Thanks @jansel! close this as unblocked.

[2022-08-31 20:27] #1033 closed

[2022-08-31 20:41] anijain2305 commented on #1101
Do you have a specific repro? We have many tests running with Inductor with autocast in nightly. So, it might be related to some specific kernel.

[2022-08-31 21:34] voznesenskym commented on #1101
Yeah, I'll add repro errors, it could def be a specific kernel...

[2022-08-31 22:08] wconstab commented on #516
@anijain2305 can you sync up with @xuzhao9 about the right way to update torchbench to align with your changes here?

[2022-08-31 22:33] wconstab commented on #1083
@ezyang we see this on Adam too. ([adam.py:309](https://github.com/pytorch/pytorch/blob/master/torch/optim/adam.py#L309)).

I'm jumping in here bc I also ran into this issue from 2 places this week:
* https://github.com/pytorch/torchdynamo/issues/525 - uses default adam optimizer
* distributed benchmarks on torchbenchmark using the torchbench distributed harness rather than the torchdynamo harness

[2022-08-31 23:16] anijain2305 opened #1102 "[aot_eager] fastNLP_Bert - Eager has None grads, while Aot has zero grads"
Repro

[code]

For native PyTorch, the backward does not touch `nn.Linear` and therefore gradients of `nn.Linear` are `None`.

For aot_nop, TorchDynamo created graphs has `(a, b)` as output, and then passes it on to Aot Autograd, which does not know that `b` will be later discarded. Therefore, `nn.Linear` grads are all zeros (and not `None`)

cc @Chillee @ezyang

[2022-08-31 23:40] anijain2305 commented on #1102
In this case, the input to the `backward` of `autograd.Function` object is all zeros, when it should have been `None`.

Overall, this seems like a corner case to me. `zero grad` and `None` are basically equivalent.

[2022-09-01 00:21] eellison commented on #946
Fixed with https://github.com/pytorch/pytorch/pull/84282

[2022-09-01 00:21] #946 closed

[2022-09-01 01:28] mlazos commented on #1083
`capturable` is there to enable capturing of the graph for CUDA (according to the code comment). I think in practice this is just to enable more performant GPU code without `item()` calls.

I agree that having users have to set this and understand this is bad ux for such a common component like optimizers.

For dynamo, I think each optimizer should have an equivalent `capturable` flag which avoids

[2022-09-01 02:37] ezyang commented on #1102
This is probably got to do with custom autograd function; if the input is not used we still populate zero tensors for it. cc @albanD

[2022-09-01 06:17] anijain2305 commented on #516
Yes, will do.

[2022-09-01 06:21] anijain2305 commented on #946
Yayy! :)

[2022-09-01 06:44] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-01 06:56] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-01 08:55] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-01 14:04] carmocca commented on #43
Does the limitation only apply to training? Or is distributed inference supported?

[2022-09-01 16:31] wconstab commented on #43
DDP should be functional with  dynamo today.  What we're working on is profiling the performance and optimizing it as needed.  The concern is that DDP's optimization which overlaps allreduce communication with backward computation is undone by dynamo+aot-autograd fusing the whole graph into one compiled forward and one compiled backward function.  Depending on your cluster size, model and intercon

[2022-09-01 19:13] anijain2305 commented on #969
PR - https://github.com/pytorch/torchdynamo/pull/1056

[2022-09-01 19:13] #969 closed

[2022-09-01 20:37] anijain2305 commented on #516
Context manager is removed from the repo. Final PR adding a warning message is here - https://github.com/pytorch/torchdynamo/pull/1112

[2022-09-01 22:27] #941 closed

[2022-09-01 22:50] #1085 closed

[2022-09-02 15:05] albanD commented on #1102
I think there are two things:
- From the autograd point of view, `None` or a `Tensor full of zeros` is semantically the same. So we can return one or the other.
- If you want to get `None` for missing gradients in custom Function instead of Tensors full of zeros, you can set `ctx.set_materialize_grads(False)`. See doc for more details: https://pytorch.org/docs/stable/notes/extending.html Note that

[2022-09-02 17:41] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-02 17:42] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-02 18:22] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-02 19:02] soumith opened #1119 "regression for fp16"
HuggingFace models regressed from 1.95x -> 1.77x without change in coverage (36/43 in both cases).

2 days ago:
[code]
->

last night:

[code]

Right now i have to manually spot these things.
It would be a great visual aid to plot a line graph over time.

[2022-09-02 19:36] voznesenskym commented on #1119
We could persist historical or last run results in the repo @anijain2305 - and produce a chart / delta column respectively. Thoughts?

[2022-09-02 21:40] jansel commented on #1119
`git bisect` points to #1096

I think this disabled functionalization for inductor.

cc @Chillee

[2022-09-03 04:44] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-03 05:18] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-03 07:19] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-03 19:51] anijain2305 commented on #1119
Yes, I do have janky scripts here - https://github.com/anijain2305/torchdynamo_dashboard. I will also publish a diff from the last nightly to identify these regressions little bit easily. The logs are already persisted in shared filesystem in the AWS clusters.

[2022-09-04 01:49] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-04 04:25] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-04 07:20] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-04 14:53] jansel commented on #1119
Looks fixed in https://github.com/pytorch/torchdynamo/issues/681#issuecomment-1236277236

[2022-09-04 16:40] anijain2305 commented on #1102
Fixed by https://github.com/pytorch/torchdynamo/pull/1124

[2022-09-04 16:40] #1102 closed

[2022-09-04 16:40] anijain2305 commented on #1119
Lets keep this open as an action item for me to publish a diff.

[2022-09-04 19:58] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-04 20:41] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-04 20:43] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-05 16:46] anijain2305 opened #1126 "NameError - torch is not defined - speech_transformer"
Repro -  `TORCHDYNAMO_DEBUG_FUNCTION=forward python benchmarks/torchbench.py --training --float32 --backend=eager --use-eval-mode --only=speech_transformer`

And a diff

[code]

This one leads to error like
[code]

I do not fully understand how globals are handled during inlining. The file containing the parent function has import `import torch.nn as nn` (no `import torch`), but the child function

[2022-09-05 16:51] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-05 19:20] voznesenskym commented on #1126
Repro confirmed. I have a theory here, looking into this.

[2022-09-05 20:25] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-05 20:59] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-05 21:31] voznesenskym commented on #1126
Yeah this needs instruction translation for imports, I think.

Just (hilariously) jamming in
[code]

Gets me past this import error, onto another one:

[code]

Obviously not a real fix - but demonstrative of the issue.

There's also another problem here - when we inline code the stack trace is wrong.

[2022-09-06 01:57] anijain2305 commented on #1126
I somehow jammed it in using https://github.com/pytorch/torchdynamo/pull/1128. But, idk.

[2022-09-06 05:57] #1126 closed

[2022-09-06 17:03] anijain2305 opened #1132 "Investigate sources of higher peak memory footprint"
Using `pit_b_224` model to debug memory footprint issue

Eager - `15.27` GB
Aot_eager - `32.24` GB

* A major increase in footprint is coming from functionalization during [tracing](https://github.com/pytorch/functorch/blob/main/functorch/_src/aot_autograd.py#L288).  On disabling functionalization, memory footprint is `18.41`.
* Inside aot_autograd (after functionlization is turned off), tracing j

[2022-09-06 17:09] msaroufim opened #1133 "Running torchdynamo.optimize("inductor") calls conda install and fails with C++ error"
Related to #1131 I tried to make a simpler repro where I remove the PyTorch lightning dependency and then optimize with inductor

## Repro

[code]

## Logs

I get a c++ compile error and when I try to run inductor conda runs? Ideally whatever needs to be installed should happen when I run `make setup_nightly_gpu`

[code]

[2022-09-06 19:56] desertfire opened #1135 "TIMM model failures: view size is not compatible with input tensor's size and stride"
[Edited]
Repro:
[code]

Error:
[code]

[2022-09-06 19:58] desertfire commented on #1135
According to @Chillee , this is a recent regression.

Also, https://github.com/pytorch/torchdynamo/pull/1028 is hitting a lot similar errors. We should fix it and and add TIMM to CI.

[2022-09-06 19:58] jansel commented on #1133
#1136 fixes the compile error, however we now get a graph break/recompile issue in `torch.distributions.bernoulli.Bernoulli.sample
[code]

[2022-09-06 20:11] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-06 20:15] desertfire commented on #1135
`git bisect` points to https://github.com/pytorch/torchdynamo/pull/1122 as the culprit.

[2022-09-06 20:42] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models passin

[2022-09-06 20:43] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-06 20:48] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-06 20:50] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Executive Summary ##
Majority of our efforts are currently on improving the correctness and performance on OSS training models - torchbench, huggingface and timm models. This is the current performance and accuracy numbers for the float32 and float16 precision.
For measuring accuracy, we show the accuracy pass rate, i.e., percentage of models pa

[2022-09-06 21:32] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/gUXC0DQ.png)
passrate_over_time.png : ![](https://i.imgur.com/U8eN4NE.png)
## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/utpaccl.png)
passrate_over_time.png : ![](https://i.imgur.com/rZaLFf3.png)

## Executive Summary

[2022-09-06 21:33] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/pW3zJQR.png)
passrate_over_time.png : ![](https://i.imgur.com/XDbvq1P.png)
## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experi

[2022-09-06 21:38] anijain2305 commented on #1119
Sample here - https://github.com/pytorch/torchdynamo/issues/681#issuecomment-1238672152

![Image](https://user-images.githubusercontent.com/13822661/188745490-28f700d7-876f-45b4-b912-89aed65fa3fa.png)

Should take a couple of days to land and show up.

[2022-09-06 22:07] eellison opened #1138 "Refactor Capture Scalar Outputs to use SymInts/SymFloats"
Currently, in order to support tracking`.item()` calls, `capture_scalar_outputs ` will wrap the output of `.item()` with a 0-element tensor. We should refactor this to work with SymInts/SymFloats for a few reasons:

- fake tensor / proxy tensors will be doing their own internal constant tracking which can distinguish between calls of .item() which are statically known and those that are not, and t

[2022-09-06 22:14] eellison opened #1139 "Turn On Capture Scalar Outputs By Default"
Capturing scalar outputs improves perf e.g. by capturing the optimizer. Now that the fx subgraph capability matcher has landed, it should be easy for backends which do not support scalars to compile subgraphs even with this config turned on. Additionally, having a config option be off by default means its test coverage is extremely limited.

[2022-09-06 22:40] voznesenskym commented on #1139
SGTM - I wrote it off by default because backends had no way of handling it. Let's just put up a PR switching it on, see what it does on torchbench and CI and make sure it works, and if it all looks good with aot and inductor, we can land that, and then followup with a PR removing it.

That being said, it may not work fully with aot_autograd and inductor, so I would stress the importance of testin

[2022-09-06 23:03] shingjan commented on #813
@ezyang Sorry for the late response. The following is the error if I change the backend to `eager`:
[code]
It is the same error if I switch to `aot_autograd`. I am not quite sure what is aot eager so I tried both `eager` and `aot_autograd`. Also I wonder if you can provide more context on TorchScript being rid of. Is there a decision made to deprecate TorchScript in favor of some other alternative

[2022-09-07 00:02] eellison commented on #1139
yea, sounds good. will do pending https://github.com/pytorch/torchdynamo/issues/1138, because currently `capture_scalar_outputs` has bad interactions with fake tensor

[2022-09-07 01:57] jansel commented on #1133
I'd also suggest moving the:
[code]
outside of the `torchdynamo.optimize()`

[2022-09-07 03:16] rdspring1 commented on #1058
nvfuser is returning a contiguous tensor while eager mode creates a strided tensor.
The following `transpose` creates a strided tensor, which causes the runtime error with the final `linear` layer.

Here is standalone repro:
[code]

cc @jjsjann123

[2022-09-07 03:39] ezyang commented on #813
This would be the same bug as https://github.com/pytorch/torchdynamo/issues/837 then

[2022-09-07 09:03] jjsjann123 commented on #1058
yeah... this is expected behavior. A note is that we do intend to improve memory format support after we wrap up our transpose scheduler.

Currently we don't promise any memory format on output tensors, because the lack of performance transpose scheduler, permutation on output could bomb our kernel perf.

We intended to improve it by following TS profiled output memory format. I don't currently ha

[2022-09-07 09:13] jjsjann123 commented on #1058
Just to clarify.

^^^ this is expected behavior in general. We try a best effort to stick to what eager has, but it's not a guarantee.

[code]

hmmm... looking at this example, I'm not sure how things get messed up with nvfuser. We are not fusing transpose, and our pointwise memory format handling should be pretty close to what eager has... But we also have `self.alpha = torch.randn(1, 1, 3, devic

[2022-09-07 18:48] anijain2305 opened #1145 "[inductor] invalid operands of type pointer<fp32> and triton.language.fp32"
Affects PLBartForConditionalGeneration, MBartForConditionalGeneration

Repro
[code]

Error
[code]

[2022-09-07 18:54] desertfire commented on #1023
The latest error msg is a CUDA error,
[code]

[2022-09-07 19:12] desertfire commented on #779
Combine with https://github.com/pytorch/torchdynamo/issues/511

[2022-09-07 19:12] #779 closed

[2022-09-07 19:13] desertfire commented on #780
Combine with https://github.com/pytorch/torchdynamo/issues/511

[2022-09-07 19:13] #780 closed

[2022-09-07 19:25] desertfire opened #1147 "[aot_autograd] LSTM is not supported"
Repro:
[code]
Error:
[code]

[2022-09-07 19:33] desertfire opened #1148 "TorchBench training error: RuntimeError: Default process group has not been initialized, please make sure to call init_process_group."
Repro:
[code]
Error:
[code]

[2022-09-07 19:33] desertfire commented on #1148
Assign to @wconstab as it is DDP related.

[2022-09-07 19:42] desertfire commented on #798
https://github.com/pytorch/torchdynamo/pull/1028 adds TIMM

[2022-09-07 19:45] desertfire opened #1149 "TorchBench training error: CUDA graph error"
Repro:
[code]
Error:
[code]

[2022-09-07 19:46] desertfire commented on #1149
Should be CUDA graph related. Turning off CUDA graph makes them pass.

[2022-09-07 19:51] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/sdUn7i6.png)
passrate_over_time.png : ![](https://i.imgur.com/UWG80iQ.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-07 19:53] desertfire opened #1150 "TorchBench training error: MemoryError: std::bad_alloc"
Repro:
[code]
Error:
[code]

[2022-09-07 20:02] anijain2305 commented on #1135
Repro

[code]

[2022-09-07 20:35] wconstab commented on #1148
this looks like a benchmark config issue to me.  can you shed any light on why it's popping up now? (did we just start running this model for the first time, or something else changed?)

if we're trying to benchmark a model wrapped in DDP we should init the process group first.  Since we don't support  DDP benchmarking in the `torchdynamo/benchmarks/*` infra, there isn't any infra in there that in

[2022-09-07 20:45] Chillee commented on #1135
I think this is caused by removing some decomposition from `_unsafe_view` to reshape.

[2022-09-07 20:45] desertfire commented on #1148
For context, the issue was hidden behind some other bugs. We can skip this model for now (cc @anijain2305), but thought it would be an interesting use case for your study.

[2022-09-07 20:52] anijain2305 opened #1153 "[inductor] [tacotron2] torchinductor.exc.LoweringException: AssertionError: s1"
Repro

[code]

[code]

[2022-09-07 20:53] wconstab commented on #1148
@xuzhao9 Do you know why moco would be wrapped in DDP by default? I think for other models we avoided having the DDP wrapper in the normal (non-distributed) benchmarks.  Should we also remove it from moco?

we can, separately, benchmark moco-ddp, but we should do that using the 'distributed' trainer in torchbench.  that would apply DDP wrapper itself to the model, so we'd be double-wrapping in 2 l

[2022-09-07 22:38] jansel commented on #1149
@ngimel said this is due to `fused_moving_avg_obs_fake_quant_cuda`, which has a synchronization and thus cannot be captured.

I think we just need to add the offending op to this function:
https://github.com/pytorch/torchdynamo/blob/fe3173f7e6c804e6330ac187ea8e4101f45ff9a2/torchinductor/utils.py#L170

[2022-09-07 23:33] jansel commented on #1150
This looks like an out of memory error

[2022-09-08 00:03] shingjan commented on #813
The error on aot_autograd and eager seems to be the same bug as #837 and I will follou-up with the result on torchscript once the fix is checked in. Circling back to TorchScript being deprecated, is there any more context about that? Thanks!

[2022-09-08 00:59] ezyang commented on #813
So, I'm talking specifically about dynamo backends. The TS+nvFuser backend is historically the most stable backend but it has some hard to fix TS-related problems that we aren't planning to actually fix. Instead, for compiled mode, you should either use inductor, or the new Python+nvFuser backend.

[2022-09-08 13:22] desertfire commented on #964
Problem solved.

[2022-09-08 13:22] #964 closed

[2022-09-08 13:30] desertfire commented on #1023
Minifier reveals that the inputs to the graph contain a mix of cuda and cpu tensors,
[code]

[2022-09-08 13:39] ezyang opened #1166 "Dynamo eager with sparse tensors gives wrong numeric results"
Steps to reproduce:
1. Patch in https://github.com/pytorch/pytorch/pull/84641 (this fixes enough bugs that dynamo successfully captures some sparse code)
2. Run `PYTORCH_TEST_WITH_DYNAMO=1 python test/test_sparse.py -k test_softmax_cpu_float64`

The unit test fails due to tensor difference.

Here is the info level log.

<details>
[code]
</details>

In particular, notice there is a sparse tensor in

[2022-09-08 15:41] #1153 closed

[2022-09-08 16:43] ezyang opened #1167 "Very first node in FX graph has misattributed stack"
Steps to reproduce:
1. Build PyTorch at https://github.com/pytorch/pytorch/pull/84246 (at time of writing, I was on ce220330e5d69899ee89ea8dd533ae81e08e0667 ); this step may not be necessary but I did not try
2. Make log.info print stack traces for the traced graph with this patch

[code]

(btw, we should consider making this the default)

3. Inspect the printed graph from `python benchmarks/torch

[2022-09-08 18:21] jansel opened #1171 "Generate better eviction_policy hints"
Our current codegen doesn't do a great job with eviction_policy hints:
https://github.com/pytorch/torchdynamo/blob/3e2e6e39532f8ecc3dd24f6102ba3464e06d795f/torchinductor/codegen/triton.py#L734
See [PTX docs](https://docs.nvidia.com/cuda/parallel-thread-execution/index.html#cache-eviction-priority-hints) for more info on the meanings.

We should add an analysis pass that only sets `eviction_policy=

[2022-09-08 18:27] jansel opened #1172 "Convert simple usage of copy.copy/copy.deepcopy to pytorch ops"
This code will currently trigger a graph break:
[code]

We should be able to handle this by mapping it to `torch.clone()` and not graph breaking.

[2022-09-08 19:03] jansel opened #1174 "Add tiling to TorchInductor C++ backend"
The [C++ backend](https://github.com/pytorch/torchdynamo/blob/main/torchinductor/codegen/cpp.py) currently does not do any tiling like the [Triton backend does](https://github.com/pytorch/torchdynamo/blob/8be5842ed74e7e16bc734814befa5365305d5ca5/torchinductor/codegen/triton.py#L1249).

We could likely map this to `#pragama omp tile(...)` somewhat easily.

[2022-09-08 19:49] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/1LkgelV.png)
passrate_over_time.png : ![](https://i.imgur.com/OMwixNo.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-08 20:13] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/P285mtU.png)
passrate_over_time.png : ![](https://i.imgur.com/VPKAy3o.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-08 20:54] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/DGCFdWi.png)
passrate_over_time.png : ![](https://i.imgur.com/Iq4rb2t.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-08 22:07] desertfire opened #1176 "TorchBench training error: CUDA: Error- invalid value : speech_transformer"
Repro:
[code]
Error:
[code]

[2022-09-08 22:13] desertfire commented on #1176
The failure is caused by having CPU tensors as graph inputs, and they are coming from https://github.com/pytorch/benchmark/blob/e02e7ff0c15329e3590c2203698d892aed107054/torchbenchmark/models/speech_transformer/speech_transformer/transformer/attention.py#L23, so the scalars are turned into tensors at some step with device set as `CPU`.

[2022-09-08 22:20] jansel opened #1177 "Use graph partitioner to remove ops that can be captured with cudagraphs in TorchInductor"
Currently, in TorchInductor cudagraphs usage is all-or-nothing. This test decided if we use it:
https://github.com/pytorch/torchdynamo/blob/116ae7f868fc46c197cb08094f3117525d1b9de8/torchinductor/compile_fx.py#L63-L68

This could lead to some performance cliffs where adding a single bad op to your graph flips off cudagraphs and hurts performance for unrelated ops.

We should try partitioning the gr

[2022-09-08 22:48] yanboliang opened #1178 "Bert model training fails with inductor"
Repro:
[code]
Error:
[code]

[2022-09-08 22:48] yanboliang commented on #1178
@Chillee

[2022-09-08 23:00] voznesenskym commented on #1178
+
cudagraphify in the stack trace

Can you figure out which op this is, and add it to the forbidden list in has_incompatible_cudagraph_ops?

[2022-09-08 23:56] Chillee commented on #1030
I don't think we should make it a primitive.

For symbolic shape purposes, this op is a non-starter.

I think we should just intercept in torchdynamo.

[2022-09-09 06:16] yanboliang commented on #1176
I think this may be relevant to unspec variable, as it's a numpy float, we wrap it as tensor before passing to the FX graph. I can take a closer look tomorrow to confirm.

[2022-09-09 11:08] Lezcano commented on #327
Might be interesting to remove the `_backward` functions from high prio, as they'll hopefully be implemented automatically from the prims?

[2022-09-09 17:54] anijain2305 commented on #739
We graph break on this now. So, we can close this one.

[2022-09-09 18:06] anijain2305 opened #1184 "TorchDynamo log.debug is not getting printed for TorchDynamo tests"
While running the Dynamo with `pytest`, even when I switch `torchdynamo.config.log_level` to DEBUG, I dont see `log.debug` statements printed out. Same problem exists when PyTorch tests are run with Dynamo.

[2022-09-09 18:59] davidberard98 opened #1185 "[inductor][ddp] File not found when trying to rename tmp_path to path in code cache"
Repro:
Run with:
* inductor & dynamo, main branch
* pytorch, master branch
* torchbench, https://github.com/pytorch/benchmark/blob/wconstab/ddp_experiments/ddp_experiments.py
* 8 gpus per node, 2 nodes (I can repro more reliably with n>=2 nodes), resnet50 model (cannot repro on other models)

[code]

[2022-09-09 19:29] jansel commented on #1184
See https://docs.pytest.org/en/7.1.x/how-to/logging.html

And [pytest.ini](https://github.com/pytorch/torchdynamo/blob/main/pytest.ini)

[2022-09-09 19:35] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/UETbprx.png)
passrate_over_time.png : ![](https://i.imgur.com/mQOtG5s.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-09 20:36] jansel commented on #327
AFAIK generating backwards automatically is not working yet.

[2022-09-09 20:37] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/VgnpqJ5.png)
passrate_over_time.png : ![](https://i.imgur.com/FZS1np9.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-09 20:38] Chillee commented on #327
@jansel We also were not able to obtain good performance from the automatically generated backwards for upsample_bilinear2d.

[2022-09-09 20:40] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/8VKg3T3.png)
passrate_over_time.png : ![](https://i.imgur.com/dFZMfGE.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-09 23:31] desertfire opened #1188 "TorchBench training error: RuntimeError: unsupported operation"
Repro:
[code]
Error:
[code]

[2022-09-09 23:57] williamwen42 commented on #948
Cannot exactly replicate the observed issue, but made preemptive fixes so that warnings/logging should not interfere with user code.

[2022-09-09 23:57] #948 closed

[2022-09-10 00:06] wconstab commented on #1185
we should probably rebase the ddp_experiments branch on latest torchbench main, if nothing else, it should get us past this `WARNING:root:Using TorchDynamo with a context manager will be deprecated soon.Please read https://github.com/pytorch/torchdynamo#usage-example to use TorchDynamo using an annotation.` since @xuzhao9 recently updated to use the new api.

[2022-09-10 00:13] davidberard98 opened #1189 "torchbench models hf_Bert, hf_GPT2_large failing with `A view was created in no_grad mode...`"
hf_Bert (and hf_GPT2_large) fail with this error:

[code]

This issue is probably in the optimizer, because commenting out `optimizer.step()` causes the error to go away. https://github.com/pytorch/benchmark/blob/main/torchbenchmark/util/framework/huggingface/model_factory.py#L115

Repro: run torchbench with https://github.com/pytorch/benchmark/pull/1173:
[code]

[2022-09-10 00:15] davidberard98 commented on #1189
Note: commenting out the `optimizer.step()` line also removes many lines of thesee warnings:
[code]

[2022-09-10 00:15] wconstab commented on #1189
cc @mlazos seen this before on your optimizer work?  or anyone else @anijain2305 @voznesenskym

[2022-09-10 00:18] wconstab commented on #1185
cc @jansel @ngimel any idea if /tmp errors like the above could be caused by /tmp being full on a machine?  we're farming these jobs out via slurm.  it is DDP, so we expect the same kernels get compiled on each rank.  does inductor do anything unsafe w.r.t. assuming that no other inductor process is running the same model on the same machine?

[2022-09-10 00:22] desertfire commented on #1188
The same as the error reported in  https://github.com/pytorch/torchdynamo/issues/838

[2022-09-10 00:22] desertfire commented on #1188
The same as the error reported in  https://github.com/pytorch/torchdynamo/issues/838

[2022-09-10 00:33] anijain2305 opened #1190 "[inductor] Accuracy issue tracker"
Major deviations
- [ ] LayoutLMForMaskedLM - https://github.com/pytorch/torchdynamo/issues/1235
- [ ] crossvit_9_240 - https://github.com/pytorch/torchdynamo/issues/1233
- [ ] vit_base_patch16_224
- [ ] tinynet_a

Somewhat major deviations
- [ ] gluon_xception65
- [ ] spnasnet_100
- [ ] mobilenetv2_100

Repro - WIP - https://github.com/pytorch/torchdynamo/pull/1187

[2022-09-10 01:07] Chillee commented on #1135
Resolved by https://github.com/pytorch/pytorch/pull/84801

[2022-09-10 02:38] jansel commented on #1185
I don't think so.  If we were out of space the file creation on the line above would have failed.

I think this has to do with multiple forked processes racing trying to write the same file.  Perhaps this will fix it:
[code]

[2022-09-10 05:04] jansel commented on #1185
I already submitted #1191 (it seems like a good change even if it doesn't fix it)

[2022-09-10 21:23] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/TBzgiNw.png)
passrate_over_time.png : ![](https://i.imgur.com/5rED2oV.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-10 21:24] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/DlV69W1.png)
passrate_over_time.png : ![](https://i.imgur.com/EP2EyFv.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-11 00:21] Chillee opened #1194 "[inductor] failure for code from symbolic shape tracing"
Just saving here for later investigation. Haven't checked if it repros on inductor master.

[code]

[2022-09-11 02:03] anj-s commented on #1189
cc @voznesenskym  This is the issue I ran into when benchmarking inductor for a GPT-3 style model. @torchdynamo.optimize("inductor")   wps: 14.473 for the first step before failing with the error: https://www.internalfb.com/phabricator/paste/view/P528342256

For comparison:
@torchdynamo.optimize("eager")   wps: 5290.917
@torchdynamo.optimize("aot_nop") wps: 4618.392
@torchdynamo.optimize("nvfuser"

[2022-09-11 02:21] voznesenskym commented on #1189
No, interestingly, I've never seen this, but I wonder why anything is made in no_grad mode here - let me take a look.

[2022-09-11 02:22] voznesenskym commented on #1189
Interesting - I wonder if we regressed something. Can you share the script? Internal diff is fine.

[2022-09-11 02:39] voznesenskym commented on #1189
Confirmed.

[2022-09-11 14:48] anj-s commented on #1189
Updated the [paste](https://www.internalfb.com/phabricator/paste/view/P528452557) with location of the script and repro commands.

[2022-09-11 18:05] voznesenskym commented on #1189
Thanks :)

I tracked this down to `CreationMeta::NO_GRAD_MODE` being set, I need to see if it's correct. ATM, torchdynamo looks like its handling the grad mode correctly (at first blush). I'm looking into wether GradMode matches what we expect it to.

[2022-09-11 20:27] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/bdz27VR.png)
passrate_over_time.png : ![](https://i.imgur.com/hByn40r.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-11 21:15] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/j8gAVSM.png)
passrate_over_time.png : ![](https://i.imgur.com/rR4mMYa.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-12 05:08] yanboliang commented on #1189
I hit this issue when I was running the end-to-end training loss benchmark. The extra info I can provided is: this error only happens when running on GPU, it works well on CPU. @anijain2305 mentioned this may be relevant to #1076.

[2022-09-12 05:39] ngimel commented on #1178
The faulty kernel is kernel0 in backward, abridged repro (runnable) is in https://gist.github.com/ngimel/93acfb30c9b2eccbb57151d406e462d5#file-bert_training-py-L107. Note how buf4, buf5, buf340 (out_ptr4, out_ptr5, out_ptr6 in the kernel) are of size (4, 512, 768), where (4, 512) maps to X, so to properly address out_ptr4,5,6 x should be less than 4*512=2048. However, range of x is 4096 (xnumel ar

[2022-09-12 06:00] yanboliang commented on #1147
This is similar to the issue that #806 is trying to fix, as FX doesn't support ```torch.storage.UntypedStorage``` as [base type](https://github.com/pytorch/pytorch/blob/master/torch/fx/proxy.py#L154), so throw ```NotImplementedError``` error when there is ```torch.storage.UntypedStorage``` in ```fx.node.args```.

[2022-09-12 06:12] yanboliang opened #1198 "Run Inductor on nn.Modules crawled from github"
Like [what we did for TorchDynamo](https://github.com/pytorch/torchdynamo/issues/156), we will run inductor on 8k ```nn.Modules``` crawled from 1k github projects to get coverage level, find and fix bugs.

[2022-09-12 06:15] ngimel opened #1199 "debug saving pre- and post-fusion IR doesn't work"
Running repro in #1178 with TORCHINDUCTOR_TRACE=1 results in
[code]
(similar for pre_fusion)

[2022-09-12 06:27] voznesenskym commented on #1199
I saw this on my divide-by-zero PR in lowering.py (See my comment with that same typerror string in the file), I can take this on if you don't have time @ngimel.

[2022-09-12 08:33] Lezcano commented on #327
As discussed in the catch-up, I would like to understand better the reason as to why we weren't able to get good performance out of the generated `upsample_bilinear2d_backward`.

In any case, my point is that, if we are going for coverage, if we (@SherlockNoMad was doing it?) implement the ideas on how to generate backward formulas from the forward graphs, we could knock out almost all the remaini

[2022-09-12 17:35] #1145 closed

[2022-09-12 17:47] desertfire opened #1200 "TorchBench training error: AttributeError: 'NoneType' object has no attribute 'type"
Repro:
[code]
Error:
[code]

[2022-09-12 17:53] anijain2305 commented on #1132
It's a good question. I chose `aot_eager` just because `aot_eager` represents whats going on in TorchInductor lowering.

Imo, I think having `aot_eager` work well with re-inplacing should also be done with high priority. Developers might use `aot_eager` setup to get the graphs for their own backends, and not supporting eager batch size will be a bad UX there.

For `aot_cudagraphs`, if we have fake

[2022-09-12 17:59] bdhirsh commented on #1132
Yeah, that seems totally fair. I'll start to take another swing at turning re-inplacing on in the aot_eager backend

AFAIK, that should be everything. I guess we'll have to turn them both on and confirm that nothing breaks though.

[2022-09-12 18:00] desertfire commented on #1200
[code]

[2022-09-12 18:10] #1119 closed

[2022-09-12 21:09] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/wpUq6yJ.png)
passrate_over_time.png : ![](https://i.imgur.com/Z6cJ1KQ.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-12 21:28] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/VRq2Hij.png)
passrate_over_time.png : ![](https://i.imgur.com/diKEVKu.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-12 21:35] bdhirsh commented on #1030
Oh I ended up making a fix here (I can hold off on landing): https://github.com/pytorch/pytorch/pull/84868

Hmmm @Chillee, can you elaborate? Right now, the decomposition basically just results in garbage. So anyone who isn't using the dynamo stack that runs this op would probably still run into trouble (XLA tensors, or basically using a tensor subclass that doesn't have valid storage).

[2022-09-12 21:45] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/qafUQhj.png)
passrate_over_time.png : ![](https://i.imgur.com/2dR3xRe.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-12 21:57] Chillee commented on #1132
I don't think missing re-inplacing is the cause of the higher memory footprint.

[2022-09-12 22:33] jansel commented on #327
We need performant versions of backwards ops.  If the auto-generated ones aren't fast enough, the  we will need to write them by hand.

[2022-09-12 22:41] suo opened #1203 "Autograd function causes unnecessary graph break"
Found on a quantized pyspeech model internally. The following code raises an exception:
[code]

The exception is `torchdynamo.exc.Unsupported: call_function AutogradFunctionVariable() [] {}`.

Looking at the code in `misc.py`, changing the forward like this will work:
[code]

But both should work; seems like we're just missing a definition of `call_function` on `AutogradFunctionVariable`.

[2022-09-12 22:42] jansel commented on #1132
Functionalization should not double memory usage as long as we properly free intermediates.  I think this is more likely a memory bug.

[2022-09-12 22:44] suo commented on #1203
cc @voznesenskym heads up that I ran into this enabling models for the executorch september milestone (work-aroundable by patching upstream but would be nice to fix).

[2022-09-12 22:51] suo commented on #1203
Another should-be-equivalent variation of `Foo` that doesn't work:
[code]
produces:
[code]

[2022-09-12 23:17] ngimel commented on #1194
It runs normally on master

[2022-09-12 23:32] Chillee commented on #1132
@bdhirsh To clarify, the fact that it's happening *during* tracing means that it's not the *result* of functionalization that has higher peak memory, it's something that functionalization is doing during tracing.

So a re-inplacing pass wouldn't change things. OTOH, I suspect using faketensors during aotdispatcher would just fix things?

[2022-09-13 00:44] williamwen42 commented on #1184
#1197 does not address issue of debug logs showing up when `torchdynamo.config.log_level` is set to `DEBUG`.

[2022-09-13 01:20] #1199 closed

[2022-09-13 02:08] suo opened #1209 "`cond` won't compile if one branch returns its argument"
Repro:
[code]

Compilation of the true branch fails with:
[code]

cc @voznesenskym

[2022-09-13 03:00] voznesenskym commented on #1209
This is a real bug - cond relies on export, and I bet it's failing to graph capture true_fn. Good find, thank you, I'll fix it ASAP.

[2022-09-13 08:19] Lezcano commented on #327
But we don't know whether the auto-generated versions aren't fast enough a priori. I'd be surprised if the autogenerated version of `grid_sampler_2d_backward` weren't performant, for example.

[2022-09-13 08:22] Chillee commented on #327
@Lezcano That's easy to test today, similar to how I tested that the autogenerated `upsample_bilinear2d` backwards wasn't performant.

Just do something like...
[code]

And then benchmark it compared to eager-mode, at least.

[2022-09-13 08:35] Lezcano commented on #327
Would it be fair to cross out from this list those operations that we find that are at least as fast as eager?
Also, that `f` does a `sum` which is a reduction, and thus cannot be fused. Would it be fair to do
[code]
where `g = torch.ones_like(x)` is precomputed?

[2022-09-13 15:06] bdhirsh commented on #1132
Oh yep. Totally agreed that we need fake tensors during aotdispatcher to fix the higher peak memory from tracing. I just mean that I think we'll need both - fake tensors during tracing, *and* re-inplacing afterwards. (Although like you pointed out, those might not be the only two causes of higher peak memory).

[2022-09-13 15:16] fdrocha commented on #327
I will work on `upsample_bicubic2d`

[2022-09-13 15:53] Lezcano commented on #327
I'm doing `index_{add,copy}`.

[2022-09-13 16:09] eellison commented on #1188
Fixed with https://github.com/pytorch/torchdynamo/pull/1208

[2022-09-13 16:09] #1188 closed

[2022-09-13 16:09] eellison commented on #838
Should be fixed with https://github.com/pytorch/torchdynamo/pull/1208

[2022-09-13 16:09] #838 closed

[2022-09-13 16:11] davidberard98 opened #1212 "[ddp] profiler::_record_function_enter() expected at most 2 argument(s)..."
Repro: run https://github.com/pytorch/benchmark/blob/wconstab/ddp_experiments/ddp_experiments.py on resnet50 with 2 nodes with `inductor` backend.
With pytorch at https://github.com/pytorch/pytorch/pull/83333 and dynamo at https://github.com/pytorch/torchdynamo/pull/628.

I'm still working on a more minimal repro.

Error: shown below. After adding debug flags (e.g. DDPOptimizer.debug = True, added

[2022-09-13 16:24] desertfire commented on #327
Thanks! I have assigned https://github.com/pytorch/torchdynamo/issues/885 to you for tracking purpose.

[2022-09-13 16:29] #1209 closed

[2022-09-13 16:36] desertfire commented on #965
I think this the same problem I am seeing for max_pool2d_with_indices_backward in  https://github.com/pytorch/torchdynamo/issues/1200. I will create another PR similar to https://github.com/pytorch/torchdynamo/pull/1211.

[2022-09-13 16:57] Chillee commented on #327
@Lezcano I don't see any reason why a sum can't be fused? Also, tbh, not fusing it would be a fairer comparison to eager, as usually your fw + bw graph need to be broken up.

[2022-09-13 16:59] Chillee commented on #1132
I think higher peak memory afterwards is just coming from the "backwards pass holding onto activations for the duration of the backwards pass". I'll make an issue for it.

[2022-09-13 17:34] anijain2305 commented on #795
@wconstab Can we close this one?

[2022-09-13 17:35] mlazos opened #1214 "Duplicate graph break warnings"
We print graph break warnings multiple times, as we attempt to inline and continue to attempt to compile functions. We should only print a graph break once per break.

Repro:

https://gist.github.com/mlazos/6a63ad1e6470dc12329b165adab20df8

[2022-09-13 17:42] #795 closed

[2022-09-13 18:19] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/bPuSIgy.png)
passrate_over_time.png : ![](https://i.imgur.com/DdDIneE.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experimen

[2022-09-13 18:32] eellison opened #1215 "Fake Tensor Enablement Follow - Ups"
- fix batchnorm 2d decomp cpu error
(More to be filled)

[2022-09-13 18:38] anijain2305 commented on #1212
cc @mlazos @yanboliang

[2022-09-13 18:46] davidberard98 commented on #1185
#1191 looks like it fixes the issue, thanks!

[2022-09-13 18:46] #1185 closed

[2022-09-13 18:54] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/YzDHYh3.png)
passrate_over_time.png : ![](https://i.imgur.com/RIAs61L.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-13 18:56] ngimel commented on #923
Fixed on master

[2022-09-13 18:56] #923 closed

[2022-09-13 19:33] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/S1N68Pd.png)
passrate_over_time.png : ![](https://i.imgur.com/4NRCkcs.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-13 19:40] davidberard98 commented on #1212
This script errors with the same issue:

[code]

In this case I'm able to workaround by disallowing the profiler op, and running on https://github.com/pytorch/torchdynamo/pull/1213.

However, the workaround doesn't work with the original torchbench workflow.

[2022-09-13 21:08] ngimel commented on #327
@lezcano, `sum` can be and is fused, but that's a good point, in backward instead of full-size gradOutput we are getting expanded single-element tensor, which is less indicative of the real performance, so the benchmarking script has to be minimally changed
[code]

[2022-09-13 21:09] ngimel commented on #885
@eellison `index_put` also accumulates arbitrarily many indices into the same location

[2022-09-13 21:13] #1200 closed

[2022-09-13 22:59] anj-s opened #1217 "Multiple issues training a conv model with torchinductor"
I ran a simple E2E example with a conv model + MNIST data and these are the errors I ran into:

1. TensorBoard profiling does not work
2. TORCHINDUCTOR_TRACE = 1 raises an error
3. max_pool2d_with_indices_backward and max_pool2d_with_indices lowering throw an assertion error in len(strides) == 2.

See [paste](https://www.internalfb.com/phabricator/paste/view/P529082551) for full repro, stack trace

[2022-09-13 23:06] voznesenskym commented on #1217
Thank you, I can take a look at these later this week.

Thats probably unrelated to tensorboard. I can look.

Can you get latest dynamo? A whole bunch of these were recently fixed.

Maybe Fixed in #1211 ?

I don't have access (404)

[2022-09-13 23:13] ngimel commented on #1217
1. That's unfortunately a long standing bug, kineto profiling doesn't work with cudagraphs https://fb.workplace.com/groups/1144215345733672/permalink/2303849063103622, can you try disabling cudagraphs and see if it's fixed?

[2022-09-13 23:13] anj-s commented on #1217
Sounds good! Its not blocking me but figured I'd report them here anyway.

Yeah, works with nvfuser backend.

The paste has a context about this but essentially we don't expect strides to be an empty list.

https://www.internalfb.com/phabricator/paste/view/P529090378

[2022-09-13 23:23] ngimel commented on #926
It's a caching issue (likely simpy expr caching issue), when I start directly from iter 9, the launch parameters are generated correctly, and no IMA, I suspect there's a similar caching issue in #1178, as it runs correctly when attempting to minify, when only a single graph object is compiled.

[2022-09-14 05:50] ngimel commented on #926
Both this and #1178 are fixed by disabling `_simplify_loops` caching https://github.com/pytorch/torchdynamo/blob/138eb96c36c6ba5a14e65d28fad3cbd5a6e6dcfc/torchinductor/codegen/common.py#L29 because it accesses `V.graph.sizevar.replacements` internally, thus cache based on inputs only is invalid.
Should we roll manual cache here that also checks `replacements`? cc @jansel

[2022-09-14 08:32] Lezcano commented on #885
This and `index_copy` can be done as a decomposition in terms of `index_put` doing something like `x[:, :, ..., idx] = tensor`. Writing a lowering should also be easy, as it's pretty much the same as `index_select` which also has a lowering. I was going to implement the two and see how they compare, but a priori I think they should be comparable, so the decomposition should be better.

[2022-09-14 09:00] Lezcano commented on #327
I thought someone mentioned that reductions cannot be fused with each other. In any case, yes, I think the cleanest way to do this is the one proposed by Natalia.

[2022-09-14 12:36] Lezcano commented on #885
The decompositions are here: https://github.com/pytorch/pytorch/pull/85002.

@eellison if you implement the lowering, you can benchmark it against the decomposition see how they fare.

[2022-09-14 14:09] desertfire commented on #1190
I verified, these following 3 benchmarks are fixed on master. I do notice CUDAgraph disabled warning from Elias's recent checkin, I think that's likely why they got fixed.
[code]

[2022-09-14 14:12] desertfire commented on #1190
I should clarify I used `--float32`, not sure if you are talking about `--amp`. It will be helpful to post the cmdline you used here.

[2022-09-14 14:42] Lezcano commented on #885
Of course, if you guys think that the decomposition is more convenient than the lowering, I could implement the decomposition for `index_select` and remove the lowering.

[2022-09-14 18:03] #713 closed

[2022-09-14 18:08] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
geomean_over_time.png : ![](https://i.imgur.com/KzBhbbj.png)
passrate_over_time.png : ![](https://i.imgur.com/9g1cYWw.png)

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these exper

[2022-09-14 18:56] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we

[2022-09-14 18:57] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-14 19:27] anijain2305 opened #1227 "Regression detected in latest nightly runs"
`aot_eager` passrate has dropeed in the latest fp32 runs.

![image](https://user-images.githubusercontent.com/13822661/190244607-02ffa5eb-bf72-45d3-8592-573aaaccd80a.png)

There are both accuracy issues and Exceptions raised as a result of using fake tensors.

We might have to revert - https://github.com/pytorch/torchdynamo/pull/1201

Full log - /data/home/anijain/cluster/cron_logs/day_257_09_14_2

[2022-09-14 19:36] bdhirsh commented on #1030
Attempting to summarize offline conversation with @Chillee

This PR might be insufficient for two reasons:

(1) presumably if you're storing a shape inside of a tensor, there is probably some code later that calls `.item()` on it to grab the shape and create a tensor of that shape. If we make `_shape_as_tensor` a primitive, then that tensor shape becomes dynamic tensor data, and mobile's tracer wo

[2022-09-14 21:27] zhxchen17 commented on #1030
cc @suo who knows better about the model behavior.

[2022-09-14 21:34] #926 closed

[2022-09-14 22:40] yanboliang commented on #1212
I think this is a fake tensor bug, not dynamo one. Actually users don't explicitly call ```with torch.autograd.profiler.*``` in their code, the calling comes from fake tensor propagation. The root cause is: fake tensor [adds a new kwargs](https://github.com/pytorch/pytorch/blob/master/torch/_subclasses/fake_tensor.py#L288) before calling the ops, so the function complains there are one more argume

[2022-09-14 22:41] desertfire opened #1230 "Op accuracy check failure: aten._softmax_backward_data.default"
Repro:
[code]
Error:
[code]

[2022-09-14 22:43] desertfire opened #1231 "Op accuracy check failure: aten._log_softmax_backward_data.default"
Repro:
[code]
Error:
[code]

[2022-09-14 22:58] desertfire opened #1232 "fmod error"
Repro:
[code]
Error:
[code]

The problem is `tl.libdevice.fmod` doesn't like to take an int as its parameter.

[2022-09-14 23:01] #965 closed

[2022-09-14 23:32] Chillee commented on #1227
@anijain2305 I would vote for keeping it like this - I think fake tensors are important to enable and we should work on fixing the bugs instead of reverting them.

[2022-09-14 23:41] voznesenskym commented on #1227
Huge +1

[2022-09-15 00:02] eellison commented on #1227
@Chillee and I have identified the root cause - working on a fix (something to do with tied parameters)

[2022-09-15 00:22] anijain2305 commented on #1227
Totally works for me. Let's keep the priority high for this though. From what I saw, the param.grad were 2x of the eager counterparts. So, tied parameters sounds like the right direction to me.

[2022-09-15 00:23] anijain2305 commented on #1227
And while we are at it, the skips in https://github.com/pytorch/torchdynamo/issues/1215 might also be because of the asme reason.

[2022-09-15 00:38] desertfire commented on #1231
Might be the same problem as https://github.com/pytorch/torchdynamo/issues/1230

[2022-09-15 00:42] anijain2305 commented on #1190
I still see it at the `main` branch. My command is `python benchmarks/timm_models.py --accuracy --ci -d cuda --inductor --float32 --training --only=crossvit_9_240`

[2022-09-15 01:13] anijain2305 opened #1233 "[inductor] Accuracy for crossvit"
https://github.com/pytorch/torchdynamo/issues/1190

[code]

[2022-09-15 01:32] anijain2305 opened #1235 "[aot_eager] index_put_ is not functionalized - failing CSE"
[code]

[2022-09-15 03:57] ezyang commented on #1030
Can't we do the same trick we're doing for wrapped numbers? The produced tensor has a special private attribute saying how you can recover the SymInts that went into it, and if you item() call from Python, you use those attributes to work it out.

[2022-09-15 04:06] jansel commented on #1232
We should be able to add a `.to(tl.float32)` in codegen.

[2022-09-15 04:08] davidberard98 opened #1236 "[ddp] AssertionError: torch.* op returned non-Tensor MaskedLMOutput call_module self_model"
DistributedDataParallel is a `torch.nn` module, but it doesn't conform to some of the expectations for torch.nn modules (i.e. that return value is a tensor type). https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/variables/nn_module.py#L190 is taken because `is_allowed(mod.__class__)` is true. Then dynamo errors out because it expects a tensor type but gets something else.

Repro: https

[2022-09-15 16:13] desertfire commented on #1231
This is a type conversion issue in the operatorbench script. Using `--dtype=float16` will pass. Close this one and leave https://github.com/pytorch/torchdynamo/issues/1230 open for tracking script fix.

[2022-09-15 16:13] #1231 closed

[2022-09-15 16:14] desertfire commented on #1230
`--dtype=float16` will make it pass. It is a benchmark script issue.

[2022-09-15 17:53] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-15 17:57] suo commented on #1030
@bdhirsh the way it's used is basically:
[code]
with static shapes, so rewriting the `_shape_as_tensor` call as a `size()` call works fine. The purpose of `_shape_as_tensor` is generally to make ONNX tracing work.

Here's an example PR I put up manually rewriting this pattern: https://github.com/facebookresearch/fairseq/pull/4708

[2022-09-15 18:31] wconstab commented on #1236
cc @anijain2305 @xuzhao9 - i recall having to handle the non-standard outputs from bert at the benchmark layer, but, i don't remember having to deal with handling them in the dynamo/fx layer.  are we just calling/compiling the model differently now such that this shows up, or has something regressed?

[2022-09-15 18:51] davidberard98 opened #1237 "[ddp] must set `static_graph=False` when running with dynamo"
[static_graph](https://pytorch.org/docs/master/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel) docs from the pytorch docs:

When training resnet50 with eager + DDP on torchbench, we can set `static_graph=True`.

But when training with torchdynamo + inductor + DDP, we need to set `static_graph=False`, otherwise we get this error:
[code]

[2022-09-15 19:29] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-15 19:41] desertfire opened #1239 "softmax accuracy check error"
Repro:
[code]

Error:
[code]

[2022-09-15 21:29] anijain2305 opened #1241 "Minifier improvements/consistency"
- [ ] TORCHDYNAMO_REPRO_AFTER="dynamo" should also write to `minifier_launcher.py` similar to "aot" counterpart.
- [ ] Extending accuracy testing for REPRO_AFTER="aot"
- [ ] Consistent usage of REPRO_LEVEL between "dynamo" and "aot"
- [ ] Better code sharing wherever possible

[2022-09-15 21:41] ngimel commented on #1239
Can't repro on master, script runs without error for me.

[2022-09-15 21:43] ngimel commented on #1239
Ah, nm, I do get an error on iter 10

[2022-09-15 21:43] yf225 opened #1243 "Need easier way to tell which step of the optimized path fails (dynamo + inductor)"
During internal benchmark enablement, there are multiple times where Dynamo silently starts to not generate any graph and not calling Inductor, but the workflow doesn't throw any error because Dynamo is (rightfully) "optional" with graceful eager fallback.

I learned from Michael Lazos that he plans to add operator stats to show which ops fall back to eager vs. using Inductor. But I believe more i

[2022-09-15 22:04] yf225 opened #1244 "Need operator fallback stats"
In our internal benchmark enablement work, we had to set `.debug=True` and eyeball the logs to know if inductor or nvfuser is running. If we have the stats for which ops fall back to eager vs. which ops are run with inductor (or nvfuser) it will be much easier to tell if the desired backend is being used, which will be super helpful.

Format-wise it could be (just one idea):
op_name | fallback to

[2022-09-15 22:16] desertfire opened #1245 "aten.add_.Tensor accuracy error"
Repro:
[code]
Error:
[code]

[2022-09-15 22:35] voznesenskym commented on #1244
For internal benchmarking and prod enablement, this would be best serviced as a scuba table. I would suggest thinking about providing a wrapper that (A) gives a given run an ID and (B) marshals our log outputs / counters to scuba.

[2022-09-15 22:37] yf225 commented on #1244
I think for prod enablement it would be cool to put it in scuba table in addition to printing it in the log. Very likely people will prefer checking the log for easy access instead of querying the scuba table.

[2022-09-15 22:39] voznesenskym commented on #1244
For sure, we need both :)

[2022-09-15 22:46] anijain2305 commented on #566
The tests pass now (ofcourse ... it has been 2 months lol ... too slow to respond). Closing.

[2022-09-15 22:46] #566 closed

[2022-09-15 22:53] eellison commented on #1245
Make sure you're testing with fake tensors on here, because otherwise we mutate input

[2022-09-15 22:53] yanboliang commented on #1178
@ngimel Thanks for fixing this! But the repro still doesn't work in my test, does it work well on your end?

[2022-09-15 23:39] ngimel commented on #1245
I couldn't repro this error because for the first iters I'm getting inputs of the same dtype, but I've got an error on item 6 (isolated below):
[code]
errors out with assert in sizevars
[code]
because a stride var is added needlessly to sizevars (it should have been a product of transposed sizes)

[2022-09-16 00:08] ngimel commented on #1178
Yes it does

[2022-09-16 03:18] davidberard98 commented on #1237
I think I've found the cause of this error.

static_graph=True requires some properties to remain true between different iterations of the backward pass. (in particular,  the property is that each of the gradients needs to become available [via autograd_hook] the [same number of times on each of the invocations of the backward pass](https://github.com/pytorch/pytorch/blob/master/torch/csrc/distrib

[2022-09-16 04:26] jansel commented on #1243
Perhaps we could adapt torchdynamo.explain to this?  cc @voznesenskym

[2022-09-16 04:52] voznesenskym commented on #1243
Yea seems to be right up it's ally. I can take this one, if you don't mind.

[2022-09-16 13:14] msaroufim opened #1251 "Kill torchdynamo context manager"
Noticed this issue on internal distributed models, mentioned it in chat but opening this issue so it doesn't get lost

Today there is a warning enabled if someone is using the context manager but on a distributed internal model that warning gets printed for pages and pages and has degraded performance by about 30%. This issue goes away if I use `torchdynamo.optimize()` as a function.

I am conflic

[2022-09-16 15:49] wconstab commented on #1237
1. when we're using dynamo+graph-split optimizer, we have access to the current DDP module and can modify its config or call APIs on it
2. we know the correct gradient order and group of active buffers because it's in our FX graph in an order.
3. our FX graph at least will be static, but if the user model is dynamic we'd get more than one FX graph and all bets are off

we could explore using the a

[2022-09-16 16:38] ngimel commented on #1245
@desertfire I can't repro, all the inputs I'm getting are of the same type (fp16). Are there additional modifications I need to repro?

[2022-09-16 17:14] #1214 closed

[2022-09-16 17:15] desertfire commented on #1245
Hmm, no local changes on my side. Have you pulled the latest code? Also maybe try to use a larger sample number, e.g. `--max-samples=100`?

[2022-09-16 17:19] voznesenskym commented on #1243
@yf225 have you tried explain yet? It gives you graph breaks + graphs, and ostensibly the graphs are what would get lowered to inductor. Atm, we explain graph breaks, but not fallbacks.

For what you call fallbacks:

I think is what we refer to as graph breaks. It is when we go to eager mode instead of producing a graph.

If we take the definition of fallback you gave, we have that, in two forms -

[2022-09-16 17:49] ngimel commented on #1245
Yes, I'm on yesterday's pytorch and torchdynamo, I tried 20 already, will try 100 (but when I add printouts for input dtypes, I'm always getting fp16, no fp32's).

[2022-09-16 17:51] eellison commented on #1245
For `fp32s` you need to pass in `--dtype=float16`

[2022-09-16 17:52] ngimel commented on #1245
But that would give fp32 inputs only, not the mix, as it seems in the description?
[code]

[2022-09-16 17:55] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we

[2022-09-16 17:59] ngimel commented on #1245
Ok was able to repro (iter 24)

[2022-09-16 18:29] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-16 19:19] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-16 20:24] desertfire opened #1253 "pytorch core test failure: ValueError: gradcheck expects at least one input tensor to require gradient, but none of the them have requires_grad=True."
Repro:
cherry-pick https://github.com/pytorch/pytorch/pull/85183
[code]

Error:
[code]

[2022-09-16 20:26] desertfire opened #1254 "pytorch core test failure: RuntimeError: CUDA driver API confirmed a leak"
Repro:
cherry-pick https://github.com/pytorch/pytorch/pull/85183
[code]

Error:
[code]

[2022-09-16 20:29] desertfire opened #1255 "pytorch core test failure: RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn"
Repro:
cherry-pick https://github.com/pytorch/pytorch/pull/85183
[code]
Error:
[code]

[2022-09-16 20:33] desertfire opened #1256 "pytorch core test failure: AttributeError: 'NoneType' object has no attribute 'device'"
Repro:
cherry-pick https://github.com/pytorch/pytorch/pull/85183
[code]
Error:
[code]

[2022-09-16 20:35] desertfire opened #1257 "pytorch core test failure: RuntimeError: Can't call numpy() on Tensor that requires grad. Use tensor.detach().numpy() instead."
Repro:
cherry-pick https://github.com/pytorch/pytorch/pull/85183
[code]
Error:
[code]

[2022-09-16 20:59] yf225 commented on #1243
Thanks @voznesenskym - some raw notes from offline discussion:

- Dynamo layers of invocation
  - User defined torch model
  - Dynamo consumes the torch model: input is callable, output is FX graph
  - Dynamo tries to trace everything. If it can’t, graph breaks and call eager mode (first type of "fallback")
  - Then we go through decompositions, producing kernels, if we cannot produce the kernel w

[2022-09-16 22:54] anijain2305 commented on #1076
Repro

[code]

This is likely because when during TorchDynamo `dynamic_propagation`, we do not run the torch operations with the correct grad state. Looking more into it.

[2022-09-16 22:54] anijain2305 commented on #1189
Could be related to this - https://github.com/pytorch/torchdynamo/issues/1076#issuecomment-1249921605

Looking more into it. My naive fix breaks other things.

[2022-09-16 23:24] #1184 closed

[2022-09-17 21:17] voznesenskym opened #1263 "Support autocast calls in dynamo"
ATM, we get:

[code]

[2022-09-17 23:34] #1251 closed

[2022-09-17 23:35] anijain2305 commented on #516
Task done - https://github.com/pytorch/torchdynamo/pull/1250

[2022-09-17 23:35] #516 closed

[2022-09-18 03:32] voznesenskym opened #1264 "JIT + Dynamo causes large slowdowns"
I have anecdotes of models that go from 19iter/s JIT to 3/iter/s JIT + Dynamo to 22iter/s w/ just Dynamo.

[2022-09-18 17:51] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we

[2022-09-18 17:52] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-18 18:41] Chillee commented on #1256
This error is due to us trying to automatically create a fallback for certain operators where our fallback logic doesn't work for (I think, in particular, for ops whose outputs are not tensors).

[2022-09-18 19:08] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-19 04:05] jansel commented on #1263
Should be similar to no_grad()

[2022-09-19 04:37] voznesenskym commented on #1263
Yeah I have it in a local branch I need to clean up and push. There's a little distraction I feel into refactoring how we do contexts, grad was our first one and it's a little too woven into some of our existing context classes.

[2022-09-19 14:05] desertfire opened #1266 "pytorch core test failure: Fatal Python error: Segmentation fault"
Repro:
[code]
Error:
[code]

[2022-09-19 14:07] desertfire opened #1267 "pytorch core test failure: AssertionError: bool indices are not supported yet"
Repro:
[code]
Error:
[code]

[2022-09-19 14:08] desertfire opened #1268 "pytorch core test failure: AssertionError: Tensor-likes are not close!"
Repro:
[code]
Error:
[code]

[2022-09-19 14:10] desertfire opened #1269 "pytorch core test failure: TypeError: inner() got an unexpected keyword argument 'names'"
Repro:
[code]

Error:
[code]

[2022-09-19 15:03] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-19 15:07] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we

[2022-09-19 15:17] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-19 19:52] #1245 closed

[2022-09-19 20:02] mlazos commented on #1241
Is it possible to automatically run the minifier on error (maybe with REPRO_AFTER="dynamo" as the default)? Right now having the user have to narrow down where the issue is with "dynamo" and "aot" is a pain point.

[2022-09-19 20:20] desertfire opened #1272 "aot-eager accuracy error tracker"
**HF training:**
- [x] #1273

**TIMM inference:**
- [x] #1274
- [x] pit_b_224

**TIMM training:**
- [x] coat_lite_mini
- [x] #1275
- [x] gmixer_24_224
- [x] mixnet_l
- [x] #1295
- [x] nfnet_l0
- [x] pit_b_224
- [x] tinynet_a
- [x] #1296

[2022-09-19 20:21] desertfire opened #1273 "aot eager accuracy error: DebertaForQuestionAnswering"
[Edited]
Repro:
[code]
Error:
[code]

[2022-09-19 20:22] desertfire opened #1274 "aot eager accuracy error: coat_lite_mini"
Repro:
[code]

This is an inference error.

[2022-09-19 20:25] desertfire opened #1275 "aot eager accuracy error: convit_base"
Repro:
[code]

[2022-09-19 20:42] #739 closed

[2022-09-19 21:07] anijain2305 commented on #1274
Repro

[code]

[2022-09-19 21:17] anijain2305 commented on #1274
cc @Chillee Does anything look off to you? If I remove `flatten`, the accuracy passes.

[2022-09-19 22:11] yanboliang commented on #1198
Torchinductor on GPU:
[code]
Torchinductor on CPU:
[code]

[2022-09-19 22:19] yanboliang commented on #1198
Common errors on GPU:
|phase     |count|example_short

[2022-09-19 22:24] anijain2305 commented on #1076
https://github.com/pytorch/torchdynamo/pull/1260 Fixed this. Closing.

[2022-09-19 22:24] #1076 closed

[2022-09-19 22:31] anijain2305 commented on #1086
Actually, the error still exists. Repro

[code]

cc @eellison. Also, @bdhirsh gave a fix above. Elias, I am assigning to you for further debug. But, let me know if you want me to look at this.

[2022-09-19 22:55] yanboliang commented on #1086
Yes, it still exists.

[2022-09-19 23:44] yanboliang commented on #1178
I updated my triton commit version and finally it works. Thanks!

[2022-09-19 23:44] #1178 closed

[2022-09-20 03:56] davidberard98 opened #1276 ""Infinite capacity path" in hf_Bert on inductor"
Repro: from torchbench, `python run.py hf_Bert --torchdynamo inductor -t train -d cuda`

[code]

cc @anijain2305

[2022-09-20 04:46] ezyang commented on #1274
This looks like reshape shenanigans. Do you regenerate contiguous inputs in the test harness? That would disagree with the non-standard contiguous input it was traced with

[2022-09-20 05:15] ezyang commented on #1274
Here's the joint graph:

[code]

Notice the hard coded strides. This means that if the meta function for convolution disagrees with the real stride, this will cause an error.

If I add

[code]

I see

[code]

(funnily enough, the print also goes away).

@eellison this would be another good user for crossref testing.

[2022-09-20 05:17] ezyang commented on #1274
BTW, we can clue people that this sort of thing has happened in the accuracy test, by checking if the elements in one tensor are a permutation of the other (this can be done by sorting both tensors and then comparing). If that happens, it is usually a view disaster.

[2022-09-20 05:23] kevinstephano opened #1277 "AOT Autograd traces have instability in defining the same Graph"
This might not be an actionable repro, yet as nvFuser still has failures during the TorchBench Benchmark `hf_Bert` and the nvprims knob is not currently added to TorchDynamo to enable prim execution.  However, I am presenting enough info to repro if you would like to proceed.

Need Ivan's fork of TorchDynamo: https://github.com/IvanYashchuk/torchdynamo
You can cherry-pick the commit: `c5de8c501f61

[2022-09-20 12:21] desertfire opened #1279 "OOM issues while other backends pass. Affects swsl_resnext101_32x16d, XGLMForCausalLM"
Repro:
[code]
passes, but
[code]
fails.

[2022-09-20 14:41] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we

[2022-09-20 15:07] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-20 15:17] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-20 16:08] ezyang commented on #1274
Caveat; this is most useful if you're comparing intermediates; obviously if you have scrambled tensor and you add it to another tensor, the permutation will no longer hold.

[2022-09-20 16:54] eellison commented on #1274
Confirmed https://github.com/pytorch/pytorch/pull/82846 fixes this.

[2022-09-20 17:07] desertfire commented on #1274
Can you give other benchmarks in https://github.com/pytorch/torchdynamo/issues/1272 a try? It will help us to narrow down the list sooner. The repro instructions are in those sub-issues.

[2022-09-20 17:49] davidberard98 commented on #1276
Also seeing this in resnet50.

[2022-09-20 18:13] anijain2305 commented on #1092
Obsolete

[2022-09-20 18:13] #1092 closed

[2022-09-20 18:17] anijain2305 commented on #1083
ping @mlazos @wconstab on the action here.

I think its ok to do patch the defaults to True during Dynamo bytecode analssis.

[2022-09-20 18:47] Chillee commented on #1276
I'm guessing this is an AOTAutograd bug.

[2022-09-20 19:55] wconstab commented on #1083
as a long term solution, i'm not too happy with 'patch the defaults in dynamo' approach, since we're  no longer running the codepath that users expect.  (if users want to read the optimizer code and they assume they are using defaults, they'll trace down the non-capturable path and have no clue we're secretly flipping a bit on them.

we need to do something quick though since even for development

[2022-09-20 21:09] davidberard98 commented on #1276
@Chillee I can't repro any more, I'm guessing I was running on a version of pytorch that was too old.

[2022-09-20 21:09] #1276 closed

[2022-09-20 21:31] mlazos commented on #1083
@eellison suggested another compelling option, [have `.item()` calls be tracked by symints and symfloats](https://github.com/pytorch/torchdynamo/issues/1138) vs implicitly converting them to 0 element tensors in dynamo.

That will allow us to handle .item() directly instead of using the capturable flag which will avoid the calls.

I think in the short term we can either hack capturable/make optimi

[2022-09-20 21:35] yanboliang commented on #1236
@davidberard98 For your minimal repro, the error is you missed ```super().__init__()``` in ```MyModule```'s constructor function. Added it and it works well under dynamo.

[2022-09-20 21:47] voznesenskym commented on #1083
This faces the same problem as .nonzero, and all data dependent ops, which is that using a sym* will result in a value that is not backed by a real value, which is fine, until you have to go control flow. I am not sure we have a good story around data dependent control flow ops + sym*. Spoke to @eellison and @Chillee about this. We should come up with a plan.

[2022-09-20 22:20] eellison commented on #1083
As far as the issues we've been looking at (optimizer), this is not a real issue. It's an issue in other scenarios and I agree it'd be good to come up with a plan but it would be good to separate concerns.

[2022-09-20 22:27] #1274 closed

[2022-09-20 22:31] eellison commented on #1273
Hmm.. I can't repro this.  Maybe fixed on master

[2022-09-20 22:43] eellison commented on #1273
Hmm, I think fixed on master. Couldn't repro.

[2022-09-20 22:49] eellison commented on #1272
Hmm, I think these are all fixed on pytorch master. When you get a chance do you mind running just to make sure my setup up isn't wrong ?

[2022-09-20 22:50] anijain2305 opened #1286 "[aot_eager] accuracy failure for jx_nest_base"
Repro
[code]

[2022-09-20 22:53] anijain2305 commented on #1286
cc @eellison

[2022-09-20 23:45] eellison commented on #1286
The root cause here is because layer_norm and layer_norm_backward decomps do incorrect stride propagation. (working on cleaning up cross ref pr and submitting).

CC @ngimel - was a fix for this in the works or I am making that up?

[2022-09-20 23:56] ngimel commented on #1286
layer_norm should be fixed by https://github.com/pytorch/pytorch/pull/84799, backward probably is still not respecting eager strides.

[2022-09-20 23:59] anijain2305 commented on #1272
I am closing this because many of these don't exist anymore. Let me track the remaining ones in https://github.com/pytorch/torchdynamo/issues/1091

[2022-09-21 00:17] anijain2305 opened #1287 "[aot_eager] speech_transformer - Already active mode"
Repro
[code]

Error
[code]

[2022-09-21 00:17] anijain2305 commented on #1287
cc @eellison

[2022-09-21 02:51] voznesenskym commented on #1083
Yeah, but what about other .item() calls? We'd have two ways of dealing with item, which, while not insane, feels not great.

[2022-09-21 06:41] anijain2305 commented on #1286
I think `aot_eager` does not really go through decomps.

[2022-09-21 07:09] anijain2305 opened #1291 "[aot_eager] Accuracy error - BigBird"
Repro - `python benchmarks/huggingface.py --accuracy --float32 --backend=aot_eager --training --only=BigBird`

My investigation
* I ran accuracy minifier. Accuracy minifier takes the extracted Fx subgraph, runs that eagerly, and then with compiler_fn (aot_eager here) and compares the outputs. In this case, accuracy minifier did not find any offending subgraph.
* I recheck `eager` backend -- `torch

[2022-09-21 07:10] anijain2305 commented on #1291
cc @ezyang @eellison Any suggestions here?

[2022-09-21 08:16] lezcano commented on #327
I'll take `col2im` (and probably after that `unfold`)

[2022-09-21 11:49] fdrocha opened #1293 "Poor performance for generated code for operations bottle necked on advanced indexing"
Came across the this issue when comparing performance in TorchInductor for the lowering in https://github.com/pytorch/torchdynamo/pull/1270 and the decomp in https://github.com/pytorch/pytorch/pull/85403.

It seems that most of difference is coming from the fact that in the lowering I was able to use int32s for computed indices, while in the decomp I am forced to use int64s (otherwise I get an exc

[2022-09-21 12:25] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-21 13:13] eellison commented on #1286
@anijain2305 its used for fake tensor stride propagation

[2022-09-21 13:58] ezyang commented on #1293
32-bit indexing buys us a lot on consumer cards; most of our eager kernels are written for two indexing regimes. However, I think it matters less for the V100s and A100s, and inductor is explicitly NOT targeting consumer cards right now.

That being said, I think in the long term there will continue to be hobbyist interest in inductor performance on consumer cards, so maybe we can come up with an

[2022-09-21 14:09] ezyang commented on #1291
This looks like the same flavor as https://github.com/pytorch/torchdynamo/issues/1274

Why don't you try using https://github.com/pytorch/pytorch/pull/85382 on this model?

[2022-09-21 14:25] fdrocha commented on #1293
That makes sense, thank you.
In the meanwhile, do you think the lowering should explicitly check the size of tensor and use int32/int64? Or just unconditionally use int64?

Sent from my iPhone

[2022-09-21 15:18] desertfire commented on #1279
[code]
There is no OOM anymore.

[2022-09-21 15:18] #1279 closed, assigned to desertfire

[2022-09-21 15:32] desertfire opened #1295 "nan result comparison error: mobilevit_s"
Repro:
[code]
Error:
[code]

[2022-09-21 15:40] desertfire opened #1296 "aot-eager accuracy error: twins_pcpvt_base"
Repro:
[code]
Error:
[code]

[2022-09-21 15:45] desertfire commented on #1273
I can still reproduce it. Update cmd as there was some option naming changes.

[2022-09-21 15:47] desertfire commented on #1272
There are still a few remaining,  #1273, #1295, #1296.

[2022-09-21 15:50] ezyang commented on #1293
Well, let's check with the inductor folks about how easy/hard it would be to infer that a tensor is for indexing. If it's easy, no need to goop up the decomps.

[2022-09-21 15:54] soumith commented on #1293
I think Inductor should make a pass for automatically strength-reducing the generated code to int32 if the input tensor sizes are all less than int32 limits.
That's what we do in ATen right now to get those performant kernels.

cc: @ngimel @jansel

[2022-09-21 15:55] soumith commented on #1293
so, for the decomps, in my opinion, we keep the int64 indexing as-is

[2022-09-21 15:55] desertfire commented on #1174
@EikanWang mentioned he is not able to assign this one to himself. @jansel , is there any registration steps that new contributors need to follow? I believe @EikanWang has already assigned CLA when working on pytorch core.

[2022-09-21 16:08] jansel commented on #1293
Yes, it should be possible to do this automatically.

[2022-09-21 16:15] eellison commented on #1273
Do you mean that was the error without fake tensors ?

[2022-09-21 16:22] desertfire opened #1297 "test_symbolic failure"
`test_symbolic` in `test_torchinductor.py` fails after moving the pytorch nightly pin to `dev20220921`, https://app.circleci.com/pipelines/github/pytorch/torchdynamo/2662/workflows/31a53806-d469-4529-a42c-139139aeed80/jobs/17560

Error:
[code]

[2022-09-21 17:04] eellison commented on #1286
Fix is in https://github.com/pytorch/pytorch/pull/85417

[2022-09-21 17:09] eellison commented on #1296
Fixed as of https://github.com/pytorch/pytorch/pull/85417 I believe

[2022-09-21 17:23] jansel commented on #1174
I sent an invite.

[2022-09-21 17:56] anijain2305 commented on #1272
Ah sorry, I did not try `amp` setting and closed prematurely. Thanks for tracking the `amp` failures as well.

[2022-09-21 18:27] anijain2305 opened #1301 "AotAutograd - Leaf Variable inplace operation issue"
[code]

@yanboliang observed this while running optimizer with inductor. I expected this to fail for `aot_eager` as well, but then found that we skip it in `aot_eager` because of this logic

https://github.com/pytorch/torchdynamo/blob/31d2f67bc5e0b471cb04be1b58032ea56e43c460/torchdynamo/optimizations/training.py#L63-L80

cc @Chillee @ezyang

[2022-09-21 18:51] anijain2305 commented on #1301
cc @bdhirsh as this is more likely functionalization issue.

This repro is from SGD optimizer. We could do fallbacks like we do in `aot_eager`, but worth discussing what needs to be done to enable this, as this is common in optimizers.

[2022-09-21 19:02] eellison commented on #1273
cc @bdhirsh, this error goes away when you turn off functionalization

[2022-09-21 19:03] anijain2305 commented on #1291
I tried the latest master (where the above PR is merged), but the accuracy issue still exists

[2022-09-21 19:05] eellison commented on #1295
Fixed as of https://github.com/pytorch/pytorch/pull/85417

[2022-09-21 19:10] ezyang commented on #1301
I mean, `aot_eager` has got the right idea. The more permanent fix is to factor metadata mutation separately from the compiled graph.

[2022-09-21 19:16] eellison commented on #1135
This is fixed as of https://github.com/pytorch/pytorch/pull/85417 (sorry will try to land it now lol)

[2022-09-21 19:33] desertfire commented on #837
@yanboliang , this one has been pending for a while. Any progress here?

[2022-09-21 19:41] desertfire commented on #623
The latest error:
[code]
Repro:
[code]

[2022-09-21 19:43] voznesenskym commented on #1263
https://github.com/pytorch/torchdynamo/pull/1289

[2022-09-21 19:46] desertfire opened #1304 "hf_Longformer: CUDA error"
Repro:
[code]
Error:
[code]

[2022-09-21 19:48] desertfire commented on #634
close this one, track in https://github.com/pytorch/torchdynamo/issues/1304

[2022-09-21 19:48] #634 closed

[2022-09-21 19:55] desertfire opened #1305 "maml"

[2022-09-21 19:58] desertfire commented on #630
Close this one, track in https://github.com/pytorch/torchdynamo/issues/1305

[2022-09-21 20:07] #630 closed

[2022-09-21 20:21] tugsbayasgalan commented on #1030
If no has worked on intercepting _shape_as_tensor(x) as x.shape, I would like to work on it

[2022-09-21 20:38] ezyang commented on #1297
This is passing with the dynamic-shapes branch, let's xfail it and as we land stuff to master it will probably work again

[2022-09-21 20:51] tugsbayasgalan commented on #1030
If no one worked on it yet, I will try to do this in dynamo by intercepting _shape_as_tensor and replace that with shape

[2022-09-21 21:12] desertfire opened #1307 "tnt_s_patch16_224: AssertionError"
Repro:
[code]
Error:
[code]

[2022-09-21 21:25] ezyang commented on #1291
Does the minifier report accuracy failure even when it retains the whole graph? Can it dump that out as a "minimal" repro?

[2022-09-21 21:34] anijain2305 commented on #1291
I didn't fully understand the question.

In this models, there are many graph breaks. So there are multiple of tens of subgraphs.

For each subgraph, minifier compares eager vs dynamo accuracy. If it fails, it starts minifying that subgraph further.

The issue here is that accuracy minifier does not find any subgraph offending. (even though the final accuracy fails)

[2022-09-21 21:41] ezyang commented on #1291
So... tighten the bounds?

[2022-09-21 22:04] voznesenskym commented on #1291
noob question: How is that possible? Presumably we are evaluating eager correctly outside of graphs, so either:

1) The outputs of graphs are uniform and not offending, so the inputs to eager are identical, so the sum total of graphs + eager is non offending
2) The outputs of graphs are non uniform and offending, so the inputs to eager are not identical, and then there is ostensibly some graph tha

[2022-09-21 22:08] eellison commented on #1291
I dumped the graphs with / without fake tensors here: https://www.diffchecker.com/39SIy56d

[2022-09-21 22:18] anijain2305 commented on #1291
I think the issue is how we check accuracy in minifier.

For each subgraph, we check the forward output and gradients. For backward, we just do `sum` of the output tensor, and do `.backward()` call.

In actual run, the inputs to the backward graphs can have different strides. And this deviates the accuracy checking in minifier vs real run.

This inconsistency is not-so-easy to resolve. During the

[2022-09-21 22:19] eellison commented on #1291
Note that without functionalization - the inaccuracy is pretty minimal - `torchdynamo.utils: [ERROR] RMSE (res-fp64): 0.01575, (ref-fp64): 0.00002`

[2022-09-21 22:20] anijain2305 commented on #1291
This inaccuracy seems pretty high to me. I would `ref` and `ref` to be very different here.

[2022-09-21 22:24] eellison commented on #1291
Yea, you're right, I should say, smaller than it is without functionalization.

[2022-09-21 22:33] ngimel commented on #1135
I've checked the first one on pytorch at 2386cd2945 (from 9/15) and it passes

[2022-09-22 00:26] mlazos commented on #943
Closing - graph breaks are only printed once now, and the stack trace was abbreviated.
#1225

[2022-09-22 00:26] #943 closed

[2022-09-22 01:11] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-22 01:21] desertfire commented on #1307
Fixed with https://github.com/pytorch/torchdynamo/pull/1308, although there is still an accuracy error remaining
[code]

[2022-09-22 01:21] #1307 closed

[2022-09-22 02:28] ezyang commented on #1291
We're running eager though, not inductor, so if it's possible to run the model eagerly against itself, and be bitwise deterministic, then it should be possible to run aot eager with bitwise determinism too

[2022-09-22 02:58] anijain2305 commented on #1244
@williamwen42 This is a good logging/debugging ease task.

[2022-09-22 04:26] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-22 05:23] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-22 05:24] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-22 06:31] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-22 08:23] anijain2305 commented on #681
# Performance Dashboard for float16 precision ##

## Performance and Passrate over time ##
*_over_time.png : ![]()

## Executive Summary ##
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy,

[2022-09-22 12:06] zzpmiracle opened #1312 "Can we rewrite numpy operators to pytorch operators?"
Currently, numpy operations cause graph break, while often exist in training / inference code. But many operators have same semantic in torch operators. Like [YOLOP](https://github.com/hustvl/YOLOP/blob/084d0bb19fa2db4ba40a6e1d6b120f0153d2f335/lib/core/evaluate.py#L230), it would get more than 5x speedup if we change all of the possible numpy to torch, so they can run in gpu.
So can we dynamicly r

[2022-09-22 12:17] #885 closed

[2022-09-22 13:29] #1286 closed

[2022-09-22 13:29] #1296 closed

[2022-09-22 13:30] #1295 closed

[2022-09-22 14:11] eellison commented on #1287
This will be fixed by https://github.com/pytorch/torchdynamo/pull/1152 and https://github.com/pytorch/pytorch/pull/84774

[2022-09-22 14:33] #1275 closed

[2022-09-22 14:33] eellison commented on #1275
Passes on master

[2022-09-22 14:43] #1239 closed

[2022-09-22 15:11] desertfire commented on #1135
There are still two cases failed, see the updated Repro instruction, cc @eellison

[2022-09-22 15:21] eellison commented on #1135
Those don't repro for me anymore as of https://github.com/pytorch/pytorch/pull/85417

[2022-09-22 15:56] Chillee commented on #1312
I think we definitely *could*, in theory. I don't know if we want to do it.

I think that if we had full numpy compatibility in PyTorch this would be a lot more reasonable (cc: @ezyang )

[2022-09-22 16:12] ezyang commented on #1312
Yes, in principle we can do it, but we essentially need PrimTorch but for Numpy API. It is a reasonable thing to do, and you may get good results without too much work, but the long tail is very long!

[2022-09-22 18:01] eellison opened #1315 "Expand Internal Memory Overlap Checking in CudaGraphs Integration"
To launch cudagraphs we copy over from input tensors to pre-allocated tensors which were used for capturing cuda graphs `dst.copy_(src)`. PyTorch will throw if you try to write to a Tensor which has internal memory overlap, so to avoid an error here we check `_debug_has_internal_overlap` (in addition to special handling for broadcasted dims).

The PyTorch internal overlap checking is optimized for

[2022-09-22 18:26] desertfire opened #1316 "pytorch core test failure: accuracy error"
Repro (in pytorch core):
[code]

Error:
[code]

[2022-09-22 19:21] zou3519 commented on #440
Fwiw functorch has removed all of its monkey patching, so this issue can probably be closed

[2022-09-22 19:26] #837 closed

[2022-09-22 19:47] ngimel commented on #1304
compute-sanitizer reports oom
[code]

[2022-09-22 19:52] anijain2305 opened #1317 "Unstable Dashboard"
float32 and amp results are not showing up.

[2022-09-22 20:03] ydwu4 opened #1318 "Unexpected assertionError when export tensor.numel"
I got this expected result when I was playing with the export API.

Repro 1:
[code]
The above code outputs the following:

[code]
Try
Repro 2:
[code]
The above code produces the following error:
[code]

[2022-09-22 20:19] voznesenskym commented on #1318
Can you tell me which dynamo commit you are on? this should be fixed as of https://github.com/pytorch/torchdynamo/commit/ad2aa23e8d8769859cea9b9318eb9a152d0b153f

[2022-09-22 20:24] ydwu4 commented on #1318
Hi, I'm on c537639f9712621dc04ca09908796dbbe86c354b .

[2022-09-22 21:19] voznesenskym commented on #1318
Its not an export bug, its that numel only bakes in a constant atm

https://github.com/pytorch/torchdynamo/pull/1319

[2022-09-23 00:04] SherlockNoMad opened #1322 "Bad g++ version downloaded from conda-forge when using None Path"
When using None path, the g++ version downloaded from conda-forge  has a mismatched version stdlib/compiler.

This can be mitigated by commenting out the None

[code]

[2022-09-23 00:15] jansel commented on #1322
What OS version are you using?

[2022-09-23 04:48] fortianyou commented on #1312
Hi, @ezyang @Chillee. Do you have any introduction documents to PrimTorch？What is the goal of PrimTorch?

[2022-09-23 06:32] SherlockNoMad commented on #1322
NAME="Ubuntu"
VERSION="18.04.6 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.6 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

[2022-09-23 14:01] desertfire opened #1326 "pytorch core test failure: NameError: name 'buf1' is not defined"
Repro:
[code]
Error:
[code]

[2022-09-23 15:15] ezyang commented on #1312
Check out https://dev-discuss.pytorch.org/t/tracing-with-primitives-update-0/577 and the follow up. also cc @mruberry

[2022-09-23 15:42] eellison commented on #1230
Fixed on master

[2022-09-23 16:20] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-23 18:18] anijain2305 commented on #1291
I debugged little more. I was able to narrow it down to 2 subgraphs. This [patch](https://www.internalfb.com/phabricator/paste/view/P532175289) sends those 2 subgraphs to AotAutograd, and rest fallback to eager.

As we already know, disabling fake tensors remove this error. So, I also diffed the joint_graph w and w/o fake tensor. Here is the [diff](https://www.diffchecker.com/4hza2INc). Funny thin

[2022-09-23 20:18] desertfire commented on #1304
Turning cudagraph off does make this test pass.

[2022-09-23 22:00] yanboliang commented on #1147
I can't reproduce the original error, this is what I got:
[code]

[2022-09-23 22:36] #727 closed

[2022-09-23 22:37] yanboliang commented on #622
Fixed by #806

[2022-09-23 22:37] #622 closed

[2022-09-23 23:08] desertfire commented on #1147
cc @eellison

[2022-09-24 00:00] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 00:07] wconstab opened #1330 "FSDP's FlattenParamsWrapper breaks dynamo's faketensor wrapping"
Repro script

[code]

[2022-09-24 00:58] parthmannan opened #1331 "Torchscript interpreter fails when using empty tensor as input to baddbmm"
The following piece of code fails with the error

[code]

Here's a reproducible version.

[code]

The code does seem to pass without a problem when using native eager mode or JIT Trace. Is this expected behavior when using TorchDynamo?

[2022-09-24 01:19] anijain2305 commented on #1066
The error has changed from the time the issue was created

[code]

Repro is

[code]

cc @eellison @ezyang

[2022-09-24 03:16] SherlockNoMad opened #1333 "AOTAutograd not working with empty size tensor"
Repro step
1. remove "native_layer_norm" line from inductor_skips["cpu"] in test_torchinductor_opinfo.py
2. pytest test/test_torchinductor_opinfo.py -k native_layer_norm_cpu_float32

Root cause
1. sample_inputs_layer_norm in common_methods_invocation.py produce an empty input with size [0, 1]
2. AOTAutograd will generated a joint graph without backward subgraph
3. MinCutPartitioner will then produ

[2022-09-24 04:38] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 04:38] jansel commented on #1315
We should be able to make the cudagraphs copying work even with overlap.  Maybe we should be flattening all the tensors to storage size before copying them.

[2022-09-24 04:39] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 04:40] #440 closed

[2022-09-24 04:41] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 04:44] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 08:47] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 16:59] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical cor

[2022-09-24 17:42] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-24 17:54] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-25 01:10] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
This table shows the accuracy and performance numbers for different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correct

[2022-09-25 04:02] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-25 06:12] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-25 08:19] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-25 15:53] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-25 17:16] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-25 21:01] anijain2305 commented on #1147
Repro

[code]

[2022-09-25 21:07] anijain2305 commented on #1147
This is not an inductor problem. This is aot_eager problem. `aot_eager` passes here because we fallback to eager for LSTM models. For reproing with `aot_eager` above, use the following diff

[code]

@jansel @Chillee Do you think we should have similar hacks/workarounds in inductor that we have for `aot_eager` - https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/optimizations/training.py#

[2022-09-26 02:09] anijain2305 commented on #1255
`drq` also fails with the same error

`benchmarks/torchbench.py --accuracy -d cuda --inductor --training --float32 --no-skip --only=drq`

@desertfire assigning to you for ownership.

[2022-09-26 02:20] anijain2305 commented on #1255
Also fails soft_actor_critic

`benchmarks/torchbench.py --accuracy -d cuda --inductor --training --float32 --no-skip --only=soft_actor_critic`

[2022-09-26 06:25] #1269 closed

[2022-09-26 07:08] EikanWang commented on #1174
Seems like I still could not assign this task to me. But anyway, we are working on this issue.

[2022-09-26 07:29] jgong5 opened #1347 "Contention in CppCodeCache on execution with multiple processes"
Repro
[code]
Run the python script with the following bash script
[code]
Error message dumped:
OSError: /tmp/torchinductor_jgong5/2u/c2uuffcbelf4a6jb5mb6dlxpunim7xtiox6artovnkozwiop5x3v.so: file too short

`CppCodeCache` should be implemented with a multi-process safe way.

[2022-09-26 07:34] voznesenskym commented on #1347
That's fair, and timely because the question of this objects thread safety actually came up in this review: https://github.com/pytorch/torchdynamo/pull/1338#discussion_r979356341

Your example is somewhat contrived, however, and it's not readily obvious from it exactly where the thread safety issue arises. Would you be open to trying to make a smaller repro? If not, I can take a look.

[2022-09-26 07:39] jgong5 commented on #1347
@voznesenskym Good to know it was observed earlier. I won't say the case is contrived since running multiple instances at the same time is common in inference. I tried to simplify the repro a bit earlier but it cannot be reproduced sometimes due to the randomness. I believe making the compiled function bigger would make it more stable to repro (maybe add more aten calls to `f`). We are working on

[2022-09-26 08:08] voznesenskym commented on #1347
Sounds good, lmk if you need a hand. https://github.com/pytorch/torchdynamo/pull/1335 Is still under review, but you want to test with warmup + multiple inputs in a loop (closer to the inference case), this simple tool can help.

My (naive) guess on `OSError: /tmp/torchinductor_jgong5/2u/c2uuffcbelf4a6jb5mb6dlxpunim7xtiox6artovnkozwiop5x3v.so: file too short` is that we may get into a state where

[2022-09-26 08:46] jgong5 commented on #1347
How about this? https://pypi.org/project/exclusiveprocess/

[2022-09-26 14:58] desertfire opened #1352 "TorchBench training error: yolov3 : not converging"
Repro:
[code]

Test ran for a long time, but I didn't wait to see if it eventually ends.

[2022-09-26 15:50] EikanWang opened #1353 "Does not support channels-last Conv for CppCodeCache"
Repro

[code]
For `CppCodeCache`, it would convert the input to channels-first anyway as follows.
[code]

[2022-09-26 15:57] jansel commented on #1347
We should use https://pypi.org/project/filelock/, which is also used by Triton so not new dependency.

[2022-09-26 16:03] EikanWang commented on #1174
@jansel , I clicked the invitation and tried to accept it. But it always directs [https://github.com/pytorch/torchdynamo/invitations](https://github.com/pytorch/torchdynamo/invitations) to [https://github.com/pytorch/torchdynamo](https://github.com/pytorch/torchdynamo). May I know if it is as expected since I still cannot assign an issue?

[2022-09-26 16:07] EikanWang commented on #1353
We will fix it as `Convolution(ExternKernelAlloc)` always uses "torch.contiguous_format" for "aten.convolution"

[2022-09-26 16:12] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-26 16:21] jansel opened #1355 "timm CI jobs are flakey"
Example:
https://github.com/pytorch/torchdynamo/pull/1350
https://app.circleci.com/pipelines/github/pytorch/torchdynamo/2848/workflows/8cef7d58-6a8b-4d0f-851e-69944ce4406a/jobs/21986

Failed with a:
[code]
While trying to download the model.

I think we either need a retry loop around the download.   If this is hard to fix we should disable the flakey CI jobs, or ignore network errors.

cc @desert

[2022-09-26 17:03] voznesenskym commented on #1347
Agreed, and I checked, it uses https://docs.python.org/3/library/fcntl.html under the hood, which is def what we want here if we go with something like this.

[2022-09-26 17:03] voznesenskym commented on #1347
@jgong5 let me know if you need help.

[2022-09-26 17:09] anijain2305 commented on #1135
@eellison This is the repro. Assigning to you for now, but feel free to assign somebody else.

Repro

[code]

[2022-09-26 17:22] anijain2305 commented on #1255
Two other failures here. Not sure if they are related to this one. Lets fix the above error and see if these also pass

[code]

[2022-09-26 17:34] eellison commented on #1135
This repros even without using fake tensor - because of the decomposition called in proxy_tensor.py for `_reshape_alias` - and also looks like `_reshape_alias` ignores the strides that are passed in. CC @Chillee (blame pointed me here)

[2022-09-26 17:41] anijain2305 opened #1356 "[inductor] index_put - XLNetLMHeadModel"
`benchmarks/huggingface.py --training -dcuda --accuracy --training --inductor --only=XLNetLMHeadModel`

Error

[code]

Repro
[code]

[2022-09-26 18:04] anijain2305 commented on #1356
@voznesenskym Assigning to you arbitrarily. Let me know if thats ok.

[2022-09-26 18:09] anijain2305 opened #1358 "mixer_b16_224- Illegal CUDA memory access"
`benchmarks/timm_models.py --training -dcuda --accuracy --training --inductor --only=mixer_b16_224`

Error
[code]

[2022-09-26 18:22] eellison commented on #1291
Hmm, this is failing for me with non fake tensors on aot eager now, which makes it a little trickier to debug

[2022-09-26 19:49] desertfire commented on #1232
Fixed by https://github.com/pytorch/torchdynamo/pull/1354

[2022-09-26 19:49] #1232 closed

[2022-09-26 20:28] SherlockNoMad opened #1359 "TorchInductor OpInfo accuracy failure Tracker"
Following OpInfo tests are failing due to accuracy issue:

To reproduce the error, run
[code]

cc @anijain2305

- [ ] _masked.argmax	cuda	torch.float16
- [ ] _masked.argmax	cuda	torch.float32
- [ ] _masked.argmax	cuda	torch.float64
- [ ] _masked.argmax	cuda	torch.int32
- [ ] _masked.argmax	cuda	torch.int64
- [ ] _masked.argmin	cuda	torch.float16
- [ ] _masked.argmin	cuda	torch.float32
- [ ] _maske

[2022-09-26 20:30] voznesenskym commented on #1359
As long as cuda ops on triton leave behind bad state, these burn down lists wont be useful.

[2022-09-26 20:33] SherlockNoMad commented on #1359
When cuda ops get over the inductor and triton failures, they eventually get to this list, no ?

[2022-09-26 21:05] jansel commented on #1359
If we disable cudagraphs does things improve?

[2022-09-26 21:45] jansel opened #1360 "Optimize parallel compile in inductor"
#1338 added basic support for compiling in parallel for TorchInductor.

Currently, this delivers very little speedup, so it is disabled.  We should try to debug this as it could help cold start times a lot.

See `torchinductor.config.compile_threads`

[2022-09-26 22:46] desertfire commented on #1267
@sangongs , feel free to ask @ngimel or me if you have any questions.

[2022-09-26 22:57] anijain2305 commented on #1235
This is not an inductor issue. The issue is present for `aot_inductor_debug` backend with #1361.

The issue is a combination of CSE pass and mutation in the graph.

When I disable CSE in partitioner, the relevant graph is

[code]
There is still mutation remaining in the graph. As we can see **tangents_1** is a common input to both branches.

However, CSE behaves badly in presence of mutation and l

[2022-09-26 23:03] anijain2305 commented on #1235
@bdhirsh suggestion - "we should probably just add asserts in our fx passes that there aren't any mutation ops after functionalization"

[2022-09-26 23:06] bdhirsh commented on #1235
Oh... I think this is related to this issue: https://github.com/pytorch/torchdynamo/issues/1081

[2022-09-26 23:07] bdhirsh commented on #1235
Is it important that inductor decompose ops like `index_put` into `index_put_`? One thing we can maybe do is arrange for those "functional -> mutation" decomps in inductor to not run until inductor is actually ready to compile, and we've run all of our functional FX pass infra like partitioning.

[2022-09-26 23:18] anijain2305 commented on #1235
Two follow ups
* Add an assertion in min cut partitioner that checks for mutation
* Delay the decomps that go from functionalized version to decomps after aot_autograd partitioning - `index_put`, `scatter`.

[2022-09-27 02:29] eellison commented on #1291
Fixed with https://github.com/pytorch/pytorch/pull/85658

[2022-09-27 02:29] #1291 closed

[2022-09-27 02:31] eellison commented on #1273
Fixed with https://github.com/pytorch/pytorch/pull/85658

[2022-09-27 02:31] #1273 closed

[2022-09-27 02:31] #1272 closed

[2022-09-27 04:57] jansel opened #1365 "IMA from swin_base_patch4_window7_224 in inductor training"
This PR now has a single test failure:
[code]

At first, I thought this was related to the alignment code in the new Triton runtime, however, if I disable that with:
[code]
It still gets an illegal memory access.

I tried setting `TORCHDYNAMO_REPRO_AFTER` = `aot`/`dynamo`, but both of them fail with IMAs inside the repro code:
[code]
and
[code]
and
[code]

It feels almost like there is some CUDA c

[2022-09-27 05:00] jansel commented on #1365
We also see this same error in https://github.com/pytorch/torchdynamo/pull/1362

[2022-09-27 05:07] anijain2305 commented on #1322
I am seeing this too. I am using @SherlockNoMad's patch here

[code]

[2022-09-27 05:24] anijain2305 commented on #1322
I think its just the `clang++` is pointing to some old version. When I pointed `clang++` to the Triton downloaded `clang++` (as part of Triton install), the error goes away.

[2022-09-27 05:36] jgong5 commented on #1347
@voznesenskym Thanks! @Valentine233 is working on it.

[2022-09-27 08:12] voznesenskym opened #1367 "TorchInductor CUDA memory leak / memory corruption debugging master task"
There's been an increase in memory and corruption bugs surfaced in inductor tests, mostly through the op tests.

ex: [#1362](https://github.com/pytorch/torchdynamo/pull/1362) - among others.

Of all the current enabled ops, these were detected as memory leaking through `compute-sanitizer`. There may be more leaks in other ops, we have not check all - only all enabled in the op info test as of http

[2022-09-27 12:39] jansel commented on #1367
We don't have lowerings for most of these, so I'd expect them to go through the fallback path.

[2022-09-27 12:46] eellison commented on #1359
We shouldn't be testing accuracy for the empty ops. Removing them from the list.

[2022-09-27 13:12] desertfire opened #1368 "aot_eager amp training failure: conversion is supported for Half type only"
Discovered in a recent pytorch nightly pin update, https://github.com/pytorch/torchdynamo/pull/1351

Repro:
[code]
Error:
[code]

[2022-09-27 13:28] desertfire commented on #1255
Verified `drq, soft_actor_critic, dla102, dpn107` are fixed by https://github.com/pytorch/pytorch/pull/85658

[2022-09-27 15:56] ezyang opened #1369 "Benchmark script is suppressing too much error information"
steps to reproduce:

patch in a failure like

[code]

trigger the failure like

[code]

output is

[code]

information about the error has been entirely lost

[2022-09-27 15:57] ezyang commented on #1369
cc @anijain2305

[2022-09-27 16:06] sangongs commented on #1267
I tried to fallback when there is a bool index:
[code]

But got a CUDA memory leak:
[code]

The test passes if I set `PYTORCH_TEST_SKIP_CUDA_MEM_LEAK_CHECK=1`.

Questions:
- Is fallback a correct way to fix this?
- Any pointer for the CUDA memory leak?

[2022-09-27 16:10] anijain2305 commented on #1369
https://github.com/pytorch/torchdynamo/pull/1361 should fix it.

[2022-09-27 16:22] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-27 16:42] eellison commented on #1304
Fix here for minifier https://github.com/pytorch/torchdynamo/pull/1370/

[2022-09-27 16:49] mruberry commented on #1312
You might even be able to `import torch as np` for some programs. PyTorch's `torch` module is already very (but not completely) consistent with the `np` module. It's missing some operations (like those in the `np.random` module) and it doesn't support some features (like arrays of strings). A `torch.np` library could write implementations for many (most?) NumPy operators in terms of PyTorch operat

[2022-09-27 16:51] ngimel commented on #1267
Fallback is ok for now, going forward we will have to do the same thing eager does - convert bool mask(s) to long indices via nonzero, and call `index` with long indices. There are a lot of tests with fallbacks currently causing mem leaks (see #1367), so skipping it for now is ok I think.

[2022-09-27 17:08] desertfire commented on #1267
I actually think we are not in a hurry to fix this unit test with a fallback given it's not blocking any benchmark model. We can always add the test to the skip list if CI is a concern. It will be more helpful if @sangongs can implement the actual op lowering.

[2022-09-27 17:26] ngimel commented on #1267
The code pointer in the eager where bool masks are converted to long indices https://github.com/pytorch/pytorch/blob/7b3a0ff87a91c98574ddfd98532062d78c49b2c7/aten/src/ATen/native/IndexingUtils.h#L17-L49

[2022-09-27 17:44] sangongs commented on #1267
I have the same doubt. Currently, `torch.nonzero` causes a graph break even with `torchdynamo.config.dynamic_shapes = True`. So I guess nonzero is hard to lower.

[2022-09-27 17:56] sangongs commented on #1267
Looks like although we cannot lower `nonzero` or `aten.index(bool)`, we could lower `aten.index_put_(bool)`, which is actually a pointwise operation.

[2022-09-27 18:19] jansel commented on #1367
If we haven't already, I'd try disabling functionalization and fake tensors since those have causes issues in other places and touch the C++ parts of PyTorch.

[2022-09-27 19:07] kiszk opened #1373 "An example in README.md causes an exception"
An example for `torch.nn.Module` causes the following exception while the first example works well. Since I am new to torchdynamo, I may make mistakes.

[code]

[2022-09-27 19:24] #897 closed

[2022-09-27 19:36] aazzolini opened #1374 "Mutation bug"
Modifying an output after use creates a cyclical reference. E.g in the code below:
[code]
This triggers a bug in the scheduler while computing dependencies.

Chatted with @jansel about this and he suggested I remove this code block:
https://github.com/pytorch/torchdynamo/blob/64980a6c55e39f4a727f5b16b781478167300c59/torchinductor/lowering.py#L2853

Removing the code above fixed the issue.

[2022-09-27 19:59] ngimel commented on #1267
Not really, if your `src` for index_put is also a tensor - that still requires converting bool indices to long. If the src for index_put is a number/0d tensor, and there are only bool indices, not a mixture of bool and long indices, then yeah, that's possible, that's essentially a masked_fill operation, and eager implementation shows the necessary checks for dispatching index_put to masked_fill.

[2022-09-27 20:32] ezyang opened #1376 "Minifier when run on benchmark scripts hides the minified script after many lines of scrollback"
The backend failure gets printed a bazillion times, pushing the log line that says where the repro was written off the screen. Make this more user friendly.

[2022-09-27 20:43] ezyang opened #1377 "Minifier dumps checkpoints which don't actually reproduce the error"
Steps to reproduce:
1. Checkout 07d794094bd4eaf1ad946429044f1c742f278d6b of pytorch (at time of writing, this is tip of symbolic-shapes branch)
2. Checkout e50d6695990fda7a0dfde460c6c6a2f93e1c8d1d of torchdynamo (at time of writing, this is tip of accuracy-minifier branch)
3. Intentionally introduce a failure in pytorch

[code]

4. Trigger the error and try to minify it `(cd ../torchdynamo && TORC

[2022-09-27 20:44] ezyang opened #1378 "Minifier dumps checkpoints that are malformed Python (none is not capitalized)"
do the repro instructions at https://github.com/pytorch/torchdynamo/issues/1377

pick one of the big checkpoints, like 615.py

it has this line

[code]

none is not a valid Python identifier

[2022-09-27 20:46] msaroufim opened #1379 "Composer inductor errors"
As a followup to https://github.com/pytorch/torchdynamo/issues/887 which worked with eager

## Repro

[code]

Tried running the same file on inductor and a bunch of warnings are coming up and then the program just hangs
* import deepspeed is not working even though I don't think this program is using deepspeed?
* A few `UserDefinedObjectVariable` not a constant errors
* An assertion error on buffe

[2022-09-27 20:50] ezyang opened #1380 "Minifier should not produce repro with backward call if it is not necessary to trigger error"
ATM it unconditionally calls run_fwd_maybe_bwd but this is unnecessary in many cases

[2022-09-27 21:52] msaroufim opened #1382 "Inductor stable baselines assertion errors"
Followup on #797

`pip install stable-baselines3[extra]`

## Repro

[code]

Lots of assertion errors

## Logs

[code]

[2022-09-27 22:02] sangongs commented on #1267
I got what you mean. Do you think it is necessary to lower the special case that is essentially masked_fill? @desertfire

[2022-09-27 22:05] ezyang opened #1383 "Minimizer clobbers preexisting repro.py file without asking"
It should do some sort of numeric naming so that old repro files don't get clobbered.

[2022-09-27 22:43] ngimel commented on #1267
It's pretty common and perf sensitive (that's why we have special casing in eager), so yes.

[2022-09-27 22:43] msaroufim opened #1385 "imagen inductor errors"
## Repro
`pip install imagen-pytorch`

[code]

## Logs
[code]

[2022-09-27 23:08] msaroufim opened #1387 "diffusion inductor errors"
## Repro

The [lucidrains](https://github.com/lucidrains) models are probably a good idea to add to test suite.

`pip install denoising_diffusion_pytorch`

[code]

## Logs

[code]

[2022-09-27 23:15] msaroufim opened #1388 "retro inductor OOM"
## Repro

` pip install retro-pytorch`

[code]

## Logs

[code]

[2022-09-27 23:20] msaroufim opened #1389 "MLP mixer functorch error"
## Repro

Yet another lucidrains model

`pip install mlp-mixer-pytorch`

[code]

## Logs

[code]

[2022-09-27 23:54] anijain2305 opened #1391 "Replace same with TestCase assertEqual"
In TorchDynamo tests, we use `same` function to check for accuracy. But for many cases, we can rely on TestCase assertEqual which has pre-defined atol/rtol for different dtypes. We should migrate the tests to `assertEqual`  as much as possible

cc @williamwen42 if you are interested.

[2022-09-27 23:56] anijain2305 commented on #1235
WIP PR for the second task - https://github.com/pytorch/torchdynamo/pull/1390

[2022-09-28 01:08] anijain2305 commented on #1135
Assigning to myself so that I can learn more about this. This is not inductor problem and seems like decomp problem, latest repro

[code]

[2022-09-28 03:32] tanyokwok commented on #1312
I think the main idea proposed by @zzpmiracle is to automate rewriting NumPy operations into torch operations. We had to trade-off the full NumPy compatibility in PyTorch. IMO, it can be done with `class NumpyVariable(VairableTracker)`. It seems that PrimTorch is designed for other goals. @Chillee @ezyang

[2022-09-28 04:10] anijain2305 commented on #1081
Fixed by https://github.com/pytorch/torchdynamo/pull/1390

[2022-09-28 04:10] #1081 closed

[2022-09-28 04:10] anijain2305 commented on #1235
Fixed by https://github.com/pytorch/torchdynamo/pull/1390

[2022-09-28 04:10] #1235 closed

[2022-09-28 04:19] yanboliang commented on #1387
From the error log I can say it's trying to pass negative ```dim``` to ```gather``` function, which is supported by eager mode:
[code]
I think inductor should support this, will send a fix soon.

[2022-09-28 05:14] yanboliang commented on #1389
I think this is related to #550. cc @ezyang

[2022-09-28 05:38] kevinstephano opened #1399 "AOT_Autograd's trace of factory functions are not getting properly translated to TorchScript?"
I am not totally sure if this bug should fall under TorchDynamo or Functorch/Pytorch.

I am seeing a bug in running the HuggingFace benchmarks under TorchDynamo with the Electra model where the symptom is a Cuda Illegal Memory access.  It seems like the real reason is that TorchScript is providing a `nullptr` to nvFuser for a Tensor that is a factory function inside a set of code that is traced by

[2022-09-28 05:48] anijain2305 commented on #1135
The issue seems to be that `softmax` decomp does not respect strides. Comparison between the two

[code]

[2022-09-28 06:01] yanboliang commented on #1382
@msaroufim This is not an inductor issue, I verified it throws error even if we switch to eager backend. I think these issues can be group by:
* Several unimplemented features, I think most of the ```[ERROR]``` should fall into this bucket.
* The runtime error which is caused by ```tensor.requires_grad``` was changed somewhere.

I'll take closer look into this tomorrow.

[2022-09-28 06:06] anijain2305 commented on #1369
The log is

[code]

Closing now.

[2022-09-28 06:06] #1369 closed

[2022-09-28 06:11] yanboliang commented on #1373
It works well on the latest branch, can you try to install torchdynamo from source code? You can follow this: https://github.com/pytorch/torchdynamo#developer-setup

[2022-09-28 06:11] anijain2305 commented on #1368
Repro

[code]

[2022-09-28 06:21] anijain2305 commented on #1368
@mlazos Assigning in case you are interested. Please feel free to assign it to me if you are busy.

This might be a good way to learn about Aot Autograd and AMP, and can be useful as we turn on GradScaler for optimizers.

[2022-09-28 06:45] anijain2305 commented on #1287
I still see these errors. Repro

[code]

@Chillee @samdow

Sam, could you take a look if this will be covered by your work?

[2022-09-28 07:46] kiszk commented on #1373
Yes, I realized that it works well when I installed torchdynamo from source code. So, it happens only when I installed from pip.

[2022-09-28 08:33] Chillee commented on #1399
I suspect this is an interaction with `jit.freeze`. What happens if you comment out this line? https://github.com/pytorch/pytorch/blob/master/functorch/_src/compilers.py#L86

[2022-09-28 13:40] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-28 13:43] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-28 13:56] jgong5 opened #1401 "Optimize Softmax Perf for Inductor CPU Backend"
This issue tracks the required features for optimizing Softmax for Inductor CPU backend. The features might be needed by other reduction related ops.
Below are the numbers measured on CPX with a typical Softmax shape from BERT model as an example to demonstrate the potential of various optimizations (column on the right contains all the optimizations on the left). The optimized numbers were measur

[2022-09-28 14:54] XiaobingSuper opened #1403 "torchinductor does not support channels-last Conv for GPU path"
For channels-last Conv for GPU path calling aten.convolution, the GPU path will fail as described in https://github.com/pytorch/torchdynamo/issues/1353. https://github.com/pytorch/torchdynamo/pull/1394 only fixes the CPU path, but for GPU path, this PR doesn't fix the issue, because the aten.convolution may call in CUDNN path for GPU path, and there has a version check:
https://github.com/pytorch/

[2022-09-28 16:55] desertfire commented on #1254
The test fails at an assertion, and I think dynamo didn't handle exception cleanly. Setting `torchdynamo.config.raise_on_assertion_error=True` would get rid of the leak.

[2022-09-28 17:07] SherlockNoMad opened #1404 "Inductor cuda codegen generating wrong argument name"
Hi folks, I found that the inductor codegen for the ’tmp’ variable name is stateful accross unit tests

For example, when I run all the cuda opinfo tests all together, neg_cuda_float32 is generating a tmp42, which is not defined in the context.
[code]

However, when I try to run this single test in isolation, I am getting a correct kernel,
[code]
Notice that the wrong kernel missing the compute li

[2022-09-28 17:13] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-28 17:32] jansel commented on #1174
Weird, I can try again.

[2022-09-28 17:44] desertfire commented on #1404
https://github.com/pytorch/torchdynamo/blob/3eb350f6870f01e42918df245318a78c8b5d016b/torchinductor/codegen/common.py#L435 is how a new tmp variable is named. I don't think `CSE` should be carried between tests. Can you give `torchdynamo.config.raise_on_assertion_error=True` a try to see if the problem still exists?

[2022-09-28 18:09] voznesenskym commented on #1404
CSE being carried between tests is just a vague simulation of CSE being carried across multiple inductor calls in the process. If it produced tmp42, it should correctly be assigning the other tmpX variable names. The concerning delta to me is the missing compute line `tmp1 = -tmp0` - that should says `tmp42 = -tmp0`.

[2022-09-28 18:34] anijain2305 commented on #1135
This error should be fixed by https://github.com/pytorch/pytorch/pull/85788 and then fails on accuracy .. sigh ...
But that seems like an inductor issue because `aot_inductor_debug` backend is passing end2end.

[2022-09-28 19:00] anijain2305 commented on #1352
@yanboliang Can you take a look here? It unclear if its hanging or just taking very long to run.

[2022-09-28 19:11] mlazos commented on #623
Small update - this is actually an accuracy issue, basically the number of valid boxes being returned is incorrect because the box scores are wrong. Continuing to look into it

[2022-09-28 20:06] #1378 closed

[2022-09-28 20:14] bertmaher commented on #1322
What's the symptom that you see here?  It's working just fine for me and it's hard to know what's up without a repro.

[2022-09-28 20:16] ngimel commented on #1374
Should functionalization get rid of those? We turn on functionalization only when backward is required though, cc @Chillee

[2022-09-28 20:18] ngimel commented on #1233
A smaller repro (fw functions only)
[code]

[2022-09-28 20:18] Chillee commented on #1374
Yeah, we currently only use functionalization for autograd (so we can partition haha).

Should we turn on functionalization for forwards only as well?

[2022-09-28 20:29] jansel commented on #1374
Yeah, I think we should.  I'd expect it to be faster in most (but not all) cases.

[2022-09-28 20:31] ngimel commented on #1374
This goes back to our discussion of "should different parts of the stack be able to handle whatever is thrown at them, or are there conditions that inductor/aot/ expect to be satisfied"

[2022-09-28 21:10] #1135 closed

[2022-09-28 21:47] ngimel commented on #1404
It looks like the kernel-level CSE and it definitely should not be carried between kernels, it's interesting we haven't hit these bugs earlier.

[2022-09-28 22:50] kevinstephano commented on #1399
Commenting out the `jit.freeze` line did not help, unfortunately.

[2022-09-28 23:40] anijain2305 commented on #1391
cc @williamwen42 if you are interested.

[2022-09-28 23:50] #1203 closed

[2022-09-29 00:15] desertfire commented on #1404
This looks like some memory management issue because of previous failed cases. In our model bench script, we use subprocess so the problem is not exposed there. In our hand-written unit tests, all the tests pass so there is also no problem. I am trying to find where to add proper recovery code so that the cse cache is not messed up.

[2022-09-29 00:55] voznesenskym commented on #1404
Just guessing here from first principles... I would also consider wrapping the current itertools call we use to get the number in a util to help track where the increments grow - it might be a kernel object getting reused or something...

[2022-09-29 01:21] soumith commented on #1399
cc: @voznesenskym for ideas as you debug the memory corruption

[2022-09-29 01:28] voznesenskym commented on #1399
Yeah, let me take a look at this.

[2022-09-29 04:08] davidberard98 opened #1413 "inductor+ddp+profiler encounters illegal memory access"
Repro script: https://gist.github.com/davidberard98/3c746cd0c8bd79d40353bb0b263f9518

Usage: from the AWS cluster, reserve 2 gpus on a compute node. From there, run:
[code]

* aot_eager does not repro this issue
* this does not happen without ddp
* this does not happen without the profiler

[2022-09-29 05:49] EikanWang opened #1415 "Collect Operator Coverage"
Aten decomposes operators at the FX level (torch/_decomp/decompositions.py). To collect the decompose operator coverage both for FX and TorchInductor.

[2022-09-29 06:36] #1233 closed

[2022-09-29 14:18] fdrocha commented on #1293
Related to this, I ran across the `add.sat.s32` [PTX instruction](https://docs.nvidia.com/cuda/parallel-thread-execution/index.html#integer-arithmetic-instructions-add). It might be worth considering using this in the lowerings that might overflow `int32`.