[2022-09-29 15:12] #1066 closed

[2022-09-29 16:25] jansel commented on #1401
Interesting, seems like the biggest speedup would come from vectorization.  Vectorizing should be possible, our cuda backend is generating code for vectorized blocks already.

[2022-09-29 17:02] samdow commented on #1287
@anijain2305 Could you check that you're running on nightly?

[2022-09-29 17:03] #1387 closed

[2022-09-29 17:17] ymwangg opened #1418 "Segmentation fault when using inductor"
Minimum code to reproduce:

[code]

I tried a couple of changes that can make it work:
1. Disable autograd by adding `with torch.no_grad()` when calling the model.
2. Use other backends such as `aot_nvfuser`.
3. Modify the sequence of operations to be `[nn.Linear(in_feat, in_feat), nn.ReLU(), nn.Linear(in_feat, out_feat)]`, `[nn.Linear(in_feat, in_feat), nn.ReLU(), nn.RELU()]`.

So I suspect this

[2022-09-29 17:36] voznesenskym commented on #1418
This runs fine for me, no segfault. Where did you see the segfault? Just running the script above? Or running the generated kernel(s)?

[2022-09-29 18:02] ymwangg commented on #1418
I noticed when I was initially running the script, I got a warning from torchvision.
[code]
After removing the stale torchvision, everything seems to work.

Thanks!

[2022-09-29 18:02] #1418 closed

[2022-09-29 19:09] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-29 19:15] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-29 19:51] #1374 closed

[2022-09-29 19:57] williamwen42 commented on #1172
Considering reverting the change since `clone` and `deepcopy` semantics are not exactly the same, e.g.
[code]

[2022-09-29 23:49] SherlockNoMad opened #1422 "TorchInductor Cuda OpInfo Failure Tracker"
Currently, we have 141 ops failing torchinductor CUDA OpInfo tests.

Please see
https://docs.google.com/spreadsheets/d/1LFMDHcSUiUrfNyLWaqM5lWEpwldXMQztTrEHXai4QGE/edit?usp=sharing
for all the failures

Complete error message can be found at https://gist.github.com/SherlockNoMad/27c9af63e2b48c71f6dc15713c0f5fae

Repro steps:
- Uncomment the line in `inductor_expected_failures_single_sample["cuda"]

[2022-09-29 23:50] SherlockNoMad commented on #1359
Closing this issue, as we track all the failures in this issue https://github.com/pytorch/torchdynamo/issues/1422

[2022-09-30 00:08] desertfire commented on #1359
I actually prefer to keep this open as these probably have a higher priority, given the urgency of tackling model accuracy errors.

[2022-09-30 01:50] jgong5 commented on #1401
Yes, should not be hard to implement, e.g., do a vectorized loop split and then a vectorized ops overrides...

[2022-09-30 14:53] #1404 closed

[2022-09-30 17:20] jansel commented on #1373
We don't plan to support pytorch 1.12.  Would recommend using PyTorch nightly build.

[2022-09-30 17:20] #1373 closed

[2022-09-30 18:47] desertfire commented on #1359
The `argmax/argmin` ops and those implemented built on top of them have this know issue, https://github.com/pytorch/torchdynamo/issues/859. Basically when there are multiple same `max/min` values in a tensor, it is hard to force triton returns the same deterministic index as eager.

I can imagine adding a flag to force fallback ops in the accuracy mode, but I also have no idea how these ops are us

[2022-09-30 20:23] desertfire commented on #1358
Can't reproduce

[2022-09-30 20:23] #1358 closed

[2022-09-30 20:36] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-09-30 21:06] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-09-30 22:08] anijain2305 commented on #1356
@yanboliang Assigning to you. on first glimpse, this seems to be the decomp issue. Can you please take a look.

[2022-09-30 23:30] anijain2305 opened #1439 "[inductor] CUBLAS_STATUS_INTERNAL_ERROR: swin_base_patch4_window7_224"
Repro

[code]

IMA still happens

[code]

[2022-10-01 00:23] williamwen42 commented on #1172
For reference, `copy.copy` and assignment are not semantically equivalent either, e.g.
[code]

[2022-10-01 00:24] yanboliang opened #1441 "TorchDynamo Alpha User Readiness - Master Tracker"
To track TorchDynamo Alpha User Readiness:
* [ ] TorchBench passing rate > 90%
* [x] Runbook available for environment setup (should include smoke test to verify set up) @williamwen42
* [x] Published supported feature vs. unsupported features
* [x] Debug runbook
* [x] Bug filing template in GH

[2022-10-01 01:01] anijain2305 commented on #1439
Repro - Trying to minify it further

[code]

[2022-10-01 06:30] ngimel commented on #1359
#1444 - 1-element argmin/argmax fix

[2022-10-01 06:53] anijain2305 commented on #1439
Smallest minifier could do

[code]

[2022-10-01 14:55] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-01 17:56] anijain2305 opened #1445 "[fake tensor] AllenaiLongformerBase - Could not find common device for aten.div.Tensor"
`benchmarks/huggingface.py -dcuda --backend=eager --float32 --train --accuracy --only=AllenaiLongformerBase`

Repro
[code]

Error

[code]

[2022-10-01 21:24] ngimel commented on #1439
Thanks @anijain2305 these minified repros are very helpful!

[2022-10-01 22:17] anijain2305 opened #1446 "[TorchDynamo] torch.no_grad state is not carried with graph breaks"
For
[code]

The output is
[code]

The second graph is wrong where first line should be `_set_grad_enabled = torch._C._set_grad_enabled(False)`

cc @yanboliang

[2022-10-01 22:57] voznesenskym commented on #1446
@anijain2305 is it related to https://github.com/pytorch/torchdynamo/pull/1310#pullrequestreview-1125755073 ?

[2022-10-01 23:51] anijain2305 opened #1448 "[fake tensor] Fake tensor is leaked out with `new` with Aot Autograd"
Repro

[code]

Error
[code]

[2022-10-01 23:52] anijain2305 commented on #1448
Related - https://github.com/pytorch/torchdynamo/pull/1447

[2022-10-01 23:55] anijain2305 commented on #1446
I don't think so - I went 1 week back (https://github.com/pytorch/torchdynamo/pull/1270) and the issue still exists.

[2022-10-02 00:03] voznesenskym commented on #1446
Makes sense. In general it's going to be tough to find out what happened in a break, as it's inherently something we've chosen not to interpret. Let me know if you need a hand here!

[2022-10-02 14:19] jgong5 commented on #1401
I removed the "compute_at" optimization from the description since the benefit it brings is either insignificant or negative. I added 4-thread numbers. I also added the numbers with ablation to rank the importance of individual optimizations. If we look at typical inference cases with 1 thread or 4 threads per instance, manual vectorization is the most important one, followed by in-place buffers,

[2022-10-02 14:32] jgong5 commented on #1401
Benefit of manual vectorization on LayerNorm (still the gaps between op benchmark and output_code.py need further investigation):

LayerNorm (384,1024) w/ 1024 norm shape | ATen | Inductor baseline (simdlen=8) | +manual vectorization
-- | -- | -- | --
28c | 146us | 185us (145us w/   output_code) | 144us
4c | 247us | 214us (186us w/   output_code) | 176us
1c | 630us | 420us | 375us

</div>

</body>

[2022-10-02 19:25] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-02 19:47] ngimel commented on #1365
closing in favor of #1439

[2022-10-02 19:47] #1365 closed

[2022-10-02 19:54] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-03 04:14] anijain2305 opened #1450 "[inductor] Accuracy issue - BertForQuestionAnswering, ElectraForQuestionAnswering"
Repro

[code]

[2022-10-03 14:08] sangongs commented on #1267
Fixed by PR #1419. Regression tested on commit 2e883d4655ce4ad85b1a2af5cf9908c0032549c5.

[2022-10-03 14:08] #1267 closed

[2022-10-03 15:09] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-03 17:32] #1172 closed

[2022-10-03 17:34] anijain2305 commented on #1450
Aaaaand similar for `MegatronBertForQuestionAnswering`. Going to skip looking at HF models, seems many of them have same pattern

[code]

[2022-10-03 18:02] anijain2305 opened #1455 "[inductor] Accuracy issue - volo_d1_224"
Repro
[code]

[2022-10-03 19:15] suo opened #1456 "export(aten_graph=True) doesn't compose with capture_scalar_outputs=True"
Repro:
[code]

Returns an error:
[code]

My desired behavior is that these two work together, and the `item()` call is preserved in the final FX graph.

[2022-10-03 19:30] voznesenskym commented on #1456
@Chillee can you take a look?

[2022-10-03 19:36] eellison commented on #1456
The issues that would resolve this are https://github.com/pytorch/pytorch/issues/84597, https://github.com/pytorch/torchdynamo/issues/1138, and https://github.com/pytorch/torchdynamo/issues/1139

[2022-10-03 20:31] suo commented on #1456
@eellison how close are we on these? Anything I can do to help?

Asking because this is currently the blocking issue for using PT2 export for executorch

[2022-10-03 21:49] xwang233 opened #1458 "Make `TorchDynamoNNModuleWrapper` a subclass of `torch.nn.Module`"
`TorchDynamoNNModuleWrapper` is defined at https://github.com/pytorch/torchdynamo/blob/a043fcc8dfa47b8d18b615b5d79860c2af170af5/torchdynamo/eval_frame.py#L131

cc @ngimel @ptrblck @csarofeen

[2022-10-03 22:15] voznesenskym commented on #1458
Thanks for filing an issue, can you add some more details as to why we want this?

[2022-10-03 22:29] xwang233 commented on #1458
User code like this in TIMM checks if an instance is `torch.nn.Module`, https://github.com/rwightman/pytorch-image-models/blob/d4ea5c7d7d55967a8bedbfbb58962131d8aba776/timm/optim/optim_factory.py#L215.

A `torchdynamo.optimize()` wrapped module is not an instance of torch.nn.Module and may cause issue in many user code.

[2022-10-03 22:31] voznesenskym commented on #1458
Is it causing issues somewhere?

[2022-10-03 22:38] xwang233 commented on #1458
https://github.com/pytorch/pytorch/issues/86020#issuecomment-1264123277 recommends to use torchdynamo instead of functorch in the future. It _will_ cause issue.

[2022-10-03 22:50] shingjan opened #1459 "`RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn` for running `maml` on TVM backend with CUDA"
My repro:
[code]

The error message I am seeing:
[code]

This error doesn't seem to be a tvm but cannot be reproduced by other backends like TS or inductor. I am using @jansel 's branch of torchbench. Would that be possible that a rebase on torchbench is required?

Thanks!

[2022-10-03 22:50] voznesenskym commented on #1458
When it does, let's reopen this. I hesitate to solve a problem we do not yet have.

[2022-10-03 23:29] ngimel commented on #1458
Perhaps the reason it's not causing issues yet is because we don't capture optimizers yet? cc @mlazos

[2022-10-03 23:42] voznesenskym commented on #1458
There's probably a few reasons, but I'd like to have a clear error case where we have a repro to know when the problem is solved.

[2022-10-03 23:44] ngimel commented on #1455
Repro - backward only. Note, normally backward `fx_graph.py` would appear to be passing because indices would be generated as all zeros, when I change them to be random indices (in the repro below), the optimized and eager results start being different.
[code]

[2022-10-03 23:52] anijain2305 commented on #1455
Ah, ok. For the `int64`, we should probably use `randint`. Good find!

[2022-10-04 00:09] anijain2305 opened #1460 "[inductor] IMA - maximum, accuracy for `rexnet_100`"
Repro
[code]

[2022-10-04 00:22] anijain2305 commented on #1460
Also silently leads to bad accuracy errors -
[code]

[2022-10-04 00:22] yanboliang commented on #1356
I had identified the root cause, this is a PyTorch core bug.

The failure is caused by [this line](https://github.com/pytorch/pytorch/blob/master/torch/_decomp/decompositions.py#L1769), actually ```torch.index_put_ ``` does not support ```slice(None)```s. I also verified by running PT unit tests, but all ```index_add_``` ops tests are using ```dim = 0``` where this problem can't be exposed.

Thank

[2022-10-04 00:23] ngimel commented on #1455
Yes, but normally you wouldn't know what's the largest valid value, here I happened to know it's 195 because I looked at the model.
Minified a bit further
[code]

[2022-10-04 00:51] jansel commented on #1459
`maml` "inference" actually requires training support.  It does runtime finetuning of the model in order to make a prediction.

Does the tvm backend support training?

[2022-10-04 00:53] xwang233 commented on #1458
The current TIMM implementation uses functorch's memory_efficient_fusion. However, https://github.com/pytorch/pytorch/issues/86020#issuecomment-1264123277 recommends to use torchdynamo's optimize in the future and I'm working on this. TIMM script will be blocked by this issue on this line https://github.com/rwightman/pytorch-image-models/blob/d4ea5c7d7d55967a8bedbfbb58962131d8aba776/timm/optim/opt

[2022-10-04 01:01] voznesenskym commented on #1458
Understood! Thank you. Let me know when you have a repro, happy to take a look.

[2022-10-04 01:02] anijain2305 opened #1461 "[inductor] AMP accuracy error - inception_v3"
Repro
[code]

[2022-10-04 01:45] ezyang opened #1462 "Dynamo inaccurate line number in backtrace"
Steps to reproduce:
1. Build 86c182c6cd3a39e02a3f3575510de5b3d2c98acd of pytorch/pytorch (current tip of https://github.com/pytorch/pytorch/pull/84246)
2. Normal torchdynamo OK (tested 2e6737a46d6c4eea5b888345c1ffc7a282eb8153)
3. Run `TORCH_SHOW_CPP_STACKTRACES=1 TORCHDYNAMO_DYNAMIC_SHAPES=1 AOT_DYNAMIC_SHAPES=1 TORCH_MONKEYPATCH_GETITEM=1 python benchmarks/torchbench.py --only hf_T5 --accuracy --

[2022-10-04 02:03] jansel commented on #1462
Does turning off `torchdynamo.config.dead_code_elimination` fix this issue?
https://github.com/pytorch/torchdynamo/blob/7350f88e00a4e03c6eb591546727c25151e5ca56/torchdynamo/convert_frame.py#L374

If so we may just need to update `remove_pointless_jumps` and `remove_dead_code` to preserve line numbers.

Each bytecode instruction has a `inst.starts_line` property that is an integer for the first ins

[2022-10-04 02:19] ezyang opened #1463 "When you call tensor.size(), dynamo returns a tuple, instead of a torch.Size"
I have this fragment of code, based off of the bug report https://github.com/pytorch/torchdynamo/issues/1462

[code]

what I have done is inserted the print. When I run model normally, this print says

[code]

however, when it's run under dynamo, I don't get a torch.Size

[code]

This is unexpected and can lead to behavior divergence.

I can try to minimize the repro if you like, but I'm guessing

[2022-10-04 03:17] ezyang opened #1465 "Dynamo shouldn't name getitem variables getitem; instead it should derive the name from the variable that was getitem'ed"
This would make return statements like

[code]

a lot more informative

[2022-10-04 03:29] jansel commented on #1465
This is coming from FX default node naming.

[2022-10-04 04:03] ezyang commented on #1465
Dynamo should override FX node naming :)

[2022-10-04 04:06] ezyang opened #1466 "TORCHDYNAMO_DYNAMIC_SHAPES=1 expects sizes returned from graph to be tuples, but AOTAutograd doesn't agree"
Repro: `TORCH_SHOW_CPP_STACKTRACES=1 TORCHDYNAMO_DYNAMIC_SHAPES=1 AOT_DYNAMIC_SHAPES=1 TORCH_MONKEYPATCH_GETITEM=1 AOT_FX_GRAPHS=1 python benchmarks/torchbench.py --only hf_T5 --accuracy --backend aot_eager --training)` with symbolic-shapes branch https://github.com/pytorch/pytorch/pull/84246

We end up with this AOTAutograd graph:

[code]

but Dynamo is expecting (2, 1024)

Comments from @jansel

[2022-10-04 04:22] jansel commented on #1466
This fix should involve changing these lines:
https://github.com/pytorch/torchdynamo/blob/7350f88e00a4e03c6eb591546727c25151e5ca56/torchdynamo/variables/tensor.py#L180-L187

To return a `torchdynamo.variables.SizeVariable([DynamicShapeVariable(), ...])` (which is a type of TupleVariable).

[2022-10-04 04:30] jansel commented on #1466
Actually it would look somewhat similar to the static shapes case right below:
https://github.com/pytorch/torchdynamo/blob/7350f88e00a4e03c6eb591546727c25151e5ca56/torchdynamo/variables/tensor.py#L196-L200

[2022-10-04 06:14] ngimel commented on #1461
This seems like a triton bug (and is a bug for fp32 and fp16, but fp32 just squeezes through based on some implicit 0 initialization that doesn't work for fp16). Currently, the following code is generated (I'm pasting simplified `where` generation that can be done with the latest triton, but with current `where` codegen results are the same, just the code is a bit messier):
[code]
`xmask` is `True

[2022-10-04 06:58] Chillee commented on #1458
This was also causing issues in some user code as well.

User code had something like

[code]

I chatted a bit with @anijain2305 about this.

[2022-10-04 07:13] voznesenskym commented on #1458
I see. I don't have strong opinions on us not doing this, fwiw. I do not think it's a bad change, per se - just that changes for "future" fixes that change the return type of a public contract should not be made lightly.

[2022-10-04 13:32] ezyang commented on #1462
Disabling DCE did not fix the issue

[code]

[2022-10-04 13:33] ezyang commented on #1463
Fixing https://github.com/pytorch/torchdynamo/issues/1466 probably fixes this

[2022-10-04 13:52] ezyang commented on #1466
[code]

just need to write a test

[2022-10-04 16:35] jansel commented on #1461
Should we submit an upstream bug to Triton?

The `where` version is a bit more flexible, since it allows inline computation inside the `ops.masked()`.

[2022-10-04 16:56] #1448 closed

[2022-10-04 17:28] #1176 closed

[2022-10-04 17:32] yanboliang commented on #1460
Verified this has been fixed by https://github.com/pytorch/torchdynamo/pull/1284

[2022-10-04 17:32] #1460 closed

[2022-10-04 17:38] ngimel commented on #1461
Yeah I agree `where` version is more flexible and it would be nice to keep it, I'll try to dig a bit more into what's happening.

[2022-10-04 17:47] anijain2305 commented on #1190
Closing in favor of #511

[2022-10-04 17:47] #1190 closed

[2022-10-04 17:47] anijain2305 commented on #826
Done

[2022-10-04 17:47] #826 closed

[2022-10-04 17:48] anijain2305 commented on #1091
Closing in favor of #511

[2022-10-04 17:48] #1091 closed

[2022-10-04 17:50] anijain2305 commented on #1236
Can we close this one @davidberard98 ?

[2022-10-04 17:51] anijain2305 commented on #973
Closing as obsolete

[2022-10-04 17:51] #973 closed

[2022-10-04 17:53] davidberard98 commented on #1236
Yes, I think this is not an issue now.

[2022-10-04 17:53] #1236 closed

[2022-10-04 18:33] lezcano commented on #883
What about doing a expand + `tril` + `sum`? It would do some extra computation but it unblock this + it would be parallelizable. The only issue is that we would need play around a bit with the dimensions as `tril` just works on matrices, and `cumsum` takes an optional `dim`.

[2022-10-04 18:54] #1445 closed

[2022-10-04 20:09] davidberard98 commented on #1413
This does not happen on aot_eager or aot_nvfuser - only inductor.

[2022-10-04 20:29] davidberard98 commented on #1413
Logs with CUDA_LAUNCH_BLOCKING=1

[code]

[2022-10-04 20:29] shingjan commented on #1459
I think training support is on the roadmap of the upcoming Relax frontend [link](https://github.com/apache/tvm-rfcs/pull/89). So probably I can circle back once that is available.

[2022-10-04 20:29] #1459 closed

[2022-10-04 21:22] anijain2305 opened #1473 "Add timestamps to logging output"
Helps with basic level of triaging/eyeballing if something weird if going on.

[2022-10-04 21:56] ngimel commented on #1461
Filed a triton bug https://github.com/openai/triton/issues/737, for now I think the only workaround is to add `other=0.` kwarg to masked loads.

[2022-10-04 22:21] #1466 closed

[2022-10-04 23:01] jansel commented on #1461
Perhaps we should just always set `other=0.` until it is fixed?

[2022-10-04 23:24] lezcano commented on #883
And you would be right. I will implement the multi-kernel approach from JAX, see if it gets a more reasonable speed.

[2022-10-04 23:33] ngimel commented on #1461
We haven't seen problems so far, I hope that it's only for complex masking cases.

[2022-10-04 23:46] tugsbayasgalan opened #1475 "torchdynamo.export error message is not clear."
When we modify module attribute within the export phase, it produces confusing error message. The reason it errors is because when we modify the attribute, it just adds the attribute as graph input instead of accessing the attribute. Therefore, the export graph thinks there are 2 inputs (x and self.a) while the actual input is just `x`. I think we should either:

1. Fix this error
2. Emit more cle

[2022-10-04 23:47] tugsbayasgalan commented on #1475
cc: @voznesenskym, @yanboliang, @jansel, @suo, @zhxchen17

[2022-10-04 23:54] tugsbayasgalan opened #1476 "torchdynamo.export doesn't propagate "example value" when using tensor.T"
To repro:

[code]
We get following error:
[code]

[2022-10-05 01:01] anijain2305 opened #1479 "Peak memory increase with just Inductor compiled graph"
For `volo_d1_224`, I was trying to figure out where does the memory footprint go.

* One known issue is that Python hold references of inputs to the backward pass due to how AOT Autograd works.
* So, I used `aot_inductor_debug` backend, which uses same decomps, partitioner as Inductor. I was hoping to see same increase in memory footprint as Inductor, if extra Python references were the culprit. B

[2022-10-05 01:15] jansel commented on #1479
We could try disabling horizontal fusion (which could increase memory usage).

Replace this line with `return False`:
https://github.com/pytorch/torchdynamo/blob/0c96ddbad26216671861762c161ebcfb0fdbeb9f/torchinductor/scheduler.py#L913

[2022-10-05 04:57] yanboliang opened #1483 "TorchBench model tacotron2 failed due to ```assert device.type != "meta"```"
Repro:
[code]

Error:
[code]

This error is sort of flaky, another model ```fastNLP_Bert``` has [the same error](https://app.circleci.com/pipelines/github/pytorch/torchdynamo/3314/workflows/4b76ed05-4c1f-40d4-954a-4e125d630ce8/jobs/34302/parallel-runs/0/steps/0-109) but even more flaky.

[2022-10-05 04:58] yanboliang commented on #1483
BTW, I was trying to minify it using TORCHDYNAMO_REPRO_AFTER="dynamo" but failed.

[2022-10-05 05:23] ngimel commented on #1455
This one can be worked around by disabling `codegen_static_numels`, but today it has pretty bad perf consequences (more than 5% degradation), filed a triton bug with repro https://github.com/openai/triton/issues/741. We can see if marking xnumel/rnumel as divisible by 16 in the new runtime (with the corresponding guards) will resolve some or most of perf degradation, any volunteers to look into th

[2022-10-05 05:56] jgong5 opened #1484 "[Inductor] Support float32 accumulation type for float16 sum on CPU"
Currently float16 sum on CPU uses float16 accumulation type (https://github.com/pytorch/torchdynamo/pull/1452). We should use float32 accumulation type instead to reduce numerical errors.

[2022-10-05 05:59] jgong5 opened #1485 "Support guard on thread number"
As mentioned in https://github.com/pytorch/torchdynamo/pull/1452 and discussed in https://github.com/pytorch/torchdynamo/pull/1452#discussion_r986774789, thread number is similar to the shapes that can be specialized to get better perf. Supporting guard on thread number can make sure the specialized kernels are recompiled with the changes of thread number.

[2022-10-05 09:35] lezcano commented on #1356
I believe changing that line from `slice(None)` to `None` should fix the issue.

[2022-10-05 10:39] lezcano commented on #1356
I put up a fix: https://github.com/pytorch/pytorch/pull/86266

[2022-10-05 16:32] jansel commented on #1479
Yeah, it is a performance versus memory issue.  Horizontal fusion reduces total memory reads, so will make things go faster.

- We could have a "low memory mode" where we disable this horizontal fusions.
- We could reduce `torchinductor.config.max_fusion_size` (currently 64), perhaps there are some mega-fusions that are bloating memory usage in some models.
- We could implement some sort of fancy

[2022-10-05 16:39] yanboliang commented on #1483
cc @eellison

[2022-10-05 16:56] desertfire commented on #1450
I am confident this is a triton codegen related issue, but I haven't found out a good fix yet. Here are my findings so far:

1) If I use `eager forward + inductor backward`, the test will pass;
2) If I use `inductor forward + eager backward`, the test will pass;
3) If I force a fallback for `aten.sum`, the test will pass;
4) The result difference for the weight tensor is exactly a sign difference,

[2022-10-05 16:58] jansel commented on #1475
For fixing the error, is the desired behavior here to ignore the side effect of mutating `M()` and produce a somewhat incorrect graph that diverges in behavior from the original program?

[2022-10-05 17:21] Chillee commented on #1479
@jansel I think we also just need to investigate some more memory optimization passes :) Most trivially, we should probably do a pass at the end that reorders scheduler nodes to minimize peak memory (I think we have all the needed info).

[2022-10-05 17:37] desertfire commented on #1479
This is immediately actionable to fix some OOMs when doing accuracy testing in our CI and nightly. I can work on it.

@stumpOS, this might be interesting to you.

[2022-10-05 18:11] tugsbayasgalan commented on #1475
What about a graph break with a guard? So that user know that they are doing weird stuff and have to rewrite their model.

[2022-10-05 18:12] yanboliang commented on #1356
@lezcano Thanks for your PR, I verified it fixed my issue!
@ngimel I'll add tests to inductor when pytorch pin is updated.

[2022-10-05 18:16] voznesenskym commented on #1475
This should be an export only assertion.

[2022-10-05 18:22] xwang233 commented on #1458
Hi @voznesenskym , you can try my changes here https://github.com/xwang233/pytorch-image-models/tree/aot-autograd-update

If you do a benchmark with
[code]

You may see an error
[code]

which points to `TorchDynamoNNModuleWrapper` here https://github.com/rwightman/pytorch-image-models/blob/d4ea5c7d7d55967a8bedbfbb58962131d8aba776/timm/optim/optim_factory.py#L215

[2022-10-05 19:15] yanboliang commented on #1483
Should be fixed when https://github.com/pytorch/pytorch/pull/86245 merged.

[2022-10-05 19:56] eellison commented on #1368
actually i dont.. but this error is the result of einsum returning float16 during tracing, but then float32 upon invocation.

[code]

[2022-10-05 20:48] tugsbayasgalan opened #1496 "Tensor.size doesn't work with torchdynamo.export"
Repro:
[code]
We get following error:
[code]

[2022-10-05 21:00] anijain2305 opened #1497 "[fake tensor/Dynamo] Fake Tensor Exception with grad"
[code]

It could be how we handle grad in TorchDynamo. Assigning to myself for initial assessment.

[2022-10-05 21:00] anijain2305 commented on #1497
cc @eellison

[2022-10-05 21:20] desertfire opened #1498 "opinfo test: RuntimeError: Negation, the `-` operator, on a bool tensor is not supported."
Repro:
Remove this line https://github.com/pytorch/torchdynamo/blob/a83c21a7acdfdaecc6c03b3700c68df67321ff76/test/test_torchinductor_opinfo.py#L341, and then run
[code]

[2022-10-05 21:21] desertfire commented on #1422
@sangongs, I have created https://github.com/pytorch/torchdynamo/issues/1498, and feel free to pass it to your teammate who wants to learn about inductor.

[2022-10-05 22:03] yanboliang opened #1499 "Remove the triton dependency of Inductor CPU codegen"
We import triton library even we compile the CPU codegen, e.g:
[code]
This will cause dependency issue if users just want to use inductor on CPU. I think we should remove this dependency. Look at the code [here](https://github.com/pytorch/torchdynamo/blob/main/torchinductor/codegen/wrapper.py#L198), actually we add these headers according if ```has_triton```, maybe we should define a better criter

[2022-10-05 22:15] voznesenskym commented on #1499
Already discussed offline, I think you can just expand the triton check to include a torch.cuda enabled check.

[2022-10-05 22:32] #1461 closed

[2022-10-06 00:07] suo commented on #1475
Discussed offline:
- "Fixing" this issue is involved and would probably involve introducing an explicit state lifting concept to the export path. This is something worth exploring at some point (since supporting training export will maybe want this) but not atm. IT's fine to leave it as an assert.
- This error could still be improved though—it should at least point to the responsible code and expl

[2022-10-06 00:07] tugsbayasgalan commented on #1475
Sure. After discussing with @suo, I think it is ok to error out in this case for now. But, I think we should make sure that the error message implies that there is something going on with modifying state.

[2022-10-06 00:17] voznesenskym commented on #1475
That's fine - I find the error message clear. Feel free to take a stab at writing one you prefer.

The primary point we want to convey is that the inputs provided to the traced fn and inputs captured during tracing do not match - ditto for the outputs. Module state mutation is just one way to achieve this error.

[2022-10-06 00:22] jansel commented on #1475
Perhaps we should add an `assert not export` to the code the originally detects the mutation, so users get a line number of the issue.

[2022-10-06 00:43] #1455 closed

[2022-10-06 01:36] anijain2305 commented on #1330
I could not make much progress.

I turned fake tensor propagation off to see if its just fake tensor issue
`torchdynamo.config.fake_tensor_propagation = False`

But then it fails with this
[code]

which seems to indicate that params have been copied/transformed in some manner, and we cannot just blindly copy it.

[2022-10-06 06:19] anijain2305 opened #1512 "[fake tensor][aot_nvfuser] non-fake and fake tensor together"
Repro

This is for `aot_nvfuser` backend, so something special might be happening with Aot Autograd `ts_compile`. But, lets ensure that its not FakeTensor issue.

[code]

[2022-10-06 10:54] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-06 13:51] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-06 17:06] fdrocha opened #1515 "Triton segfaults when running on torchinductor generated code"
Came across this while working on a decomp for `torch.bucketize`.

<details><summary>Here's code for a MRE</summary>

[code]

</details>

If you run this it segfaults on the last line, when running triton compilation. If you compile triton in debug mode you hit an assert:

[code]

<details><summary>This is the (slightly cleaned up) generated triton code</summary>

[code]

</details>

You get the s

[2022-10-06 17:43] voznesenskym opened #1516 "Use opinfo segfaulting list to protect inductor run internally"

[2022-10-06 17:43] voznesenskym commented on #1515
Maybe not perfectly related to this issue, but we have a known list of segfaulting ops in tests. We should make use of that in inductor itself. https://github.com/pytorch/torchdynamo/issues/1516

[2022-10-06 18:25] jjsjann123 opened #1517 "Hitting AssertionError from autocast query with torchdynamo: `AssertionError: torch.* op returned non-Tensor bool call_function <built-in function is_autocast_enabled>`"
Don't know how to describe the error precisely, here's the issue I'm running into:

[code]

I'm using torchdynamo commit:
[code]

With pytorch commit:
[code]

[2022-10-06 18:27] desertfire opened #1518 "Measure the performance and accuracy difference of tl.libdevice and tl ops"
reference: https://github.com/pytorch/torchdynamo/pull/1386

For certain ops, the `tl.libdevice` and `tl` versions have different precision and performance tradeoff. We can measure the perf difference and add a flag to control the codegen behavior if needed.

[2022-10-06 18:43] tugsbayasgalan commented on #1496
@jansel @anijain2305 could you guys take a look?

[2022-10-06 18:44] tugsbayasgalan commented on #1476
cc: @voznesenskym @jansel @anijain2305

[2022-10-06 18:47] voznesenskym commented on #1496
This is just because your graph is too small to produce an fx graph. That's what the assert says - "assert graph is not none".

Try a bigger repro.

[2022-10-06 18:51] tugsbayasgalan commented on #1476
Seems like this doesn't work:
[code]
Gives:
[code]

[2022-10-06 19:04] voznesenskym commented on #1476
This is the same as your other issue - your graph is too small - what are you trying to capture here? are these contrived examples to find edge cases, or real cases we need to support?

[2022-10-06 19:09] tugsbayasgalan commented on #1476
This above example (not my comment) happens in real production model. So i think we need to support it.

[2022-10-06 19:13] tugsbayasgalan commented on #1496
[code]
Ok this seems to work.

[2022-10-06 20:10] sanketpurandare opened #1520 "[functorch] [aot_autograd]"
This is what I am trying to do:

1. Create an input and target tensor
2. Create a list of models for ensemble
3. Use vmap to create an ensemble
4. Obtain the vmap function and pass it to aot_function, to obtain the forward and backward graphs

Repro:
[code]

Error:
`RuntimeError: !self.requires_grad() || self.is_contiguous() INTERNAL ASSERT FAILED at “/scratch/anijain/work/pytorch/aten/src/ATen/na

[2022-10-06 20:30] anijain2305 commented on #1520
cc @ezyang @eellison

[2022-10-06 20:34] jansel commented on #1517
I think we need to handle this the same way as `is_grad_enabled`:
https://github.com/pytorch/torchdynamo/blob/6c2f81ec47d6acff464a883c207e7d94884435d4/torchdynamo/variables/torch.py#L230-L234

Basically just add a guard on the value and turn it into a constant.  Should be a good ramp up task.

[2022-10-06 20:51] tugsbayasgalan commented on #1476
Ok when I make the graph not trivial:

[code]
We get:
[code]

[2022-10-06 20:57] #1355 closed

[2022-10-06 22:55] zhxchen17 opened #1525 "Cannot export with tracing_mode="symbolic" and nn.Embedding"
We're trying to tracing a module with dynamic shape, and ran into some problem:

repro:
[code]

We got the following error:
[code]
I think either I'm using the wrong config, or dynamo doesn't handle dynamic shape correctly. Thoughts?

cc @voznesenskym @suo

[2022-10-06 23:06] soumith commented on #1525
some folks working on dynamic shapes are cc: @Chillee @ezyang

[2022-10-06 23:12] voznesenskym commented on #1525
Thanks for the report, I can take a look, but the folks @soumith mentioned would be better contacts. Cc: @eellison too.

[2022-10-06 23:15] Chillee commented on #1525
@voznesenskym Looking at it with Zhengxu now.

[2022-10-06 23:46] anijain2305 opened #1526 "[minifier] Accuracy minification"
- [ ] For integer tensors, currently we have torch.zeros for rand_strided (https://github.com/pytorch/torchdynamo/blob/main/torchdynamo/testing.py#L254). This is ok for Exceptions, but not really useful for accuracy. We need to get the maximum value from the original tensor and then replace zeros with randint(max_value)
- [ ] We currently do fwd_output.sum().backward() - This could hide indexing i

[2022-10-06 23:46] anijain2305 commented on #1526
cc @msaroufim if you are looking for a task to learn about minifiers.

[2022-10-06 23:50] awgu commented on #1330
I am not familiar with the TorchDynamo constraints, but as a heads up, in the upcoming weeks, I am planning to remove/deprecate `FlattenParamsWrapper` from FSDP. I suspect this will not affect this issue since the root of the problem is most likely from the logic inside `FlattenParamsWrapper` for flattening.

[2022-10-07 00:16] ezyang commented on #1525
This looks more like a dynamo problem, we're supposed to be guaranteed no free variables at the point we're called.

[2022-10-07 00:27] Chillee commented on #1525
@ezyang no the problem is how export uses dynamic shapes today, where we directly call `make_fx` on the fx module created by dynamo (so it bakes in param constants).

[2022-10-07 00:50] ezyang commented on #1525
oh lol ok haha

[2022-10-07 02:44] Chillee opened #1527 "Add divisibility by 16 annotations to `numel` arguments in Inductor."
Today, we don't add `divisible_by_16` annotations to the `numel` arguments.

<img width="1459" alt="image" src="https://user-images.githubusercontent.com/6355099/194457035-48461d60-7a83-413e-956c-d67fb3981f48.png">

The issue is that we add the `numel` args after we set annotations (https://github.com/pytorch/torchdynamo/blob/main/torchinductor/codegen/triton.py#L58).

[2022-10-07 02:54] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-07 03:06] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-07 06:07] anijain2305 opened #1529 "End2End AMP training"
https://github.com/pytorch/torchdynamo/blob/main/benchmarks/training_loss.py performs end-to-end training example. However, we are not testing AMP training in a standard manner.

AMP training has GradScaler which performs scaling, monitors gradients, discards batch sizes if gradients are inf/nan. More importantly, GradScaler is stateful. All this warrants an end to end training testing with TorchD

[2022-10-07 08:47] fdrocha commented on #1515
@voznesenskym could you point me to the list of segfaulting ops?

[2022-10-07 08:55] lezcano commented on #1515
I think there's none yet, but you can see in https://github.com/pytorch/torchdynamo/pull/1522/files that voz is marking there a few ops as segfaulting. His linked issue suggests it would be good to have one.

Now, I think that this segfault should not stop you from having your decomposition merged in core.

[2022-10-07 08:56] voznesenskym commented on #1515
https://github.com/pytorch/torchdynamo/blob/main/test/inductor/test_torchinductor_opinfo.py

Closest thing we have. As @lezcano correctly said - its not a real list in inductor yet, more of a test exclusion list.

We are working to burn this down actively.

[2022-10-07 09:01] lezcano commented on #1515
If you know of any that could be tagged as "good first issue", please tell us. @fdrocha and I would be happy to help :)

[2022-10-07 14:38] blzheng opened #1534 "Support BF16 datatype for benchmarks on CPU"
Benchmarks need to support BF16 datatype for CPU.

[2022-10-07 14:50] yunxing commented on #37
Hi is there any estimation on when this will get fixed? This use case is very important for our workload as we have many autograd.Function. Thanks in advance!

[2022-10-07 15:24] desertfire opened #1535 "YituTechConvBert: IndexError: Dimension out of range (expected to be in range of [-1, 0], but got 4)"
Repro:
[code]
[code]

[2022-10-07 15:28] desertfire commented on #1535
cc @eellison , not sure if this is a fake tensor or decomposition problem.

[2022-10-07 16:50] #1535 closed

[2022-10-07 17:37] #1450 closed

[2022-10-07 19:20] #1036 closed

[2022-10-07 19:32] anijain2305 commented on #1330
I can repro this with the following code. I basically replicated the relevant `FlatParams` behavior

[code]

[2022-10-07 19:37] anijain2305 commented on #1330
@eellison Assigning to you. This is specific to how FSDP works and modifies the module.

[2022-10-07 19:49] eellison commented on #1330
@anijain2305 what do you think about assigning someone working on DDP ? I think it would be good to ramp up other people on fake tensor and for people to be able to unblock themselves

[2022-10-07 20:39] anijain2305 commented on #1330
Sounds good @eellison , @wconstab assigning to you for now. Let me know if that works. We have a fairly standalone repro here - https://github.com/pytorch/torchdynamo/issues/1330#issuecomment-1272021023. So, it might be a good task to learn about fake tensors.

[2022-10-07 22:17] msaroufim opened #1541 "Inductor PyTorch profiler support"
Today the PyTorch profiler isn't terribly useful for debugging performance related issues, in fact we don't have too many tools to debug performance related issues at all per our `TROUBLESHOOTING.md` but there's a few things we can do to make this better

- [ ] Today the dynamo ignores profiler calls but that doesn't mean the profiler doesn't work with dynamo in particular

[code]

- [ ] In a perf

[2022-10-07 22:23] voznesenskym commented on #1541
https://github.com/pytorch/torchdynamo/pull/1522 there's a general contextlib/manager support I am working on. Once this lands, I think it should be easier to support profiling.

[2022-10-07 22:56] #1356 closed

[2022-10-07 23:04] Chillee opened #1543 "Inductor doesn't fuse outer dimension softmax into a single kernel."
http://ix.io/4cog

We generate two kernels:

![image](https://user-images.githubusercontent.com/6355099/194673608-c62b6f4e-3be9-4872-a7d8-0ae2b01bc44e.png)

The issue seems to lie in the memory dependencies not matching up.

cc: @jansel @ngimel

[2022-10-07 23:07] msaroufim opened #1544 "IndexError: tensors used as indices must be long, byte or bool tensors"
## Repro
[code]

[2022-10-07 23:12] davidberard98 opened #1545 "[DDPOptimizer] Compiled subgraphs sometimes return lists"
[code]

See the line marked `HERE`. We need to add an option for `isinstance(x, list)` for reasons I don't understand. We can see on the line marked "Make it a tuple" that we are already wrapping the output as a tuple, so why is the output sometimes appearing as a list?

[2022-10-08 02:02] awgu commented on #1330
Sorry, another heads up: We are working on a code path for FSDP to expose the original parameters. In the near term, this approach requires setting an original parameter variable's `.data`, e.g. something along the lines of:
[code]
We plan to invest heavily in this code path and will probably converge to it. I am not sure if, in addition to the `delattr` `setattr` usage, this `.data` usage will po

[2022-10-08 02:16] mlazos commented on #1473
This is fixed with #1436

[2022-10-08 02:16] #1473 closed

[2022-10-08 02:32] mlazos commented on #36
closing, #891 + #1224 + #754 + #678 together add this feature

[2022-10-08 02:32] #36 closed

[2022-10-08 02:33] mlazos commented on #896
@desertfire the log_levels are linked together from your PR and I think there is enough info provided from inductor logging, is there anything else that needs to be done here? I'll close for now, if there is something else feel free to reopen and let me know.

[2022-10-08 02:33] #896 closed

[2022-10-08 02:35] mlazos opened #1551 "Tooling Issue Tracking"
### Minifier
- [ ] [Accuracy minifier](https://github.com/pytorch/torchdynamo/issues/1526)
- [ ] Ensure FX graphs dumped by hooks and `TORCHINDUCTOR_TRACE=1` are runnable in the minifier
- [ ] https://github.com/pytorch/torchdynamo/issues/1380
- [ ] https://github.com/pytorch/torchdynamo/issues/1377
- [ ] https://github.com/pytorch/torchdynamo/issues/1241
### General UX
- [ ] Single debug folder
-

[2022-10-08 02:42] msaroufim opened #1552 "Minifier UX improvements"
Keeping a list of current UX issues with the minifier

## Make the minifier better
- [ ] As repro gets smaller the minifier may repro different errors than the one intended so it'd be useful in `torchdynamo/config.py` to have some regex string to search for a specific error string
- [ ] The minifier overwrites `base_dir/minifier-$USER` so a single folder may have minified errors from different mod

[2022-10-08 03:59] ngimel commented on #1544
This will be fixed soon, once we pin to pytorch version that contains #86309

[2022-10-08 04:01] ngimel commented on #1527
We also need to create proper guards if we set those annotations

[2022-10-08 05:34] zhxchen17 commented on #1476
@voznesenskym I don't this is true. Actually, we intentionally minify the repro for people to look at. If you realy prefer a "bigger" graph, I can provide you one, and you will find the same error being raised:

[code]

This is from OCR Recognition model. We're blocked for a couple of days.

btw you can assume all the issues we raised recently are all from real models.

cc @suo @gmagogsfm

[2022-10-08 05:43] voznesenskym commented on #1476
Understood entirely. I'll take a look this weekend.

[2022-10-08 08:35] jgong5 opened #1556 "Support cpp wrapper code"
Currently wrapper.py generates python code that invokes generated kernels and external kernels. This would incur Python overhead which can be avoided if the wrapper can generate c++ code that invokes these kernels via C++ directly.

[2022-10-08 08:47] voznesenskym commented on #1556
Yes. It could also run where we don't have access to Python. In fact, this would go great with torchdynamo.export, for a general no Python inductor flow.

Do you plan on working on direct c++ invocation? If not, I can take a look.

[2022-10-08 08:53] jgong5 commented on #1556
It is in our tentative plan. It's great if you'd like to offer the hand. Feel free to let me know if you need any help!

[2022-10-08 12:59] IvanYashchuk opened #1557 "aot_cudagraphs backend is broken"
This PR https://github.com/pytorch/torchdynamo/pull/1395 changed `.add_submodule` to `.register_attr_or_module` in `apply_cuda_graphs` function.

This change results in an error:
[code]

On latest commit (baa40211981c9927776bde92581339ee6d8abe14) try `python benchmarks/torchbench.py --training -d cuda --fast --backend=aot_cudagraphs --skip-accuracy-check  --performance --generate-aot-autograd-stat

[2022-10-08 13:43] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-08 16:51] voznesenskym commented on #1557
Thanks for filing the issue. I can take a look. Sounds just like a rename oversight.

[2022-10-08 19:47] #1439 closed

[2022-10-08 20:25] #1557 closed

[2022-10-08 21:51] sanketpurandare opened #1559 "[functorch] [vmap] [SymInt][fake tensor]"
Goal:

1. Create an input and target tensor
2. Create a list of models for ensemble
3. Use vmap to create an ensemble
4. Obtain the vmap function and pass it to aot_function, to obtain the forward and backward graphs
5. Although the weights and parameters can fit into memory, the activations might not fit in memory and hence, I set `config.use_fake_tensor = True`

Repro:

[code]
Error Stack Trace:

[2022-10-08 23:08] ezyang commented on #1559
If you don't need symbolic shapes you should either get off the branch or turn symbolic shapes back off by editing functorch._src.config

[2022-10-09 01:16] Valentine233 opened #1562 "Test for multiple processes"
Need to add a test for multiple processes.

One scenario is the cache contention, please see [#1400 ](https://github.com/pytorch/torchdynamo/pull/1400).

[2022-10-09 08:21] anijain2305 opened #1564 "[inductor] `le` view is different between Inductor and Torch"
I am not sure if this is a problem or really a root cause of the problems I am seeing. But, wanted to get other opinions on this.

@ngimel @jansel

[code]

[2022-10-09 16:46] jansel commented on #37
@yunxing development of this is not currently started or scheduled, so there is no ETA at the moment.

In most (non export) use cases, the graph break should not cause any issues and `autograd.Function` will work fine with dynamo.  It might prevent some optimizations the cross those graph break boundaries.

[2022-10-09 19:23] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-09 19:32] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-09 19:45] jansel commented on #1564
It appears that `True` in Triton is `0xFF`, while `True` in eager is `0x01`

[2022-10-09 19:55] jansel commented on #1564
I was expecting this patch to fix it:
[code]

However, it does *not*.  There must be some upstream logic in Triton that converts the `1` to `0xff` when you write to a bool tensor.  The easiest fix is likely on the Triton side, though we could just convert all bool tensors to int8 tensors inside inductor.

[2022-10-09 20:06] jansel commented on #1564
I filed an issue https://github.com/openai/triton/issues/756

[2022-10-09 21:49] ngimel commented on #1564
cc @desertfire, hopefully https://github.com/openai/triton/pull/746 should fix it.

[2022-10-09 21:55] ngimel commented on #1564
Note that pytorch eager converts non-standard bools to 1 on reads (there might be a few stray ops that don't do it, but @peterbell10 fixed most), and #1490 fixes non-standard bools in inductor-generated kernel reads, so by itself hopefully the issue above should not be observable, but ideally we should still have a fix like  https://github.com/openai/triton/pull/746 to avoid these workarounds.

[2022-10-10 00:36] anijain2305 opened #1565 "[inductor] Minor accuracy deviation with fused `reciprocal` - `dm_nfnet_f0`"
Again, not sure if this really is a problem. But, worth sharing as all tensors are `float32`, so we expect same outputs.

Note
* There is a loop over seed, so it might fail at different seeds.
* Accuracy is measured by comparing error against `fp64_ref`
* By converting the constants into `torch.tensor` passes it (see commented portion).

cc @jansel @ngimel

Repro

[code]

[2022-10-10 01:18] anijain2305 opened #1566 "[inductor] Missing impl - `div` trunc rounding mode"
Repro
[code]

cc @desertfire @SherlockNoMad

[2022-10-10 02:34] #1353 closed

[2022-10-10 02:45] anijain2305 opened #1567 "[inductor] tts_angular - bad accuracy for `select_scatter`"
Repro

[code]

cc @desertfire @SherlockNoMad

[2022-10-10 03:42] anijain2305 commented on #1287
Closing.

[2022-10-10 03:42] #1287 closed

[2022-10-10 03:44] anijain2305 commented on #1148
Unable to repro this. So, closing.

[2022-10-10 03:44] #1148 closed

[2022-10-10 03:46] anijain2305 commented on #1352
Ping on this.

[2022-10-10 03:47] anijain2305 commented on #1368
Ping

[2022-10-10 03:54] anijain2305 commented on #1304
No longer visible. Closing this.

[2022-10-10 03:54] #1304 closed

[2022-10-10 05:03] anijain2305 opened #1568 "[inductor] Missing Impl - `as_strided` - might help `hf_Longformer`"
Repro
[code]

[2022-10-10 07:22] anijain2305 commented on #1565
Some more repros with similar deviations

`repro_fnbet_v3_b.py`
[code]

`repro_mobilenetv100.py`
[code]

`repro_spasnet.py`

[code]

[2022-10-10 16:31] danthe3rd opened #1571 "torch.cuda.nvtx.* causes: `AssertionError: torch.* op returned non-Tensor _GeneratorContextManager call_function`"
Hello,

Traced functions can't contain calls to `torch.cuda.nvtx` for profiling, as this breaks the compilation with the following error:

[code]

Here is a minimal example to reproduce:
[code]

I believe the fix would be just to add another exception to [the list](https://github.com/pytorch/torchdynamo/blob/6c2f81ec47d6acff464a883c207e7d94884435d4/torchdynamo/variables/torch.py#L230-L234).

[2022-10-10 16:39] wconstab commented on #1330
Once you start assigning .data = flat_tensor[...],

do you still need to delattr?  Or are you only adding one new `flat_tensor` and keeping the original parameter tensors as they were (other than modifying their .data)?

[2022-10-10 16:52] ngimel commented on #1566
Both arguments are non-tensors, and we don't handle this case in promote_constants

[2022-10-10 17:12] anijain2305 opened #1572 "[inductor] `maximum` op does not respect `nans`"
Repro
[code]

cc @desertfire @SherlockNoMad

Helps with fbnet and mobilenetv3_100

[2022-10-10 17:31] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-10 18:15] awgu commented on #1330
We may be able to get rid of calling `delattr` just for that code path (though this is not how it is done at the moment). I can look into this if needed. However, for the near term, we need to keep the existing code path around, so that will be using `delattr`.

[2022-10-10 18:38] anijain2305 commented on #1512
cc @bdhirsh heard you are interested in fake tensor issues.

[2022-10-10 20:05] desertfire commented on #1566
https://github.com/pytorch/torchdynamo/pull/1574

[2022-10-10 20:40] #1499 closed

[2022-10-10 20:55] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-10 21:06] typedfemale opened #1577 "[inductor] TypeError: function takes exactly 16 arguments (13 given)"
I have a pretty odd one. Minimal repo below:

[code]

Needed for fast state space models 😄

[2022-10-10 21:49] yanboliang commented on #1483
Fixed by https://github.com/pytorch/pytorch/pull/86245.

[2022-10-10 21:49] #1483 closed

[2022-10-10 22:12] msaroufim opened #1578 "torchdynamo.exc.BackendCompilerFailed: compile_fx raised KeyError: 'could not find as_strided(primals_2, (s1, s2), (1, s1))'"
## Repro

[code]

Note: Weirdly enough when I tried this on latest nightlies it worked just fine but I'm seeing this issue internally. Probably just need a sync

[2022-10-10 22:20] ngimel commented on #1577
Can't repro on master

[2022-10-10 22:40] Chillee commented on #271
This has been finished.

[2022-10-10 22:40] #271 closed

[2022-10-10 22:59] typedfemale commented on #1577
I'm __really__ stuck on this one. My exact steps are as follows (and I've reproduced it twice, once using conda, once with pip):

1. I create a new VM on GCP with "Debian 10 based Deep Learning VM with M97 - Base CUDA 11.3, Deep Learning VM Image with CUDA 11.3 preinstalled"
2. It asks if you want to install drivers, agree.
3. Install torch. (`pip3 install --pre torch torchvision torchaudio --extr

[2022-10-10 23:22] typedfemale commented on #1577
See this colab notebook as well: https://colab.research.google.com/drive/1k-5TExj3m2KMNN0evUTOicfYnjRd6cxu#scrollTo=AKf0TyWhMN3d 😭

[2022-10-10 23:36] suo opened #1580 "invalidation policy for codecache"
Currently inductor's code cache ([codecache.py](https://github.com/pytorch/torchdynamo/blob/main/torchinductor/codecache.py)) is never invalidated. That means that any improvements or bugfixes downstream of source code generation will not show up, which has bitten people a few times. In the case of a bug (e.g. a triton bug), currently the only way to fix it is to manually delete the cache.

@vozne

[2022-10-11 00:12] desertfire commented on #1577
This might relate to a triton version issue. You can give https://github.com/pytorch/torchdynamo/blob/3f92a095ae72ab276e1efe0466771996292544c5/Makefile#L16 this pinned triton version a try.

[2022-10-11 00:14] aazzolini commented on #1330
@wconstab  is this a Dynamo+FakeTensor issue? Does it repro if FakeTensor is disabled? Do we need FakeTensor? Where can we learn more about FakeTensor+Dynamo?

[2022-10-11 00:26] typedfemale commented on #1577
Yes, potentially it is a triton issue. Sadly, using that triton commit failed for a different reason: `ImportError: cannot import name 'next_power_of_2' from 'triton' (unknown location)`

[2022-10-11 00:40] desertfire commented on #1564
Verified https://github.com/pytorch/torchdynamo/pull/1585/ can fix this

[2022-10-11 01:20] jansel commented on #1580
I'd suggest just adding the Triton version to the hash.  Since we are hashing on the output code of inductor, the version used to generate the exact same Triton code shouldn't matter.

That might not be enough, since Triton has its own layer of caching.  We may need to replace `/tmp/torchinductor_$USER/triton` with `/tmp/torchinductor_$USER/triton_$TRITON_HASH` or detect when the version changes a

[2022-10-11 01:25] jansel commented on #1577
I saw this too with the latest Triton.  I think something upstream changed in the new runtime.

[2022-10-11 01:27] jansel commented on #1577
@typedfemale this one might fix it
[code]

[2022-10-11 01:31] typedfemale commented on #1577
@jansel I tried it [here](https://github.com/pytorch/torchdynamo/issues/1577#issuecomment-1273939677), but I get a different error (I believe that commit is the same one @desertfire mentioned)...

[2022-10-11 02:03] eellison commented on #1580
That's a concern but fwiw I was more worried about in-progress changes not affecting the hash, and getting mapped to stale codegen

[2022-10-11 02:16] suo commented on #1580
isn't that a problem today?

[2022-10-11 02:48] jansel opened #1588 "Migration to PyTorch core"
We have merged `github.com/pytorch/torchdynamo` into `github.com/pytorch/pytorch`.  Being in a separate repo has allowed us to move fast, but it creates some installation roadblocks for users and version pinning has been a growing headache as the project scales.

- `import torchdynamo` is now `import torch._dynamo`
- `import torchinductor` is now `import torch._inductor`
- The standalone C extensi

[2022-10-11 03:03] #1567 closed

[2022-10-11 04:00] wconstab commented on #1588
what's the best way to run/repro the test_recompile_ux bug?

[2022-10-11 04:04] jansel commented on #1577
Ah too bad.  I'm guessing from your PR you go it working though.

[2022-10-11 04:21] jansel commented on #1580
Related https://github.com/openai/triton/issues/760#issuecomment-1274061460

[2022-10-11 04:26] jansel commented on #1588
1) Checkout https://github.com/pytorch/torchdynamo/pull/1538
2) Uncomment these lines:
https://github.com/pytorch/torchdynamo/blob/151fc2517c8e9d7ae9c257476190c7dadca87c69/test/dynamo/test_recompile_ux.py#L201-L204
3) `python test/dynamo/test_recompile_ux.py` should fail (while pytest passes)

[2022-10-11 04:28] jansel commented on #1588
https://github.com/pytorch/torchdynamo/issues/64

https://github.com/pytorch/torchdynamo/issues/106

[2022-10-11 04:56] typedfemale commented on #1577
Just waiting on https://github.com/pytorch/torchdynamo/pull/1585 now since it seems like I broke caching 😅

[2022-10-11 05:00] jansel opened #1591 "[TorchInductor] Add support for Pascal GPUs (P100, GTX 1080, etc)"
According to @ptillet supporting Pascal GPUs with Triton should be possible if we:
1) Disable float16 support (and give a good error message saying fp16 requires a newer GPU)
2) Use `aten` backend for matmul/conv
3) May need to remove an assert on the Triton side?
4) Test it to make sure things work

This might be a good first issue if someone has a Pascal GPU handy to test on.

[2022-10-11 05:04] ngimel commented on #1591
Would atomics work on Pascal? I thought they are also Volta+

[2022-10-11 07:24] danthe3rd opened #1592 "torch.cat: Does not support different dtypes for operands"
This is supported by Eager PyTorch, see minimal repro:

[code]

Output:
[code]

[2022-10-11 08:00] arielsolomon commented on #115
Yes I noticed it after reading at torch site.
Thanks

On Wed, Jun 1, 2022 at 7:02 PM Wei ***@***.***> wrote:

--
Dr. Ariel Solomon
Mobile: 972-545-667301

[2022-10-11 09:05] typedfemale commented on #1568
Want to echo my support for this, I have a model that _heavily_ uses `as_strided`

[2022-10-11 10:00] typedfemale opened #1593 "[inductor] KeyError: 'BLOCK_K' when Enabling Triton BMM"
When I set `torchinductor.config.triton.use_bmm = True`, I get the following exception:

[code]

You can reproduce by running `benchmarks/microbenchmarks/inductor_bmm.py` with the latest version of triton.

I'm really not sure what the canonical triton version is at this point, but I'm reporting it here regardless.

[2022-10-11 11:26] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-11 12:33] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-11 14:07] fdrocha commented on #327
I'll also take `softplus` and its backward

[2022-10-11 14:11] bdhirsh commented on #1330
It looks like the failure has to do with the fact that we're re-setting `linear.weight` (which used to be a `torch.nn.Parameter`) with a fresh tensor (aka an ordinary `torch.Tensor`).

When I re-run the repro, but instead I manually pass an `nn.Parameter` into `setattr`, then the repro runs ok:
[code]

I'm not too familiar with the details of nn, but is it an antipattern to remove the "parameter-n

[2022-10-11 14:31] malfet commented on #1588
Consider splitting https://github.com/pytorch/pytorch/pull/86461  into two parts: native plugins and pure python code.

[2022-10-11 14:59] awgu commented on #1330
Unfortunately, it is critical for FSDP to do this given the existing autograd infrastructure. We need to register the original parameters as plain `torch.Tensor`s so that their gradients propagate into their underlying `FlatParameter`s. Specifically, each original parameter is actually a view of a `FlatParameter`, created via `torch.split()` + `torch.view()`, which are ops tracked by autograd. If

[2022-10-11 16:27] ptillet commented on #1591
Hmm IIRC global memory atomics should be fine (shared atomics are more recent), but we should double check :)

[2022-10-11 17:28] typedfemale commented on #1593
Hmm, then I get: `TypeError: autotune() missing 1 required positional argument: 'key'`

[2022-10-11 17:29] wconstab commented on #1588
@jansel is it important for  torchdynamo.git/test/dynamo/test_recompile_ux.py to pass?  I did scratch my head debugging this and was not able to figure out why the logger config is not working there.  However, pytorch.git/test/dynamo/test_recompile_ux.py does pass for me.  Isn't that all that matters at this point?

[2022-10-11 17:47] anijain2305 opened #1597 "List clearing for stashed tensors to reduce peak memory"
As title

[2022-10-11 17:48] anijain2305 opened #1598 "Tracker for peak memory footprint"
- [x] @eellison - #1597
- [x] @anijain2305 @stumpOS - https://github.com/pytorch/torchdynamo/issues/1479
- [x] Dashboard - go back to original batch size when the above two issues are fixed
- [ ] Debug excess memory usage from cudagraphs during graph capture (cc: @eellison)
- [x] Resolve fallbacks using real tensors (cc: @eellison )

[2022-10-11 17:49] anijain2305 commented on #1132
Closing in favor of https://github.com/pytorch/torchdynamo/issues/1598

[2022-10-11 17:49] #1132 closed

[2022-10-11 17:52] anijain2305 opened #1599 "Investigate large compilation time for `hf_t5_large`"
![image](https://user-images.githubusercontent.com/13822661/195164174-f320c6f5-2e08-4510-9a85-656c301823d9.png)

[2022-10-11 17:54] jansel commented on #1588
I think I disabled the test, so it might be passing because of that.  If it is too hard I am ok just disabling it.

[2022-10-11 17:55] anijain2305 commented on #1198
Lets test and harden the minifier using these models - @mlazos @yanboliang

I think our goal should be too see how far we can make progress with minifiers instead of fixing the bugs.

[2022-10-11 18:02] wconstab commented on #1588
I double checked my tmux scrollback and i did run it with `-v` and see that the tests really ran.  (`Ran 6 tests in 2.375s`) -- i'm pretty sure something is messed up with the version of the test on the torchdynamo repo i think things are ok on the pytorch side if you just uncomment that block

[code]

I am also ok with it being disabled transiently, so if you find that enabling it doesn't work ju

[2022-10-11 18:08] bdhirsh commented on #1330
I did some more digging: AOTAutograd looks [at two locations](https://github.com/pytorch/pytorch/blob/693250ac859fbb15ea4b4426d9cefaf97e151eb7/functorch/_src/aot_autograd.py#L745) on an `nn.Module` when figuring out what state to "lift" into function inputs:
- module parameters
- module buffers

So the issue is that in the repro, `mod.linear.weight` is now an ordinary tensor, that's entirely opaqu

[2022-10-11 18:57] bdhirsh commented on #1330
FWIW - if using `register_buffer()` is an issue, I tried out a local patch that basically tells aot autograd to "look for *all* module state that is a tensor, not just params and buffers", and it looks like it fixes the repro. This patch will probably warrant some discussion from aot autograd folks though:

[code]

[2022-10-11 18:59] #1194 closed

[2022-10-11 19:18] typedfemale commented on #1593
Tried to figure out what config was breaking it (the other seem to work just fine?):
[code]

[2022-10-11 19:20] awgu commented on #1330
I tried registering the parameters as buffers via `register_buffer()` instead of plain `Tensor`s via `setattr()`, but it does not work (https://github.com/pytorch/pytorch/pull/86707). Unfortunately, I do not have the bandwidth in the near term to really dig into the details to see if there is a more nuanced way to make buffers work.

[2022-10-11 19:31] #1030 closed

[2022-10-11 19:31] #1496 closed

[2022-10-11 19:58] bdhirsh commented on #1330
@ezyang points out that this seems more like a problem for dynamo to solve, not AOTAutograd.

Dynamo knows about all tensor state / inputs to the graph, and can be on the hook for know to convert these into real graph inputs before passing that graph along to AOTAutograd.

[2022-10-11 23:40] typedfemale opened #1603 "Internal Triton PTX Codegen Error"
Please find the repo before:
[code]

I understand this is potentially a Triton bug instead and I've also posted an issue [there](https://github.com/openai/triton/issues/768).

[2022-10-11 23:52] anijain2305 commented on #1599
Repro - `https://gist.github.com/anijain2305/11daefea5c2538fa1bfc49a8a26135de`

This takes roughly 400 seconds to compile. There is a bad looking kernel here - https://gist.github.com/anijain2305/b713d3d04093ac78813e820d5e73fc31

Trying to prevent accumulation of large amount of code in just 1 kernel.

[2022-10-12 00:13] #1564 closed

[2022-10-12 00:36] typedfemale commented on #1603
It's a Triton bug.

[2022-10-12 00:36] #1603 closed

[2022-10-12 01:22] msaroufim commented on #1591
I'm interested in this if it's not too crazy, the only assert I could find was https://github.com/openai/triton/blob/master/lib/driver/llvm.cc#L141

But more of a high level question if we're looking at something like Google Colab
* It supports K80 Kepler which is old but still popular
* T4 which is Turing and works just fine with Triton when I tried it

Are P100 widespread? My perception is the m

[2022-10-12 02:28] Chillee commented on #1592
We also ran into this issue previously (cc: @ngimel): https://github.com/pytorch/torchdynamo/issues/623#issuecomment-1217064335

[2022-10-12 03:49] jansel commented on #1593
Ah hrm could we just remove that config?

[2022-10-12 04:12] typedfemale commented on #1593
Hm, I'm just worried something has changed on the Triton side and that's why it's breaking...

[2022-10-12 06:03] yanboliang commented on #1352
I spent the past two days debug this issue and found the model is hanging not taking very long to run. When it hit [this line](https://github.com/pytorch/torchdynamo/blob/main/torchinductor/compile_fx.py#L103), it's stuck. I was trying different way to find the root cause and it seems we stuck when ```args``` of a ```aten.add.Tensor``` target when run this graph. But I didn't have further progress

[2022-10-12 06:47] kiszk opened #1604 "Simple training script with loss cause an exception"
The following steps causes a runtime exception `NotImplementedError`. But, I am sorry in advance if I make mistakes. Here is a repro.
`"eagar"` or `"aot_eagar`" instead of "`inductor`" does not work, too.

[code]

[2022-10-12 06:50] kiszk commented on #1604
This may be related to #829
cc @yanboliang

[2022-10-12 07:24] typedfemale commented on #1577
#1585 is merged

[2022-10-12 07:24] #1577 closed

[2022-10-12 14:01] soumith commented on #1591
Spoken like a true Google Colab user haha.
Yea, P100 is still pretty popular.

[2022-10-12 15:08] nunoplopes opened #1607 "Exponential behavior with connected DAGs"
The following example takes forever to execute:
[code]

Tracing the function directly with `torch.jit.trace` is quick, but dynamo somehow doesn't return after several minutes.

The stack trace is pretty long.. But I think this hints at the problem:
[code]

This polynomial simplifier may be traversing the DAG as a tree and thus going into the exponential behavior I'm observing.

[2022-10-12 15:14] voznesenskym commented on #1607
What is the behavior with other backends?

[2022-10-12 15:18] nunoplopes commented on #1607
I've no idea. But my own backend also shows the same behavior. And all I do is to call trace on the GraphModule.

[2022-10-12 17:48] anijain2305 commented on #1150
Repro

[code]

[2022-10-12 17:58] yanboliang commented on #1604
I can reproduce the issue, but I don't think this is a bug. There are two issues in your code:
* You are trying to optimize a model, however, there is no parameter in your model.
* You pass ```[input2]``` as the argument of optimizer, which is not correct. Look at [```Adam``` API](https://pytorch.org/docs/stable/generated/torch.optim.Adam.html) and [the example](https://github.com/pytorch/torchdyn

[2022-10-12 18:33] mlazos commented on #1413
some progress, more minimal repro:

[code]

continuing to investigate

[2022-10-12 19:32] desertfire commented on #1565
For the tensor constant vs. plain constant problem, I saw the input fx_graph starts to differ, which causes the final output code differs

[code]

[code]

There may be some inconsistent type promotion between eager and inductor. @ngimel, do you happen to know what went wrong here?

[2022-10-12 19:59] malfet commented on #1588
Do we need followup task for fixing internal build config to point to the "right" version for torchdynamo?

[2022-10-12 20:04] typedfemale commented on #1593
Ah, I think I see what's going on (I think #1338 broke it), [see the new matmul kernel](https://github.com/openai/triton/blob/master/python/triton/ops/matmul.py) in the Triton repo.

[2022-10-12 20:33] ngimel commented on #1565
Inductor type promotion is fine here (there's nothing to type promote if everything is fp32) but I don't know how triton handles literals. 0.3275911 is not exactly representable if fp32 and that leads to differences, I'd need to check triton ptx to see what happens.

[2022-10-12 20:49] williamwen42 commented on #1167
Minimum repro:
[code]
produces the following graph:
[code]

[2022-10-12 21:01] yanboliang commented on #1147
I verified both model works well now.

[2022-10-12 21:01] #1147 closed

[2022-10-12 21:15] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-12 21:17] sangongs commented on #1257
Looks like this is related to a [functorch issue](https://github.com/pytorch/functorch/issues/1052). Basically, functorch AOT compiles `tensor.detach` to `aten.alias` and thus results in semantic discrepancy between the original graph and the compiled graph, which is then fed into `fw_compiler` of Inductor

But even if the functorch AOT does not turn `detach` into `alias`, it looks to me Inductor

[2022-10-12 21:27] sangongs commented on #1257
A minimum issue to reproduce this issue:
[code]

[2022-10-12 21:52] jansel commented on #1588
That is what I meant by "Update internal fbcode buck target and internal users to use the new packages, remove the old one" in the list above

[2022-10-12 21:52] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-12 22:16] sangongs commented on #1257
There is already a functorch PR fixing this: https://github.com/pytorch/pytorch/pull/86838

After cherry-picking the PR, the minimum program runs correctly. But this test still fails. I will keep investigating it.

[2022-10-12 22:41] Chillee commented on #1607
This seems to run for me with both the NNC (on GPU) as well as Inductor.

I suspect it's something specific to the compiler backends?

[2022-10-12 22:42] Chillee commented on #1604
@yanboliang I don't see how those are issues.

1. It's totally valid to have a model without parameters.
2. This code runs fine in eager mode.

[2022-10-12 22:44] Chillee commented on #1597
Resolved by https://github.com/pytorch/torchdynamo/pulls?q=is%3Apr+is%3Aclosed

[2022-10-12 22:44] #1597 closed

[2022-10-12 22:48] ngimel commented on #1150
`tmp5` load in the reduction loop should have dense indexing:
[code]
should be
[code]
instead

[2022-10-12 22:52] #1368 closed

[2022-10-13 00:18] anijain2305 commented on #1352
It fails because of `max_pool2d_with_indices_backward`

[code]

[2022-10-13 00:35] kiszk commented on #1604
Yeah, this code works well w/o torchdynamo.

[2022-10-13 01:15] voznesenskym commented on #1604
This indicates a bug in dynamo's handling of something (self, it looks like in this case). This means we have a bad assumption somewhere around some arg we are tracing being a constant, when in fact that arg is a tensor. @yanboliang As `self` is often the first arg, my guess would be that some args[0] for an internal dynamo representation is mismatched.  Let me know if you need help debugging.

@k

[2022-10-13 02:29] blzheng opened #1617 "[CPU] TorchInductor Performance Dashboard"
Dashboard to track the performance of torchinductor on CPU.

[2022-10-13 02:51] soumith commented on #1604
I wanted to provide context that this pattern of optimizing a `Tensor` with `requries_grad=True` (instead of an `nn.Parameter`) is valid. This is a pattern of doing gradient descent on the inputs (instead of `weights`), and this is used in a variety of neural network applications, including [adversarial examples](https://openai.com/blog/adversarial-example-research/), reconstruction models, a vari

[2022-10-13 02:52] blzheng commented on #1617
### Performance Dashboard for float32 precision -- Multi-threads

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate torchinductor across three benchmark suites - torchbench, huggingface and timm. We run these experiments on ICX 8375C. Each experiment runs one iteration of forward pass. For accuracy, we check the numerical correctness of forward pass outputs by comparing wi

[2022-10-13 02:59] blzheng commented on #1617
# Performance Dashboard for float32 precision -- Single-thread ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate torchinductor across three benchmark suites - torchbench, huggingface and timm. We run these experiments on Intel(R) Xeon(R) Platinum 8358 CPU @ 2.60GHz. Each experiment runs one iteration of forward pass. For accuracy, we check the numerical correctness of

[2022-10-13 03:03] blzheng opened #1618 "Add support for CPU peak memory footprint in benchmarks"

[2022-10-13 03:16] ngimel commented on #1568
@typedfemale usually `as_strided` works fine, here it is on a non-contiguous and unrealized tensor.

[2022-10-13 03:50] anijain2305 opened #1619 "[AMP] Bad decomp for softmax"
Repro

[code]

[2022-10-13 04:31] jansel commented on #1617
This is inference?  Or training?

[2022-10-13 04:39] blzheng commented on #1617
Inference.

[2022-10-13 05:07] yf225 opened #1620 "torch.split / torch.chunk cause "too complex strides" for Inductor + CUDA graph"
When a model uses output of `torch.split` / `torch.chunk` ops as input, or has those ops internally, `torch._debug_has_internal_overlap` can complain about the size + strides of those tensors being too hard to determine whether memory overlap exists, preventing enablement of CUDA graph:

## Example 1: using output of `torch.split` as input to graph
[code]
`split_emb` now has tensors of size and st

[2022-10-13 06:13] yanboliang commented on #1604
Thanks for providing the context, it makes sense! @soumith
Currently we use ```defaultdict``` and ```Tensor``` as key across all optimizers(including ```Adam``` in this case). We have to specialize the ```Tensor```'s value during compilation if its was used as key. Right now we did specialization only if it's ```nn.Parameter```, which works well for majority cases. If we want to support optimizing

[2022-10-13 09:52] SeaOfOcean opened #1632 "benchmark training_loss.py with inductor got RuntimeError: Triton Error [CUDA]: invalid argument"
I followed the main instruction to set up the environment, and run the following example with:

[code]

my env setup is as follows:

[code]

but got error

[code]

[2022-10-13 12:47] stumpOS commented on #1598
I had not started #1479 because of access issues into the cluster. I will see if I can fix it anyway without a larger memory device today (I have an 8GB device)

[2022-10-13 15:15] desertfire opened #1635 "torchdynamo.reset doesn't work with inductor"
[code]

For this example, if we set a break point in compile_fx, we only hit it once instead of 3 times.

[2022-10-13 16:25] yunxing commented on #37
Thanks for the context @jansel. Our case require exporting the whole graph so letting the graph break doesn't work well.

[2022-10-13 16:25] ngimel commented on #1515
This is a real codegen bug, the problematic line is
[code]
Here `tmp8` is computed from constant and is a constant (single number) itself, but mask is a triton tensor, and triton expects offsets and mask to have the same shape. Unfortunately, our codegen doesn't distinguish well between cases where offsets are result of indirect indexing (and there `tmp8` would be a triton tensor of proper shape),

[2022-10-13 16:42] fdrocha commented on #1515
Thanks for the comments @ngimel. I'd actually started looking into this today, your observations are very helpful.

I think it's more than just figuring out if it's a tensor or a number though. Take the following example:

[code]

And you call with with `x` of shape `(S1,)` and `y` of shape `(S2,)`. The generated triton looks like this:

[code]

Note that this is still wrong even though `tmp0` is

[2022-10-13 16:59] ngimel commented on #1515
Yeah we were just discussing possible invalid values in input with @jansel, and it's ok to ignore for now (assume that all values in `y` are valid). Going forward, we'd need to error out in the kernel (that's today's eager behavior), not just mask invalid values. With the assumption of valid values in `y`, using the same mask is ok

[2022-10-13 17:57] anijain2305 opened #1637 "[inductor] Cannot make_shape_compatible: blocks must have the same rank"
Repro

[code]

[2022-10-13 18:05] desertfire opened #1638 "pytorch core test failure: LLVM ERROR: Broken function found, compilation aborted!"
Repro:
[code]
Error:
[code]

[2022-10-13 18:28] Krovatkin opened #1640 "[operatorbench] [10/31 sweep] AssertionError: cuda should have been normalized in lowering"
Command(s) to reproduce:

[code]

[code]

[code]

Stacktrace:

[code]

[2022-10-13 18:29] Krovatkin commented on #1640
cc: @eellison @desertfire

[2022-10-13 18:32] Krovatkin opened #1641 "[operatorbench] [10/31 sweep] RuntimeError: Invalid capture."
Command(s) to reproduce:

[code]

[code]

[2022-10-13 18:39] Krovatkin opened #1643 "[opbench]"
Opbench doesn't seem to handle inputs with lists correctly.

Command to reproduce

[code]

Stacktrace
[code]

[2022-10-13 18:40] Krovatkin commented on #1643
cc: @eellison @desertfire

[2022-10-13 18:56] eellison commented on #1640
These might just be a problem in the script

[2022-10-13 18:57] eellison commented on #1641
This might be a problem in the benchmarking

[2022-10-13 19:16] yf225 commented on #1620
More cases where we want to know if can be considered "non-overlapped":
[code]

[2022-10-13 19:21] gcunhase commented on #115
@soltkreig I'm getting the same error when trying to run `fx.symbolic_trace()` with a quantized model. Have you solved this issue?

[2022-10-13 20:46] soumith commented on #1632
hi, can you paste the code that generated this error?

[2022-10-13 20:50] stumpOS commented on #1479
Unable to repro:
[code]

Script:
[code]

[2022-10-13 21:11] #1592 closed

[2022-10-13 21:24] anijain2305 opened #1644 "Dashboard improvements tracker"
- [x] Clean Inductor complication cache using #1207. Basically, add the flag in the performance runs (look at generated run.py to confirm)
- [x] Flag models with (1) < 0.95x speedup, (2) > 2min compile time, (3) < 0.9x compression ration
- [x] Optional (as this requires previous day run) - Flag models that were passing yesterday but failed today.
- [x] slurm - we run Dashboard on slurm cluster. Cu

[2022-10-13 21:50] mlazos commented on #1413
So the solution is to set `torchinductor.config.triton.cudagraphs=False`
Cudagraphs and the profiler do not play well together apparently.

[2022-10-13 21:56] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-13 22:07] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-13 22:23] anijain2305 opened #1648 "[inductor] `cat` - Super_slomo, dlrm, timm_vision_transformer - AMP"
Also affect `beit_base_patch16_224`, `crossvit_9_240`, `deit_base_distilled_patch16_224`, `vit_base_patch16_224`, `xcit_large_24_p8_224`

Repro
[code]

Error
[code]

[2022-10-13 22:51] #1413 closed

[2022-10-13 23:01] Chillee commented on #1648
This might be resolved by https://github.com/pytorch/torchdynamo/pull/1614?

[2022-10-13 23:03] anijain2305 commented on #1648
I have this commit in my branch. So, maybe some corner case is still missing.

[2022-10-13 23:08] stumpOS opened #1652 "Runtime error in Triton script"
The script generated by Inductor for AlexNet throws an exception at runtime when attempting to execute a kernel.

Repro steps:
last commit on main: 8402270
execute command:
[code]
Expectation: the minifier_launch.py is created and executed without exception
Observed: A runtime exception is thrown
[code]
minifier_launcher.py:
[code]

[2022-10-13 23:09] stumpOS commented on #1652
generated python script that actually threw the exception:
[code]

[2022-10-13 23:12] jgong5 opened #1653 "Indeterministic code generation (triton backend)"
Problem: Running same repro twice generates different code.
Expectation: The generated code is the same.

Repro
[code]

Run the repro with
[code]
Check the forward graph 0.

[2022-10-13 23:22] soumith commented on #1644
You can log stdout/stderr to a file, and then have a `tail -f [filename]` right? or is this not sufficient?

[2022-10-13 23:24] anijain2305 opened #1654 "[inductor] Cannot broadcast, the expanded size of the tensor"
Repro
[code]

Error
[code]

[2022-10-13 23:40] ngimel opened #1656 "Inductor ignores global pytorch `deterministic` setting"
Pytorch generates scatter and indexing kernels that use atomic ops/ have non-deterministic behavior with repeating indexing, and won't throw errors/use fallbacks when deterministic mode is set in pytorch. We should use fallback in those cases.

[2022-10-13 23:44] ngimel opened #1657 "Inductor indexing kernels don't check for valid indices"
When eager mode gets invalid indices for indexing operations (e.g. negative or larger than input size) it generates kernel assert and hard errors with invalidated context. Inductor isn't set up to error, it can produce silent wrong results or error out with illegal memory access, depending on the caching allocator state and indices values.
It's unclear if triton can have internal asserts in its ke

[2022-10-13 23:55] #1652 closed

[2022-10-14 01:40] SeaOfOcean commented on #1632
the code is from original torchdynamo benchmark https://github.com/pytorch/torchdynamo/blob/main/benchmarks/training_loss.py

[code]

[2022-10-14 02:20] jansel commented on #1638
Should handle this similar to `torch.is_grad_enabled`:
https://github.com/pytorch/torchdynamo/blob/dc16a9e8e575e4f9e6eec37cc200ff9e42e03815/torchdynamo/variables/torch.py#L246-L250

By turning it into a guard + `ConstantVariable`.

[2022-10-14 02:21] jansel commented on #1638
Though perhaps we shouldn't be inlining in `manual_seed()` and just capture it in the graph.

[2022-10-14 02:27] jansel commented on #1620
We should stop using `torch._debug_has_internal_overlap()` and write our own check that is more selective.

Perhaps:
[code]
Then switch our cudagraphs wrapper to just copy the underlying storage.

[2022-10-14 02:34] voznesenskym commented on #1638
IIRC I was going to add support for this for some opinfo tests, but then hacked around not needing to. manual_seed() returning a `torch._C.Generator` object was kind of annoying to deal with.

Quick scan of the failing test, where are we calling `manual_seed`?

[2022-10-14 02:52] jansel commented on #1588
The initial migration has landed, so most other tasks should be unblocked.

[2022-10-14 03:25] soumith commented on #1657
i think this is more than bad UX, this is a fundamental correctness issue.

I'd suggest that we do the following if Triton doesn't support device asserts:
1. write to a global memory flag on invalid indices
2. after the fused kernel finished running, run a regular tiny CUDA kernel that all it does is check that global memory flag and do a device assert

Alternatively, take a performance hit and ru

[2022-10-14 04:38] jansel commented on #1657
@ptillet would it be possible/easy to add support for device asserts to Triton?

[2022-10-14 04:41] ptillet commented on #1657
It's on the roadmap, but we haven't started looking into yet. I don't really know what the PTX/LLVM should look like for device-side asserts in CUDA, so it may or may not be difficult :)

[2022-10-14 04:59] yanboliang commented on #1352
Update:

Obviously ```max_pool2d_with_indices_backward``` is the ops that doesn't work well, and the culprit is [this line](https://github.com/pytorch/torchdynamo/blob/65f680fa6b8b0c2323ff7118310e7241758781a3/torchinductor/lowering.py#L2468). According the implementation of ```ops.where```, every time ```gradient```(which is str) would be double size. And this is inside of a nested loop, the size

[2022-10-14 05:48] yf225 commented on #1620
Wonder should it be `>`? Like if total # elements is larger than the storage size, we know there is overlap?

Alternatively, should we consider doing it the following way?
[code]
If we translate the above to Python and put in Dynamo (instead of in MemoryOverlap.cpp), would it work? (thanks Jongsoo @jspark1105 for writing this)

[2022-10-14 06:02] #1637 closed

[2022-10-14 08:07] jgong5 commented on #1556
@voznesenskym Have you started working on it? If not, we will take over. :-)

[2022-10-14 09:21] jgong5 opened #1670 "[Triton] Incorrect Result from First Run with Clean Cache"
This is an issue identified when I was enabling the inplace_buffers feature (https://github.com/pytorch/torchdynamo/pull/1486). The gmixer_24_224 training test is the only failing CI test that failed the accuracy check after enabling inplace_buffers. The failure only happens on the first run with clean cache, not from consecutive runs. It seems the failure is not related to the feature itself. Bel

[2022-10-14 09:52] jgong5 commented on #1653
Seems the randomness comes from the `num_splits` function from ir.py. Haven't looked deep into it though.

[2022-10-14 14:18] desertfire commented on #1654
I am looking into this as an oncall task since it's coming from a recent correctness regression in huggingface models (MBartForConditionalGeneration , PLBartForConditionalGeneration).

Locally I am getting a different error msg, and this is actually an example of the indexing error being discussed in #1657 (notice the error msg from eager).

[code]

If I ran MBartForConditionalGeneration training

[2022-10-14 15:05] nunoplopes opened #1673 "cache_size_limit reached with Torchvision's resnet-18"
Something simple as below errors out:
[code]

Error:
[code]

[2022-10-14 15:17] #1673 closed

[2022-10-14 16:53] #1648 closed

[2022-10-14 17:20] anijain2305 opened #1675 "[inductor] Convolution channels last fails for TIMM workloads"
Repro

[code]

Error
[code]

[2022-10-14 17:22] ngimel commented on #1657
It is, but tf/xla/jax always just wrote/used bogus values in these cases. I agree we should mimic eager behavior though.

[2022-10-14 17:57] jansel commented on #1620
On further thought, think overlap should actually be fine for cudagraphs.  When we do the copy just do:
[code]

The problem only comes when storage_size is larger, in which case it could be wasteful as we will need to copy many unused elements.

[2022-10-14 18:59] anijain2305 commented on #1675
import torch
from torch import tensor, device
import torch.fx as fx
from torchdynamo.testing import rand_strided
from math import inf
from torch.fx.experimental.proxy_tensor import make_fx

# torch version: 1.14.0a0+git25725fd
# torch cuda version: 11.6
# torch git version: 25725fd62448165b91647304c26d676db22b6955

# CUDA Info:
# nvcc: NVIDIA (R) Cuda compiler driver
# Copyright (c) 2005-2022 NVID

[2022-10-14 19:00] ngimel commented on #1620
If we combine inputs belonging to the same storage, the number of wasted elements hopefully won't be large.

[2022-10-14 19:32] yf225 commented on #1620
SG - to combine these two ideas:

[code]

Does this look good in general?

re. negative strides, should we just ban it because it's not well-supported in eager mode either? https://github.com/pytorch/pytorch/issues/39224

[2022-10-14 19:52] ngimel commented on #1620
Yes, looks good, you can assume there are no negative strides.

[2022-10-14 21:00] ngimel commented on #1654
fwiw, to make repro fail in triton you need to replace
[code]
with
[code]

[2022-10-14 21:49] #1619 closed

[2022-10-14 21:54] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-14 22:01] bdhirsh commented on #1512
Here's what I found so far. In the above repro, it looks like torchscript sees that we're calling `torch.ones(...)` during compilation, and compiles that into a constant:
[code]

At the time that we're torchscripting the graph though, we're torch scripting it with fake tensor inputs. So the "constant" saved into the graph becomes a fake tensor.

Since we return the constant, we end up returning a

[2022-10-14 22:06] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-14 22:52] ngimel commented on #1352
wdym `gradient` would be double in size? `ops.where` is simply `tl.where({a}, {b}, {c})`, how does the doubling happen?

[2022-10-14 22:56] yanboliang commented on #1352
@ngimel Look at this line
[code]
if the length of previous ```gradient``` is x, ```grad_part``` is y, the new ```gradient``` is ```tl.where(mask, x + y, x)```, which is > 2x.

[2022-10-14 23:03] wconstab commented on #1237
@mrshenli @aazzolini This is a good issue to collaborate on if we can make some changes to DDP api to enable smoother UX for dynamo.

We could potentially call an API on DDP to 'reset' its state after we run our tracing pass, before the user runs the first 'real' forward.  Is there such an API today (internal even?) if so, I could try calling it from somewhere in the ddp-optimizer.  Or i could add

[2022-10-14 23:06] wconstab commented on #1545
i'm not too concerned about this, but at the same time i kinda want to debug it.  if you have a repro case can you paste it?

[2022-10-14 23:39] voznesenskym commented on #1638
_is_in_bad_fork is a red herring here, fixing that graph break still leaders to this broken function.

[2022-10-15 03:44] mreso opened #1681 "Segmentation fault with inductor for huggingface/diffusers"
Hi,

running the [stable_diffusion](https://github.com/huggingface/diffusers/tree/main/src/diffusers/pipelines/stable_diffusion) example from huggingface/diffusers results in segmentation fault.

Repro:
pip install --upgrade diffusers transformers

Then run:
[code]

Error message:
[code]

Expected result:
Example works with eager + aot_eager and successfully generates an image. Crashed with induct

[2022-10-15 06:44] voznesenskym commented on #1681
Can you run the minifier on this please?

[2022-10-15 21:57] Chillee commented on #1588
Will the old import still work or do any users of torchdynamo need to change their imports too?

[2022-10-15 22:01] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-15 22:04] jansel commented on #1588
They should.  I plan to replace the old locations with a file like:

torchdynamo.py
[code]

I plan to wait a bit before doing that, as it will create a ton of merge conflicts for people porting PRs over if the `git pull` by mistake.

[2022-10-15 22:53] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-16 01:42] jansel opened #1685 "Support single-arg min/max"
We should add support for:
[code]

Currently, this generates a warning:
[code]

I noticed this in:
[code]

[2022-10-16 05:14] soumith opened #1687 "examples/imagenet failing"
This is the diff of me taking examples/imagenet and modifying it to include `dynamo`:

[code]

This is the failure:

[code]

## What works?

- `dynamo.optimize('eager')(model)` works fine and runs without error.
- dynamo.optimize('aot_eager')(model)` also works fine and runs without error

## Minifying

Here's my attempt to minify and didn't really see anything minified come out:

**Attempt 1:**

[2022-10-16 05:35] soumith commented on #1687
Just to confirm that `DataParallel` wasn't the root cause, I ran the same command with `DataParallel` disabled, by providing `--gpu 0`, and confirmed that the model wasn't wrapped in any data parallelism.
The same error persisted.

[code]

[2022-10-16 06:16] voznesenskym commented on #1685
Good beginner task, I think? `.bind` handles default args, so all we would have to then do, in the `_call_min_max` impl body would be:

1) Set `b` to default None
2) assert that if `b` is None, arg 0 / `a` is an iterable
3) handle that logic / call a helper like `_min_max_with_iterable` (unpack_var_sequence, assert all same type, etc)

[2022-10-16 19:41] soumith commented on #1687
Manually minimized the example to:

[code]

[2022-10-16 19:44] soumith commented on #1687
the second iteration of `model(images)` fails, and it only fails if `optimizer.step()` is done in the first iteration

[2022-10-16 21:34] yanboliang commented on #1687
I had encountered similar issue [before](https://github.com/pytorch/torchdynamo/issues/1189#issuecomment-1243226980).  I tested this minimized example and found it has the same symptom: error only on GPU, CPU works well.

[2022-10-16 22:10] anijain2305 commented on #1687
So, the issue is somewhere in `cudagraphify_impl` of TorchInductor. Adding these two lines pass the testcase

[code]

@jansel @eellison you might have a better idea.

[2022-10-16 22:20] jansel commented on #1687
Perhaps the view is from `index_expanded_dims` which takes a slice. Or the `as_strided` call.

Managing grads/views feels like something AotAutograd should handle even if the backend takes a view.  Also, I'd expect functionalization to remove the mutation.

@Chillee any ideas, I seem to recall you talking about a similar issue.

[2022-10-16 22:20] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-16 22:24] anijain2305 commented on #1687
These are the fwd/bwd graphs from AOT Autograd (and these are sent to `compile_fx_inner`)

[code]

[2022-10-16 22:46] anijain2305 commented on #1687
And the mutation is coming from the `optimizer.step()`. Replaced the `step` with relavant portion here

[code]

[2022-10-16 23:50] soumith commented on #1687
Here's a more simplified / minimalist version.
The `nn` version below fails, but the same thing implemented as functions passes.

1. Failing

[code]

2. Passing

[code]

[2022-10-16 23:51] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-17 01:26] soumith commented on #1687
I'm more certain now that this is an Inductor bug.

In the failing "nn.Module" case (1), and in the passing "Function" case (2), the `fwd/bwd graphs from AOT Autograd` are exactly the same (I canonicalized the variable names manually:

Failing code snippet (1) from previous comment:

[code]

Passing code snippet 2:

[code]

[2022-10-17 01:42] soumith commented on #1687
i take back that it might be an inductor bug. the inductor dumps from `TORCHINDUCTOR_TRACE=1` look the exact same for both examples

[2022-10-17 02:19] ngimel commented on #1687
as @anijain2305 said, this looks like a bug in `cudagraphify` in inductor (that won't affect any of `TORCHINDUCTOR_TRACE=1` dumps), as disabling cudagraphs fixes this minimum example also.

[2022-10-17 04:48] soumith opened #1689 "more cudagraphs tests"
After https://github.com/pytorch/pytorch/pull/87058 and https://github.com/pytorch/pytorch/pull/87060 and the issues that prompted those PRs, I can think of a bunch of edge-cases that we should add tests for within the cudagraph codepath:

1. Inputs are views of a larger storage

[code]

2. Same as (1), but model parameters share storage

[code]

3. Inputs have actual overlap

[code]

cc: @eelliso

[2022-10-17 04:51] soumith opened #1690 "Minifier fails on runtime compilation minification"
I tried to use the minifier when I found an issue with examples/imagenet in https://github.com/pytorch/torchdynamo/issues/1687

But it failed with

[code]

[2022-10-17 09:04] SeaOfOcean commented on #1632
build from master torch resolve this issue

[2022-10-17 09:05] #1632 closed

[2022-10-17 15:25] jansel commented on #1588
We still need to move all the docs over.  Eventually it will be a page on https://pytorch.org/docs/ -- but for now you can keep linking here.

[2022-10-17 15:31] eellison commented on #1620
See also https://github.com/pytorch/torchdynamo/issues/1315

[2022-10-17 15:32] ezyang commented on #1620
We shouldn't assume this. If you have a graph where an input is `big_tensor[0]`, the algorithm that @yf225 proposed will end up allocating space for `big_tensor`, which is REALLY BAD.

If we have a bunch of inputs that alias the same storage, and they're non-overlapping, the primary benefit to doing a single storage copy is that you only have to launch one kernel to copy the inputs into the CUDA g

[2022-10-17 15:33] soumith opened #1691 "printing an optimized model is not pretty"
Eager mode print looks like this:

[code]

Optimized looks like this
[code]

[2022-10-17 15:37] eellison opened #1692 "Use A Memory Pool For Cudagraph Input Tensors"
Currently, we separately allocate tensors for each invocation of cudagraphs. Especially for cases with numerous graph breaks, this can lead to a lot of wasted space. We should use a memory pool and share storage across invocations.

For HF Big Bird, implementing this was shown to improve the memory compression ratio from .96 -> 1.05. When there are more dynamic inputs and recompilations this will

[2022-10-17 15:39] eellison commented on #1620
Another issue is that we separately allocating storage for all inputs. Filed https://github.com/pytorch/torchdynamo/issues/1692

I actually tried this on friday and couldn't measure any speedup even on a model with a bunch of graph breaks and thus cudagraph copies, but still probably worth landing.

[2022-10-17 15:42] ezyang commented on #1620
You want a model with a lot of live inputs into the partial graph, if there's just one or two inputs (parameters and activations don't count on the inductor codepath, since their addresses get hard coded in) this doesn't help at all. We noticed this was a problem with `aot_cudagraphs`, since that path doesn't currently do the hard coded parameter/activation optimization yet.

[2022-10-17 16:13] eellison commented on #1692
Yes.

Outputs are trickier because you don't know their lifetimes, and whether or not they will overlap with outputs of other cudagraph outputs, but it might be possible in certain situations. Intermediates could also be pooled yea, that's a little trickier at the moment. IMO that should probably be implemented in conjunction with more general inductor memory planning / slab allocation.

[2022-10-17 16:22] ezyang commented on #1692
Hmm, actually, now I'm not so sure some of the optimizations we're doing are sound. Imagine:

[code]

The outputs/activations across different iterations of the loop will be clobbered if you reused the same CUDA graph. The easy and safe fix is to make sure we copy out outputs and activations. You might be able to skip copying out the activations if you make sure any given cuda graph is only called

[2022-10-17 16:22] ezyang commented on #1692
cc @Chillee

[2022-10-17 16:24] ezyang commented on #1692
cc @ngimel

[2022-10-17 16:30] Chillee commented on #1691
@anijain2305 The root of this problem is that we're not returning an `nn.Module`

[2022-10-17 16:34] ngimel commented on #1620
We'd need to also sort the strides, we are not guaranteed sorted strides in `has_internal_overlap`

This is what would happen today, except we stop it in the `has_internal_overlap` check, because we copy preserving strides. @yf225's algorithm improves on that because today if there were 2 inputs,  `big_tensor[0]` and `big_tensor[1]`, and they happened to pass `has_internal_overlap` check we would

[2022-10-17 16:43] yanboliang commented on #1189
@SeaOfOcean This has been fixed by https://github.com/pytorch/pytorch/pull/87060

[2022-10-17 16:55] yanboliang opened #1693 "TorchBench model training failure: tacotron2"
Repro:
[code]

There are several errors in different graphs:
Error1:
[code]

Error2:
[code]

[2022-10-17 17:45] ezyang commented on #1620
OK. For this particular case we could hard-code it to work for standard order strides, or as a modest generalization, anything that suggest memory format would have worked on (which is cheap.)

Err, I don't understand. big_tensor[0] would be contiguous, so it wouldn't trigger overlap check. The issue here doesn't have to do with internal overlap; it is views that are a subset of a big tensor.

[2022-10-17 17:56] ngimel commented on #1620
`big_tensor[0]` doesn't have to be contiguous (it is, if `big_tensor` is contiguous, but `big_tensor` could be permuted), if it was then indeed there would be no problem. But suppose we fixed `has_internal_overlap` to be smarter, and our inputs are `big_tensor[:, 0]` and `big_tensor[:, 1]`. We copy preserving strides, so the copy of `big_tensor[:, 0]` would need (almost) as much as full `big_tenso

[2022-10-17 18:10] ezyang commented on #1620
Aha! We're talking about different situations. Let me propose an algorithm that works for both of the cases we're discussing.

1. Collect all tensor arguments that share the same storage (we will assume that distinct storages never overlap memory; but if you don't want to assume this we can do something equivalent with data ptr instead).
2. If there is only one tensor:
  a. If the tensor does not

[2022-10-17 18:13] yf225 commented on #1620
Can we do this without worrying about original strides of the tensor? It will simplify things a lot if we can :)

[2022-10-17 18:13] ngimel commented on #1620
2a - by the time we do copies here, inductor has already run and generated the kernels with strided inputs, we can't change striding from underneath. Could we have done compacting before, during AOT and initial codegen? Maybe, but @chillee was telling me that we need to preserve actual strides and not just permutation. I'm willing to go back to drawing board on this, but we can't just change the s

[2022-10-17 18:24] yf225 commented on #1620
Journalist summary of current issues:
1. There is only one input `big_tensor[0]`, and we allocate new storage of `big_tensor` size right now - Not sure if we can avoid this (unless we don't worry about strides matching the original input and allocate `big_tensor[0]` as a contiguous tensor).
2. There are multiple non-overlapping inputs `big_tensor[0] / [1] / [2]`, we allocate 3x `big_tensor` size r

[2022-10-17 18:27] anijain2305 commented on #1691
Agreed. I think we need a larger discussion on what the return type should be. Not comprehensive, but some options that I have heard from talking to multiple ppl are

1) Return the existing wrapper. And override the `__repr__` function to pretty print (just fixes print problem).
2) Make the existing wrapper a subclass of torch.nn.Module.
3) Shallow copy original module, overwrite forward with `dyn

[2022-10-17 18:29] ngoyal2707 opened #1695 "Following pattern in code seems to break dynamo graph tracing"
[code]

Its okay if the answer is, this is not supported but just wanted to raise it as fyi

[2022-10-17 19:26] voznesenskym commented on #1695
What graph break do you see? which pattern are you talking about?

[2022-10-17 19:28] ngoyal2707 commented on #1695
sorry didn't mean break graph, basically above code gives following error with dynamo :
[code]

but works without it

[2022-10-17 19:32] voznesenskym commented on #1695
gotcha :) thanks - can you port this issue to pytorch? Just realized its in dynamo, and this repo is effectively closed.

[2022-10-17 19:47] ngoyal2707 commented on #1695
sure: closing this and opened https://github.com/pytorch/pytorch/issues/87121

[2022-10-17 19:50] voznesenskym commented on #1695
My mistake. Apologies @ngoyal2707

[2022-10-17 19:52] wconstab commented on #1588
what's the plan/status of unit tests? I wanted to update/re-enable test_distributed.py for example, but not sure if I should try to do that yet (or if so, in which CI I should expect it to run).

[2022-10-17 19:53] ngoyal2707 commented on #1695
lol alright, I closed the PT one

[2022-10-17 20:07] Chillee commented on #1691
I vote for 3.

[2022-10-17 20:28] jansel commented on #1588
If you uncomment this, it should re-enable distributed tests:
https://github.com/pytorch/pytorch/blob/4814270708cb6141c1fb6202f883c084c71290b4/test/dynamo/test_distributed.py#L285-L287

Our unittests are standard pytorch tests and run in most test configurations.

[2022-10-17 20:46] wconstab commented on #1588
I was getting `ImportError: cannot import name 'run_tests' from 'torch._dynamo.testing' (/opt/conda/lib/python3.7/site-packages/torch/_dynamo/testing.py)` -- should i be removing the _dynamo.testing references and replacing with the standard pytorch ones?

[2022-10-17 20:52] jansel commented on #1588
@wconstab ah no, it just got renamed to `from 'torch._dynamo.test_case import run_tests`.

Needed to put it in a separate file due to `import torch.testing.*` having global side effects.

[2022-10-17 21:18] #1687 closed

[2022-10-17 21:30] yf225 commented on #1620
In absence of an elegant solution, should we go with https://github.com/pytorch/pytorch/pull/87058 to allow all types of views, gated by a flag `torchinductor.config.triton.cudagraphs_support_complex_view_tensors` to make it an explicit opt-in?

[2022-10-17 21:57] anijain2305 commented on #681
Check

[2022-10-17 22:14] anijain2305 commented on #681
Check

[2022-10-17 22:14] anijain2305 commented on #681
Check

[2022-10-17 22:15] anijain2305 commented on #681
Check

[2022-10-17 22:15] anijain2305 commented on #681
Check\n

[2022-10-17 22:16] anijain2305 commented on #681
Check

[2022-10-17 22:22] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-17 23:43] wconstab commented on #1379
I'm seeing the same `NotImplementedError: UserDefinedObjectVariable(_GenericAlias) is not a constant` when using the dynamo `aot_eager` backend together with FSDP wrapping any of [hf_Bert, hf_T5, hf_T5_large] models.  inductor backend seems to run OK for these models.

[2022-10-18 01:13] voznesenskym commented on #1695
https://github.com/pytorch/pytorch/pull/87156/

[2022-10-18 01:13] voznesenskym commented on #1695
Sorry it took so long, did not get around to it till an hour ago or so

[2022-10-18 02:47] ezyang commented on #1620
If you are looking for a point fix to unblock, I prefer just making the internal overlap test slightly smarter in C++ (assuming this is enough to actually entirely fix your problem.) For any complicated solution, we should figure out the right thing and fix it once.

[2022-10-18 03:00] yf225 commented on #1620
Sounds great, so I can make a smarter overlap test and actually put it in Dynamo to not slow down the internal overlap test.

I think we still want to figure out the optimization for shared storage, because soon we could be hitting some models that push on the memory boundary.

[2022-10-18 03:11] jansel opened #1697 "test_expanded_reduction_cpu failure on pytorch/pytorch CI"

[2022-10-18 03:22] davidberard98 commented on #1189
I confirmed that 87060 fixed this.

[2022-10-18 03:22] #1189 closed

[2022-10-18 03:26] davidberard98 opened #1698 "DDPOptimizer+inductor OOMs with hf_GPT2_large and timm_vision_transformer_large"
Repro:

`gpui --oversubscribe python run_benchmark.py distributed --ngpus 1 --model torchbenchmark.models.hf_GPT2_large.Model --trainer torchbenchmark.util.distributed.core_model.trainer.Trainer --job_dir /fsx/users/dberard/scratch-local/bench-fast/benchmark/logs --cluster local --torchdynamo inductor --optimize_dynamo_ddp`

Error:
[code]

[2022-10-18 06:36] soumith opened #1701 "examples/imagenet still fails"
See https://github.com/pytorch/torchdynamo/issues/1687 for original context.

Now it's failing on latest pytorch `master`, first I ran into a parallel compile issue for which I put up a patch: https://github.com/pytorch/pytorch/pull/87174

After that applied, it still fails with a different CUDAGraphs error.

[code]

[2022-10-18 06:52] soumith commented on #1701
okay, I bisected the issue to https://github.com/pytorch/pytorch/pull/87049
cc: @anijain2305

[2022-10-18 08:48] blzheng commented on #1617
# Performance Dashboard for float32 precision -- Single-Socket Multi-threads ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on Intel(R) Xeon(R) Platinum 8375C CPU @ 2.90GHz. Each experiment runs one iteration of forward pass. For accuracy, we check the numer

[2022-10-18 10:51] Shiro-LK opened #1703 "Failed building wheel for triton"
I tried to install triton as indicated in this repo but got this error. I was wondering if some dependencies are needed?

[code]

[2022-10-18 16:48] soumith commented on #1701
actually, Minifier works -- I didn't know that I should run the `minifier_launcher.py`.

Here's the minified repro:

[code]

[2022-10-18 16:51] soumith opened #1705 "minifier is writing repro.py to pytorch install's root directory"
This seems totally incorrect, repro.py should be written to the current working directory or to `/tmp`.

[code]

`/home/soumith/code/pytorch/repro.py` is my PyTorch from-source install that I installed in `python setup.py develop` mode.

My current working directory is `/home/soumith/code/examples/imagenet`

[2022-10-18 17:02] jansel commented on #1697
Looks like `test_dense_mask_index` might have a similar issue.

I disabled the two tests in https://github.com/pytorch/pytorch/pull/87084/files

To reproduce you can enable the two tests and add the `ciflow/periodic` to your PR.

[2022-10-18 17:49] wconstab opened #1707 "Dynamo+FSDP overall triage"
Let me post various issues here first and then graduate some of them to their own issue rather than opening tons of issues in the beginning, since some of these may be minor/cosmetic/easy to fix.

- [ ] FakeTensor + FlatParamsWrapper Bug  (WIP: #1330 )
- [ ] `[WARNING] Graph break: inline in skipfiles: forward` -- triaging below
- [ ] `RuntimeError: The size of tensor a (159567000) must match the

[2022-10-18 17:49] anijain2305 commented on #1705
@williamwen42 @mlazos Do you want to take this task?

[2022-10-18 18:01] mlazos commented on #1705
Yeah I can take this, I've been meaning to remove the random directory in the config that points to the project root for some reason.

[2022-10-18 19:32] shintaro-iwasaki commented on #1591
I am curious if someone has tried it (or is working on it) on P100. As far as I tried it on P100 Google cloud, many tests pass without any changes (278 failed, 3983 passed, 517 skipped). If no one is working on it right now, I am happy to fix the remaining failures in Triton.

<details><summary> <b>Environment Details (collapsed)</b></summary>
<p>

### VM details (Google Cloud)
https://cloud.googl

[2022-10-18 20:07] ngimel commented on #1591
Currently `has_triton` requires voltas+ https://github.com/pytorch/torchdynamo/blob/main/torchinductor/utils.py#L40, so most tests probably don't attempt to generate kernels

[2022-10-18 20:10] shintaro-iwasaki commented on #1591
Oh, I run Triton's test. In this sense, not all tests of OSS Triton pass on P100 now. Definitely another patch should be needed for TorchInductor.

[2022-10-18 20:23] ptillet commented on #1591
Yeah, I suspect the failing test are all related to FP16/TF32 handling in matmuls. Nothing major if you guys plan to disable triton for matmuls on pre-Volta GPUs

[2022-10-18 20:26] shintaro-iwasaki commented on #1591
Thanks. @ptillet Regardless of whether FP16/TF32 related handling in matmuls (i.e., "tl.dot()" in general) will be skipped or fixed somehow, would you mind if I would create a patch to Triton so that the Triton's test results on P100 get green?

[2022-10-18 20:29] ptillet commented on #1591
Yep, I think that's a great patch idea :)

[2022-10-18 21:41] williamwen42 commented on #1703
Failure seems to be caused by the line `/usr/bin/ld: cannot find -lz`. See if following https://stackoverflow.com/questions/3373995/usr-bin-ld-cannot-find-lz fixes the problem?

[2022-10-18 21:43] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-18 22:29] soumith opened #1708 "[aot-cudagraph] fails on examples/imagenet"
### 🐛 Describe the bug

In here: https://github.com/pytorch/pytorch/blob/master/torch/_dynamo/optimizations/training.py#L431

`meta` was an empty dict `{}`

And that case isn't handled in the function.

### Error logs

[code]

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [

[2022-10-18 23:04] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-18 23:16] anijain2305 commented on #1681
@mreso These are my steps to make progress

* I ran it with `eager`, `aot_eager` backend. Both were passing. `inductor` failed with segfault.
* I ran with `TORCHDYNAMO_REPRO_AFTER="aot"` but nothing happened. And this was my mistake, I forgot to tell that for segfaults, we need to add one more flag. `TORCHDYNAMO_REPRO_AFTER="aot" TORCHDYNAMO_REPRO_LEVEL=4`
* With this, I got a small `minifier_laun

[2022-10-18 23:17] anijain2305 commented on #1681
cc @ngimel @Chillee for the actual segfault with inductor.

[2022-10-18 23:26] yanboliang commented on #1352
The root cause is we materialize the expr str at [this line](https://github.com/pytorch/pytorch/blob/master/torch/_inductor/dependencies.py#L238) when doing ```extract_read_writes```. Actually the code gen doesn't use this, so if I manually cut the expr str, the generated code still works well. I think the output of ```extract_read_writes``` only used for memory planning or scheduling, so it's fin

[2022-10-18 23:34] anijain2305 commented on #1708
@bdhirsh Assigning to you as this seems fake tensor issue. cc @eellison

[2022-10-18 23:43] anijain2305 commented on #1701
The minified repro does not fail for me. It actually looks quite straightforward as well. All the input tensors are contiguous.

In the original error, the assertion failure is for a non-contiguous tensor. So, either the minifier gave a wrong repro, or the build is broken.

[2022-10-18 23:46] ngimel commented on #1681
Codegen generates buf0 on cpu and passes it to triton kernel:
[code]

[2022-10-18 23:50] ngimel commented on #1681
@yanboliang we were supposed to copy all 0d cpu args to gpu? arg0_1 is on cpu

[2022-10-19 00:06] ngimel commented on #1681
0d scalar handling is dead wrong (why didn't OpInfo catch this? Probably we are not running all samples yet).

[code]

[2022-10-19 00:15] penguinwu commented on #1681
"I ran with TORCHDYNAMO_REPRO_AFTER="aot" but nothing happened. And this was my mistake, I forgot to tell that for segfaults, we need to add one more flag. TORCHDYNAMO_REPRO_AFTER="aot" TORCHDYNAMO_REPRO_LEVEL=4"

@mlazos Could the rageshaker tool be smart enough to know to enable TORCHDYNAMO_REPRO_LEVEL=4 based on error types?

[2022-10-19 00:17] yanboliang commented on #1681
Yes, that's what we did now. We can't tell the if the 0d tensor is converted from unspecialized variable or user's explicit input at inductor level.

[2022-10-19 00:24] #1690 closed

[2022-10-19 00:54] bdhirsh commented on #1708
Not super fake tensor related, but it looks like our partitioning logic for cudagraphs doesn't properly propagate the "meta" info in our FX graph, when we remove a bunch of nodes and replace it with a subgraph. Working on a potential fix.

[2022-10-19 01:11] mlazos commented on #1681
I'm not sure how segfaults are detected, if the whole program (with dynamo) crashes, I'm not sure how the minifier can be triggered after this event. I do think we can automatically disambiguate with the other error levels though.

[2022-10-19 01:40] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-19 02:29] soumith commented on #1701
I created another minified repro -- same error:

[code]

[2022-10-19 02:36] soumith commented on #1701
This is the generated inductor code:

[code]

[2022-10-19 02:36] soumith commented on #1701
it fails at the `assert_size_stride` call

[2022-10-19 02:51] soumith opened #1709 "dynamo CI shards are fork-racing"
dynamo shards are periodically fail with torch._C has no attribute _cuda_IsInBadFork
[https://hud.pytorch.org/minihud?name_filter=pull%20/%20linux-bionic-py3.7-clang9%20/%20test%20(dynamo,%201,%202,%20linux.2xlarge)](https://hud.pytorch.org/minihud?name_filter=pull%20%2F%20linux-bionic-py3.7-clang9%20%2F%20test%20(dynamo%2C%201%2C%202%2C%20linux.2xlarge))

As reported by @malfet

[2022-10-19 02:57] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-19 05:03] anijain2305 commented on #1681
Another segfault related to 0d tensors. This one affects longformer models

[code]

[2022-10-19 05:48] soumith opened #1712 "examples/word_language_model is failing"
Here's the diff:

[code]

Here's the error:

[code]

Tried using the minifier, but there's no sign of life from the minifier despite trying to enable the env flag `TORCHDYNAMO_REPRO_AFTER="aot" `  or `TORCHDYNAMO_REPRO_AFTER="dynamo" `. It does not spit out any output about `minifier_launcher` or anything at all.

[2022-10-19 05:48] anijain2305 commented on #1568
@jansel @ngimel I tried this

[code]

But this leads to incorrect answer. Do you have any suggestions on how to solve this?

[2022-10-19 05:49] soumith commented on #1712
- Working: `dynamo.optimize('eager')(model)`
- NOT Working: `dynamo.optimize('aot_eager')(model)`
- NOT Working: `dynamo.optimize('inductor')(model)`

[2022-10-19 06:20] soumith opened #1713 "dynamo/aot fails when run with autograd.detect_anomaly context manager"
I was trying to debug https://github.com/pytorch/torchdynamo/issues/1712 and more specifically why it was doing "double" backward() call.

We have a context manager called [autograd.detect_anomaly](https://pytorch.org/docs/stable/autograd.html#torch.autograd.detect_anomaly) which allows you to see which part of "forward" made the "backward" error out.
Enabling that context manager errors out.

[co

[2022-10-19 06:48] soumith commented on #1712
I'm pretty sure (from gdb/pdb attempts) this is tripping on something in `aot_autograd.py` calling `backward` of the CompiledFunction twice in quick succession.
Because it crosses the C++-Python boundary, haven't been able to nail a full trace of what's going on.

cc: @Chillee

[2022-10-19 07:01] soumith commented on #1712
@anijain2305 if this doesn't fail in the dashboard, with the 2-iter change we put in, that's suspicious and we need to investigate. (actually, I'm not sure if we're running `examples` in dashboard as part of TorchBench or not)

[2022-10-19 09:47] IvanYashchuk opened #1715 "[Bug]: GoogleFnet failed to load with amp"
### 🐛 Describe the bug

Command that fails:
[code]

### Error logs

[code]

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

.

[2022-10-19 12:18] EikanWang opened #1723 "Enable TorchInductor to support more vectorization operators"
### 🚀 The feature, motivation and pitch

Currently, we are working on the TorchInductor optimization by using `aten::vec` to accelerate the operator performance.

Regarding the mathematic functions like `exp`, `tanh` and etc, TorchInductor runs into C++ std function now. Its performance is much worse than `aten::vec` because `aten::vec` leverages `Sleef` functions.

We have submitted a PR to estab

[2022-10-19 13:02] penguinwu commented on #1712
@desertfire Should we add examples/ to our CI to make sure they are always working?

[2022-10-19 15:32] sangongs commented on #1635
Isn't this an expected behavior? My understanding is that Dynamo compiles a function when the function is being invoked rather than being wrapped by `torchdynamo.optimize("inductor")`. Since `opt_test` is only called one time in `print()`, `compile_fx` is only called one time as well. If we put the print statement in the loop, `compile_fx()` is called 3 times:
[code]

And if we comment out `torchd

[2022-10-19 16:16] ezyang opened #1716 "[Bug]: Benchmark script is once again not giving meaningful error traces on error"
### 🐛 Describe the bug

On symbolic-shapes branch:

[code]

gives

[code]

### Error logs

n

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

n

[2022-10-19 16:17] ngimel opened #1717 "[Bug]: Inductor IMA's when inputs are on a non-default dvice"
### 🐛 Describe the bug

-

### Error logs

cuda illegal memory access

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

[code]
In eager we set device guard to temporarily set current device to the device of the

[2022-10-19 16:23] soumith commented on #1712
minimized example incoming.

[2022-10-19 16:27] anijain2305 commented on #1715
It seems to me that this model is not amenable to AMP training. PyTorch native run (no torchdynamo here) fails because of cuFFT support.

[2022-10-19 16:30] anijain2305 commented on #1712
We do not run `examples` as part of dashboard. But, let me remove a couple of fixes locally and see if the 2-iter change triggers the error.

[2022-10-19 16:34] IvanYashchuk commented on #1715
Is there a skip list this model should have been added to?

[2022-10-19 16:35] soumith commented on #1712
[code]

[2022-10-19 16:39] soumith commented on #1712
Maybe AOT is being naughty and setting requires_grad=True on things that it shouldn't

[2022-10-19 16:48] soumith commented on #1713
it only fails with `nan` checking on.

`torch.autograd.detect_anomaly(check_nan=False)` passes

[2022-10-19 16:55] soumith commented on #1712
This is another variant that produces a different error:

[code]

[code]

[2022-10-19 16:56] ezyang opened #1718 "[Bug]: "torchdynamo.logging.CODE print compiled functions + graphs" doesn't work"
### 🐛 Describe the bug

[code]

in torch/_dynamo/config.py

torchdynamo doesn't exist anymore

even if you change to torch._dynamo it doesn't work due to recursive module import problem

### Error logs

n

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimiz

[2022-10-19 17:04] sangongs commented on #1635
Yes, it does work. In @desertfire's program, `compile_fx` is called once because the function to be optimized is only called once.

[2022-10-19 17:14] jansel commented on #1635
Isn't there a loop?  `for i in range(3):`

[2022-10-19 17:16] anijain2305 commented on #1681
Opening so that @mreso can check and see if he finds more bugs.

[2022-10-19 17:17] #1167 closed

[2022-10-19 17:18] ngimel commented on #1681
@anijain2305 your segfault is different, as we've discussed yesterday. Hopefully @yanboliang can disable copying of 0d cpu tensors, that should fix it.

[2022-10-19 17:47] sangongs commented on #1635
In the loop, the function `test` is just wrapped to `opt_test` by a `_TorchDynamoContext`. And `opt_test` is called outside the loop, where I believe the compilation happens.

[2022-10-19 18:02] Chillee commented on #1712
@soumith AOT is definitely setting requires_grad on outputs that don’t require grad.

see discussion here: https://github.com/pytorch/pytorch/pull/86838

[2022-10-19 18:12] ezyang commented on #1712
I checked and Brian's patch fixes variant 1 but not variant 2

[2022-10-19 18:19] soumith commented on #1712
cc: @bdhirsh

[2022-10-19 18:22] ezyang commented on #1712
My guess is that in the second example, we're "losing" the no grad between the first and second trace, but the first trace didn't insert enough detaches to simulate the effect of no grad.

[2022-10-19 18:44] bdhirsh commented on #1712
Repro'd locally - It looks like somewhere in the first trace, our fake tensor's `requires_grad` info is incorrect: the node that came from `aten.mul(primals_1, ones.detach())` is (incorrectly) showing up as having `requires_grad=False`. Digging a bit more.

[2022-10-19 19:10] jansel commented on #1635
Oh right, my mistake
[code]
needs to be inside the loop.

[2022-10-19 19:11] bdhirsh commented on #1712
Hmm looks like when dynamo traces the module, there's a `torch.set_enable_grad(False)` at the top level, in the beginning of the trace. That seems wrong:
[code]

[2022-10-19 19:14] sangongs commented on #1635
Yeah. If the print statement is in the loop, `compile_fx` does get called three times as expected.

So I guess we can close this issue?

[2022-10-19 19:18] anijain2305 opened #1721 "[Bug]: Dynamo is activating profiler multiple times while native does it only once"
### 🐛 Describe the bug

PR - https://github.com/pytorch/pytorch/pull/87311

Command - python benchmarks/dynamo/torchbench.py --float32 --inductor --training --performance --only=resnet18

There are lots of profiler activity for Dynamo, but not native pytorch. This could impact speedpup

### Error logs

[code]

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succe

[2022-10-19 19:23] bdhirsh commented on #1712
Confirmed - looks like when I comment out that logic in dynamo ([here](https://github.com/pytorch/pytorch/blob/f3cc588d09f62471a46d555368f1627932e1812f/torch/_dynamo/variables/misc.py#L278)), the repro passes.

Two options I can think of are:

(1) (harder) dynamo should be able to tell where the no_grad() context manager ends, and insert a `set_grad_enabled(True)` later on in the graph

(2) (easie

[2022-10-19 19:25] jansel commented on #1635
Yes, I believe so.  Thanks!

[2022-10-19 19:25] #1635 closed

[2022-10-19 19:29] ezyang commented on #1712
@yanboliang

[2022-10-19 19:37] anijain2305 commented on #1681
@ngimel Yup. I reopened the bug just for @mreso to continue the thread for diffusers end-to-end inference.

[2022-10-19 21:23] ngoyal2707 opened #1722 "[Bug]: lowering of conv1d errors when torch._inductor.config.tune_layout = True"
### 🐛 Describe the bug

Lowering of Conv1d errors out with inductor when tune layout is True

### Error logs

[code]

### Did Dynamo succeed?

- [X] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [X] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

[code]

[2022-10-20 00:09] Chillee commented on #1722
Will be resolved by https://github.com/pytorch/pytorch/pull/87328

[2022-10-20 00:42] mlazos commented on #1718
cc @williamwen42, can you take look? Let me know if you need me to instead.

[2022-10-20 00:46] yanboliang commented on #1721
This root cause is [```torch.profiler.profile.__init__```](https://github.com/pytorch/pytorch/blob/master/torch/profiler/profiler.py#L416) starts ```ActivityProfilerController``` at its construction. TorchDynamo generates the ```torch.profiler.profile``` object during tracing, which leads to the unintended call. But actually we don't use the ```profile```, so the ```ActivityProfilerController``` e

[2022-10-20 00:56] yanboliang commented on #1712
This should be the same reason as https://github.com/pytorch/torchdynamo/issues/1446, and I think the culprit is where we did [special handling before graph break](https://github.com/pytorch/pytorch/blob/master/torch/_dynamo/symbolic_convert.py#L203-L217). I'm thinking how to handle this in a more systematic and elegant way, as we fixed several issues around grad mode recently.

[2022-10-20 01:25] #1712 closed

[2022-10-20 01:25] #1462 closed

[2022-10-20 02:11] #293 closed

[2022-10-20 02:12] #135 closed

[2022-10-20 02:30] soumith opened #1724 "Better error message when attempting to `torch.save` an optimized model"
A bunch of examples directly do `torch.save(model)`. For example https://github.com/pytorch/examples/blob/main/word_language_model/main.py#L234-L235

Right now, if a dynamo-optimized model is attempted to be saved, this is the error message.
Fixing this IMO is not a priority.
But, at the very least, a better error message should be displayed.

[code]

[2022-10-20 02:46] jiayisunx opened #1725 "[Bug]: the custom op cannot be included in the FX graph captured by torchdynamo"
### 🐛 Describe the bug

The custom op registered via PyTorch registration mechanism cannot be included in the FX graph captured by torchdynamo.

### Error logs

the graph of JIT trace includes "torch_ipex::convolution_forward", but the graph of dynamo doesn't include it and got a warnning "Graph break: inline in skipfiles".

the graph of JIT trace:
graph(%self.1 : __torch__.torch.fx.graph_module._

[2022-10-20 03:03] soumith opened #1726 "LSTM and RNN fail dynamo lowering in eval mode due to FakeTensor issues"
Fails to lower for the `validation` function, but doesn't really crash or anything.

[code]

[2022-10-20 10:12] jgong5 opened #1728 "[Inductor] Task Tracker for CPU Backend Optimization"
This issue summarizes all the completed, WIP and planned tasks about (or related to) TorchInductor CPU backend optimization. Note that the list is not fixed and would grow per benchmark result and feedbacks from maintainers and the community.

### Completed

- [x] https://github.com/pytorch/torchdynamo/pull/1452
- [x] https://github.com/pytorch/torchdynamo/pull/1468
- [x] https://github.com/pytorc

[2022-10-20 11:16] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-20 14:01] soumith opened #1729 "examples/time_sequence_prediction taking 15+ mins to compile"
File: examples/time_sequence_prediction/train.py

- 'dynamo' takes 45 seconds
- 'aot_eager' took 15 mins and unfinished
- 'inductor' -- haven't gotten to yet

Diff to add AOT:

[code]

[2022-10-20 14:21] desertfire opened #1730 "PyTorch Core Tests with Inductor"
October 19, 2022

  | failures | skipped | expected failures | total | passrate
-- | -- | -- | -- | -- | --
CPU |   |   |   |   |  
test_modules | 38 | 222 | 26 | 1041 | 3.65%
test_nn | 106 | 278 | 25 | 799 | 13.27%
test_ops | 218 | 9399 | 299 | 29130 | 0.75%
test_ops_gradients | 8 | 4078 | 80 | 7632 | 0.10%
test_torch | 196 |   | 46 | 658 | 29.79%
  |   |   |   |   |  
CUDA |   |   |   |   |  
te

[2022-10-20 14:30] desertfire commented on #1515
@fdrocha , to follow up on Natalia's suggestion here, are you planning to work on it?

[2022-10-20 14:38] fdrocha commented on #1515
Yes, I've started looking into this.

[2022-10-20 15:45] ezyang opened #1731 "[Bug]: speech_transformer failing with TORCHDYNAMO_DYNAMIC_SHAPES=1"
### 🐛 Describe the bug

[code]

Cannot minify as the exception occurs outside of dynamo compiled code

### Error logs

https://gist.github.com/110f0d3706cee14947dd8c4eed9a4c72

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### M

[2022-10-20 15:47] ezyang commented on #1731
cc @voznesenskym

[2022-10-20 15:58] ezyang opened #1732 "[Bug]: OPTForCausalLM failing with TORCHDYNAMO_DYNAMIC_SHAPES=1"
### 🐛 Describe the bug

[code]

cc @voz

### Error logs

https://gist.github.com/db994c33e9020d15e4c2ae8dbcf91d2a

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

[code]

minifier did not work (minifier ran, bu

[2022-10-20 18:21] #1681 closed

[2022-10-20 18:21] #1604 closed

[2022-10-20 18:21] #1709 closed

[2022-10-20 19:11] msaroufim opened #1733 "Smoke tests for dynamo/inductor/triton"
Running `pip3 install --pre torch[dynamo] --extra-index-url https://download.pytorch.org/whl/nightly/cu117`

And then the below works

[code]

But then running `python 01-vector-add.py` https://github.com/openai/triton/blob/master/python/tutorials/01-vector-add.py caused a

[code]

So we probably need some smoke tests @williamwen42 @malfet

[2022-10-20 20:35] eellison opened #1734 "[Bug]: TorchInductor Input As_Strided Calls Dont Compose With Offset Inputs"
### 🐛 Describe the bug

Torchinductor will compile some operators like `aten.select.int` to `as_strided` calls which have the signature:

`as_strided(Tensor(a) self, SymInt[] size, SymInt[] stride, SymInt? storage_offset=None) -> Tensor(a)`

When the input has a non-zero storage offset that offset is ignored.

### Error logs

...

### Did Dynamo succeed?

- [X] Does dynamo.optimize("eager") succee

[2022-10-20 20:56] eellison commented on #1734
This fixes it

[code]

not sure if that's a general fix

[2022-10-20 22:02] yanboliang commented on #1681
@anijain2305 https://github.com/pytorch/pytorch/pull/87329 fixed your repro for longformer models.

[2022-10-20 22:48] tugsbayasgalan opened #1737 "[Bug]: torchdynamo.export doesn't work with torch.nn.quantized operators"
### 🐛 Describe the bug

[code]

### Error logs

File "/mnt/xarfuse/uid-23137/7756fc57-seed-nspid4026533012_cgpid17879168-ns-4026533009/torchdynamo/symbolic_convert.py", line 1515, in inline_call_
    unimplemented(
  File "/mnt/xarfuse/uid-23137/7756fc57-seed-nspid4026533012_cgpid17879168-ns-4026533009/torchdynamo/exc.py", line 71, in unimplemented
    raise Unsupported(msg)
torchdynamo.exc.Unsupp

[2022-10-20 22:50] tugsbayasgalan opened #1738 "[Bug]: torchdynamo.export doesn't work with module.named_buffers"
### 🐛 Describe the bug

Following doesn't work:

[code]

### Error logs
[code]
### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

Repro above

[2022-10-20 22:59] tugsbayasgalan opened #1739 "[Bug]: torchdynamo.export() doesn't work with torch specific constants"
### 🐛 Describe the bug

[code]

### Error logs

  File "/mnt/xarfuse/uid-23137/7756fc57-seed-nspid4026533012_cgpid17879168-ns-4026533009/torchdynamo/symbolic_convert.py", line 335, in run
    and self.step()
  File "/mnt/xarfuse/uid-23137/7756fc57-seed-nspid4026533012_cgpid17879168-ns-4026533009/torchdynamo/symbolic_convert.py", line 308, in step
    getattr(self, inst.opname)(inst)
  File "/mnt/x

[2022-10-20 23:12] tugsbayasgalan opened #1740 "[Bug]: torchdynamo.export doesn't work with model attribute initialized outside of constructor"
### 🐛 Describe the bug

[code]

### Error logs
[code]
### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

Repro above

[2022-10-21 02:51] mreso commented on #1681
Thanks @anijain2305 & @ngimel, I can now successfully run my example with inductor and qualitatively get the same result as in eager mode!
But I am experiencing quite some non deterministic runtime errors (~50% of the times when running with inductor). I observed two flavors.

First error is:
[code]

Its much more frequent than the second which is:
[code]

Any thoughts on how I can help to collect

[2022-10-21 02:53] soumith commented on #1681
@mreso can you open a new issue for these intermittent cudagraphs errors. I saw them too last night -- exactly the same set of errors.

[2022-10-21 03:48] ngimel commented on #1681
@mreso can you try running with cuda graphs disabled and with PYTORCH_NO_CUDA_MEMORY_CACHING=1 ?

[2022-10-21 03:52] mreso opened #1743 "[Bug]: RuntimeErrors when using TorchInductor for stable diffusion"
### 🐛 Describe the bug

Hi,

when running a stable diffusion example I am experiencing a high number of non deterministic runtime errors (~50% of the times when running my example with inductor). I observed two flavors.

First error is:
[code]

Its much more frequent than the second which is:
[code]

@soumith reported [here](https://github.com/pytorch/torchdynamo/issues/1681) that he saw the same

[2022-10-21 03:58] mreso commented on #1681
@soumith sure, I created #1743 to track this issue now

@ngimel how do I disable cuda graphs?

[2022-10-21 03:58] ezyang opened #1744 "[Bug]: RuntimeError: dictionary changed size during iteration"
### 🐛 Describe the bug

Turn off error suppression and then run `test_factory` in `test_aot_cudagraphs.py`. It has a failure that's:

[code]

This shouldn't happen.

### Error logs

na

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [x] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [x] Does dynamo.optimize("inductor") succee

[2022-10-21 04:02] ngimel commented on #1681
In `_inductor/config.py`, or set `torch._inductor.config.triton.cudagraphs=False`

[2022-10-21 04:17] ezyang opened #1745 "[Bug]: AssertionError: ABCMeta"
### 🐛 Describe the bug

Turn off error suppression and run test_sort_out in test_sort_out

[code]

### Error logs

na

### Did Dynamo succeed?

- [ ] Does dynamo.optimize("eager") succeed?

### Did AOT succeed?

- [ ] Did dynamo.optimize("aot_eager") succeed?

### Did Inductor succeed?

- [ ] Does dynamo.optimize("inductor") succeed?

### Minified repro

na

[2022-10-21 04:42] mreso commented on #1743
@ngimel After disabling cuda graphs and setting PYTORCH_NO_CUDA_MEMORY_CACHING=1 I don't see the runtime errors as often anymore. In 20+ runs I had this error only once so far:
[code]

[2022-10-21 05:52] zhuhaozhe commented on #1697
Hi, @jansel and @jgong5. I have investigated these two UTs:
[code]
They should be caused by "difference reduce order" for "sum". The "add" operator between floating points needs to align their exponentiation and will lose accuracy here. Different order to "sum" means different accuracy loss.

For "test_dense_mask_index_cpu ", the inductor generated code is:
[code]
The **OMP reduction** cannot guar

[2022-10-21 07:34] anijain2305 opened #1746 "[inductor] `float64` KeyError"
### 🐛 Describe the bug

Following repro fails

### Error logs

[code]

### Minified repro

[code]

[2022-10-21 07:34] anijain2305 commented on #1746
cc @ngimel @yanboliang

[2022-10-21 14:21] ezyang commented on #1716
I think this is because of how we're doing error chaining. `raise Foo() from e`, but then we only print the final error, not the original error

[2022-10-21 15:16] ezyang opened #1747 "[BUG] moco fails without suppress errors: RuntimeError: Tensors must be CUDA and dense"
### 🐛 Describe the bug

Patch in https://github.com/pytorch/pytorch/pull/87440 to turn off error suppression

run `python benchmarks/dynamo/torchbench.py  --accuracy --backend eager --training --only moco`

fails with

[code]

### Error logs

https://gist.github.com/5a54f01612589820947d15ac2256a9a2

### Minified repro

minifier does not work because captured dynamo graph has distributed operations

[2022-10-21 15:16] ezyang commented on #1747
cc @Chillee about minifier

[2022-10-21 15:51] voznesenskym commented on #1695
Forgot to close it, solved in pytorch. https://github.com/pytorch/pytorch/pull/87156

[2022-10-21 15:51] #1695 closed

[2022-10-21 16:04] ezyang opened #1748 "tacotron2 fails without suppress_errors with: RuntimeError: a leaf Variable that requires grad is being used in an in-place operation."
### 🐛 Describe the bug

Patch in https://github.com/pytorch/pytorch/pull/87440 and then run tacotron2

[code]

This looks similar to https://github.com/pytorch/torchdynamo/issues/1301 but it's actually not the same thing, as this failure triggers with eager (no AOTAutograd)

### Error logs

https://gist.github.com/ezyang/7be54e5c0097d03e06a471fb5a6c2cac

### Minified repro

minifier never triggere

[2022-10-21 18:21] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-21 18:44] ngimel commented on #1746
Hm can't repro on master

[2022-10-21 18:52] ngimel commented on #1743
Hm, I was hoping the error would become more frequent with no memory caching, can you also please enable CUDA_LAUNCH_BLOCKING=1 to get a better stack trace for when the error happens?

[2022-10-21 19:36] mreso commented on #1743
@ngimel This is the error with CUDA_LAUNCH_BLOCKING=1:

[code]

I've copied the code of the tmp file into a gist: https://gist.github.com/mreso/e2d38beb6ece8b3863cffe5e5e68931a

When running it separately it also fails in a non deterministic manner with the same error:

[code]

[2022-10-21 20:14] ngimel commented on #1743
Ok it looks like the indices tensor that is sent to kernel16 is invalid, #1657

[2022-10-21 20:16] ngimel commented on #1746
THe fix for this should be in triton, we should add `"fp64": "double"` to `ty_to_cpp`, @yanboliang can you please submit that PR?

[2022-10-21 20:58] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-21 21:00] anijain2305 commented on #1748
Still debugging. Setting `fake_tensor_propagation = False` in dynamo passes it. Minifiers  are unlikely to help here, because the cause and effect are probably in different python frames.

[2022-10-21 21:02] ezyang commented on #1748
Feels like a minifier on record replay might work

[2022-10-21 21:12] bdhirsh commented on #1748
FWIW, I see this error with `hf_Longformer` too. I've been looking into this a bit, I'll update if I make some more progress.

It looks like when dynamo takes outputs from a previous graph and uses them to create example inputs to trace the next graph, we lose the `is_leaf()` property on the inputs (probably because we're creating fresh "example" inputs that don't have autograd history. I think we

[2022-10-21 21:12] anijain2305 commented on #1748
record-replay is able to repro this on a python frame. But I suspect the inputs to the frame are already broken. There is not much in replay, 2 inputs and inplace add. Its the problem with 2 inputs.

Their requires_grad field is set to True, but they were intermediate tensors in the original model. For this subgraph, they become leaf tensors.

[2022-10-21 21:16] ezyang commented on #1748
Then the other thing that would help is something like AOT_FAKE_CROSSREF (cc @eellison), but on a frame by frame level, where we check metadata on frame exit matches what eager would have given you.

[2022-10-21 21:55] mreso commented on #1743
I experimented a bit with kernel16 and looked at the inputs.

It has two input (buf302, buf301) and one output (303) buffer:
[code]
I compared the values of the input buffers for a successful and failing run and it seems like buf301 is different in the failing case.

Haven't yet looked closer into the other kernels, but can this behavior be easily explained @ngimel?

[2022-10-21 21:59] anijain2305 commented on #1748
Thanks @bdhirsh your explanation made me check the real tensors on the boundary of subgraphs. I think this should fix https://github.com/pytorch/pytorch/pull/87513

[2022-10-21 22:43] anijain2305 commented on #1747
This definitely seems like `fake_tensor` issue. IIUC, fake tensors dont work with this

![image](https://user-images.githubusercontent.com/13822661/197298930-0b38b7ad-71a9-4539-8952-8d5062a5cdd2.png)

@ezyang This is eager, so Fx minifiers are not useful.

@mlazos Record-replay dumped the frame, but it missed the global state of init_process. The replay gave this error (instead of CUDA and dense)

[2022-10-21 22:44] anijain2305 commented on #1747
assigning to @bdhirsh , cc @eellison

[2022-10-22 00:17] msaroufim opened #1749 "Documentation Gaps Tracker"
Keeping Track of documentation that's missing but really needs to exist

- [ ] Limitations
- [ ] How does dynamo work with distributed
- [ ] Dynamic shapes
- [ ] Inductor internals
- [ ] Just enough Triton to be dangerous

[2022-10-22 00:27] ngimel commented on #1743
I would expect `buf302` (indices, of type int64) to be different in the failing case, can you save the failing buffers? Also arg197_1 from which buf302 is computed would be interesting.

[2022-10-22 00:47] anijain2305 commented on #1740
Fix at https://github.com/pytorch/pytorch/pull/87531

[2022-10-22 03:28] jansel opened #1750 "Re-enable tests disabled while enabling sm86 periodic CI"
This PR https://github.com/pytorch/pytorch/pull/87084/files#diff-57c0f6a344227861850f9d31387ff82cb089898f7472542060349544dade7875R143

Turns on many more tests in CI, but also disabled some tests in order to get CI green.  We should circle back and revisit them.

Many of the skipped opinfo tests are actually "unexpected success" errors, so we might just be able to remove them from the expected fai

[2022-10-22 16:14] msaroufim commented on #1591
As an extra datapoint Kaggle notebooks now support P100 or T4 https://www.kaggle.com/product-feedback/361104

[2022-10-22 17:10] anijain2305 opened #1751 "[dynamo] Clean fake tensor code"
* Check how can we save the input tensor as fake tensor format. Some relevant comments here - https://github.com/pytorch/pytorch/pull/87513#discussion_r1002536732. We are storing the input of the graph as a real tensor. So, refactor the code such that we don't need to save the input tensor at all. This can solve OOM problem when there are tons of graph breaks.

* There is a lot of fake tensor code

[2022-10-22 17:26] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-22 19:02] voznesenskym commented on #1751
We may need to preserve input tensor id for the dynamic shape guard case. Will this break input tensor id stability?

[2022-10-22 19:14] ezyang commented on #1751
Guards don't operate on fake tensors so not sure why id stability matters?

[2022-10-22 20:05] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-22 21:53] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-22 22:14] ngimel opened #1752 "TORCHINDUCTOR_TRACE=1 asserts on self.debug_path"
After https://github.com/pytorch/pytorch/pull/87438 I can't run with TORCHINDUCTOR_TRACE=1:
[code]
asserts
[code]
when run with TORCHINDUCTOR_TRACE=1
cc @mlazos

[2022-10-23 00:50] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-23 02:16] #1383 closed

[2022-10-23 14:59] ezyang opened #1753 "vision_maskrcnn fails with TORCHDYNAMO_DYNAMIC_SHAPES=1: TypeError: maximum(): argument 'other' (position 2) must be Tensor, not int / ValueError: Input and output must have the same number of spatial dimensions, but got input with spatial dimensions of [42, 42] and output size of (2, 256, 84, 84)"
### 🐛 Describe the bug

[code]

fails with

[code]

This is actually fixed in https://github.com/pytorch/pytorch/pull/87570 but when you patch in the fix you get a different error:

[code]

### Error logs

https://gist.github.com/6db59eba16d6e491d48b17fa5d744b06

### Minified repro

minifier did not work

[2022-10-23 14:59] ezyang commented on #1753
cc @voznesenskym

[2022-10-23 15:03] ezyang commented on #1753
Also, the error I reported above is with only one hunk from the patch. With the entire PR, I instead get

[code]

https://gist.github.com/5422d78fa1ef5c22a04ae0516cbf6137

On symbolic-shapes branch, this typically occurs when you try to pass a SymInt into torch.tensor

[2022-10-23 15:07] ezyang opened #1754 "Rethink exception rethrowing strategy"
### 🐛 Describe the bug

After https://github.com/pytorch/pytorch/pull/87440 there are a few things that no longer make sense in the new regime that we should think about changing.

* @mlazos remarked to me that now that we aren't suppressing errors by default, we shouldn't log them to stderr. This makes sense. Essentially, IF we suppress an error, we should log it to stderr; otherwise, we shouldn'

[2022-10-23 18:11] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-23 19:34] voznesenskym commented on #1753
Yes - I have seen these before - I was planning on burning them down after https://github.com/pytorch/pytorch/pull/87570 - I have a hunch as to where its coming from.

Mind if I take this as part of general dynamo+symbolic work?

[2022-10-23 20:47] ezyang commented on #1753
Please take lol

[2022-10-23 21:11] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-24 05:22] #1701 closed

[2022-10-24 05:22] #1705 closed

[2022-10-24 13:30] ezyang opened #1757 "jx_nest_base fails with TORCHDYNAMO_DYNAMIC_SHAPES=1: TypeError: reshape(): argument 'shape' must be tuple of SymInts, but found element of type float at pos 2"
### 🐛 Describe the bug

[code]

fails with

[code]

### Error logs

https://gist.github.com/ezyang/f984fe6534db7b86fe2a24f7d99e8694

### Minified repro

minifier did not work

[2022-10-24 13:44] ezyang commented on #1757
swin_base_patch4_window7_224 fails in a similar way

[code]

[2022-10-24 13:55] ezyang opened #1758 "Repro is generating minifier_launcher.py that fails with: AttributeError: torch._dynamo.config.repro_dir does not exist"
### 🐛 Describe the bug

[code]

full generated minifier script: https://gist.github.com/b1838891ff91c9c64a47fe1aeed0dae0

how I generated the minifier:

[code]

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-24 14:05] ezyang opened #1759 "sebotnet33ts_256 fails with TORCHDYNAMO_DYNAMIC_SHAPES=1: RuntimeError: shape '[8192, 32]' is invalid for input of size 131072"
### 🐛 Describe the bug

[code]

cc @eellison

### Error logs

https://gist.github.com/da80e0d407c464a21cc49b84ce51ba74

### Minified repro

minifier didn't work

(it looks like it works but the resulting repro doesn't actually trigger error; after patching in [fix minifier 1](https://github.com/pytorch/pytorch/pull/84246/commits/55dfd189542df88860abe99897e42b97794d10e9) and [minor improvements to

[2022-10-24 15:31] jansel opened #1761 "Benchmarking readme is out of date"
The commands in
https://github.com/pytorch/pytorch/blob/master/benchmarks/dynamo/README.md
no longer work.

[2022-10-24 15:39] ezyang opened #1762 "Minifier should save config variables so you don't have to replicate env vars"
### 🐛 Describe the bug

Today you have to remember to run `minifier_launcher.py` with the same config vars / env vars that the original script. The minifier should record all configs explicitly (maybe only those that changed.)

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-24 15:53] ezyang opened #1763 "Minifier should try forward only, and if it fails set fwd_only=True"
### 🐛 Describe the bug

self explanatory

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-24 16:56] ezyang commented on #1034
This patch turns it into a runtime error:

[code]

[code]

which means this is a stride mismatch

[2022-10-24 16:57] ezyang commented on #1034
Also, cait_m36_384 fails on aot_eager too

[2022-10-24 17:09] ezyang opened #1764 "eca_botnext26ts_256 fails with TORCHDYNAMO_DYNAMIC_ SHAPES=1: RuntimeError: shape '[2048, 16]' is invalid for input of size 8192"
### 🐛 Describe the bug

[code]

repro

[code]

### Error logs

does anyone even look at these

### Minified repro

Minifier did not work

[2022-10-24 18:28] tugsbayasgalan opened #1765 "torchdynamo.export doesn't work with tensor.numel"
### 🐛 Describe the bug

[code]

### Error logs

torch._dynamo.exc.Unsupported: generic_jump DynamicShapeVariable()

### Minified repro

_No response_

[2022-10-24 18:28] Chillee opened #1766 "Inductor's low-memory dropout optimization doesn't actually work"
![image](https://user-images.githubusercontent.com/6355099/197598594-be855e62-c546-4bb0-8ed1-116e9c967512.png)

Inductor does a low-memory dropout optimization where it splits dropout up into a seed + recomputing that seed in the backwards pass.

However, we currently lower it into `philox_rand_like`, which forces a dependency upon the input anyways, and so the partitioner can't save only the seed

[2022-10-24 18:44] tugsbayasgalan opened #1767 "torchdynamo.export doesn't work with torch.all"
### 🐛 Describe the bug

[code]

### Error logs

torch._dynamo.exc.Unsupported: generic_jump TensorVariable()

### Minified repro

_No response_

[2022-10-24 18:44] tugsbayasgalan commented on #1767
cc: @Chillee

[2022-10-24 19:03] ngimel commented on #1766
Ugh, so we should only use input sizes in the decomp, and not input itself to avoid that?

[2022-10-24 19:08] #1740 closed

[2022-10-24 19:16] mreso commented on #1743
@ngimel saved and uploaded the relevant buffers [buffers.zip](https://github.com/pytorch/torchdynamo/files/9854628/buffers.zip). The file contains fail and success case as pt files as well as the src. buf301 is changing as do the buffers it's computed from. This is the output of torch.all(torch.isclose()) on the relevant arguments and buffers between failing and success:

[code]

[2022-10-24 19:24] voznesenskym commented on #1765
Fixed in my shapes PR, yes

[2022-10-24 20:56] yanboliang commented on #1746
Just sent https://github.com/openai/triton/pull/800 to fix it in triton. It includes triton supports for fp16/fp32 as well. I'll remove my workaround for fp16/bf16 and add unit tests in Inductor after that PR gets in.

[2022-10-24 22:02] #1599 closed

[2022-10-24 22:16] voznesenskym commented on #1746
Im not sure mapping fp16 and bf16 to fp32 is always the right thing to do here...

[2022-10-24 22:42] ngimel commented on #1746
Actual argument (in our case) will be python float, because it is obtained from `tensor.item()` but I'm not sure that holds for triton in general

[2022-10-24 23:03] yanboliang commented on #1746
Yes, it maps to python float type finally. The way I did to [return ```fp32``` for ```bf16/fp16```](https://github.com/pytorch/pytorch/blob/master/torch/_inductor/codegen/triton.py#L48-L49) is a workaround bc triton is lacking support for it. When https://github.com/openai/triton/pull/800 gets in and we upgrade trition version, we can remove this workaround.

[2022-10-24 23:51] anijain2305 opened #1768 "[dynamo][Mutation Detector] Does not work with torch.inference_mode"
Repro

[code]

Error

[code]

[2022-10-25 00:47] ngimel commented on #1746
I still think that maybe we shouldn't add fp16/fb16 mapping to triton, and instead let our arg annotations to be fp32 (as we have now), because, after all, that's a more correct annotation for a python float that we are actually sending.

[2022-10-25 01:21] #1518 closed

[2022-10-25 05:21] yanboliang commented on #1352
This is fixed by https://github.com/pytorch/pytorch/pull/87248

[2022-10-25 05:21] #1352 closed

[2022-10-25 07:40] zhuhaozhe commented on #1174
Hi, @jansel.
I start to find  `#pragma omp tile(...)` on [openmp 5.1 doc](https://www.openmp.org/wp-content/uploads/OpenMPRefCard-5.1-web.pdf) and GCC12 has the initial support of OpenMP 5.1 https://www.openmp.org/resources/openmp-compilers-tools/.
Although compiler support is limited for `#pragma omp tile(...)`, we can do this loop transformation without openmp naive support.
![image](https://use

[2022-10-25 08:31] mlazos commented on #1758
William is looking at adding more exhaustive tests, we don't have any coverage for the minifier_launcher.py, which should cover most of these issues.

cc @williamwen42

[2022-10-25 14:55] #1578 closed

[2022-10-25 15:58] jansel commented on #1767
The issue here is with data-dependent control flow (`if`), not `torch.all()`.

You could use the `cond` operator, though for this example I'd expect `torch.where` to be faster:
[code]

cc @voznesenskym

[2022-10-25 16:01] jansel commented on #1766
Using the `*_like` variant was a workaround for factory functions not being captured.  I believe we fixed that, so we should be able to rework it.

[2022-10-25 16:02] jansel commented on #1765
I believe this is the same as https://github.com/pytorch/torchdynamo/issues/1767

[2022-10-25 16:10] jansel commented on #1174
I think it is fine to do this without OpenMP.

The case I would expect this to speed up is when one of the inputs is transposed (and the tensor is large enough not to fit in cache).
[code]

[2022-10-25 16:58] ezyang opened #1770 "ResetRequired error message is out of date"
### 🐛 Describe the bug

[code]

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-25 21:10] voznesenskym commented on #1757
Once #87570 PR is in, both of these become real sym shape errors that should be resolved on the symbolic shapes branch.

[2022-10-25 21:39] #1527 closed

[2022-10-25 21:50] ngimel commented on #1743
`argmax` is computing completely wrong result, minimum repro:
[code]
expected a number between 0 and 76 (eager outputs 0), result is 992

[2022-10-25 22:11] #1733 closed

[2022-10-25 22:11] #1738 closed

[2022-10-25 22:11] #1758 closed

[2022-10-25 22:46] #1718 closed

[2022-10-25 23:04] bdhirsh commented on #1770
cc dynamo folks: @anijain2305 @jansel @mlazos @yanboliang @williamwen42 @voznesenskym

[2022-10-25 23:10] yanboliang commented on #1770
https://github.com/pytorch/pytorch/pull/87731 will fix this.

[2022-10-26 00:03] ngimel commented on #1743
Triton generated kernel seems correct, but with AOT compilation produces wrong results, filed https://github.com/openai/triton/issues/802

[2022-10-26 00:23] #1752 closed

[2022-10-26 13:50] ezyang opened #1771 "AssertionError: Unknown expression s2"
### 🐛 Describe the bug

[code]

on master

[code]

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-26 15:27] jansel commented on #1771
@Chillee could this be related to some of the dynamic shape changes?

[2022-10-26 15:58] ezyang commented on #1771
This is definitely @voznesenskym's pr lol, just need to get him here haha

[2022-10-26 18:07] yanboliang commented on #1746
@ngimel I'm ok to keep it as is, but I'm curious the difference, bc finally either ```fp32``` or ```fp16/bf16``` maps to ```float``` in triton. Where does the signature will be used other than triton?

[2022-10-26 18:29] ngimel commented on #1746
Yeah nvm, triton PR landed, so we can go ahead, triton could have objected to converting bf16/f16 to float.

[2022-10-26 19:27] voznesenskym commented on #1771
Yup, looking now.

[2022-10-26 19:29] voznesenskym commented on #1771
https://github.com/pytorch/pytorch/pull/87810 makes this much easier to debug - w/ that PR we hit a constant ctor assertion. Looking.

[2022-10-26 23:24] desertfire opened #1772 "PyTorch core test with inductor issue tracker"
The passing rate is tracked at https://github.com/pytorch/torchdynamo/issues/1730

* **test_modules.py**
  - [ ] test_cpu_gpu_parity_nn_AdaptiveAvgPool2d_cuda_float32: networkx.exception.NetworkXError: node sink not in graph
  - [ ] test_memory_format_ao_nn_quantized_MaxPool2d_cuda_float32: assert not memory_format, "TODO"
  - [ ] test_non_contiguous_tensors_nn_AdaptiveAvgPool2d_cuda_float32: Runt

[2022-10-26 23:25] desertfire commented on #1266
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:25] #1266 closed

[2022-10-26 23:25] desertfire commented on #1268
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:25] #1268 closed

[2022-10-26 23:26] desertfire commented on #1316
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:26] #1316 closed

[2022-10-26 23:26] desertfire commented on #1326
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:26] #1326 closed

[2022-10-26 23:27] desertfire commented on #1255
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:27] #1255 closed

[2022-10-26 23:27] desertfire commented on #1256
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:27] #1256 closed

[2022-10-26 23:27] desertfire commented on #1254
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:27] #1254 closed

[2022-10-26 23:31] desertfire commented on #1638
Close in favor of https://github.com/pytorch/torchdynamo/issues/1772

[2022-10-26 23:31] #1638 closed

[2022-10-27 00:36] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-27 01:46] ezyang commented on #1764
It now fails in sympy infinite loop

[code]

[2022-10-27 01:51] ezyang commented on #1759
Now sympy infinite loop, probably same as https://github.com/pytorch/torchdynamo/issues/1764

[2022-10-27 02:05] ezyang opened #1773 "mobilenet_v2_quantized_qat fails with accuracy error on aot_eager"
### 🐛 Describe the bug

[code]

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-27 03:14] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-27 03:40] ESI-SYD commented on #1617
# Performance Dashboard for float32 precision -- Single-core Single-thread ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on Intel(R) Xeon(R) Platinum 8358 CPU @ 2.60GHz. Each experiment runs one iteration of forward pass. For accuracy, we check the numerica

[2022-10-27 13:26] jgong5 opened #1774 "[Inductor] Support deterministic parallel reduction in CPP backend"
CPP backend uses OMP to do parallel reduction which cannot guarantee a deterministic reduction order and might produce different run-to-run result while determinism is important to ease the debugging. We should replace omp parallel reduction with deterministic parallel reduction.

Relevant issue/PR: https://github.com/pytorch/torchdynamo/issues/1697, https://github.com/pytorch/pytorch/pull/87259

[2022-10-27 13:40] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-27 17:54] bdhirsh commented on #1773
I ran this locally on my (slightly out of date) master. First, I got an error about our `aten._fused_moving_avg_obs_fq_helper.default` meta function, which has a fix on the symbolic shapes branch but isn't in master yet.

I patched in that fix and re-ran, and the model passed.

That was on a version of master that was a day or two old though - I'm pulling latest and rebuilding, will confirm if it

[2022-10-27 18:03] mreso opened #1775 "IndexError: map::at in Stable Diffusion Training"
### 🐛 Describe the bug

Hi,

I am trying to optimize this [stable diffusion training script](https://gist.github.com/mreso/8f6dbce491346c3a6a6b472d945aa01f).

It previously created RuntimeErrors tracked in [1743](https://github.com/pytorch/torchdynamo/issues/1743) which were fixed with [87758](https://github.com/pytorch/pytorch/pull/87758).

Now the script fails with the error below.

### Error lo

[2022-10-27 18:06] bdhirsh commented on #1775
cc @jansel @desertfire @ngimel @Chillee for the inductor failure

[2022-10-27 18:23] msaroufim opened #1776 "Docker image with triton/dynamo/inductor"
We finally have a nice installation single line of code with

[code]

Might be useful to also package everything up in a docker image so people don't need to worry about any missing system dependencies like libz

So goal would be to have a Docker image with CUDA 11.7 with latest torch nightlies every night with the latest tested triton dependency

[2022-10-27 18:23] bdhirsh commented on #1773
@ezyang I don't see an accuracy failure - when I patch in the fix to `_fused_moving_avg_obs_fq_helper`'s meta, I get a pass

[2022-10-27 18:23] bdhirsh commented on #1773
Could be a striding inconsistency issue that got fixed recently?

[2022-10-27 18:27] bdhirsh commented on #1776
@anijain2305 assigning to you, but feel free to re-shuffle. I dunno if we have a proper PoC for dynamo around build/packaging

[2022-10-27 20:18] msaroufim opened #1778 "If you OOM once you OOM forever"
Assume while using inductor that you have batch sizes `b_1` and `b_2` where `b_1 < b2` . In this case

If you run `b_1` first and if the model doesn't OOM and then run `b_2` then it OOMs. But if you run `b_2` first and it OOMS and then if you run `b_1` it does also OOM even though it's not supposed to.

Potentially using `dynamo.reset()` might help until the OOM issues are all fixed https://github

[2022-10-27 20:28] anijain2305 commented on #1778
@yanboliang can you take a look at this today?

[2022-10-27 20:48] msaroufim opened #1779 "PyTorch Distributed: next level of tests"
The HuggingFace accelerate integrations provides a good list of the all potential libraries that need to be tested to claim that dynamo/inductor works just fine on single node and in the distributed setting https://github.com/huggingface/accelerate#supported-integrations.

So far @wconstab's efforts have been focused on getting DDP and FSDP to work but what we should also test are more end to end

[2022-10-27 22:47] desertfire opened #1780 "test_cpu_gpu_parity_nn_AdaptiveAvgPool2d_cuda_float32: networkx.exception.NetworkXError: node sink not in graph"

[2022-10-27 22:51] desertfire commented on #1780
@Chillee , assign to you as it is a aot-autograd issue.

[2022-10-27 22:57] desertfire opened #1781 "test_memory_format_ao_nn_quantized_MaxPool2d_cuda_float32: assert not memory_format, "TODO""

[2022-10-27 22:58] desertfire opened #1782 "test_non_contiguous_tensors_nn_AdaptiveAvgPool2d_cuda_float32: RuntimeError: you can only change requires_grad flags of leaf variables"
Repro:
Comment out https://github.com/pytorch/pytorch/blob/cda0d5a57b9126c6d244fdd5b02198f05c742615/test/test_modules.py#L330, and then run
[code]

[2022-10-27 23:28] desertfire commented on #1782
Duplicate of https://github.com/pytorch/torchdynamo/issues/1780

[2022-10-27 23:28] #1782 closed

[2022-10-27 23:31] desertfire opened #1783 "test_conv_cudnn_nhwc_support_cuda_float32: AssertionError: Tensor.is_contiguous() unhandled kwargs"
Repro:
[code]

Error:
[code]

[2022-10-27 23:35] desertfire opened #1784 "test_conv_double_backward_cuda_float64 : AssertionError: torch.* op returned non-Tensor _GeneratorContextManager call_function <function flags at 0x7f2db68d1550>"

[2022-10-27 23:37] desertfire opened #1785 "test_conv_double_backward_strided_with_3D_input_and_weight_cuda: AssertionError: ABCMeta"
Repro:
[code]
Error:
[code]

[2022-10-27 23:42] desertfire opened #1786 "test_AdaptiveLogSoftmax_cuda_fp32: RuntimeError: mm(): functions with out=... arguments don't support automatic differentiation, but one of the arguments requires grad."
Repro:
[code]
Error:
[code]

[2022-10-27 23:49] desertfire opened #1787 "test_Bilinear_empty_cuda: IndexError: pop from empty list"

[2022-10-27 23:51] desertfire opened #1788 "test_GroupNorm_general_cuda: SyntaxError: invalid syntax"
Repro:
[code]
Error:
[code]

[2022-10-27 23:54] desertfire opened #1789 "test_InstanceNorm1d_general_cuda: RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn"
Repro:
[code]
Error:
[code]

[2022-10-27 23:55] desertfire opened #1790 "test_LSTM_grad_and_gradgrad_cuda_float64: ValueError: gradcheck expects at least one input tensor to require gradient, but none of the them have requires_grad=True."

[2022-10-27 23:58] desertfire opened #1791 "test_batchnorm_eval_cuda_float32: AttributeError: 'NoneType' object has no attribute 'clone'"

[2022-10-28 00:05] desertfire opened #1792 "test_conv_large_cuda: RuntimeError: CUDA error: an illegal memory access was encountered"

[2022-10-28 00:08] desertfire opened #1793 "test_advancedindex_mixed_cpu_devices_cuda"
Repro:
[code]
Error:
[code]

[2022-10-28 00:11] desertfire opened #1794 "test_addcdiv_cuda_float16: concurrent.futures.process.BrokenProcessPool: A process in the process pool was terminated abruptly while the future was running or pending."
Repro:
[code]
Error:
[code]

[2022-10-28 00:28] mreso commented on #1775
Solved by https://github.com/pytorch/pytorch/pull/87912

[2022-10-28 00:28] #1775 closed

[2022-10-28 00:29] #1743 closed

[2022-10-28 00:50] ezyang commented on #1773
Yes if it passes on master we close this

[2022-10-28 00:50] #1773 closed

[2022-10-28 00:51] desertfire opened #1795 "test_assertRaisesRegex_ignore_msg_non_native_device_cuda: SyntaxError: invalid syntax"

[2022-10-28 00:59] desertfire opened #1796 "test_bernoulli_self_cuda_bool: RuntimeError: "check_uniform_bounds" not implemented for 'Bool'"
Repro:
[code]
Error:
[code]

[2022-10-28 01:01] desertfire commented on #1796
cc @eellison

[2022-10-28 01:03] desertfire opened #1797 "test_cummax_cummin_cuda: torch._inductor.exc.CppCompileError: C++ compile error"

[2022-10-28 01:04] desertfire opened #1798 "test_cumprod_cuda: assert not any(isinstance(x, TensorBox) for x in kwargs.values())"
Repro:
[code]
Error:
[code]

[2022-10-28 01:05] desertfire opened #1799 "test_pairwise_distance_empty_cuda: TypeError: reduce() of empty sequence with no initial value"
Repro:
[code]
Error:
[code]

[2022-10-28 01:09] desertfire opened #1800 "test_pin_memory_from_constructor_cuda: assert not pin_memory"
Repro:
[code]
Error
[code]

[2022-10-28 01:22] desertfire opened #1801 "test_scatter_reduce_scalar_cuda_float16: RuntimeError: aten::scatter_reduce_() Expected a value of type 'Tensor' for argument 'src' but instead found type 'int'."
Repro:
[code]
Error:
[code]

[2022-10-28 02:02] blzheng commented on #1617
# Performance Dashboard for float32 precision -- Single-Socket Multi-threads ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on Intel(R) Xeon(R) Platinum 8375C CPU @ 2.90GHz. Each experiment runs one iteration of forward pass. For accuracy, we check the numer

[2022-10-28 05:30] #1746 closed

[2022-10-28 08:57] jgong5 commented on #1670
Fixed in https://github.com/pytorch/pytorch/pull/87037

[2022-10-28 08:57] #1670 closed

[2022-10-28 08:58] jgong5 commented on #1347
Fixed in https://github.com/pytorch/torchdynamo/pull/1400

[2022-10-28 08:58] #1347 closed

[2022-10-28 17:54] yanboliang opened #1802 "TorchBench model failure: resnet50_quantized_qat"
### 🐛 Describe the bug

Run
[code]
It fails on all inductor, aot_eager, eager backends.

### Error logs

[code]

### Minified repro

_No response_

[2022-10-28 19:11] yanboliang commented on #1802
cc @SherlockNoMad

[2022-10-28 21:41] yanboliang commented on #1778
I can reproduce this locally. If I print out ```torch.cuda.memory_allocated()``` during each iteration, this is what dynamo looks like:
[code]
However, this is native PyTorch:
[code]
It seems dynamo doesn't free some memory after each iteration, so the memory keeps growing.

[2022-10-28 22:26] anijain2305 opened #1803 "Dynamo hangs/takes long time for optimizers"
Repro

1) Get this PR - https://github.com/pytorch/pytorch/pull/87492
2) Run this command -
`python benchmarks/dynamo/huggingface.py --training --accuracy --device cuda --backend=eager --float32 --only=MobileBertForMaskedLM`

W/o optimizer, the above command takes few seconds to run.

[2022-10-28 22:37] davidberard98 commented on #1803
on hf_T5_large (run these in the torchbench dir)

by default, these models run with the optimizer included.

[code]
^ this OOMs

[code]
^ this takes ~30 minutes

... to remove the optimizer, go to `torchbenchmark/util/framework/huggingface/model_factor.py` and comment out `self.optimizer.step()`. Then re-run either of the above commands; this takes ~ a few minutes.

[2022-10-28 23:09] mreso opened #1804 "RuntimeError: Triton Error [CUDA]: invalid argument"
### 🐛 Describe the bug

Hi,

another issue I encountered when trying stable diffusion training:

[code]

### Error logs

[code]

### Minified repro

[code]

[2022-10-28 23:28] anijain2305 opened #1805 "[inductor] Fallback can't handle ops with output signature `(Tensor, Tensor[])`"
### 🐛 Describe the bug

Repro

[code]

### Error logs

[code]

### Minified repro

Already minified

[2022-10-28 23:40] anijain2305 commented on #681
# Performance Dashboard for float32 precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients

[2022-10-29 01:33] anijain2305 commented on #681
# Performance Dashboard for amp precision ##

## Executive Summary ##

<details>
<summary>see more</summary>
We evaluate different backends across three benchmark suites - torchbench, huggingface and timm. We run these experiments on A100 GPUs. Each experiment runs one iteration of forward and backward pass. For accuracy, we check the numerical correctness of forward pass outputs and gradients by

[2022-10-29 01:42] ngimel commented on #1804
Doesn't repro for me

[2022-10-29 03:01] mreso commented on #1804
Must have been a local issue. Does not repro on a new instance for me as well. Thanks!

[2022-10-29 03:01] #1804 closed

[2022-10-29 05:39] mreso opened #1806 "Segmentation fault in stable diffusion training"
### 🐛 Describe the bug

Hi,

another segmentation fault while trying HF diffuser.

### Error logs
[code]
### Minified repro
[code]

[2022-10-29 06:14] ngimel commented on #1806
Again can't repro

[2022-10-29 06:29] mreso commented on #1806
Hmm, I tried this one on two instances. Will try again in a third
environment.

On Fri, Oct 28, 2022 at 23:14 Natalia Gimelshein ***@***.***>
wrote:

[2022-10-29 17:19] anijain2305 opened #1807 "[inductor] Triton Auto Tuning - Long Compilation Time"
Repro -
`rm -rf /tmp/torchinductor_$USER; python benchmarks/dynamo/timm_models.py --training --performance --device cuda --inductor --float32 --only=coat_lite_mini`

Skipping autotuning leads to 25 seconds of compilation time vs 360 seconds.

Questions
* Why is autotuning so expensive for this model? Can we do generate better Triton code to avoid excessive autotuning?
* It seems that we are **not*

[2022-10-30 00:37] ezyang opened #1808 "Turning on minifier causes bug to go away"
### 🐛 Describe the bug

1. Check out and build pytorch at e4a8661ab84022c1bff622c6d2f6e679180b1df5 (Oct 29, before breaking commit was reverted)
2. Run `python benchmarks/dynamo/huggingface.py  --accuracy --backend inductor --training --only DebertaForMaskedLM`, it fails
3. Run `TORCHDYNAMO_REPRO_AFTER=dynamo python benchmarks/dynamo/huggingface.py  --accuracy --backend inductor --training --only

[2022-10-30 01:03] ezyang opened #1809 "I still have to scroll up to get the minifier launcher script file path"
### 🐛 Describe the bug

When a successful minification happens, I would expect the last line of my script before it aborts to be the next steps to use the minifier. However, instead, the minifier output is logged via warning, and then we raise an exception saying accuracy failed, so you have a huge backtrace between you and the minifier output. The minifier file path should be included in the exce

[2022-10-30 01:25] ezyang opened #1811 "Minifier transforms accuracy failure into runtime failure"
### 🐛 Describe the bug

Checkout and build PyTorch at e4a8661ab84022c1bff622c6d2f6e679180b1df5

Here is a minifier: https://gist.github.com/ccca1bf4703b4ed8cf1ac7c3b0ab7b9e

When I hack up the minifier to run the test, it fails with an accuracy error. https://gist.github.com/b69c1f74caf6b1f7419dff7a37191c14

However, when I finished minifying, I got the repro at https://github.com/pytorch/torchdyn

[2022-10-30 02:09] ezyang commented on #1811
According to @ngimel the minifier replaced the list output with a tuple, triggering inductor compile failure, and then happily minified the program down to nothing.

[2022-10-30 02:10] ezyang commented on #1811
Here is a shitty patch that forces minifier to only consider failures at the end failures

[code]

It doesn't work correctly; at the end of minifying the minifier screwed the pooch

[code]

but I did get a useful checkpoint that does still accuracy fail

[2022-10-30 02:13] ezyang opened #1812 "Inductor accuracy failure from PegasusForCausalLM (maybe bmm related)"
### 🐛 Describe the bug

Applying https://github.com/pytorch/pytorch/pull/87943 plus some fixes perturbs the output of AOTAutograd sufficiently to cause inductor to generate an accuracy failure. Don't worry, I have a repro >:-)

### Error logs

[code]

### Minified repro

https://gist.github.com/ezyang/23655080188e0d31ae12525ec5c8762c

[2022-10-30 02:20] ezyang commented on #1812
With one change, I triggered DebertaForQuestionAnswering and PegasusForCausalLM, so DebertaForQuestionAnswering might be failing similarly. I'll try minifying it as well.

[2022-10-30 02:31] ezyang opened #1813 "Minifier doesn't work on DebertaForQuestionAnswering"
### 🐛 Describe the bug

Build pytorch e4a8661ab84022c1bff622c6d2f6e679180b1df5

Apply this patch

[code]

Deberta failures accuracy with aot_eager, but the minifier doesn't do anything

[code]

### Error logs

_No response_

### Minified repro

_No response_

[2022-10-30 02:33] ezyang commented on #1813
My change would have made it more likely that we preserve unusual strides, so I bet this is a stride related bug.

[2022-10-30 03:13] ezyang opened #1814 "Without fake tensor, DebertaForQuestionAnswering fails with RuntimeError: Detected that you are using FX to symbolically trace a dynamo-optimized function. This is not supported at the moment."
### 🐛 Describe the bug

Repro steps:
1. Check out pytorch at e4a8661ab84022c1bff622c6d2f6e679180b1df5
2. Run `PYTHONUNBUFFERED=1 AOT_FAKE_CROSSREF=1 TORCHDYNAMO_REPRO_AFTER="dynamo" TORCHDYNAMO_REPRO_LEVEL=4  python benchmarks/dynamo/huggingface.py  --accuracy --backend aot_eager --training --only DebertaForQuestionAnswering`

Fails with

[code]

Without crossref, on either fake tensor prop on/off

[2022-10-30 03:54] ezyang commented on #1814
cc @albanD

With this patch https://gist.github.com/74b4dc86bb355580323cc19cf6d88c2f

I investigated a bit more what the autograd graph looks like. I get this output https://gist.github.com/f26a0e3eb057383e95a07e1e419de41a

This looks similar to https://github.com/pytorch/pytorch/issues/87956 where there's a custom autograd function beyond the inputs of the graph, and for some reason we are trigge

[2022-10-30 04:01] ezyang commented on #1813
after investigation, probably not strides

[2022-10-30 04:10] ezyang commented on #1814
I ablated AOT_FAKE_CROSSREF by getting rid of its context manager, which means that this has to do with the "don't use fake tensors" codepath for AOTAutograd. I noticed that I can fix it by view()'ing the input tensors and my hypothesis is that this is related to the accuracy error.

[2022-10-30 04:37] ezyang opened #1815 "AOTAutograd has soundness bug when passing views as inputs"
In https://github.com/pytorch/pytorch/pull/87943 I modified fake tensor to create a fake tensor view when the original input was a view. However, this broke the following models: https://hud.pytorch.org/pytorch/pytorch/commit/e4a8661ab84022c1bff622c6d2f6e679180b1df5

huggingface: DebertaForMaskedLM DebertaForQuestionAnswering ElectraForCausalLM PegasusForCausalLM YituTechConvBert
timm_models: dla1

[2022-10-30 05:16] ezyang commented on #1814
Diffing the good and bad graphs, this looks like the substantive change

[code]

[2022-10-30 16:35] pommedeterresautee opened #1816 "Impossible to optimize both decoder and encoder of the same model: ResetRequired"
### 🐛 Describe the bug

For generative models (like T5) we may want to optimize both encoder and decoder.
Right now, if we try, it raises the `ResetRequired` exception.

I think it's expected error, but my question is how we can disable this check, if possible?
Or how are we supposed to optimize encoder/decoder models? Or just 2 models at the same time?

### Error logs
[code]

### Minified repro

[2022-10-30 18:27] voznesenskym commented on #1816
As a hint, try just pulling your def out of being nested, so it doesn't produce a new identity?

[2022-10-30 21:53] pommedeterresautee commented on #1816
Thank you for the very fast response, indeed, it was related to the identity of the function.
It's now fixed.

Closing

[2022-10-30 21:53] #1816 closed

[2022-10-30 22:01] voznesenskym commented on #1816
Cheers! Thanks for opening an issue. Keep the feedback coming.

[2022-10-31 01:25] ezyang commented on #1814
nailed it to a problem with meta converter

[2022-10-31 02:15] ezyang commented on #1815
Was a bug in meta converter, see https://github.com/pytorch/pytorch/pull/88045

[2022-10-31 02:15] #1815 closed

[2022-10-31 13:57] bdhirsh commented on #1802
This is due to a buggy python meta - it's fixed on the symbolic shapes branch, we should merge it on the next merge to master https://github.com/pytorch/pytorch/pull/84246/files#diff-6dffed1ade0ba3e887f9a4eafa3bfcec267ab2365b8adcb91bd391f49b3fd2e3R302

[2022-10-31 13:58] albanD commented on #1814
A nice way to print autograd graph is https://github.com/szagoruyko/pytorchviz

[2022-10-31 15:26] #1376 closed

[2022-10-31 15:33] bdhirsh commented on #1808
Assigning to @anijain2305 for minifier issues

[2022-10-31 16:33] bdhirsh commented on #1802
Fixed here: https://github.com/pytorch/pytorch/pull/88092/files

[2022-10-31 16:34] bdhirsh commented on #1802
nvm, Sherlock's fix is more complete: https://github.com/pytorch/pytorch/pull/88058

[2022-10-31 17:11] shintaro-iwasaki commented on #1591
Sorry for getting late. https://github.com/openai/triton/pull/827 is a PR to (sort-of) improve the Pascal support of OSS Triton.

Findings are:
- `tl.dot()` does not work on Pascal.
- Some atomic operations are not supported.
- Kernel invocation fails if the generated kernel needs shared memory larger than 64KB. 3 unit tests are failing because of this.
- Other than these, all the unit tests pass

[2022-10-31 18:10] ngimel commented on #1591
@shintaro-iwasaki so fp16 atomics don't work on Pascal, and that's fine. I'm wondering if we should disable fp16 atomics universally because they might have bad perf, unless triton generates fast (not cas-based) code for them. Can you please check perf and generated code of fp16 atomic ops on newer hardware, and if it's cas-based, we should ban it everywhere.

[2022-10-31 18:35] shintaro-iwasaki commented on #1591
@ngimel Thanks for your comment! Would you mind teaching me the context and the priority a bit more to obtain what we really want to understand?

1. Performance depends on how dominant that atomic part is in a kernel (for example, the size of `K` in `matmul` with `SPLIT_K >= 2` ... if `K` is extremely large, atomic part is negligible). If so, what would be the concern regarding (possibly) CAS-base

[2022-10-31 18:43] ngimel commented on #1591
When there are a lot of collisions, cas-based approach results in a very slow performance, see e.g. https://github.com/pytorch/pytorch/issues/74487, with a lot of contention the perf is 100x worse, and we've been getting a lot of issues in eager about it.